.angular-ui-tree {
  .angular-ui-tree-placeholder {
    border: 1px dashed #d1dade;
    background: #f4f5f7;
    margin: 0 !important;
  }
}

.newsletter-container .angular-ui-tree-handle .title {
  max-width: 300px;
}
