.angular-ui-tree {
  .angular-ui-tree-placeholder {
    border: 1px dashed #d1dade;
    background: #f4f5f7;
    margin: 0 !important;
  }
}

.angular-ui-tree-dropzone,
.angular-ui-tree-empty {
  background: #fff !important;
  border: none !important;
  min-height: 0 !important;
}

.angular-ui-tree-handle {
  font-weight: normal !important;
}

.angular-ui-tree-icon {
  border-left: 2px dotted #d1dade;
  display: block;
  position: absolute;
  top: 50%;
  height: 10px;
  margin-top: -5px;
  width: 2px;
}

.newsletter-container .angular-ui-tree-handle .title {
  max-width: 300px;
}
