.ui-tabs-scrollable {
  & > .spacer .nav-tabs > li > a {
    height: 48px !important;
    border-radius: 0 !important;
  }

  .nav.nav-tabs {
    z-index: 99;
  }

  & > .nav-button {
    border:0 none;
  }

  & > .nav-button.left-nav-button,
  & > .nav-button.right-nav-button {
    border: 0 none !important;
  }

  // & > .nav-button[disabled] {
  //   display:none
  // }

  & >.nav-button.left-nav-button:before{
    font-family: 'FontAwesome' !important;
    content: "\f104" !important;
  }

  & >.nav-button.right-nav-button:before{
    font-family: 'FontAwesome' !important;
    content: "\f105" !important;
}

  & > .nav-button.left-nav-button,
  & > .nav-button.right-nav-button {
    border: 0 none !important;
  }
}
