.ui-tabs-scrollable {
  & > .spacer .nav-tabs > li > a {
    height: 50px !important;
    border-radius: 0;
  }

  .nav.nav-tabs {
    z-index: 99;
  }

  & > .nav-button {
    border:0 none;
    height:50px;
    color:@header-color;
  }

  & > .nav-button.left-nav-button,
  & > .nav-button.right-nav-button {
    border: 0 none;
    background: white;
  }

  & >.nav-button.left-nav-button:before {
    font-family: 'FontAwesome';
    content: "\f104";
  }

  & >.nav-button.right-nav-button:before {
    font-family: 'FontAwesome';
    content: "\f105";
}

  & > .nav-button.left-nav-button,
  & > .nav-button.right-nav-button {
    border: 0 none;
  }
}
