.btn-default,
.btn-default:hover,
.btn-white,
.btn-white:hover {
  border: 1px solid #d1dade;
}

.btn-info,
.btn-info:hover {
  border: 1px solid #152639;
}

.btn-danger,
.btn-danger:hover {
  border: 1px solid @error-color;
}

.btn-primary,
.btn-primary:hover {
  background-color: @primary-color !important;
  border: 1px solid @primary-color !important;
}

.btn-success,
.btn-success:hover {
  border: 1px solid @info-color;
}

.btn-warning,
.btn-warning:hover {
  border: 1px solid @warning-color;
}

.btn-white {
  background-color: #fff !important;
}

.btn-white:hover {
  background-color: @background-color !important;
}
