.btn {
  text-overflow: ellipsis;
  overflow: hidden;

  i {
    min-width: 14px;
  }
}

.btn > i:first-child {
  margin-right: 5px;
}

.btn > i.fa-caret-down:last-child,
.btn > i.fa-angle-down:last-child {
  margin-left: 5px;
}

.btn-default,
.btn-white {
  border: 1px solid #d1dade;

  &:hover {
    border-color: #b9c3c8;
  }
}

.btn-info,
.btn-info:hover {
  background-color: @info-color;
  border: 1px solid @info-color;
}

.btn-danger,
.btn-danger:hover {
  border: 1px solid @error-color;
}

.btn-primary,
.btn-primary:hover {
  background-color: @primary-color !important;
  border: 1px solid @primary-color !important;
}

.btn-success,
.btn-success:hover {
  background-color: @success-color !important;
  border: 1px solid @success-color !important;
}

.btn-transparent {
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}

.btn-warning,
.btn-warning:hover {
  border: 1px solid @warning-color;
}

.btn-white {
  background-color: #fff !important;
}

.btn-white:hover {
  background-color: @background-color !important;
}

.btn-link.text-danger {
  color: @error-color;
}

.btn-loading {
  position: relative;

  .fa {
    height: 15px;
    left: 0;
    text-align: center;
    margin-top: 3px;
    width: 15px;
  }

  .fa-absolute {
    position: absolute;
  }

  .fa-circle-o-notch.fa-spin {
    border: 3px solid @text-color;
    border-radius: 50%;
    border-top-color: transparent;
    display: inline-block;
    height: 15px;
    margin-top: 2px;
    margin-bottom: -2px;
    width: 15px;

    &:before {
      content: "";
    }
  }

  &.btn-danger,
  &.btn-success {
    .fa-circle-o-notch.fa-spin {
      border-color: #fff;
      border-top-color: transparent;
    }
  }
}
