.checkbox-list {
  max-height: 240px;
  overflow: auto;
}

.checkbox.selected {
  label {
    &:after {
      color: @selected-color;
    }

    &:before {
      border-color: @selected-color;
    }
  }
}
