.checkbox-list {
  max-height: 240px;
  overflow: auto;
}

.checkbox-label {
  width: 100%;
  text-align: center;
}

.checkbox.check-required {
  width: 100%;
  height: auto;
}

.checkbox.check-required input{
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px auto;
}

.checkbox.selected {
  label {
    &:after {
      color: @selected-color;
    }

    &:before {
      border-color: @selected-color;
    }
  }
}
