.dropdown-menu {
  box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.45);
  display: block;
  opacity: 0;
  transition: all .1s linear;
  visibility: hidden;

  &.on-right {
    right: 0;
    left: auto;
  }

  & > li {
    & > a {
      & > i {
        margin-right: 10px !important;
      }
    }
  }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: fade(@info-color, 10%);
}

div.dropdown-menu {
  padding: 15px;
  margin-top: 6px !important;

  &:after {
    left: 50%;
    right: auto !important;
    margin-left: 3px;
  }

  &:before {
    left: 50%;
    right: auto !important;
    margin-left: 2px;
  }

  .dropdown-title {
    font-weight: bold;
    padding-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
  }
}

.open > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
