input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select.form-control {
  border-radius: 2px;
  border-color: #d1dade;
  box-shadow: none;
  min-height: 37px;
  height: 37px;

  &:focus {
    border-color: #d1dade;
  }
}

.form-control:focus {
  border-color: #faf5f7;
}

.form-group {
  .tooltip {
    left: 0 !important;

    .tooltip-arrow {
      left: 15px;
    }

    .tooltip-inner {
      max-width: 100%;
      white-space: nowrap;
    }
  }
}

.has-error .input-group-addon {
  border-color: @error-color;
}

.input-group-status {
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.input-with-icon {
  .icon {
    bottom: 0;
    color: @default-color;
    display: block;
    font-size: 16px;
    height: auto;
    left: 0;
    margin: 11px 2px 4px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 16px;

    &.right {
      left: auto;
      margin: 7px 10px;
      right: 0;
    }
  }
}

.has-error {
  .input-with-icon i {
    color: @error-color;
  }

  .form-control,
  .form-control:active,
  .form-control:focus {
    border-color: @error-color;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: @error-color;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: @error-color;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: @error-color;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: @error-color;
  }

  .tooltip .tooltip-inner {
    background-color: @error-color;
  }
}

.has-success {
  .input-with-icon i {
    color: @success-color;
  }

  .form-control,
  .form-control:active,
  .form-control:focus {
    border-color: @success-color;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: @success-color;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: @success-color;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: @success-color;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: @success-color;
  }

  .tooltip .tooltip-inner {
    background-color: @success-color;
  }
}

.has-warning {
  .input-with-icon i {
    color: @warning-color;
  }

  .form-control,
  .form-control:active,
  .form-control:focus {
    border-color: @warning-color;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: @warning-color;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: @warning-color;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: @warning-color;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: @warning-color;
  }

  .tooltip .tooltip-inner {
    background-color: @warning-color;
  }
}

.input-group-addon,
.input-group-btn {
  .fa {
    min-width: 14px;
    text-align: center;
  }
}

.input-group-addon {
  padding: 9px 12px;
}

.radio {
  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.uneditable-input {
  display: inline-block;
  line-height: 1.8em;
}

@media(max-width: 768px) {
  .form-control[uib-typeahead] + ul.dropdown-menu {
    top: auto !important;
    bottom: 37px;
  }
}
