.notifications {
  .dropdown-menu {
    margin-left: -270px;
    padding-right: 0;
    width: 540px;
  }

  .dropdown-title {
    padding-right: 15px;
  }
}

.notification-item {
  transition: all .5s;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  border-radius: 4px;

  .notification-item-content {
    padding: 15px;
  }
}

.notification-item-visible {
  opacity: 1;
  max-height: 500px;
  margin-bottom: 15px;
  visibility: visible;
}

.notification-list {
  list-style: none;
  height: 275px;
  margin: 0;
  padding: 0;
  padding-right: 3px;

  .nano > .nano-content {
    padding-right: 12px;
  }

  .notification-list-item {
    border-radius: 3px;
    display: block;
    padding: 8px 10px;
    margin-bottom: 8px;
    transition: 0.25s ease-in all;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &.ng-leave.ng-leave-active {
      opacity: 0;
      margin-left: 100px;
    }
  }
}

.notification-list-placeholder {
  height: 275px;
  padding-top: 80px;
  text-align: center;
}

.notification-list-preview {
  height: auto;
  padding: 30px;
}

.notification-item-error,
.notification-list-item-error {
  background-color: fade(@error-color, 15%);
}

.notification-item-info,
.notification-list-item-info {
  background-color: fade(@info-color, 15%);
}

.notification-item-success,
.notification-list-item-success {
  background-color: fade(@success-color, 15%);
}

.notification-item-warning,
.notification-list-item-warning {
  background-color: fade(@warning-color, 15%);
}

.notification-body {
  font-size: 90%;
  margin: 0;
  padding-left: 50px;
}

.notification-icon {
  background: #fff;
  border-radius: 100%;
  float: left;
  height: 40px;
  padding: 10px;
  position: relative;
  width: 40px;

  .fa {
    font-size: 18px !important;
    height: 20px;
    left: 50%;
    margin: -10px 0 0 -10px !important;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px;
  }
}

.notifications-orb {
  background-color: @info-color;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  height: 18px;
  line-height: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 18px;
}

.notification-title {
  font-weight: bold;
  padding-bottom: 10px;
}

// Force hover state
.notification-list > .notification-list-item > .title .notification-list-item-close:hover i {
  color: #000 !important;
}
