.orb {
  border-radius: 100%;
  border: 1px solid @border-color;
  display: inline-block;
  font-weight: bold;
  height: 18px;
  line-height: .7em;
  padding: 4px;
  position: relative;
  text-align: center;
  width: 18px;
  transition: all .25s;

  .fa {
    margin-left: -3px;
    line-height: 0;
  }
}

.orb-danger {
  background-color: @error-color;
  border-color: @error-color;
  color: #fff;
}

.orb-info {
  background-color: @info-color;
  border-color: @info-color;
  color: #fff;
}

.orb-success {
  background-color: @success-color;
  border-color: @success-color;
  color: #fff;
}

.orb-warning {
  background-color: @warning-color;
  border-color: @warning-color;
  color: #fff;
}
