.select2-container .select2-choice {
  background: none !important;
  border: 1px solid transparent;
  cursor: pointer;
  height: 35px;
  margin-right: 15px;
  padding-top: 3px;
  padding-left: 5px !important;
}

.select2-search {
  padding: 1px 3px !important;

  input {
    border-radius: 0px;
    font-size: inherit;
    margin-bottom: 0;
    margin: 3px 0 0 0;
    padding: 3px 10px !important;
  }
}

.select2-drop-active {
  border-radius: 5px !important;
}

.select2-input {
  padding: 6px !important;
}

.select2-results {
  margin: 3px;
  padding: 0;

  li {
    padding: 0
  }
}
.select2-with-searchbox {
  // float: left;
  list-style: none;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.4);
  border: none;
  border-radius: 3px;
  padding: 4px;
  font-size: 13px;
  margin-top:4px
}


.ui-select-choices-row {
  width:100% !important;
  float:none !important;
  text-align:left !important;
  padding-left:5px !important;
}

.select2-with-searchbox:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  left: 9px;
  right: auto;
}

.select2-with-searchbox:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
  left: 10px;
  right: auto;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  font-size:inherit;
}
.select2-no-results {
  margin-top: 10px
}

.select2-results .select2-highlighted {
  border-radius:0;
  background: @info-color !important;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 20px
}
.select2-arrow b[role="presentation"] {
  display: none !important;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  line-height: 20px !important;
  padding: 7px 20px !important;
  border-radius: 3px !important;
  padding-left: 10px !important;
}

.select2-container .select2-choice .select2-arrow {
  font-size: 1.3em;
  padding: 4px 12px;
}
.select2-arrow-down {
  margin: 6px 2px 6px -4px !important;
}

.select2-container {
  vertical-align: middle;
}
.select2-container .select2-choice:hover,
.select2-container-active .select2-choice {
  border-color: @border-color !important;
}

.form-group .select2-choice {
  border: 1px solid @border-color !important;
}

.form-group.has-error .select2-choice {
  border: 1px solid @danger-color !important;
}
