.tooltip-danger {
  font-weight: bold;

  .tooltip-inner {
    background-color: @error-color;
  }

  .tooltip-arrow {
    border-top-color: @error-color;
  }
}

.tooltip-danger.bottom .tooltip-arrow {
  border-bottom-color: @error-color;
}

.tooltip-danger.left .tooltip-arrow {
  border-left-color: @error-color;
}

.tooltip-danger.right .tooltip-arrow {
  border-right-color: @error-color;
}

.tooltip-danger.top .tooltip-arrow {
  border-top-color: @error-color;
}
