.tooltip {
  font-weight: bold;
}

.tooltip.in {
  opacity: 1;
}

.tooltip-danger {
  font-weight: bold;

  .tooltip-inner {
    background-color: @error-color;
  }

  .tooltip-arrow {
    border-top-color: @error-color;
  }
}

.tooltip-danger.bottom .tooltip-arrow {
  border-bottom-color: @error-color;
}

.tooltip-danger.left .tooltip-arrow {
  border-left-color: @error-color;
}

.tooltip-danger.right .tooltip-arrow {
  border-right-color: @error-color;
}

.tooltip-danger.top .tooltip-arrow {
  border-top-color: @error-color;
}

.tooltip-info {
  font-weight: bold;

  .tooltip-inner {
    background-color: @info-color;
  }

  .tooltip-arrow {
    border-top-color: @info-color;
  }
}

.tooltip-info.bottom .tooltip-arrow {
  border-bottom-color: @info-color;
}

.tooltip-info.left .tooltip-arrow {
  border-left-color: @info-color;
}

.tooltip-info.right .tooltip-arrow {
  border-right-color: @info-color;
}

.tooltip-info.top .tooltip-arrow {
  border-top-color: @info-color;
}

.tooltip-success {
  font-weight: bold;

  .tooltip-inner {
    background-color: @success-color;
  }

  .tooltip-arrow {
    border-top-color: @success-color;
  }
}

.tooltip-success.bottom .tooltip-arrow {
  border-bottom-color: @success-color;
}

.tooltip-success.left .tooltip-arrow {
  border-left-color: @success-color;
}

.tooltip-success.right .tooltip-arrow {
  border-right-color: @success-color;
}

.tooltip-success.top .tooltip-arrow {
  border-top-color: @success-color;
}
