.tsmsselect {
  float: left;
}
.tsmsselect select {
}
.tsmsoptions {
  width: 10%;
  float: left;
}
.tsmsoptions p {
  margin: 2px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.tsmsoptions p:hover {
  color: White;
  background-color: Silver;
}
.groups, .categorys {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 1200px) and (max-width: 1350px) {
  .resize {width: 100%;}
}
