/* Customization of CSS for tinymce editor

@see
tiny_mce/themes/
    {your theme here (usually "advanced" or "simple")}
        /skins/
            {your skin here (usually "default")}
                /content.css
*/
body, td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:8px;}

/* Style clone of noticias_home.css */
.CNoticiaHome1 {
    background-color:#FFFFFF;
    margin-left:10px;
    width:425px;

    border: 1px dotted #F00;
}

.ColumnHome2 {
    background-color:#FFFFFF;
    margin-left:10px;
    width:285px;

    border: 1px dotted #F00;
}

.logoTitulares {
    background-image:url(/themes/xornal/images/titularesDia/logoTitularesDia.gif);
    height:52px;
    width:290px;
}

.mceContentBody  {
    font-family:Arial, Verdana;
    font-size:13px;
}

.mceEditor {
    border:1px solid #bfbfbf;
    border-radius:3px;
}

.o2k7SkinSilver table {
    background:Red !important;
    border:1px solid Blue;
}

.o2k7SkinSilver table, .o2k7SkinSilver .mceMenuItemTitle a {
    background-color:transparent !important;
}
.o2k7SkinSilver table, .o2k7SkinSilver .mceMenuItemTitle a {
    background: none repeat scroll 0 0 #EEEEEE;
}


.mceLayout {
    background:none !important;
}

.mceToolbar .mceLeft .mceFirst .mceLast {
    background: Blue !important;
}

.o2k7Skin .mceButton {
    background:none !important;
    border:1px solid #ddd !important;
}
