
/* ----------container to center the layout-------- */
#page {
	width: 1000px;
	padding:0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;

	/*border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;*/
}


/* ----------outer and inner----------------- */
#inner{ margin:0; width:100%; } /* The ie/pc pecularity */

#right {
	width:310px;
	float: right;
	position:relative;
	margin-left:1px;

}

/* ----------content ----------------------- */
#content {
	width: 676px;
	position: relative;
	float: left;
	margin: 0px;
	padding-left: 5px;
}

p {
	padding: 5px 10px;
	margin:0px;
}

/* --------------resumen------------- */
#resumen {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}

#resumen .col {
	float:left;
	margin:0pt 16px 0pt 0px;
	width:320px;
}

/*  ---------------- header  ------------ */
#top {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	vertical-align: bottom;

}

#top img {
	border: 0px solid #fff;

}



#top p{

	font-size:15px;
	font-family: georgia,serif;
	font-weight:bolder;
	color:#000;
	margin: 10px;

}

/* -----------------------MENU---------------- */
#nav-menu {
	background: #EDEDED;
	margin: 0px;
	padding: 0px;
	width: 310px;
}


#nav-menu ul#menu-papers {
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	text-align:left;

}

#nav-menu ul#menu-papers a{
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	text-decoration: none;
	color:white;
	height: 40px;
	width: 300px;
	display:block;
	margin-bottom: 4px;
	margin-left: 0px;

}

 #nav-menu .cronicas a:link, #nav-menu .cronicas a:visited {
	background: url(../images/backgraound_nav_blue.png) repeat-x scroll 0%;
	vertical-align: middle;
	text-align: left;
}

#nav-menu .cronicas a:hover{
	text-decoration:none;
	background: url(../images/backgraound_nav_blue2.png) repeat-x scroll 0%;
	color:black;
	vertical-align: middle;
	text-align: left;
}




/*  ----------------utils---------------------- */
.clearer {
	clear: both;
}

.boton {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #666;
}

.lineaHz {
    background-image: url(../images/linea.gif);
    background-repeat: repeat-x;
    margin:10px 0;
}


/*  ----------------FOOTER---------------------- 
#footer {
	clear:left;
	padding:0px;
	margin:0px;
	margin-top: 10px;
}*/

#footer {
    margin-left: 10px;
    padding:0pt 0pt 10px;
    background:#fff;
    border-top:2px solid #00497F;
    width:100%;
    clear:both;
    overflow:hidden;
}

#footer ul {
    list-style-type:none;
}

#footer ul li {
    margin-top: 10px;
    float: left;
    margin:0;
    padding:0;

}
#footer ul li a {
    padding:0 0 20px 0;
    float:left;
    background-position:center left;
    background-repeat:no-repeat;
    color: #FFFFFF
}

#footer ul li a.galiciapic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_Galicia.png); 
    width:90px;
}
#footer ul li a.asturiaspic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_Asturias.png); 
    width:90px;

}
#footer ul li a.cantabriapic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_Cantabria.png); 
    width:90px;
}
#footer ul li a.castillaleonpic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_CastillaLeon.png); 
    width:90px;
}
#footer ul li a.madridpic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_Madrid.png); 
    width:90px;
}
#footer ul li a.canariaspic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_Canarias.png); 
    width:90px;

 
}
#footer ul li a.balearespic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_Baleares.png); 
    width:90px;
}


#footer2 {
    margin-left: 10px;
    padding:0pt 0pt 10px;
    background:#fff;
    border-top:1px solid #00497F;
    width:100%;
    clear:both;
    overflow:hidden;
}

#footer2 ul li {
    margin-top: 10px;
    float: left;
    margin:0;

}
#footer2 ul li a {
    padding:0 0 35px 0;
    float:left;
    background-position:center left;
    background-repeat:no-repeat;
}

#footer2 ul li a.cronicaspic {
    border:0px none;
    background-image:url(http://www2.cronicasdelaemigracion.com/themes/default/images/small_Cronicas.png); 
    width:216px;
}

#footer3 {
    margin:0px auto;
    background:#fff;
    clear:both;
    list-style-type:none;
    margin-top: 10px;
    margin:0;
    padding:0;
    border-left:10px;

}
#footer3 a {
	padding:0 10px 30px 0;
	float:right;
	color: #000000
}


#footer4 {
	float:right;
	margin-top: 5px;
	margin-right: 5px;
	background:#fff;
	width: 99%;
	
}


/*  ----------------CALENDARIO HEMEROTECA---------------------- */

.backcal {
	background-color: #F3F7FA;

}
.calDayname {
	color: #00497F;
    font:11px Tahoma,Verdana,Arial;
	font-weight:bold;
	width:30px;
	height:26px;
	text-align:center;
	background-color: #D3D3D3;
}
.calDay {
	font:11px Tahoma,Verdana,Arial;
	width:30px; height:30px;
	text-align:center;
	vertical-align:middle;
	background-color: #F3F7FA;
}
a.calNav {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

a.calNav:hover {
	text-decoration: underline;
}
a.Day {
	color: black;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
a.Day:hover {
	color: black;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.calTitle {
	font:12px Tahoma,Verdana,Arial;
	font-weight:bold;
	height:24px;
	color: White;
	background-color: #999999;
	vertical-align: middle;
}

/*  --------------CALENDARIO------------------------ */

#calendar {
	width: 100%;

}

.cal {
	background:   #F3F7FA;
	width: 100%;


}

.calhead {
    font:12px arial;
	font-weight:bold;
	height:24px;
	color: White;
	background-color: #2376AA;
	vertical-align: middle;
	width:100%
}

.calhead img {
	border: none;
}


.dayhead {
	height: 25px;
	background: #FCFCFC;
	border-color:#EEE;
}

.dayhead td {
	text-align: center;
	color: #000;
	font:11px Tahoma,Verdana,Arial;
	font-weight:bold;
}

.dayrow {
	background: #FFF;
	height: 20px;
}

.dayrow td {
	width: 40px;
	color: #000;
	font-size: .7em;
}

.day {	
	font:11px Tahoma,Verdana,Arial;
	text-align: center;
}

.dayover {
	background: #EEE;	
	text-align: center;
}

.dayout {
	background: #FFF;
	text-align: center;
}
