/* Flashmessenger */
ul.flashmessenger {
    list-style: none;
    list-style-type: none;
    
    border: 0;
    padding: 0;
}

ul.flashmessenger li {
    padding: 0.5em 1em;
    
    border-left: 0;
    border-right: 0;
}

.flashmessenger .notice {
    background-color: #CCF;
    background-image: url(../images/flashmessenger/notice.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
    
    border-top: 2px solid #369;
    border-bottom: 2px solid #369;
}

.flashmessenger .warning {
    background-color: #FC9;
    background-image: url(../images/flashmessenger/warning.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
    
    border-top: 2px solid #F63;
    border-bottom: 2px solid #F63;        
}

.flashmessenger .error {
    background-color: #FCC;
    background-image: url(../images/flashmessenger/error.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
    
    border-top: 2px solid #933;
    border-bottom: 2px solid #933;
}