{
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "angular": true,
        "_": true
    },
    "rules": {
        // Errors
        "for-direction":               [ "error" ],
        "getter-return":               [ "error" ],
        "no-await-in-loop":            [ "error" ],
        "no-compare-neg-zero":         [ "error" ],
        "no-cond-assign":              [ "error", "always" ],
        "no-console":                  [ "warn" ],
        "no-constant-condition":       [ "error" ],
        "no-control-regex":            [ "error" ],
        "no-debugger":                 [ "error" ],
        "no-dupe-args":                [ "error" ],
        "no-dupe-keys":                [ "error" ],
        "no-duplicate-case":           [ "error" ],
        "no-empty":                    [ "error" ],
        "no-empty-character-class":    [ "error" ],
        "no-ex-assign":                [ "error" ],
        "no-extra-boolean-cast":       [ "error" ],
        "no-extra-parens":             [ "error" ],
        "no-extra-semi":               [ "error" ],
        "no-func-assign":              [ "warn" ],
        "no-inner-declarations":       [ "warn", "functions" ],
        "no-invalid-regexp":           [ "error" ],
        "no-irregular-whitespace":     [ "error" ],
        "no-obj-calls":                [ "error" ],
        "no-prototype-builtins":       [ "off" ],
        "no-regex-spaces":             [ "error" ],
        "no-sparse-arrays":            [ "error" ],
        "no-template-curly-in-string": [ "off" ],
        "no-unexpected-multiline":     [ "error" ],
        "no-unreachable":              [ "error" ],
        "no-unsafe-finally":           [ "error" ],
        "no-unsafe-negation":          [ "error" ],
        "use-isnan":                   [ "error" ],
        "valid-jsdoc":                 [ "off" ],
        "valid-typeof":                [ "error" ],

        // Best practices
        "accessor-pairs":               [ "off" ],
        "array-callback-return":        [ "error" ],
        "block-scoped-var":             [ "off" ],
        "class-methods-use-this":       [ "error" ],
        "complexity":                   [ "warn" ],
        "consistent-return":            [ "warn" ],
        "curly":                        [ "error", "all" ],
        "default-case":                 [ "error", { "commentPattern": "^no default$/i" } ],
        "dot-location":                 [ "error", "property" ],
        "dot-notation":                 [ "warn", { "allowKeywords": true }  ],
        "eqeqeq":                       [ "warn" ],
        "guard-for-in":                 [ "off" ],
        "no-alert":                     [ "error" ],
        "no-caller":                    [ "error" ],
        "no-case-declarations":         [ "error" ],
        "no-div-regex":                 [ "warn" ],
        "no-else-return":               [ "error", { "allowElseIf": false } ],
        "no-empty-function":            [ "error" ],
        "no-empty-pattern":             [ "error" ],
        "no-eq-null":                   [ "error" ],
        "no-eval":                      [ "error" ],
        "no-extend-native":             [ "error" ],
        "no-extra-bind":                [ "error" ],
        "no-extra-label":               [ "error" ],
        "no-fallthrough":               [ "error" ],
        "no-floating-decimal":          [ "error" ],
        "no-global-assign":             [ "error" ],
        "no-implicit-coercion":         [ "error" ],
        "no-implicit-globals":          [ "error" ],
        "no-implied-eval":              [ "error" ],
        "no-invalid-this":              [ "warn" ],
        "no-iterator":                  [ "error" ],
        "no-labels":                    [ "error" ],
        "no-lone-blocks":               [ "error" ],
        "no-loop-func":                 [ "error" ],
        "no-magic-numbers":             [ "warn", {
            "ignore": [
                -1, 0, 1, 5, 10, 25, 50, 13, 100, 200, 201, 250, 404, 500,
                1000, 2000, 2500, 5000
            ]
        } ],
        "no-multi-spaces":        [ "error", {
            "exceptions": {
                "AssignmentExpression": true,
                "Property": true,
                "VariableDeclarator": true
            },
            "ignoreEOLComments": true
        } ],
        "no-multi-str":                 [ "error" ],
        "no-new":                       [ "error" ],
        "no-new-func":                  [ "error" ],
        "no-new-wrappers":              [ "error" ],
        "no-octal":                     [ "error" ],
        "no-octal-escape":              [ "error" ],
        "no-param-reassign":            [ "off" ],
        "no-proto":                     [ "error" ],
        "no-redeclare":                 [ "off" ],
        "no-restricted-properties":     [ "off" ],
        "no-return-assign":             [ "error" ],
        "no-return-await":              [ "error" ],
        "no-script-url":                [ "error" ],
        "no-self-assign":               [ "error" ],
        "no-self-compare":              [ "error" ],
        "no-sequences":                 [ "error" ],
        "no-throw-literal":             [ "error" ],
        "no-unmodified-loop-condition": [ "off" ],
        "no-unused-expressions":        [ "error" ],
        "no-unused-labels":             [ "error" ],
        "no-useless-call":              [ "error" ],
        "no-useless-concat":            [ "error" ],
        "no-useless-escape":            [ "error" ],
        "no-useless-return":            [ "error" ],
        "no-void":                      [ "error" ],
        "no-warning-comments":          [ "off" ],
        "no-with":                      [ "error" ],
        "prefer-promise-reject-errors": [ "off" ],
        "radix":                        [ "off" ],
        "require-await":                [ "error" ],
        "vars-on-top":                  [ "off" ],
        "wrap-iife":                    [ "off" ],
        "yoda":                         [ "warn", "never" ],

        // Strict
        "strict": [ "off" ],

        // Variables
        "init-declarations":          [ "error", "always" ],
        "no-catch-shadow":            [ "error" ],
        "no-delete-var":              [ "error" ],
        "no-label-var":               [ "error" ],
        "no-restricted-globals":      [ "off" ],
        "no-shadow":                  [ "off" ],
        "no-shadow-restricted-names": [ "error" ],
        "no-undef":                   [ "warn", { "typeof": true } ],
        "no-undef-init":              [ "error" ],
        "no-undefined":               [ "error" ],
        "no-unused-vars":             [ "warn" ],
        "no-use-before-define":       [ "error" ],

        // Node.js and CommonJS
        "callback-return":       [ "warn" ],
        "global-require":        [ "error" ],
        "handle-callback-err":   [ "error" ],
        "no-buffer-constructor": [ "error" ],
        "no-mixed-requires":     [ "error" ],
        "no-new-require":        [ "error" ],
        "no-path-concat":        [ "error" ],
        "no-process-env":        [ "error" ],
        "no-process-exit":       [ "error" ],
        "no-restricted-modules": [ "error" ],
        "no-sync":               [ "error" ],


        // Stylistic Issues
        "array-bracket-newline":            [ "warn", { "multiline": true } ],
        "array-bracket-spacing":            [ "warn", "always" ],
        "array-element-newline":            [ "off" ],
        "block-spacing":                    [ "error", "always" ],
        "brace-style":                      [ "error", "1tbs" ],
        "camelcase":                        [ "warn", { "properties": "never" } ],
        "capitalized-comments":             [ "warn", "always" ],
        "comma-dangle":                     [ "warn", "only-multiline" ],
        "comma-spacing":                    [ "error", { "before": false, "after": true } ],
        "comma-style":                      [ "error", "last" ],
        "computed-property-spacing":        [ "error", "never" ],
        "consistent-this":                  [ "warn", "that" ],
        "eol-last":                         [ "error", "always" ],
        "func-call-spacing":                [ "error", "never" ],
        "func-name-matching":               [ "off" ],
        "func-names":                       [ "error", "never" ],
        "func-style":                       [ "warn", "expression" ],
        "function-paren-newline":           [ "off" ],
        "id-blacklist":                     [ "off" ],
        "id-length":                        [ "warn", {
            "min": 1,
            "max": 20,
            "properties": "never"
        } ],
        "id-match":                         [ "off" ],
        "indent":                           [ "warn", 2, {
            "CallExpression": { "arguments": 1 },
            "FunctionExpression": { "body": 1, "parameters": 2 }
        } ],
        "jsx-quotes":                       [ "warn", "prefer-double" ],
        "key-spacing":                      [ "error", { "mode": "minimum" } ],
        "keyword-spacing":                  [ "error", { "before": true, "after": true, } ],
        "line-comment-position":            [ "warn", "above" ],
        "linebreak-style":                  [ "error", "unix" ],
        "lines-around-comment":             [ "warn", { "allowBlockStart": true } ],
        "lines-between-class-members":      [ "error", "always" ],
        "max-depth":                        [ "warn" ],
        "max-len":                          [ "warn", {
            "code": 120,
            "tabWidth": 2,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreUrls": true
        } ],
        "max-lines":                   [ "warn", {
            "max": 1000,
            "skipBlankLines": true,
            "skipComments": true
        } ],
        "max-nested-callbacks":             [ "warn" ],
        "max-params":                       [ "off" ],
        "max-statements":                   [ "off" ],
        "max-statements-per-line":          [ "error" ],
        "multiline-comment-style":          [ "warn", "starred-block" ],
        "multiline-ternary":                [ "off" ],
        "new-cap":                          [ "error" ],
        "new-parens":                       [ "error" ],
        "newline-per-chained-call":         [ "warn", { "ignoreChainWithDepth": 4 } ],
        "no-array-constructor":             [ "error" ],
        "no-bitwise":                       [ "error" ],
        "no-continue":                      [ "off" ],
        "no-inline-comments":               [ "error" ],
        "no-lonely-if":                     [ "error" ],
        "no-mixed-operators":               [ "off" ],
        "no-mixed-spaces-and-tabs":         [ "error" ],
        "no-multi-assign":                  [ "warn" ],
        "no-multiple-empty-lines":          [ "error", { "max": 1 } ],
        "no-negated-condition":             [ "off" ],
        "no-nested-ternary":                [ "off" ],
        "no-new-object":                    [ "error" ],
        "no-plusplus":                      [ "off" ],
        "no-restricted-syntax":             [ "off" ],
        "no-tabs":                          [ "error" ],
        "no-ternary":                       [ "off" ],
        "no-trailing-spaces":               [ "error" ],
        "no-underscore-dangle":             [ "warn" ],
        "no-unneeded-ternary":              [ "warn" ],
        "no-whitespace-before-property":    [ "error" ],
        "nonblock-statement-body-position": [ "warn" ],
        "object-curly-newline":             [ "warn", { "consistent": true, "minProperties": 3 } ],
        "object-curly-spacing":             [ "warn", "always" ],
        "object-property-newline":          [ "warn", {
            "allowMultiplePropertiesPerLine": true
        } ],
        "one-var":                          [ "error", "never" ],
        "one-var-declaration-per-line":     [ "warn", "initializations" ],
        "operator-assignment":              [ "off" ],
        "operator-linebreak":               [ "error", "after" ],
        "padded-blocks":                    [ "error", "never" ],
        "padding-line-between-statements":  [
            "error",
            { blankLine: "always", prev: ["const", "let", "var"], next: "*"},
            { blankLine: "any",    prev: ["const", "let", "var"], next: ["const", "let", "var"]}
        ],
        "quote-props":                      [ "error", "as-needed" ],
        "quotes":                           [ "warn", "single" ],
        "require-jsdoc":                    [ "warn" ],
        "semi":                             [ "error", "always" ],
        "semi-spacing":                     [ "error", { "before": false, "after": true } ],
        "semi-style":                       [ "error", "last" ],
        "sort-keys":                        [ "off" ],
        "sort-vars":                        [ "warn", { "ignoreCase": true } ],
        "space-before-blocks":              [ "error", "always" ],
        "space-before-function-paren":      [ "error", "never" ],
        "space-in-parens":                  [ "error", "never" ],
        "space-infix-ops":                  [ "error" ],
        "space-unary-ops":                  [ "error", { "words": true, "nonwords": false } ],
        "spaced-comment":                   [ "warn", "always" ],
        "switch-colon-spacing":             [ "error", { "before": false, "after": true } ],
        "template-tag-spacing":             [ "error", "always" ],
        "unicode-bom":                      [ "off" ],
        "wrap-regex":                       [ "off" ],

        // ECMAScript 6
        "arrow-body-style":        [ "error", "as-needed" ],
        "arrow-parens":            [ "error", "always" ],
        "arrow-spacing":           [ "error", { "before": true, "after": true } ],
        "constructor-super":       [ "error" ],
        "generator-star-spacing":  [ "error", { "before": true, "after": true } ],
        "no-class-assign":         [ "error" ],
        "no-confusing-arrow":      [ "error", { "allowParens": true } ],
        "no-const-assign":         [ "error" ],
        "no-dupe-class-members":   [ "error" ],
        "no-duplicate-imports":    [ "error" ],
        "no-new-symbol":           [ "error" ],
        "no-restricted-imports":   [ "error" ],
        "no-this-before-super":    [ "error" ],
        "no-useless-computed-key": [ "error" ],
        "no-useless-constructor":  [ "error" ],
        "no-useless-rename":       [ "off" ],
        "no-var":                  [ "off" ],
        "object-shorthand":        [ "off" ],
        "prefer-arrow-callback":   [ "off" ],
        "prefer-const":            [ "warn" ],
        "prefer-destructuring":    [ "off" ],
        "prefer-numeric-literals": [ "off" ],
        "prefer-rest-params":      [ "off" ],
        "prefer-spread":           [ "off" ],
        "prefer-template":         [ "off" ],
        "require-yield":           [ "off" ],
        "rest-spread-spacing":     [ "off" ],
        "sort-imports":            [ "off" ],
        "symbol-description":      [ "off" ],
        "template-curly-spacing":  [ "error", "never" ],
        "yield-star-spacing":      [ "off" ]
    }
}
