config/*
**/*/*.komodoproject
tmp/logs/*
tmp/cache/*
tmp/sessions/backend/*
tmp/sessions/frontend/*
public/media
*/cache/*
*/compile/*
*komodo*
public/admin/themes/default/compile/*
**/**/*~
public/themes/*
nbproject/*
nbproject/**/*
