# basics
*.sublime-*
*~
*.pot
.development
.deploy.php
.maintenance

# app
app/cache
app/config/parameters.yml
app/spool
app/Resources/**/*.mo
app/Resources/locale/*/LC_MESSAGES/messages.mo

# bin
bin/*
bin/tsmarty2c.php
!bin/import-tools
bin/import-tools/canarias/libs/canariasImport-config.inc.php-dist
bin/import-tools/joomla/configuration.ini
bin/import-tools/joomla/configuration.ini-hibridos
bin/import-tools/joomla/configuration.ini-ideal
bin/import-tools/joomla/importer.log
bin/import-tools/onmToOnm/libs/onm-config.inc.php
bin/import-tools/onmToOnm/log/log.txt

# build
build/*
!build/phpmd.xml
!build/phpdox.dist.xml
!build/phpdoc.dist.xml
!build/phpcs.xml

# misc
backups/*
cache.properties
tmp/*
vendor/*

#public
public/assets/js/routes.js
public/assets/components
public/build
public/bundles
public/components
public/media/
public/themes/*
!public/themes/admin
!public/themes/manager

