.page-container {
  height: auto;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.page-content {
  margin: 0;
  overflow-x: hidden;
  padding-left: 210px;

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}

.page-content .content {
  padding: 15px;
  margin-top: 50px;
}

.page-sidebar.collapsed ~ .page-container .page-content,
.page-sidebar.collapsed ~ .page-container .page-content .actions-navbar {
    padding-left: 50px;
}

@media (max-width: 992px) and (min-width: 768px){
  .page-sidebar.collapsed ~ .page-container .page-content,
  .page-sidebar.collapsed ~ .page-container .page-content .actions-navbar {
    left: 0;
    padding-left: 50px;
  }

  .page-sidebar ~ .page-container .page-content,
  .page-sidebar ~ .page-container .page-content .actions-navbar {
    left: 210px;
    padding-left: 0;
  }
/*  .page-navbar .selected-actions {
    overflow: hidden;
    height: auto;
    width: 40px;

    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .page-navbar .selected-actions.collapsed {
    overflow: hidden;
    height: 0;
    width: 40px;

    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }

  .page-navbar .selected-actions .quick-section {
    background: #22262e;
    overflow: hidden;
    height: 146px;
    position: absolute;
    width: 40px;

    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .page-navbar .selected-actions.collapsed .quick-section {
    height: 0;

    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }

  .page-navbar .selected-actions .btn-link {
    color: #8b91a0;
  }*/
}

@media (max-width: 768px) {
  .page-content {
    padding-top: 50px;
  }

  .page-sidebar.collapsed ~ .page-container .page-content,
  .page-sidebar.collapsed ~ .page-container .page-content .actions-navbar {
    left: 0;
    padding-left: 0;
  }

  .page-sidebar ~ .page-container .page-content,
  .page-sidebar ~ .page-container .page-content .actions-navbar {
    left: 210px;
    padding-left: 0;
  }
}
