.checkbox.check-title  label:before {
  top: 9.4px;
}

.checkbox.check-title label:after {
  top: 8px;
}

.input-group .btn {
  padding-top: 6px;
}

.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 0;
}

.input-group-addon.primary .arrow {
  z-index: 3;
}

.radio.radio-primary label:after {
  background-color: #376092;
  border:1px solid #376092;
}
.radio.radio-primary input[type=radio]:checked + label:before {
  border:1px solid #376092;
}

.radio-input label:after {
  top: 12px;
}

.radio-input label:before {
  bottom: 8.5px;
}

.select2-container {
  width: 100%;
}
