.domain-list li a.active {
  font-weight: bold;
}

.instance-domain-list .row {
  margin-bottom: 10px;
}

.instance-domain-list .new-domain {
  margin-left: 25px;
  margin-right: 15px;
}

.instance-form dd {
  margin-left: 20px;
}

.instance-plan {
  display: inline-block;
  padding-bottom: 30px;
  padding-right: 30px;
  vertical-align: top;

  &:last {
    padding-right: 0;
  }
}
