services:
    backend.security.user.provider:
        class:     Common\Core\Component\Security\User\UserProvider
        arguments: [ '@orm.manager', [ 'instance', 'manager' ] ]

    backend.security.user.oauth_provider:
        class:     Common\Core\Component\Security\User\OAuthUserProvider
        arguments: [ '@orm.manager', '@session', [ 'instance', 'manager' ] ]

    backend_login_success_handler:
        class:     Backend\EventListener\LoginSuccessHandler
        arguments: [ '@service_container' ]
