parameters:
#    onm_test.example.class: Onm\TestBundle\Example

services:
#    onm_test.example:
#        class: %onm_test.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
