.newsletter-contents {
  .angular-ui-tree-placeholder {
    margin-bottom: 15px !important;
  }
}

.newsletter-container,
.newsletter-item {
  background: #fff;
  border: 1px solid #d1dade;
  margin-bottom: 15px;

  .angular-ui-tree-nodes {
    padding-left: 0 !important;
  }
}

.newsletter-container-items,
.newsletter-container-title {
  margin: 0 15px 0 36px;
}

.newsletter-container-items-placeholder {
  border: 1px dashed #d1dade;
  margin-bottom: 15px;
  padding: 60px;
  text-align: center;
}

.newsletter-item {
  padding: 5px 36px;
  position: relative;

  .btn {
    margin-top: -19px;
    position: absolute;
    right: 6px;
    top: 50%;
  }
}

.newsletter-item-title {
  display: block;
  overflow: hidden;
  padding: 9px 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.newsletter-item-search {
  min-height: 38px;
  padding: 0 26px;
  display: flex;
  align-items: center;

  onm-tags-input {
    width: 20rem;
  }
}

.newsletter-item-type {
  height: 20px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
