#gallery-toolbar{
    height:42px;
    color:#888888;
    font-family:Arial;
    font-size:13px;
    width:960px;
    margin-top:10px;
}

#gallery-toolbar ul{
    margin:0;
    padding:0;
}
#gallery-toolbar img{ 
    vertical-align:middle;
}
#gallery-toolbar .shares-toolbar li,
#gallery-toolbar .control-buttons li {
    margin-right:2px;
    display:inline;
}

#gallery-toolbar .right{
    float:right
}

#gallery-toolbar .left{
    float:left;
}
#gallery-toolbar .actual-position{
    width:150px;
    margin-top:4px;
}
#gallery-toolbar .shares-toolbar {
    text-transform:uppercase;
    font-size:12px;
    color:#404040;
    display:inline-block;
}

#gallery-toolbar .control-buttons{
    display:inline-block;
}

#gallery-toolbar a#start-stop-slideshow,
#gallery-toolbar a#hide-leyend
{
    background:#505050;
    padding:5px;
    text-decoration:none;
    text-transform:uppercase;
    font-family:Arial;
    color:White;
}