.sidebar-footer-widget {
  background: @background;
  height: @height;
  padding: 0;
  position: relative;
  right: 0;

  ul {
    margin: 0;
    padding: 0;
    width: auto;

    li {
      float: left;
      height: @height;
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
      transition: all .25s;

      &.pin {
        cursor: pointer;
        text-align: right;
        width: @width;

        &:hover {
          color: #fff;
        }
      }

      i {
        padding: 18px 0;
        text-align: center;
        width: @collapsed-width;
      }
    }
  }
}

.collapsed {
  .sidebar-footer-widget {
    ul {
      li {
        width: 0;

        &.pin {
          width: @collapsed-width;
        }
      }
    }
  }
}

.inverted {
  .sidebar-footer-widget {
    ul {
      li {
        float: right;

        i {
          float: right;
        }
      }
    }
  }
}
