.sidebar-footer-widget {
  background: lighten(@background, 3%);
  height: @height;
  padding: 0;
  position: relative;
  right: 0;

  ul {
    margin: 0;
    padding: 0;
    width: auto;

    li {
      float: left;
      height: @height;
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
      transition: all .25s;

      &.support {
        width: @width - @collapsed-width;

        .link {
          cursor: pointer;
          display: inline-block;
          width: @width - @collapsed-width - 10px;

          &:hover {
            color: #fff;
          }
        }
      }

      &.pin {
        cursor: pointer;
        text-align: center;
        width: @collapsed-width;

        &:hover {
          color: #fff;
        }
      }

      i {
        padding: 18px 0;
        text-align: center;
        width: @collapsed-width;
      }

      .h-seperate {
        width: 1px;
        display: inline-block;
        background: rgba(255,255,255,.25);
        height: 26px;
        float: right;
        margin: 12px 5px 0 4px;
        transition: all .25s;
      }

      .title {
        display: inline-block;
      }
    }
  }
}

.collapsed {
  .sidebar-footer-widget {
    ul {
      li {
        width: 0;

        &.pin {
          width: @collapsed-width;
        }

        .h-seperate {
          width: 0;
        }
      }
    }
  }
}

.inverted {
  .sidebar-footer-widget {
    ul {
      li {
        float: right;

        i {
          float: right;
        }

        .h-seperate {
          float: left;
        }

        .title {
          padding: 12px 8px;
          float: right;
        }
      }
    }
  }
}
