.overlay {
  bottom: 0;
  height: auto;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 220;

  -webkit-transition:width .25s;
  -moz-transition: width .25s;
  transition: width .25s;
}

.collapsed > .sidebar > .overlay,
.unpinned-on-server > .sidebar > .overlay {
  width: 50px;
}

@media (max-width: 767px) {
  .overlay {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .overlay {
    width: 50px;
  }
}
