.sidebar {
  background-color: lighten(@background, 3%);
  font-family: 'Open Sans';
  font-size: 14px;
  height: 100%;
  margin-top: @margin;
  padding-bottom: @height + @margin;
  position: fixed;
  transition: all .25s;
  z-index: 1000;

  .sidebar-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    right: 0;
    transition: all .25s;
    min-width: @width;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        clear: both;
        overflow: hidden;
        padding: 0;
        position: relative;

        &.active {
          font-weight: 400;

          & > a {
            color: #fff;
          }
        }

        &.open {
          & > .sub-menu {
            display: block;
          }
        }

        a {
          color: @color;
          display: block;

          &:hover {
            color: #fff;
          }

          i {
            float: left;
            height: @height;
            margin: 0;
            padding: 18px 0;
            text-align: center;
            transition: all .25s;
            width: @collapsed-width;
          }

          .arrow {
            margin: 16px 20px 0 0;
            position: absolute;
            right: 0;
            top: 0;

            &:before {
              font-family: 'FontAwesome';
              content: "\f105";
            }

            &.open:before {
              content: "\f107";
            }
          }

          .title {
            display: inline-block;
            float: left;
            height: @height;
            max-width: @width - @collapsed-width;
            overflow: hidden;
            padding: 15px 0;
            transition: all .25s;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
    }

    .sub-menu {
      background-color: @background;
      clear: both;
      display: none;
      font-weight: 300;
      font-size: 13px;
      position: relative;

      li {
        transition: all .25s;

        a {
          i {
            height: @height - 10px;
            margin-left: @indentation;
            padding: 15px 0;
            width: @collapsed-width - 10px;
          }

          .title {
            height: 40px;
            padding: 12px 0;
            max-width: @width - @collapsed-width - @indentation;
            transition: all .3s
          }
        }

        .sub-menu {
          background-color: darken(@background, 3%);

          li {
            a {
              i {
                margin-left: @indentation * 2;
              }

              .title {
                max-width: @width - @collapsed-width - (@indentation * 2);
              }
            }
          }
        }
      }
    }

    .user-info-wrapper {
      margin: 15px;
      transition: all .25s;

      .profile-wrapper {
        height: @height;
        margin: 0 10px 0 0;
        transition: all .25s;
        width: @collapsed-width;

        img {
          height: @height;
          width: @collapsed-width;
          transition: all .25s;
        }
      }

      .user-info {
        max-height: 100px;
        left: 70px;
        position: absolute;
        transition: all .3s;

        .greeting {
          overflow: hidden;
          transition: all .5s;
          width: @width - @avatar-size - 30px - 10px;
        }

        .username {
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: all .5s;
          width: @width - @avatar-size - 30px - 10px;
          white-space: nowrap;
        }
      }

      .user-actions {
        float: right;
        color: #fff;

        .btn {
          color: #fff;
          margin-top: 10px;
        }
      }
    }
  }
}

.sidebar-collapsed {
  min-width: @collapsed-width;

  ul {
    li {
      a {
        i {
          font-size: 14px;
          height: 50px;
          margin-left: 0;
          width: 50px;
          padding: 18px 0;
        }

        .title {
          max-width: 0;
        }

        .arrow {
          display: inline-block;
          height: 0;
          overflow: hidden;
          width: 0;
        }
      }
    }
  }

  .sub-menu {
    li {
      a {
        i {
          margin-left: 0;
        }

        .title {
          max-width: 0;
          transition: all .15s;
        }
      }

      .sub-menu {
        li {
          a {
            i {
              margin-left: 0;
            }

            .title {
              max-width: 0;
              transition: all .15s
            }
          }
        }
      }
    }
  }

  .user-info-wrapper {
    margin: 12px;

    .profile-wrapper,
    .profile-wrapper img {
      height: @height / 2;
      width: @collapsed-width / 2;
    }

    .user-info {
      left: 45px;

      .greeting,
      .username {
        width: 0;
        transition: .15s;
      }
    }
  }
}

.collapsed > .sidebar .sidebar-wrapper {
  .sidebar-collapsed();
}

.inverted > .sidebar .sidebar-wrapper {
  ul {
    li {
      a {
        i {
          float: right;
        }

        .arrow {
          left: 0;
          right: auto;
          margin: 16px 0 0 20px;

          &:before {
            content: "\f104";
          }

          &.open:before {
            content: "\f107";
          }
        }

        .title {
          float: right;
          text-align: right;
        }
      }
    }
  }

  .sub-menu {
    li {
      a {
        i {
          margin-left: 0;
          margin-right: @indentation;
        }
      }

      .sub-menu {
        li {
          a {
            i {
              margin-left: 0;
              margin-right: @indentation;
            }
          }
        }
      }
    }
  }
}

.collapsed.inverted  > .sidebar {
  .sub-menu {
    li {
      a {
        i {
          margin-right: 0;
        }
      }
    }

    .sub-menu {
      li {
        a {
          i {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.on-right > .sidebar {
  right: 0;
}

.unpinned-on-server > .sidebar {
  .sidebar-collapsed();
}

@media (max-width: @phone-width - 1px) {
  .sidebar {
    display: block;
    width: @width;
    z-index: 100;
    opacity: 1;
    visibility: visible;
  }

  .collapsed > .sidebar,
  .server-sidebar > .sidebar {
    width: 0;
  }
}

@media (min-width: @phone-width) and (max-width: @tablet-width - 1px) {
  .server-sidebar > .sidebar {
    .sidebar-collapsed();
  }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
  .sidebar {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
