.pagination-controls {
  float: left;

  button {
    float: left;
    height: @pagination-height;

    &:first-child {
      border-radius: @radius 0 0 @radius;
      border-right: 0;
    }

    &:last-child {
      border-radius: 0 @radius @radius 0;
      border-left: 0;
    }

    .fa {
      color: @default-color;
    }
  }

  input[type='number'] {
      -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  input {
    border-radius: 0;
    float: left;
    height: @pagination-height;
    min-height: @pagination-height;
    padding: 0 !important;
    text-align: right;
    transition: all .25s;
    width: @pagination-width;
    padding-right:10px !important;

    &:focus {
      width: @pagination-width + 10px;
    }
  }
}


.pagination-status {
  color: @default-color;
  float: left;
  margin-right: 8px;
  padding: 9px 0 8px;
}
