.global-nav.manager {
    background: #049CDB !important;
    background-color: #049CDB !important;
    background-repeat: repeat-x !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD)) !important;
    background-image: -moz-linear-gradient(#049CDB, #0064CD) !important;
    background-image: -ms-linear-gradient(#049CDB, #0064CD) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD)) !important;
    background-image: -webkit-linear-gradient(#049CDB, #0064CD) !important;
    background-image: -o-linear-gradient(#049CDB, #0064CD) !important;
    background-image: linear-gradient(#049CDB, #0064CD) !important;
}

.manager ul#menu a { color:White !important; }

.manager ul#menu ul {
    background-color: #0179D2;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.6);
}

.manager .global-user-tools .usermenu:hover {
    /*background: #049CDB !important;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.6);*/
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
}

.manager .global-user-tools .usermenu > div {
    background-color: #0179D2;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.6);
}
.manager .global-user-tools .usermenu .login-name { color:White; }
.manager .global-user-tools .usermenu a { color:White; }

.manager .wrapper-content {max-width: 1200px;}
