frontend_poll_frontpage:
    path:     /encuesta
    defaults: { _controller: FrontendBundle:Poll:list }
    requirements:
    options:
        l10n: true
        subdirectory: true

frontend_poll_frontpage_category:
    path:     /encuesta/{category_slug}
    defaults: { _controller: FrontendBundle:Poll:list, page: 1 }
    requirements:
        category_slug: '[^/]+'
    options:
        l10n: true
        subdirectory: true

frontend_poll_show:
    path: /encuesta/{category_slug}/{slug}/{created}{id}.html
    defaults: { _controller: FrontendBundle:Poll:show }
    requirements:
        category_slug: '[^/]+'
        slug:          '[^/]+'
        created:       '[0-9]{14}'
        id:            '[0-9]+'
    options:
        expose: true
        l10n: true
        subdirectory: true

frontend_poll_vote:
    path: /encuesta/{id}/vote
    defaults: { _controller: FrontendBundle:Poll:vote }
    requirements:
        id: '([0-9]+)'
    options:
        subdirectory: true

frontend_poll_show_amp:
    path:     /encuesta/{category_slug}/{slug}/{created}{id}.amp.html
    defaults: { _controller: FrontendBundle:Poll:showAmp, _format: amp }
    requirements:
        category_slug: '[^/]+'
        created:       '[0-9]{14}'
        id:            '[0-9]+'
        slug:          '[^/]+'
    options:
        l10n: true
        subdirectory: true
