.onm-twitter{
	width:100%;
	background:White;
	color:#666666;
	display:block;
	
	-moz-border-radius:10px 10px 6px 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
	
	border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-right-radius:0px;
	-moz-border-radius-topright:0px;

	text-align:left;
	padding-bottom:5px;
	/*border:1px solid #9AE4E8;*/
	border:1px solid #ccc;
	border-top:0;
	margin-bottom:10px;
}

.onm-twitter h2.tut {
	position:absolute;
	top:10px;
	left:10px;
}

.onm-twitter .widget-content{
	height:155px;
	width:auto;
	overflow-y:scroll;
	overflow-x:hidden;
	padding-bottom:20px;
	margin-right:2px;
	position:relative; /* needed for IE right visualization*/
}

.onm-twitter .icon {
	position:absolute;
	top:5px;
	right:5px;
	width:149px;
	height:49px;
	background:url(../images/twitter_logo.png) top right no-repeat;
}

.onm-twitter div.top-bar{
	height:69px;
	background:url(../images/header_bg.png) top left no-repeat;
	position:relative;
}

.onm-twitter .tweet{
	padding:4px;
	margin:0 4px 4px;
	border:1px solid #F0F0F0;
	background:url(img/transparent.png);
	position:relative;
	width:auto;
	overflow:hidden;
}

.onm-twitter .tweet .user,
.onm-twitter .tweet .time{
	margin-bottom:1px;
}

.onm-twitter .tweet .time{
	font-size:9px;
	color:#AAAAAA;
	white-space:nowrap;
}

.onm-twitter .tweet .tweet-content {
	margin-left:25px;
}
.onm-twitter .tweet .avatar {
	position:absolute;
	top:5px;
	left:5px;
}

.onm-twitter .tweet .avatar img{
	width:15px;
	height:15px;
	border:2px solid #eeeeee;
	margin:0 5px 5px 0;
}

.onm-twitter .tweet .txt{
	clear:both;
}

.onm-twitter .tweet .user{
	font-weight:bold;
}

.onm-twitter a, a:visited {
	/*color:#00BBFF;*/
	text-decoration:none;
	outline:none;
}

.onm-twitter a:hover{
	text-decoration:underline;
}

.onm-twitter .loading{
	width:100%;
	text-align:center;
	padding:100px 0;
}
