.page-container {
  height: auto;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  min-height:50%;
}

.page-content {
  left: 0;
  margin: 0;
  margin-top: @header-height;
  overflow: hidden;
  padding: 0;
  padding-left: @sidebar-width-collapsed;
  transition: all .25s;
  z-index: 0;

  .content {
    padding: 15px 15px 0;
    margin-top: @navbar-height;
  }
}

.pinned .page-content {
  padding-left: @sidebar-width;
}

.collapsed .page-content {
  padding-left: @sidebar-width-collapsed;
}

.server-sidebar .page-content {
  padding-left: @sidebar-width;
}

.unpinned-on-server .page-content {
  padding-left: @sidebar-width-collapsed;
}


@media (max-width: (@phone-width - 1)) {
  .page-content .filters-navbar ~ .content {
    margin-top: 0px;
  }

  .page-content,
  .pinned .page-content {
    margin-top: 0;
    padding-left: 0;
    left: @sidebar-width;

    .content {
      padding: 0;
    }
  }

  .collapsed .page-content,
  .server-sidebar .page-content {
    padding-left: 0;
    left: 0;
  }
}

@media (min-width: (@phone-width)) and (max-width: (@tablet-width - 1)) {
  .page-content,
  .pinned .page-content {
    left: @sidebar-width - @sidebar-width-collapsed;
    padding-left: @sidebar-width-collapsed;
  }

  .server-sidebar .page-content,
  .collapsed .page-content {
    left: 0;
    padding-left: @sidebar-width-collapsed;
  }
}
