.page-container {
  height: auto;
  margin: 0;
  min-height:50%;
  opacity: .9999; // Create a new stacking context
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.page-content {
  left: 0;
  margin: 0;
  margin-top: @header-height;
  min-height: 650px;
  overflow: hidden;
  padding: 0;
  padding-left: @sidebar-width-collapsed;
  transition: all .25s;
  z-index: 0;

  .content {
    margin-top: @navbar-height;
    opacity: 1;
    padding: 15px 15px 0;
    transition: all .5s;
    visibility: visible;

    &.ng-hide {
      display: block !important;
      margin-top: 150px;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.pinned .page-content {
  padding-left: @sidebar-width;
}

.collapsed .page-content {
  padding-left: @sidebar-width-collapsed;
}

.server-sidebar .page-content {
  padding-left: @sidebar-width;
}

.unpinned-on-server .page-content {
  padding-left: @sidebar-width-collapsed;
}


@media (max-width: (@phone-width - 1)) {
  .page-content,
  .pinned .page-content {
    margin-top: 0;
    padding-left: 0;
    left: @sidebar-width;
  }

  .collapsed .page-content,
  .server-sidebar .page-content {
    padding-left: 0;
    left: 0;
  }
}

@media (min-width: (@phone-width)) and (max-width: (@tablet-width - 1)) {
  .page-content,
  .pinned .page-content {
    left: @sidebar-width - @sidebar-width-collapsed;
    padding-left: @sidebar-width-collapsed;
  }

  .server-sidebar .page-content,
  .collapsed .page-content {
    left: 0;
    padding-left: @sidebar-width-collapsed;
  }
}
