.header {
  height: @header-height;
  min-height: @header-height;

  .header-seperation  {
    background-color: @header-background;
    display: block !important;
    height: @header-height;
    min-height: @header-height;
    overflow: hidden;
    transition: width .25s;
    width: @header-width;

    h1 {
      color: #fff;
      font-size: 18px;
      height: @header-height;
      line-height: @header-height;
      margin: 0;
      padding: 0px 14px;
    }
  }

  .header-quick-nav {
    background-color: @header-background;
    height: @header-height;
  }

  .quick-section {
    margin: 4px 0;

    & > li.quicklinks {
      & > a,
      & > .link {
        background: none;
        color: @header-color;

        & > i {
          color: @header-color !important;
          margin-right: 4px;
          transition: color 0.1s linear 0s,
            background-color 0.1s linear 0s,
            opacity 0.1s linear 0s;
        }

        &:hover {
          color: lighten(@header-color, 50%);

          & > i {
            color: lighten(@header-color, 50%) !important;
          }
        }
      }

      .h-seperate {
        border-color: transparent;
        top: 4px;
      }

      .link {
        cursor: pointer;
        font-size: 13px;
        display: inline-block;
        padding-top: 4px;

        .title {
          transition: color 0.1s linear 0s,
            background-color 0.1s linear 0s,
            opacity 0.1s linear 0s;
        }
      }
    }
  }

  .user-info {
    .link  {
      padding-right: 12px;

      & > .title {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px;
      }

      & > .profile-pic {
        border-radius: 100%;
        float: left;
        height: 25px;
        margin-left: 10px;
        margin-top: -3px;
        overflow: hidden;
        width: 25px;
      }

      & > i {
        float: left;
        margin-right: 0 !important;
        margin-top: 4px !important;
        margin-left: 10px !important;
      }
    }
  }
}


.header-static-logo {
  display: none;
  position: absolute;
  width: 240px;
  left: 50%;
  margin-left: -120px;
}

.layout-collapse{
  padding: 7px;
  display: none;
}

.layout-collapse-toggle,
.layout-collapse-toggle:hover,
.layout-collapse-toggle:focus,
.layout-collapse-toggle:active {
  background: #1b1e24;
  color: @header-color;
  border-radius: 0;
}

.notification-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-radius: 3px;
    display: block;
    padding: 8px 10px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      font-weight: bold;
    }

    p {
      font-size: 85%;
      font-style: italic;
      margin: 0;
    }
  }

  .notification-error {
    background-color: fade(@error-color, 25%);
  }

  .notification-success {
    background-color: fade(@success-color, 25%);
  }

  .notification-warning {
    background-color: fade(@warning-color, 25%);
  }
}

.quick-items {
  .quick-items-row {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .quick-item {
    float: left;
    height: 80px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    width: 80px;

    &:last-child {
      margin-right: 0;
    }

    a {
      border-radius: 4px;
      color: @header-color;
      display: block;
      padding-top: 15px;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: fade(@info-color, 10%);
      }
    }

    i {
      color: @header-color;
      display: block !important;
      font-size: 24px !important;
    }

    .title {
      bottom: 10px;
      left: 0;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80px;
    }
  }
}

.header .header-seperation .notifcation-center {
  margin-top:8px;
  margin-right:8px !important;
}

@media (max-width: 767px) {
  .header {
    width: 100%;
  }

  .header-logo {
    display: none;
  }

  .header-static-logo {
    display: block;
  }

  .layout-collapse {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .server-sidebar .header .header-seperation  {
    width: 50px;
  }

  .server-sidebar .header .header-seperation .first-char {
    font-size: 36px;
  }

  .server-sidebar .header .header-seperation .title-token {
    width: 0;
  }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
  .header-seperation {
    width: 210px !important;
    text-align: left;
  }

  .collapsed .header .header-seperation  {
    width: 50px !important;
  }
}
