.header {
  height: @header-height;
  min-height: @header-height;

  .chat-toggler {
    min-width: 0;
    top: 4px;

    i {
      color: @header-color;
      margin-top: 6px;
    }

    .profile-pic {
      height: 25px;
      width: 25px;
      margin-right: 4px;
    }
  }

  .header-seperation  {
    background-color: @header-background;
    display: block !important;
    height: @header-height;
    min-height: @header-height;
    overflow: hidden;
    transition: width .25s;
    width: @header-width;

    h1 {
      color: #fff;
      font-size: 18px;
      height: @header-height;
      line-height: @header-height;
      margin: 0;
      padding: 0px 14px;
    }
  }

  .header-quick-nav {
    background-color: @header-background;
    height: @header-height;
  }

  .quick-section {
    margin: 4px 0;

    li.quicklinks {
      a {
        color: @header-color;

        i {
          color: @header-color !important;
          margin-right: 4px;
          transition: color 0.1s linear 0s,
            background-color 0.1s linear 0s,
            opacity 0.1s linear 0s;
        }

        &:hover {
          color: lighten(@header-color, 50%);

          i {
            color: lighten(@header-color, 50%) !important;
          }
        }
      }

      .h-seperate {
        border-color: transparent;
        top: 4px;
      }
    }
  }

  .user-info {
    .title {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100px;
    }

    .profile-pic {
      border-radius: 100%;
      float: left;
      height: 25px;
      margin-left: 10px;
      margin-top: -3px;
      overflow: hidden;
      width: 25px;
    }

    i {
      float: left;
      margin-right: 0 !important;
      margin-top: 4px !important;
      margin-left: 10px !important;
    }
  }
}


.header-static-logo {
  display: none;
  position: absolute;
  width: 240px;
  left: 50%;
  margin-left: -120px;
}

.layout-collapse{
  padding: 7px;
  display: none;
}

.layout-collapse-toggle,
.layout-collapse-toggle:hover,
.layout-collapse-toggle:focus,
.layout-collapse-toggle:active,
.notifications .button {
  background: #1b1e24;
  color: @header-color;
  border-radius: 0;
}

.notification-center {
  /*display: none !important;*/
  display:block !important;
}

.header .header-seperation .notifcation-center {
  margin-top:8px;
  margin-right:8px !important;
}

@media (max-width: 767px) {
  .header {
    width: 100%;
  }

  .header-logo {
    display: none;
  }

  .header-static-logo {
    display: block;
  }

  .layout-collapse {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .server-sidebar .header .header-seperation  {
    width: 50px;
  }

  .server-sidebar .header .header-seperation .first-char {
    font-size: 36px;
  }

  .server-sidebar .header .header-seperation .title-token {
    width: 0;
  }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
  .header-seperation {
    width: 210px !important;
    text-align: left;
  }

  .collapsed .header .header-seperation  {
    width: 50px !important;
  }
}
