.item-author,
.item-category {
  width: 15%;
}

.item-title {
  width: 40%;
}

.item-created {
  width: 30%;
}

.item-views,
.item-votes {
  width: 10%;
}

@media (max-width: (@phone-width - 1px)) {
  .item-author,
  .item-category {
    width: 25%;
  }

  .item-title {
    width: 70%;
  }
}

@media (min-width: @phone-width) and (max-width: (@tablet-width - 1px)) {
  .item-author,
  .item-category {
    width: 25%;
  }

  .item-title {
    width: 55%;
  }

  .item-views,
  .item-votes {
    width: 15%;
  }
}
