.img-thumbnail.selected {
  background-color: @selected-color;
}

.item-author,
.item-category {
  width: 15%;
}

.item-title {
  width: 60%;
}

.item-views,
.item-votes {
  width: 10%;
}

@media (max-width: (@phone-width - 1px)) {
  .item-author,
  .item-category {
    width: 20%;
  }

  .item-title {
    width: 60%;
  }
}

@media (min-width: @phone-width) and (max-width: (@tablet-width - 1px)) {
  .item-author,
  .item-category {
    width: 20%;
  }

  .item-title {
    width: 50%;
  }

  .item-views,
  .item-votes {
    width: 15%;
  }
}
