.dynamic-image-placeholder {
  height: 100%;
  width: 100%;
}

.dynamic-image-wrapper,
.img-thumbnail {
  &:hover {
    .thumbnail-actions {
      opacity: 1;
    }
  }
}

.img-thumbnail-circle {
  border-radius: 100%;

  * {
    border-radius: 100%;
  }
}


.thumbnail-actions .remove-action i {
  color: #f35958;
}


.thumbnail-actions {
  background-color: rgba(255, 255, 255, 0.85);
  bottom: 4px;
  left:  4px;
  opacity: 0;
  padding: 0;
  position: absolute;
  right:  4px;
  text-align: center;
  transition: all .25s;
  z-index: 100;

  .thumbnail-action {
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    display: table-cell;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
    width: 1%;

  &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    i {
      color: #505458;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .remove-action {
    i {
      color: #f35958;
    }
  }
}

.thumbnail-actions-fixed {
  opacity: 1;
}

.thumbnail-hidden-action {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
}

.thumbnail-placeholder {
  height: 250px;
  position: relative;

  .img-thumbnail {
    display: block;
    height: 100%;
    width: 100%;

    .thumbnail-empty {
      background: #eee;
      cursor: pointer;
      height: 100%;
      padding-top: 100px;
      text-align: center;
      width: 100%;
    }
  }
}

.thumbnail-placeholder-small {
  height: 150px;
  margin: 0 auto;
  max-width: 100%;
  width: 150px;

  .img-thumbnail {
    .thumbnail-empty {
      padding-top: 50px;
    }
  }
}

.img-thumbnail-center {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.thumbnail-wrapper {
  position: relative;

  .confirm-dialog,
  .overlay {
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  .confirm-dialog {
    margin-top: -75px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    transition: all .25s;
    visibility: hidden;
    width: 100%;
    z-index: 120;

    &.open {
      opacity: 1;
      top: 50%;
      visibility: visible;
    }

    p {
      font-size: 16px;
      font-weight: 900;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .confirm-actions {
      .btn {
        font-weight: 900;
        margin: 0 15px;
        text-transform: uppercase;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .dynamic-image-wrapper .thumbnail-actions {
    opacity: 1;
  }
}

@media (min-width: 1200px) and (max-width: 1320px) {
  .dynamic-image-wrapper {
    .thumbnail-actions {
      .thumbnail-action {
        height: 32px;
        line-height: 2.6em;
        margin-right: auto;
        margin-left: auto;

        i {
          font-size: 1.5em;
        }
      }
    }
  }
}
