/* Estilos genéricos */
/* -- General styles ------------------------------ */

body {
	background: #fff;
	font-size: 11px;
}

body, td, th { font-family: Arial, Helvetica, sans-serif; }

a{
    outline:none;
}

.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

html[xmlns] .clearfix
{
	display: block;
}

* html .clearfix
{
	height: 1%;
}

.red {
	color: Red;
}

#minwidth { min-width: 960px; }

.clr { clear: both; overflow:hidden; height: 0; }

img { border: 0 none; }
a, img { padding: 0; margin: 0; }
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }


form { margin: 0; padding: 0; }

h1 { margin: 0; padding-bottom: 8px; color: #0B55C4; font-size: 20px; font-weight: bold; }
h2 {
	color:#464646;
	font-size:1.5em;
	vertical-align:bottom;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style:italic;
	font-weight:normal;
	margin:0;
	padding:14px 15px 3px 0;
	text-shadow:0 1px 0 #FFFFFF;
}
h3 { font-size: 13px; }


fieldset {
	margin-bottom: 10px;
	border: 1px #ccc solid;
	padding: 5px;
	text-align: left;
}

fieldset p {  margin: 10px 0px;  }

legend {
	color: #0B55C4;
	font-size: 12px;
	font-weight: bold;
}

input[type="text"],
textarea {  border: 1px solid silver; }

input.disabled { background-color: #F0F0F0; }

input.button  { cursor: pointer;   }
body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background:none;
	width:100%;
	margin:0;
	min-height:100%
}

html{
	background: url('../images/general/admin_background.jpg.png') bottom right no-repeat;
	min-height:100%
}

#content{
	margin-top: 50px;
	width:100%
}

a { color:#333333; }
a:hover { color:#000000; }

input[type='text'],
input[type='password'],
textarea {
	background:White;
    border: 1px solid #B5B8C8;
    color:#555;
    padding:5px;
    vertical-align:middle;
	border-radius:2px;
}
input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
	box-shadow: 0 1px 3px rgba(0,0,0, 0.2) inset;
	border-color:#3079ED;
}

fieldset {
	border:1px solid #637F63;
	padding: 2px;
}

legend {
	font-weight:bold;
}

label {
	padding: 1px 3px 1px 0px;
}

/* Evita que los formularios sean bloques ocupando espacio */
form {
	padding: 0px;
	margin: 0px;
	display: inline;
}

/* -------------------------------------------------------------
  Messages
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.error, .notice, .success {padding:15px;border:2px solid #ddd; margin:4px auto;}
.error ul, .notice ul, .success ul { margin:0; padding:0; }
.error p, .notice p, .success p { margin:0;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.error a, .notice a, .success a { text-decoration:underline !important; }
.error li, .notice li, .success li { list-style:none;}


/* -------------------------------------------------------------
  LISTINGS
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table {
	border-spacing:0;
}

table.adminheading {
    border: 1px solid #BFBFBF;
	margin:0 auto;
	/*margin-top:3px;*/
	background-color: #FFF;
	font-family:Georgia !important;
	width: 100%;
	text-align: left;
	height: 30px;
	width: 100%;
	padding-left: 5px;
	border: 1px solid #ccc;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	background: #eAeAeA; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eAeAeA', endColorstr='#D2D2D2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eAeAeA), to(#D2D2D2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eAeAeA,  #D2D2D2); /* for firefox 3.6+ */
	text-shadow:0 1px 0 #FFFFFF;
}
table.adminlist img, table.adminheading img { vertical-align:middle; }
table.adminlist {
	width:100%;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #bfbfbf;
	border-top:none;
    border-spacing: 0;
	color: #333;
}

table.adminlist th {
	margin: 0px;
	background-repeat: repeat;
	font-size: 11px;
	color: #000;
	padding: 1px;
	background: #dfdfdf; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dfdfdf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #dfdfdf); /* for firefox 3.6+ */
	padding:5px 3px;
	border-right:1px solid #ccc;
	text-shadow:0 1px 0 #FFFFFF;
}
table.adminlist th:last-child {
	border:none !important
}
table.adminlist img{
	vertical-align:middle;
	max-height:16px;
}
table.adminlist tr {
	cursor:pointer;
}
table.adminlist tr.row0 {
	background-color: #f5f5f5;
}
table.adminlist tr.row1 {
	background-color: #FFF;
}
table.adminlist tr.row2 {
	background-color: #FFF;
	border-bottom: 1px;
	text-align: right;
}
table.adminlist tr.row0:hover {
	background-color: #EEEEEE;
}
table.adminlist tr.row1:hover {
	background-color: #EEEEEE;
}

table.adminlist thead a:hover { text-decoration: none; }
table.adminlist thead th img { vertical-align: middle; }
table.adminlist tbody th { font-weight: bold; }
table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }
table.adminlist tbody tr td 	   { background: #fff;}
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }
table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,

table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.adminlist .pagination a { border:1px solid #ddd; padding:4px 6px; background:#fafafa;}
table.adminlist .pagination a:hover { background:#fff;}
table.adminlist tfoot tr td { padding:10px; }


.pagination div.limit {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

#thelist2 li { background: #ddedb6; margin:2px; padding: 4px; list-style-type: none;}
#thelist3 li { background: #d0d2a5; margin:2px; padding: 4px; list-style-type: none;}
#thelist2int li { background: #d6e3b6; margin:2px; padding: 4px; list-style-type: none;}
#thelist3int li { background: #c6c89d; margin:2px; padding: 4px; list-style-type: none;}


.gallery_list {
	list-style:none; margin:0 auto;
}
.gallery_list li {
	float: left; display:inline-block; margin:0 5px 5px 0;  background:#F0F0F0; border:1px solid #CBCBCB;
}
.gallery_list li img { cursor:pointer; border:0px; width:69px; height:69px; }
.gallery_list li{ display: inline !important;}

.gallery_list li div { display: table-cell !important; width:69px; height: 69px; margin:0; vertical-align: middle !important; text-align: center; float: none !important;}
.gallery_list li a.album { display: table-cell !important; width:69px; height:69px; vertical-align: middle !important; text-align: center; float: none !important;}


#main_image{margin:0 auto 6px auto;background:#FFF;}
#main_image img{margin-bottom:10px;}
.gal{position:relative;margin-top:2em;clear:both;}

div.wrapper-content {
	width:1100px;
	margin:0 auto;
	position:relative;
}


div.overlay {
	z-index:5;
	opacity:0.7;
	position: fixed;
	top: 20%;
	left: 20%;
	width: 1000px;
	height: 700px;
	margin-left: -140px;
	margin-top: -80px;
	background-color:#000000;
	clear:both;
}


a.go_home {
	background-image: url("../images/home_no.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.go_home:hover {
	text-decoration:none;
	background-image: url("../images/gohome.png");
	width: 16px;
	height: 16px;
}

a.no_home {
	background-image: url("../images/gohome.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.no_home:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}

a.no_suggest {
	background-image: url("../images/gosuggesthome.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.no_suggest:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}


a.favourite_on {
	background-image: url("../images/selected.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.favourite_on:hover {
	text-decoration:none;
	background-image: url("../images/no_selected.png");
	width: 20px;
	height: 20px;
}

a.favourite_off {
	background-image: url("../images/no_selected.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.favourite_off:hover {
	text-decoration:none;
	background-image: url("../images/selected.png");
	width: 20px;
	height: 20px;
}



a.publishing {
	background-image: url("../images/publish_g.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.publishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_r.png");
	width: 16px;
	height: 16px;
}


a.unpublishing {
	background-image: url("../images/publish_r.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.unpublishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_g.png");
	width: 16px;
	height: 16px;
}


#warnings-validation {
	/*text-transform:capitalize;*/
	/*font-size: 12px;*/
	margin:5px 0;
}

#warnings-validation a {
	font-weight: bold;
	font-size: 16px;
	color: #024678;
	text-decoration: underline;
}

/* Status scheduled news */
.scheduled_A td {
	background-color: #FFC !important;
}

.scheduled_V td {
	background-color: #DFD !important;
}

.scheduled_R td {
	background-color: #FDD !important;
}

.rot0 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	rotation: 0deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.rot90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rot180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	rotation: 180deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rot270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	height:40px !important;
	text-align:left !important;
	width:10px !important;
	color:#666 !important;
	font-size:.85em !important;
}

#user_activity {
	background:transparent url(../images/users_activity.png) top right no-repeat;
	cursor: pointer;
	text-align: right;
	padding:2px 20px 2px 2px ;
	float: left;
	margin:0 5px;
	color:#ccc;
}

#user_mailbox {
	text-align: right;
	float:right;
	padding:2px;
	margin:0 5px;
	color:#ccc;
}
#user_mailbox a {
	color:#CCCCCC;
	text-decoration:none;
}
#user_mailbox img {
	vertical-align:middle;
}

#user_box {
	color: #0B55C4;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin-right: 4px;
}

#user_live {
	float: left;
	border-right:  1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: inherit;

	width: 20px;
	padding: 2px 2px 2px 2px;
}

#user_live:hover {
	background-color: #FFF;
}


/* New css properties to print pending comments counter  */

.spch-bub-inside,
.spch-bub-outside {
    position: relative;
}
a.spch-bub-inside,
a.spch-bub-outside {
    color: #00F;
    text-decoration: none;
}
.spch-bub-inside em,
.spch-bub-outside em {
    font-style: normal;
}
.spch-bub-inside em {
    background: #980101;
    color: #FFF;
    padding: 0 0.4em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    position: relative;
}
.spch-bub-inside .point,
.spch-bub-outside .point {
    width: 0;
    height: 0;
    position: absolute;
    top: 1.1em;
    left: 0.4em;
    display: block;
    border-left: 0.45em solid #980101;
    border-bottom: 0.45em solid #FFF; /* IE fix */
    border-bottom: 0.45em solid rgba(0,0,0,0);
    overflow: hidden; /* IE fix */
}
.spch-bub-outside {
    padding-left: 2.0em;
}
.spch-bub-outside .bubble {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    height: 1.1em;
    width: 1.8em;
    background: #00F;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}
a.spch-bub-inside:hover,
a.spch-bub-outside:hover {
    color: #F00;
}
a.spch-bub-inside:hover em,
a.spch-bub-outside:hover .bubble  {
    cursor: pointer;
    background: #F00;
    color: #FF0;
}
a.spch-bub-inside:hover .point,
a.spch-bub-outside:hover .point {
    border-left: 0.5em solid #F00;
}
div.spch-bub-outside {
    height: 1.5em;
    width: 0;
}

div.ui-blocker {
    width:100%;
    height:100%;
    z-index:9999;
    position:fixed;
    top:0;
    left:0;
    background:#000;
    opacity:0.6;
}

div.ui-blocker-message {
    margin:0 auto;
    text-align:center;
    display:block;
    font-size:1.05em;
    z-index:99999;
    position:fixed;
    top: 50%;
    left: 0%;
    width: 100%;
    color:White;
    clear:both;
    font-family:Arial, Verdana;
    text-shadow: 0 0 5px #ccc;
}

div.ui-blocker-message img {
    clear:both;
    margin-bottom:10px;
}


div.action-bar {
    text-align:right;
	background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #D2D2D2;
    border-bottom-width:1px;
	border-top-width:0px;
    padding:5px 0;
    margin-bottom:20px;
	width:100%
}
div.action-bar .right{
	float:right;
	margin-right:5px
}


/* -------------------------------------------------------------
  Content from styles.css
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.panel {
	clear: both;
	display: none;
	border: 1px solid #CCC;
	width: 100%;
	margin-bottom: 10px;
}
.panel > * {
	margin: 1em;
}


.panel.active-tab-body {
	display: block;
}

.panel-ads {
	clear: both;
	display: none;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
.panel-ads.active-tab-body {
    display: block;
}
.panel.no-border {
	border:0 none !important;
}
#tabs {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border: 0 solid #fff;
}

#tabs li {
	float: left;
	margin-left: 0;
	padding-left: 0;
}

#tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 0px;
	margin-right: 6px;
	border: 1px solid #ccc;
	border-bottom:none;
	color:Black;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	background: #eAeAeA; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eAeAeA', endColorstr='#D2D2D2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eAeAeA), to(#D2D2D2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eAeAeA,  #D2D2D2); /* for firefox 3.6+ */
	text-shadow:0 1px 0 #FFFFFF;
	text-decoration:none !important;
}

#tabs a.active-tab {
	background: White !important;
	color:Black !important;
	border-bottom: 1px solid White;
    color: Black !important;
    margin-bottom: -1px;
}

/* BEGIN: .tabs added by vifito ******************** */
.tabs {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border: 0 solid #fff;
}

.tabs li {
	float: left;

	margin-left: 0;
	padding-left: 0;
}

.tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 0px;
	margin-right: 6px;
	background-color: #F2F2F2;
	text-decoration: none;
	color: #999999;
	border:1px solid #F2F2F2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-shadow: white 0px 0px 3px;
}

.tabs a.active-tab {
	/*background-color: #CCC;
	border-top: 2px solid #999;
	padding-top: 3px;
	color: #000;*/
}
/* END: .tabs added by vifito ********************** */

#tabs2 {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border: 0 solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#tabs2 li {
	float: left;

	margin-left: 0;
	padding-left: 0;
}

#tabs2 a {
	float: left;
	padding: 5px 8px;
	margin-left: 0px;
	margin-right: 6px;
	background-color: #F2F2F2;
	text-decoration: none;
	color: #999999;
	border:1px solid #F2F2F2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#tabs2 a.active-tab {
	background-color: #CCC;
	border-top: 2px solid #999;
	padding-top: 3px;
	color: #000;
}



/* BEGIN: .tabs2 added by vifito ********************** */
.tabs2 {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border: 0 solid #ccc;
}

.tabs2 a:hover{
	background:#ccc !important;
	color:Black !important;
}

.tabs2 li {
	float: left;

	margin-left: 0;
	padding-left: 0;
}

.tabs2 a {
	float: left;
	padding: 5px 8px;
	margin-left: 0px;
	margin-right: 6px;
	background-color: #e1e1e1;
	text-decoration: none;
	color: #666 !important;
	border:1px solid #e1e1e1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tabs2 a.active-tab {
        color:#000000;
        font-weight:bold;
        background-color:#BFD9BF;
/*	background-color: #CCC;
	padding-top: 3px;
	color: #000;*/
}
/* END: .tabs2 added by vifito ********************** */

input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required {
	border: 1px solid #FCC;
}
input.required[type="file"], textarea.required[type="file"] {
	border: none;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

fieldset {
	padding: 1em;
	margin-bottom: 0.5em;
}

label {
	font-weight: bold;
}
.form-row {
	clear: both;
	padding: 0.5em;
}

.field-label {

}

.field-widget {

}

:focus { -moz-outline-style: none; }



div.utilities-conf{
    padding:10px;
    background-color:#F5F5F5;
    border:1px solid #F5F5F5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


table.aa{
	background:#eFeFeF !important;
	border:1px solid #ccc;
}
table.aa tr {
	border:none  !important;
	background:none  !important;
	height:19px !important;

}
table.aa tr td {
	border:none !important;
	background:none !important;
	font-variant:small-caps;
	color:Gray;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}


/* -------------------------------------------------------------
  Content from general.css
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* -- various styles -- */
span.note {
	display: block;
	background: #ffd;
	padding: 5px;
	color: #666;
}

/** overlib **/

.ol-foreground {
	background-color: #ffe;
}

.ol-background {
	background-color: #6db03c;
}

.ol-textfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
}

.ol-captionfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
}
.ol-captionfont a {
	color: #0b5fc6;
	text-decoration: none;
}

.ol-closefont {}

/** toolbar **/

div.header {
	font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 48px;
	padding-left: 55px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

div.header span { color: #666; }

div.configuration {
	font-size: 14px; font-weight: bold; color: #0B55C4; line-height: 16px;
	padding-left: 30px;
	margin-left: 10px;
	background-image: url(../images/menu/icon-16-config.png);
	background-repeat: no-repeat;
}

div.toolbar { float: right; text-align: right; padding: 0; }

table.toolbar    			 { border-collapse: collapse; padding: 0; margin: 0;	 }
table.toolbar td 			 { padding: 1px 1px 1px 4px; text-align: center; color: #666; height: 48px; }
table.toolbar td.spacer  { width: 10px; }
table.toolbar td.divider { border-right: 1px solid #eee; width: 5px; }

table.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: block; }

table.toolbar a {
   display: block; float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
}

table.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}

/** for massmail component **/
td#mm_pane			{ width: 90%; }
input#mm_subject    { width: 200px; }
textarea#mm_message { width: 100%; }

/* pane-sliders  */
.pane-sliders .title {
	margin: 0;
	padding: 2px;
	color: #666;
	cursor: pointer;
}

.pane-sliders .panel   { border: 1px solid #ccc; margin-bottom: 3px;}

.pane-sliders .panel h3 { background: #f6f6f6; color: #666}

.pane-sliders .content { background: #f6f6f6; }

.pane-sliders .adminlist     { border: 0 none; }
.pane-sliders .adminlist td  { border: 0 none; }

.jpane-toggler  span     { background: transparent url(../images/j_arrow.png) 5px 50% no-repeat; padding-left: 20px;}
.jpane-toggler-down span { background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat; padding-left: 20px;}

.jpane-toggler-down {  border-bottom: 1px solid #ccc; }

/* tabs */

dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 3px;
	background: #f0f0f0;
	color: #666;
}

dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #F9F9F9;
	z-index: 100;
	color: #000;
}

div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}
/** cpanel settings **/

#cpanel div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

#cpanel div.icon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 97px;
	width: 108px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
}

#cpanel div.icon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	color: #0B55C4;
}

#cpanel img  { padding: 10px 0; margin: 0 auto; }
#cpanel span { display: block; text-align: center; }

/* standard form style table */
div.col { float: left; }
div.width-45 { width: 45%; }
div.width-55 { width: 55%; }
div.width-50 { width: 50%; }
div.width-70 { width: 70%; }
div.width-30 { width: 30%; }
div.width-60 { width: 60%; }
div.width-40 { width: 40%; }

table.admintable td 					 { padding: 3px; }
table.admintable td.key,
table.admintable td.paramlist_key {
	background-color: #f6f6f6;
	text-align: right;
	width: 140px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.paramlist td.paramlist_description {
	background-color: #f6f6f6;
	text-align: left;
	width: 170px;
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.admintable td.key.vtop { vertical-align: top; }

table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
table.adminform.nospace { margin-bottom: 0; }
tr.row0 { background-color: #f9f9f9; }
tr.row1 { background-color: #eeeeee; }
tr.row0 td,
tr.row1 td { background: none !important; }

table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
table.adminform td { padding: 3px; text-align: left; }

table.adminform td.filter{
	text-align: left;
}

table.adminform td.helpMenu{
	text-align: right;
}


fieldset.adminform { border: 1px solid #ccc; margin: 0 10px 10px 10px; }


/** stu nicholls solution for centering divs **/
.container {clear:both; text-decoration:none;}
* html .container {display:inline-block;}

/** table solution for global config **/
table.noshow   		 { width: 100%; border-collapse: collapse; padding: 0; margin: 0; }
table.noshow tr 		 { vertical-align: top; }
table.noshow td 		 { }
table.noshow fieldset { margin: 15px 7px 7px 7px; }

#editor-xtd-buttons { padding: 5px; }

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* Calendar */
a img.calendar {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	background: url(../images/calendar.png) no-repeat;
	cursor: pointer;
	vertical-align: middle;
}

/* System Standard Messages */
#system-message dd.message ul { background: #C3D2E5 url(../images/notice-info.png) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../images/notice-alert.png) 4px top no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../images/notice-note.png) 4px top no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}


/* MENÚ */
#topbar-admin{
	background: #464646;
	color:#ccc;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:999;
}
#topbar-admin *{
	font-size:12px !important;
}

#topbar-admin div.info-left {
	position:absolute;
	top:10px;
	right:10px;
}

#topbaradmin a, #topbaradmin{
	color:#ddd !important;
}
#logoonm{
	display:block;
	width:160px;
}
#logoonm a{
	color: White;
	font-family:Georgia;
}
#logoonm div{
	display:block;
	float:left;
}
#logoonm img{
	margin:5px;
	vertical-align:middle
}
#logoonm div.site-name{
	padding-top:10px;
}

#cuadromenu, #submenus{
	background-color:#464646 !important;
	color:#ddd;
}

#name-box, #session-actions, #session-actions a, #name-box a{
	color:#ccc;
}

#name-box a{
	text-decoration:underline;
}


/* -------------------------------------------------------------
  Content from modalbox.css
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position: relative;
	background-color: #EFEFEF;
	padding-bottom: 10px;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	padding: 6px .75em;
	overflow: auto;
}

#MB_caption {
	font: bold 100% "Lucida Grande", Arial, sans-serif;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em .5em .75em;
	margin: 0;
	text-align: left;
}

#MB_close {
	display: block;
	position: absolute;
	right: 5px; top: 4px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}
#MB_close:hover {
	background: transparent;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(spinner.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_frame {
	padding-bottom: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#MB_window {
	background-color: #EFEFEF;
	color: #000;
	-webkit-box-shadow: 0 8px 64px #000;
	-moz-box-shadow: 0 0 64px #000;
	box-shadow: 0 0 64px #000;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#MB_content { border-top: 1px solid #F9F9F9; }
#MB_header {
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}
#MB_caption { color: #000 }
#MB_close { color: #777 }
#MB_close:hover { color: #000 }


/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}

table.adminform {
    background-color:#F9F9F9;
    border:1px solid #D5D5D5;
    border-collapse:collapse;
    margin:8px 0 15px;
    width:100%;
}
table.adminform td {
text-align:left;
}
body, td, th {
font-family:Arial,Helvetica,sans-serif;
}

/* RSS boxes */
div.rssBox {
	background-color: #FFF;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	margin: 0.5em 0.2em;
}

div.rssBox h2 {
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;

	padding: 0 1em;
}

div.rssBox div {
	padding: 4px;
	margin: 0;
	margin-bottom: 2px;

	height: 280px;
	overflow: auto;
}

div.rssBox div#gmailBox {

}

div.rssBox div ul {
	list-style: none;

	padding: 0;
	margin: 0;
}

div.rssBox div li {
	list-style: none;

	padding: 0;

	margin: 0.5em 0 0.5em 1em;
}

div.rssBox a.title {
	font-size: 1.0em;
	font-weight: bold;
	color: #036;
}

div.rssBox span.author {
	font-size: 1.0em;
	font-weight: normal;
	color: #963;
}

div.rssBox span.pubDate {
	font-size: 1.0em;
	font-weight: normal;
	color: #999;
}

div.rssBox span.category {
	font-size: 1.1em;
	font-weight: normal;
	color: #000;
}

.clearer {
	clear: both;
}
.gf-title { font-size:12px !important; font-weight:bold;}

/* -------------------------------------------------------------
  New top action bar
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.top-action-bar {
	background: none repeat scroll 0 0 #F1F1F1;
    border: none;
    border-bottom: 1px solid #D2D2D2;
    clear: both;
    position: relative;
    width: 100%;
	margin:0;
	margin-top:-13px;
	margin-bottom:5px;
}
.top-action-bar .title {
	padding:0;
	margin:0;
}
.top-action-bar .title > * {
	display:inline-block;
	padding:10px 0;
}
.top-action-bar .title img {
	margin-left:10px;
}
.top-action-bar .title h2 {
	margin:0;
	padding:0;
	padding:22px 0;
	font-size:1.6em;
}

.top-action-bar .buttons {
	position:absolute;
	right:0;
	bottom:15px;
}

.top-action-bar .buttons .button:first-child {
	margin-right:-4px;
	border-radius:2px 0 0 2px;
}
.top-action-bar .buttons .button:last-child {
	margin-left:-4px;
	border-radius:0px 2px 2px 0;
}


.top-action-bar .buttons .button:hover:active {
	background: #F8F8F8; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F1F1F1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#F1F1F1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F8F8F8,  #F1F1F1); /* for firefox 3.6+ */
    border-color: #3366CC;
    box-shadow: 0 1px 5px #CCCCCC inset;
    z-index: 2;
}

.top-action-bar .buttons .button:hover,
.top-action-bar .buttons .button.active{
	background: #F5F5F5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F1F1F1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F5F5F5,  #F1F1F1); /* for firefox 3.6+ */
    box-shadow: 0 1px 5px #CCCCCC inset;
    border-color: #C0C0C0;
}

.top-action-bar .buttons .button {
	background: #F5F5F5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F1F1F1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F5F5F5,  #F1F1F1); /* for firefox 3.6+ */
    border: 1px solid #D9D9D9;
	border-radius:2px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    color: #3366CC;
    outline: medium none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.buttons .button span.icon {
    height: 18px;
    width: 18px;
	display:block;
	margin:0 auto;
	margin-top:8px;
}

.buttons .button span.icon.home {
	background: url("https://ssl.gstatic.com/s2/oz/images/sprites/common-full-2fd6df831c52ccf15a88279322948103.png") no-repeat scroll 0 -137px transparent;
}

/* -------------------------------------------------------------
  Buttons
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.awesome, .awesome:visited {
	background: #222 url(../images/button-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }

.action-buttons { margin:0; width:100; padding:0;}
.action-buttons li {
	display:inline-block;
	list-style:none;
}





/* -------------------------------------------------------------
  Main admin menu
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Root = Horizontal, Secondary = Vertical */
ul#menu {
  margin: 0;
  margin-top:7px;
  padding: 0;
/*  width: 500px;*/ /*For KHTML*/
  list-style: none;
  margin-left:20px
}

ul#menu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 22px;
}
ul#menu li{
	padding-bottom:3px;
}
ul#menu li:hover{
}

ul#menu  ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 25px;
  left: 0px;
  background:#464646;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #464646;
  padding-top:2px;

}

ul#menu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#menu ul li {
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
ul#menu a {
  padding: 5px 15px 5px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  color: #CCCCCC;
  text-decoration: none;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

ul#menu > li > a {
	padding: 5px 25px 5px;
}
ul#menu ul > li > a {
	min-width: 180px;
	width:180px;
	display:block;
}


/* Root Menu Hover Persistence */
ul#menu a:hover,
ul#menu li:hover a,
ul#menu li.iehover a {
color: White;

}

/* 2nd Menu */
ul#menu li:hover li a,
ul#menu li.iehover li a {
  float: none;
  border:none;
}

/* 2nd Menu Hover Persistence */
ul#menu li:hover li a:hover,
ul#menu li:hover li:hover a,
ul#menu li.iehover li a:hover,
ul#menu li.iehover li.iehover a {
	background:#555555;
}

/* 3rd Menu */
ul#menu li:hover li:hover li a,
ul#menu li.iehover li.iehover li a {
  background: #555555;;
}

/* 3rd Menu Hover Persistence */

ul#menu li:hover li:hover li a:hover,
ul#menu li:hover li:hover li:hover a,
ul#menu li.iehover li.iehover li a:hover,
ul#menu li.iehover li.iehover li.iehover a {
	background:#555555;
}

/* 4th Menu */
ul#menu li:hover li:hover li:hover li a,
ul#menu li.iehover li.iehover li.iehover li a {
	background:#555555;
}

/* 4th Menu Hover */
ul#menu li:hover li:hover li:hover li a:hover,
ul#menu li.iehover li.iehover li.iehover li a:hover {
	background:#555555;
}

ul#menu ul ul,
ul#menu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.iehover ul ul,
ul#menu li.iehover ul ul ul {
  display: none;
}

ul#menu li:hover ul,
ul#menu ul li:hover ul,
ul#menu ul ul li:hover ul,
ul#menu li.iehover ul,
ul#menu ul li.iehover ul,
ul#menu ul ul li.iehover ul {
  display: block;
}
ul#menu .selected{
	color: #003300;
}

ul#menu hr{
	border: 1px solid #DDDDDD;
    height: 0px !important;
    width: 100%;
	margin:4px;
}

/* -------------------------------------------------------------
  Botonera old definitions: This should be deleted
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#menu-acciones-admin {
	margin: 0px;
	background-color: #ddd;
    height:65px;
	border:1px solid #ccc;
	border-radius: 3px;
	width:100%;
	padding:4px 0;
}

#menu-acciones-admin ul,
.old-button {
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom:0px;
	margin-top: 0px;
	padding: 0px;
}

#menu-acciones-admin ul li ,
.old-button li {
	padding-left: 0px;
	padding-right: 0px;
	float: right;
	text-align: center;
	white-space: nowrap;
}

#menu-acciones-admin ul li a,
.old-button li a{
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	font-weight: bold;
	color:#464646;
	background: transparent;
	width: auto;
	border:1px solid transparent;
	padding:4px;

}
#menu-acciones-admin ul li a img {
	height:40px !important;
}
.old-button li a img {
	height:35px !important;
}

#menu-acciones-admin ul li button img,
.old-button li button img{
	height:50px !important;

}

#menu-acciones-admin ul li a:hover,
.old-button li a:hover{
    cursor: pointer;
    background: #d0d0d0;
	border-radius:5px;
}

div#menu-acciones-admin li.separator,
.old-button li.separator{
	background-image:url(../images/separator.gif);
	background-position:center bottom;
	background-repeat:no-repeat;
	border:0 none;
    height:50px;
    margin:0 8px;
    width:4px;
}

.old-button {
	position:absolute;
	right:0;
	bottom:3px;
}
.old-button img{
	height:35px !important;
}

/* -------------------------------------------------------------
  Help blocks
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.help-block {
	background:White;
	border:1px solid #bfbfbf;
	position:relative;
	width:100%;
}
	.help-block .title {
		position:absolute;
		background: #bfbfbf url(../images/backgrounds/back-help.png) bottom right no-repeat;
		top:0px;
		left:0px;
		display:block;
		width:100%
	}
		.help-block .title h4 {
			margin:7px 10px;
			padding:0 !important;
			margin-bottom:20px;
			color:#444;
			text-transform:uppercase;
			font-size:13px;
			background:url(../images/backgrounds/bullet-help.png) bottom right no-repeat;
			margin-right:24px;
		}
	.help-block .content {
		margin-top:40px;
		padding:15px;
		color:#333;
		font-size:1.02em;
	}

	.margin-right-1 {
		margin-right:1em;
	}

	.margin-left-1 {
		margin-left:1em;
	}
