/* ==|== primary styles =====================================================
   Author: OpenHost S.L.
   ========================================================================== */

html {
	background: url('../images/general/admin_background.jpg.png') bottom right no-repeat;
	min-height:100%;
	overflow-y: scroll;
}

body {
	font-family:Arial,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background:none;
	width:100%;
	margin:0;
	min-height:100%;
	background: #fff;
	font-size: 12px !important;
	margin-top: 24px;
}

img { border: 0 none; }
a { color:#333333; }
a:hover { color:#000000; }
a, img { padding: 0; margin: 0; outline:none; }
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }

dd {
	margin-bottom:10px;
}

::-moz-selection { background: #357AE8; color: #fff; text-shadow: none; }
::selection { background: #357AE8; color: #fff; text-shadow: none; }

form { margin: 0; padding: 0; }

h1 { margin: 0; padding-bottom: 8px; color: #0B55C4; font-size: 20px; font-weight: bold; }
h2 {
	color:#464646;
	font-size:1.5em;
	vertical-align:bottom;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style:italic;
	font-weight:normal;
	margin:0;
	padding:14px 15px 3px 0;
	text-shadow:0 1px 0 #FFFFFF;
}
h3 { font-size: 13px; }

legend {
	color: #0B55C4;
	font-size: 12px;
	font-weight: bold;
}

select { background:White; }

button,input,select,textarea{margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
form .input{margin-left:150px;}
input[type=checkbox],input[type=radio]{cursor:pointer;}
input,textarea,select,.uneditable-input{display:inline-block;height:18px;padding:4px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
select{padding:initial;}
input[type=checkbox],input[type=radio]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;border:none;}
input[type=file]{background-color:#ffffff;padding:initial;border:initial;line-height:initial;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
input[type=button],input[type=reset],input[type=submit]{width:auto;height:auto;}
select,input[type=file]{height:30px;*height:auto;line-height:27px;*margin-top:4px;}
select[multiple]{height:inherit;background-color:#ffffff;}
textarea{height:auto;}
.uneditable-input{background-color:#ffffff;display:block;border-color:#eee;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);cursor:not-allowed;}
:-moz-placeholder{color:#bfbfbf;}
::-webkit-input-placeholder{color:#bfbfbf;}
input,textarea{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
input:focus,textarea:focus{outline:0;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:1px dotted #666;}

input[type="text"],
input[type="file"],
textarea {  border: 1px solid silver; }
input[type="checkbox"] {
	vertical-align:middle;
}

input.disabled { background-color: #F0F0F0; }
input.button  { cursor: pointer;   }
#content{margin-top: 52px;width:100%}

input[readonly="readonly"] {
    background:#eee !important;
}
input[type='text'],
input[type='file'],
input[type='password'],
textarea {
	background:White;
    border: 1px solid #B5B8C8;
    color:#555;
    padding:5px;
    vertical-align:middle;
	border-radius:2px;
}
input[type='text']:focus,
input[type='file']:focus,
input[type='password']:focus,
textarea:focus,select:fofus {
	box-shadow: 0 1px 3px rgba(0,0,0, 0.2) inset;
	border-color:#3079ED;
}

label {padding: 1px 3px 1px 0px;}

.wrapper-content {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    width: 100%;
}

/* Evita que los formularios sean bloques ocupando espacio */
form {padding: 0px;margin: 0px;}
table.aa tr td {
	border: none !important;
	background: none !important;
	font-variant: small-caps;
	color: gray;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

table.aa tr {
	border: none !important;
	background: none !important;
	height: 19px !important;
}

table.aa {
	background: #EFEFEF !important;
	border: 1px solid #CCC;
}

.clearfix:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix{display: block;}
* html .clearfix{height: 1%;}
/* -------------------------------------------------------------
  LISTINGS
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table {border-spacing:0;}

table.adminheading {
	margin:0 auto;
	/*margin-top:3px;*/
	background-color: #FFF;
	width: 100%;
	text-align: left;
	height: 30px;
	width: 100%;
	padding: 5px;
	border-top:1px solid #d9d9d9;
	background: #f1f1f1; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#d9d9d9'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#d9d9d9)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f1f1f1, #d9d9d9); /* for firefox 3.6+ */
	text-shadow:0 1px 0 #FFFFFF;
}
table.adminheading input,
table.adminheading input:hover {
	border:1px solid silver !important;
	border-radius:3px;
	box-shadow:none !important;
	background:White;
	padding:3px;
}

table.adminheading input[type='text']:focus,
table.adminheading input[type='password']:focus,
table.adminheading textarea:focus {
	box-shadow: 0 1px 3px rgba(0,0,0, 0.2) inset;
	border-color:#3079ED;
}
table.adminlist img, table.adminheading img { vertical-align:middle; }
table.adminlist,
table.adminform {
	width:100%;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #bfbfbf;
	border-top:none;
    border-spacing: 0;
	color: #333;
}
table.adminform {
	border-top:1px solid #bfbfbf
}

table.adminlist thead th {
	margin: 0px;
	background-repeat: repeat;
	font-size: 11px;
	color: #000;
	padding: 1px;
	background: #e1e2e1; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e1e2e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e1e2e1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #e1e2e1); /* for firefox 3.6+ */
	padding:4px 4px;
	border:1px solid #ccc;
	border-left-width:0px;
	text-shadow:0 1px 0 #FFFFFF;
}
table.adminlist thead th:hover {
	background: #d1d2d1; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d1d2d1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d1d2d1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #d1d2d1); /* for firefox 3.6+ */
}
table.adminlist thead tr {
	border-bottom:1px solid #ccc !important;
}
table.adminlist thead th:last-child {
	border-right:none !important
}
table.adminlist thead img {
	max-height:12px;
}
table.adminlist img{
	vertical-align:middle;
}
table.adminlist tr.row0,
table.adminlist tr:nth-child(even) {
	background-color: #f3f3f3;
}
table.adminlist tr.row1,
table.adminlist tr:nth-child(odd) {
	background-color: #fff;
}
table.adminlist tr.row2 {
	background-color: #FFF;
	border-bottom: 1px;
	text-align: right;
}
table.adminlist tr:hover {
	background-color: #EEEEEE;
}
table.adminlist thead a:hover { text-decoration: none; }
table.adminlist thead th img { vertical-align: middle; }
table.adminlist tbody th { font-weight: bold; }
table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.adminlist tbody tr td 	   { background:transparent;}
table.adminlist tfoot tr, table.adminform tfoot tr { text-align: center;  color: #333; }

.pagination a { border:1px solid #ddd; padding:4px 6px; background:#fafafa;}
.pagination a:hover { background:#fff;}

table.adminlist tfoot tr td,
table.adminform tfoot tr td{
	background:#F1F1F1;
	border-top:1px solid #D2D2D2;
	padding:10px;
	text-align: center; white-space: nowrap;
}

.pagination div.limit {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

#thelist2 li { background: #ddedb6; margin:2px; padding: 4px; list-style-type: none;}
#thelist3 li { background: #d0d2a5; margin:2px; padding: 4px; list-style-type: none;}
#thelist2int li { background: #d6e3b6; margin:2px; padding: 4px; list-style-type: none;}
#thelist3int li { background: #c6c89d; margin:2px; padding: 4px; list-style-type: none;}


.gallery_list {
	list-style:none; margin:0 auto;
}
.gallery_list li {
	float: left; display:inline-block; margin:2px;  background:#F0F0F0; border:1px solid #CBCBCB;
	padding:2px;
	width:70px; height:70px;
	overflow:hidden !important;
}
.gallery_list li img { cursor:pointer; border:0px; width:100% }
.gallery_list li{ display: inline !important;  max-height:67px;}

.gallery_list li div { display: table-cell !important; width:67px; height: 67px; margin:0; vertical-align: middle !important; text-align: center; float: none !important;}
.gallery_list li a.album { display: table-cell !important; width:67px; height:67px; vertical-align: middle !important; text-align: center; float: none !important;}


#main_image{margin:0 auto 6px auto;background:#FFF;}
#main_image img{margin-bottom:10px;}
.gal{position:relative;margin-top:2em;clear:both;}


div.overlay {
	z-index:5;
	opacity:0.7;
	position: fixed;
	top: 20%;
	left: 20%;
	width: 1000px;
	height: 700px;
	margin-left: -140px;
	margin-top: -80px;
	background-color:#000000;
	clear:both;
}


a.go_home {
	background-image: url("../images/home_no.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.go_home:hover {
	text-decoration:none;
	background-image: url("../images/gohome.png");
	width: 16px;
	height: 16px;
}

a.no_home {
	background-image: url("../images/gohome.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.no_home:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}

a.no_suggest {
	background-image: url("../images/gosuggesthome.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.no_suggest:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}


a.favourite_on {
	background-image: url("../images/selected.png");
	display: block;
	width: 17px;
	height: 17px;
    display:inline-block;
    text-indent:-9999px;
}

a.favourite_on:hover {
	text-decoration:none;
	background-image: url("../images/no_selected.png");
	width: 17px;
	height: 17px;
}

a.favourite_off {
	background-image: url("../images/no_selected.png");
    display:inline-block;
	width: 17px;
	height: 17px;
}

a.favourite_off:hover {
	text-decoration:none;
	background-image: url("../images/selected.png");
	width: 17px;
	height: 17px;
}

a.publishing {
	background-image: url("../images/publish_g.png");
	display: inline-block;
	width: 16px;
	height: 16px;
}

a.publishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_r.png");
	width: 16px;
	height: 16px;
}


a.unpublishing {
	background-image: url("../images/publish_r.png");
	display: inline-block;
	width: 16px;
	height: 16px;
}

a.unpublishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_g.png");
	width: 16px;
	height: 16px;
}


#warnings-validation {
	margin:5px 0;
}

#warnings-validation a {
	font-weight: bold;
	color: #024678;
	text-decoration: underline;
}

/* Status scheduled news */
.scheduled_A td {
	background-color: #FFC !important;
}

.scheduled_V td {
	background-color: #DFD !important;
}

.scheduled_R td {
	background-color: #FDD !important;
}


/* -------------------------------------------------------------
  Content from styles.css
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.panel {
	clear: both;
	display: none;
	border: 1px solid #CCC;
	width: 100%;
	margin-bottom: 10px;
}
.panel > * {
	margin: 1em;
}

.panel .listing-table {
	margin: 0;
}

.panel.active-tab-body {
	display: block;
}

.panel-ads {
	clear: both;
	display: none;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
.panel-ads.active-tab-body {
    display: block;
}
.panel.no-border {
	border:0 none !important;
}
#tabs {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border: 0 solid #fff;
}

#tabs li {
	float: left;
	margin-left: 0;
	padding-left: 0;
}

#tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 0px;
	margin-right: 6px;
	border: 1px solid #ccc;
	border-bottom:none;
	color:Black;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	background: #eAeAeA; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eAeAeA', endColorstr='#D2D2D2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eAeAeA), to(#D2D2D2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eAeAeA,  #D2D2D2); /* for firefox 3.6+ */
	text-shadow:0 1px 0 #FFFFFF;
	text-decoration:none !important;
}

#tabs a.active-tab {
	background: White !important;
	color:Black !important;
	border-bottom: 1px solid White;
    color: Black !important;
    margin-bottom: -1px;
}

#tabs2 {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border: 0 solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#tabs2 li {
	float: left;

	margin-left: 0;
	padding-left: 0;
}

#tabs2 a {
	float: left;
	padding: 5px 8px;
	margin-left: 0px;
	margin-right: 6px;
	background-color: #F2F2F2;
	text-decoration: none;
	color: #999999;
	border:1px solid #F2F2F2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#tabs2 a.active-tab {
	background-color: #CCC;
	border-top: 2px solid #999;
	padding-top: 3px;
	color: #000;
}

input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required, select.required {
	border: 1px solid #FCC;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}



label {
	font-weight: bold;
}
:focus { -moz-outline-style: none; }


div.utilities-conf{
    vertical-align:middle;
}
div.utilities-color td *{
    vertical-align:middle !important;
}
div.utilities-conf h3 {
    color: #666666;
    display: block;
    text-transform: uppercase;
    text-align:center;
}
div.utilities-conf input[type="text"]{
    background:none;
    width:auto;
    max-width:24px;
    border:0 none;
    height:11px;
    box-shadow: none;
    display:inline !important;
}

table.aa{
	background:#eFeFeF !important;
	border:1px solid #ccc;
}
table.aa tr {
	border:none  !important;
	background:none  !important;
	height:19px !important;

}
table.aa tr td {
	border:none !important;
	background:none !important;
	font-variant:small-caps;
	color:Gray;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}


/* -------------------------------------------------------------
  Content from modalbox.css
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position: relative;
	background-color: #EFEFEF;
	padding-bottom: 10px;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	padding: 6px .75em;
	overflow: auto;
}

#MB_caption {
	font: bold 100% "Lucida Grande", Arial, sans-serif;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em .5em .75em;
	margin: 0;
	text-align: left;
}

#MB_close {
	display: block;
	position: absolute;
	right: 5px; top: 4px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}
#MB_close:hover {
	background: transparent;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(../images/spinner.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_frame {
	padding-bottom: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#MB_window {
	background-color: #EFEFEF;
	color: #000;
	-webkit-box-shadow: 0 8px 64px #000;
	-moz-box-shadow: 0 0 64px #000;
	box-shadow: 0 0 64px #000;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#MB_content { border-top: 1px solid #F9F9F9; }
#MB_header {
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}
#MB_caption { color: #000 }
#MB_close { color: #777 }
#MB_close:hover { color: #000 }


/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}

.clearer {
	clear: both;
}
.gf-title { font-size:12px !important; font-weight:bold;}


/* -------------------------------------------------------------
  Cleaned styles
  From here to the end of the file all the styles were reviewed
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

fieldset {
    border:none;
    border-top:1px solid #ccc;
}
legend {
    color:#666;
    text-transform:uppercase;
    font-size:13px;
    padding:0 10px;
}

 /* -------------------------------------------------------------
  Messages
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.error, .notice, .success {padding:15px;border:2px solid #ddd; margin:4px auto;}
.error ul, .notice ul, .success ul { margin:0; padding:0; }
.error p, .notice p, .success p { margin:0;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.error a, .notice a, .success a { text-decoration:underline !important; }
.error li, .notice li, .success li { margin-left:20px;}

/* -------------------------------------------------------------
  Top Bar admin definitions
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#topbar-admin{
	background: #464646;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: visible;
	z-index:99;
	max-height:38px;

	background: #222;
    background-color: #222222;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(#333333, #222222);
    background-image: -ms-linear-gradient(#333333, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(#333333, #222222);
    background-image: -o-linear-gradient(#333333, #222222);
    background-image: linear-gradient(#333333, #222222);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

	#topbar-admin div.info-left {
		position:absolute;
		top:0px;
		right:10px;
		height:100%
	}

	#topbar-admin a, #topbar-admin{
		color:#ddd;
	}
	#topbar-admin #logoonm {
		display:block;
		width:140px;
		float:left;
	}
		#topbar-admin #logoonm a{
			color: White;
		}
		#topbar-admin #logoonm div{
			display:block;
			float:left;
		}
		#topbar-admin #logoonm img{
			margin:5px;
			vertical-align:middle
		}
		#topbar-admin #logoonm div.site-name{
			padding-top:10px;
		}

#topbar-admin .avatar {
    border:1px solid #DDDDDD;
    padding:1px;
    width:14px;
    margin-bottom:-1px;
    margin-right:2px;
}

#cuadromenu, #submenus{
	background-color:#464646 !important;
	color:#ddd;
}

#name-box, #session-actions, #session-actions a, #name-box a{
	color:#ccc;
}

#name-box a{
	text-decoration:underline;
}

#topbar-admin.manager {
    background: #049CDB !important;
    background-color: #049CDB !important;
    background-repeat: repeat-x !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD)) !important;
    background-image: -moz-linear-gradient(#049CDB, #0064CD) !important;
    background-image: -ms-linear-gradient(#049CDB, #0064CD) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD)) !important;
    background-image: -webkit-linear-gradient(#049CDB, #0064CD) !important;
    background-image: -o-linear-gradient(#049CDB, #0064CD) !important;
    background-image: linear-gradient(#049CDB, #0064CD) !important;
}
#topbar-admin.manager a {
	color:White;
}

#topbar-admin form.pull-right {
    float: right;
}

#topbar-admin input{background-color:#444;background-color:rgba(255, 255, 255, 0.3);font-weight:13px;line-height:1;padding:4px 9px;color:#ffffff;color:rgba(255, 255, 255, 0.75);border:1px solid #111;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}.topbar input:-moz-placeholder{color:#e6e6e6;}
#topbar-admin input::-webkit-input-placeholder{color:#e6e6e6;}
#topbar-admin input:hover{background-color:#bfbfbf;background-color:rgba(255, 255, 255, 0.5);color:#ffffff;}
#topbar-admin input:focus,.topbar input.focused{outline:0;background-color:#ffffff;color:#404040;text-shadow:0 1px 0 #ffffff;border: 1px solid #111111;padding:4px 9px;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);}


#topbar-admin, #topbar-admin .fill {
    background-color: #222222;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

/* -------------------------------------------------------------
  New top action bar
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.top-action-bar {
	background: none repeat scroll 0 0 #F1F1F1;
    border: none;
    border-bottom: 1px solid #D2D2D2;
    clear: both;
    position: relative;
    width: 100%;
	margin:0;
	margin-top:-13px;
	margin-bottom:5px;
}
	.top-action-bar .title {
		padding:0;
		margin:0;
	}
		.top-action-bar .title > * {
			display:inline-block;
			padding:10px 0;
		}
		.top-action-bar .title img {
			margin-left:10px;
		}
		.top-action-bar .title h2 {
			margin:0;
			padding:0;
			padding:22px 0;
			font-size:1.6em;
		}

	.top-action-bar .buttons {
		position:absolute;
		right:0;
		bottom:15px;
	}

		.top-action-bar .buttons .button:first-child {
			margin-right:-4px;
			border-radius:2px 0 0 2px;
		}
		.top-action-bar .buttons .button:last-child {
			margin-left:-4px;
			border-radius:0px 2px 2px 0;
		}


		.top-action-bar .buttons .button:hover:active {
			background: #F8F8F8; /* for non-css3 browsers */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F1F1F1'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#F1F1F1)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #F8F8F8,  #F1F1F1); /* for firefox 3.6+ */
			border-color: #3366CC;
			box-shadow: 0 1px 5px #CCCCCC inset;
			z-index: 2;
		}

		.top-action-bar .buttons .button:hover,
		.top-action-bar .buttons .button.active{
			background: #F5F5F5; /* for non-css3 browsers */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F1F1F1'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #F5F5F5,  #F1F1F1); /* for firefox 3.6+ */
			box-shadow: 0 1px 5px #CCCCCC inset;
			border-color: #C0C0C0;
		}

		.top-action-bar .buttons .button {
			background: #F5F5F5; /* for non-css3 browsers */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F1F1F1'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #F5F5F5,  #F1F1F1); /* for firefox 3.6+ */
			border: 1px solid #D9D9D9;
			border-radius:2px;
			height: 35px;
			text-align: center;
			vertical-align: middle;
			width: 50px;
			color: #3366CC;
			outline: medium none;
			text-decoration: none;
			display: inline-block;
			position: relative;
			cursor: pointer;
		}

		.buttons .button span.icon {
			height: 18px;
			width: 18px;
			display:block;
			margin:0 auto;
			margin-top:8px;
		}

		.buttons .button span.icon.home {
			background: url("https://ssl.gstatic.com/s2/oz/images/sprites/common-full-2fd6df831c52ccf15a88279322948103.png") no-repeat scroll 0 -137px transparent;
		}

/* -------------------------------------------------------------
  Buttons
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.action-buttons { margin:0; width:100; padding:0;}
.action-buttons li {
	display:inline-block;
	list-style:none;
}

.action-buttons img {
	max-height:16px;
}





/* -------------------------------------------------------------
  Main admin menu
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Root = Horizontal, Secondary = Vertical */
ul#menu { margin: 0; padding: 0; font-size: 12px; list-style: none; display:inline-block; }

/* Global menu properties*/
ul#menu ul {
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 36px;
	left: 0px;
	background-color: #333;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
	ul#menu li { display: block; }
		ul#menu ul li a { min-width:150px; display:block; float:none}
		ul#menu a:hover { color: White; }
			ul#menu li li { position:relative; }
	ul#menu li.divider { padding:0; height:1px; }

/* Root menu */
ul#menu > li { margin: 0; padding: 0; border: 0 none; display: inline-block; list-style: none; position: relative; }
	ul#menu > li > a { padding: 12px 14px 10px 14px; display: block; }
	ul#menu > li:hover > a,
	ul#menu > li > a:hover { background-color: #333; text-decoration: none; background-color: rgba(255, 255, 255, 0.1); transition:background 0.07s linear; }

/* 2nd Menu */
ul#menu li:hover > ul { display: block; }
ul#menu > li > ul { border-radius: 0 0 5px 5px; top: 99%; left: 0px; }
ul#menu li li a { padding: 5px 35px 5px 15px ; text-decoration: none; }
ul#menu li:hover li a:hover{ background-color: rgba(255, 255, 255, 0.1); }
ul#menu ul ul { display: none; position: absolute; top: 0; left: 99%;  border-radius: 0 5px 5px 0;}
ul#menu li > ul li:last-child a { padding-bottom:8px; }
ul#menu li > ul li:first-child a { padding-top:8px; }
=======
ul#menu > li ul {
	border-radius: 0 5px 5px 0;
}

ul#menu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#menu ul li {
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

ul#menu > li > a {
    border-radius:5px 5px 0 0;
	padding: 12px 15px;
}
	ul#menu > li:hover > a {
	    background:#333333;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.1);
		color: #FFFFFF;
		-webkit-transition:background 0.07s linear;
		-moz-transition:background 0.07s linear;
		-o-transition:background 0.07s linear;
		transition:background 0.07s linear;
	}
/* Root Menu */
ul#menu a {
	padding: 4px 10px 4px;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	color: #CCCCCC;
	text-decoration: none;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
}
ul#menu.manager a { color:White !important; }

ul#menu li ul li {
	clear: both;
    display: block;
    float: none;
    font-size: 12px;
}
ul#menu ul > li > a {
	min-width: 180px;
	width:180px;
	display:block;

}

/* Root Menu Hover Persistence */
ul#menu a:hover,
ul#menu li:hover a,
ul#menu li.iehover a {
	color: White;
}

/* 2nd Menu */
ul#menu li:hover li a,
ul#menu li.iehover li a {
  float: none;
  border:none;
}

/* 2nd Menu Hover Persistence */
ul#menu li:hover li a:hover,
ul#menu li:hover li:hover a,
ul#menu li.iehover li a:hover,
ul#menu li.iehover li.iehover a {
	background-color: rgba(255, 255, 255, 0.1);
}

/* 3rd Menu */
ul#menu li:hover li:hover li a,
ul#menu li.iehover li.iehover li a {
  	background-color: rgba(255, 255, 255, 0.1);
}

/* 3rd Menu Hover Persistence */

ul#menu li:hover li:hover li a:hover,
ul#menu li:hover li:hover li:hover a,
ul#menu li.iehover li.iehover li a:hover,
ul#menu li.iehover li.iehover li.iehover a {
	background-color: rgba(255, 255, 255, 0.1);
}

ul#menu ul ul,
ul#menu ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 210px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.iehover ul ul,
ul#menu li.iehover ul ul ul {
	display: none;
}

ul#menu li:hover ul,
ul#menu ul li:hover ul,
ul#menu ul ul li:hover ul,
ul#menu li.iehover ul,
ul#menu ul li.iehover ul,
ul#menu ul ul li.iehover ul {
  display: block;
}
ul#menu .selected{
	color: #003300;
}


ul#menu.manager a { color:White !important; }
/* -------------------------------------------------------------
  Botonera old definitions: This should be deleted
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#menu-acciones-admin {
	margin: 0px;
	background-color: #ddd;
    height:65px;
	border:1px solid #ccc;
	border-radius: 3px;
	width:100%;
	padding:4px 0;
}

	#menu-acciones-admin ul,
	.old-button {
		list-style: none;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom:0px;
		margin-top: 0px;
		padding: 0px;
	}

		#menu-acciones-admin ul li ,
		.old-button li {
			padding-left: 0px;
			padding-right: 0px;
			float: right;
			text-align: center;
			white-space: nowrap;
		}

			#menu-acciones-admin ul li a,
			.old-button li a{
				display: block;
				padding-top: 2px;
				padding-bottom: 2px;
				padding-left: 4px;
				padding-right: 4px;
				text-decoration: none;
				font-weight: bold;
				color:#464646;
				background: transparent;
				width: auto;
				border:1px solid transparent;
				padding:5px;

			}
				#menu-acciones-admin ul li a img {
					height:40px !important;
				}


				#menu-acciones-admin ul li button img,
				.old-button li button img{
					height:50px !important;

				}

				.old-button li a img {
					height:35px !important;
				}

				#menu-acciones-admin ul li a:hover,
				.old-button li a:hover{
                    color:Black;
                    background:#e4e4e4;
                    border: 1px solid #D9D9D9;
                    cursor: pointer;
                    outline: medium none;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    border-radius:4px;
				}

				div#menu-acciones-admin li.separator,
				.old-button li.separator{
					background:url(../images/separator.png) center center no-repeat;
					border:0 none;
					height:57px;
					margin:0 2px;
					width:4px;
					vertical-align:middle
				}

				.old-button {
					position:absolute;
					right:0;
					bottom:3px;
				}
				.old-button img{
					height:35px !important;
				}

/* -------------------------------------------------------------
  Help blocks
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.help-block {
	background:White;
	border:1px solid #bfbfbf;
	position:relative;
	width:100%;
	width:90%
}
	.help-block.warning { border-color: #FBC2C4; }
	.help-block .title {
		position:absolute;
		background: #D2D2D2 url(../images/backgrounds/back-help.png) bottom right no-repeat;
		top:0px;
		left:0px;
		display:block;
		width:100%
	}
		.help-block.warning .title { background-color: #FBE3E4; color: #8A1F11; }
		.help-block .title h4 {
			margin:7px 10px;
			padding:0 !important;
			margin-bottom:20px;
			color:#444;
			text-transform:uppercase;
			font-size:13px;
			background:url(../images/backgrounds/bullet-help.png) bottom right no-repeat;
			margin-right:24px;
		}
			.help-block.warning .title h4 { color: #8A1F11; }
	.help-block .content {
		margin-top:40px;
		padding:15px;
		color:#333;
		font-size:1.02em;
	}
	.help-block dl { margin-top:0; }
	.help-block dd { margin:10px 0 10px 20px; }

	.margin-right-1 { margin-right:1em; }
	.margin-left-1 { margin-left:1em; }

/* -------------------------------------------------------------
  Footer
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#copyright {
	vertical-align:top;
	margin-top:10px;
	margin-bottom:50px;
}
	#copyright .company {
		color:#888;
		float:left;
		width:40%
	}
		#copyright .company img {
			margin-right:1em;
			margin-top:5px;
		}

	#copyright .support {
		float:right;
		width:40%;
		text-align:right;
		margin-top:0px;
	}

		#copyright .support li {
			list-style:none !important;
			display:inline-block;
			margin:0 10px;
		}
		#copyright .support li:last-child {
			margin-right:0px;
		}
			#copyright .support li a {
				padding:5px 10px;
				background:White;
			}

			#copyright .support li a:hover {
				background:#efefef;
			}

/* -------------------------------------------------------------
  Simple pager
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#simplepager {
	margin:0;
	padding:0;
	border:0 none;
}
	#simplepager li{
		display:inline-block;
		list-style:none;
		margin-right:10px
	}

	#simplepager li a {
		cursor:pointer;
	}


/* -------------------------------------------------------------
  Video module
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.video_player {
    background: none repeat scroll 0 0 #BFBFBF;
    border: 10px solid #BFBFBF;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    vertical-align: top;
	display:block;
	width:90%;
}


/* -------------------------------------------------------------
  Article form
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#img_portada,
#img_interior,
#video_interior
{
	display:block; border:1px solid #ccc; border-width:1px 0 1px 0; background:#eee; padding:10px;
	margin-right:10px;
}


/* -------------------------------------------------------------
  UI Blocker definitions
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


div.ui-blocker {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
	opacity:0.6;
	-webkit-transition: 0.25s opacity;
	background-color:#cccccc;
	background-image: -moz-radial-gradient(50% 50%, ellipse closest-side, rgba(127, 127, 127, 0.5) 0%,#000000 100%);
	background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side,rgba(127, 127, 127, 0.5) 0%,#000000 100%);
	background-image: -o-radial-gradient(50% 50%, ellipse closest-side, rgba(127, 127, 127, 0.5) 0%,#000000 100%);
	background-image: -ms-radial-gradient(50% 50%, ellipse closest-side,rgba(127, 127, 127, 0.5) 0%,#000000 100%);
	background-image: radial-gradient(50% 50%, ellipse closest-side, rgba(127, 127, 127, 0.5) 0%,#000000 100%);
	bottom: 0;
	display: -webkit-box;
	left: 0;
	padding: 20px;
	padding-bottom: 130px;
	position: fixed;
	right: 0;
	top: 0;
	z-index:9999;
}

div.ui-blocker-message {
    margin:0 auto;
    text-align:center;
    display:block;
    font-size:1.05em;
    z-index:99999;
    position:fixed;
    top: 47%;
    left: 42%;
    color:#222;
    clear:both;
	padding:15px;
	box-shadow: 0px 5px 80px #505050;
	background: white;
	border: 1px solid #BCC1D0;
	border-radius: 5px;
}

div.ui-blocker-message img {
    clear:both;
    margin-bottom:10px;
}


/* -------------------------------------------------------------
  Action bar definitions
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div.action-bar {
	width:100%;
    background: none repeat scroll 0 0 #ececec;
    border:1px solid #BFBFBF;
    border-top:0 none !important;
    margin-bottom: 18px;
}
div.action-bar .right{
	float:right;
    text-align:right;
	padding: 17px 20px 18px 150px;

}


/* -------------------------------------------------------------
  media-browser
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#media-browser {
	border:1px solid #bfbfbf;
	background:White;
}
	#media-browser .photo {
		position:relative;
		float:left;
	}
	#media-browser .photo:hover {
		z-index:999;
	}
	#media-browser .photo:hover .photo-image {
		border:5px solid transparent;
	}
	#media-browser .photo:hover .photo-data {
		display:block
	}
		#media-browser .photo-image {
			width:140px;
			position:relative;
			border:5px solid transparent;
			z-index:20;
		}
        #media-browser .image-preview {
            width:144px;
            height:95px;
            border:1px solid #bfbfbf;
            text-align: center;
        }
         #media-browser .image-preview:hover {
            border:1px solid transparent;
        }

			#media-browser .photo-image img {
				max-width:140px;
				max-height:80px;
				/*border:1px solid #bfbfbf; */
				padding:2px;
			}
			#media-browser .photo-image img.flash-flag {
                width:16px;
                height:16px;
                border: none;
			}
				#media-browser .photo:hover .photo-image img {
					border:1px solid White;
				}
			#media-browser .photo-image input[type="checkbox"] {
				position:absolute;
				top:5px;
				left:5px;
			}

		#media-browser .photo-data {
			background:#4787ED;
			background: #005991; /* for non-css3 browsers */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005991', endColorstr='#4787ED'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, from(#005991), to(#4787ED)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #005991,  #4787ED); /* for firefox 3.6+ */
			padding-left:160px;
			position:absolute;
			top:0;
			left:0;
			z-index:10;
			display:none;
			box-shadow: 0 0 10px rgba(20, 20, 20, 0.8);
			border-radius:3px;
		}
			#media-browser .photo-data ul {
				min-width:175px;
				margin:0;
				padding:0;
				padding-right:10px;
				margin-right:10px;
				margin-top:5px;
			}
				#media-browser .photo-data ul li {
					list-style:none;
					color:white;
					margin-bottom:3px;
				}
					#media-browser .photo-data img {
						vertical-align:middle;
					}

			#media-browser .photo-data .actions {
				margin:8px;
				text-align:right;
			}
			#media-browser .photo-data .actions img{
				width:16px;
				height:16px;
				border:0 none !important;
				padding:0 !important;
				vertical-align:middle;
			}
			#media-browser .photo-data .actions a {
				color:White;
				font-weight:bold;
				display:inline;
			}
			#media-browser .photo-data .actions a:hover {
				text-shadow:0 0 3px Black;
				text-decoration:none;
			}
		#media-browser .photo-hovered {
			z-index:999;
		}


/* -------------------------------------------------------------
  Experimental User box
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#user_box > ul {
	display:block;
	padding:0;
	margin:0;
}
#user_box a {
	text-decoration:none
}
#user_box > ul > li > a {
	display:block;
	padding: 12px 3px;
}

#user_box > ul > li > a:hover {
	-webkit-transition:background 0.07s linear;
	-moz-transition:background 0.07s linear;
	-o-transition:background 0.07s linear;
	transition:background 0.07s linear;
}
#user_box *{
	vertical-align:middle;
}
#user_box ul > li {
	display:inline-block;
}
#user_box ul li a.menu {
	padding: 10px 10px;
	margin:0;
}
#user_box ul li.menu {
  position: relative;
}
#user_box ul li.menu a.menu:after {
  width: 0px;
  height: 0px;
  display: inline-block;
  content: "&darr;";
  text-indent: -99999px;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#user_box ul li.menu:hover a.menu, #user_box ul li.menu:hover a:hover {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.1);
  *background-color: #444;
  /* IE6-7 */

  color: #fff;
}
#user_box ul li.menu:hover ul {
  display: block;
  position:absolute;
}
#user_box ul li.menu:hover ul li a {
  background-color: transparent;
  font-weight: normal;
}
#user_box ul li.menu:hover ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  *background-color: #444;
  /* IE6-7 */

  color: #fff;
}
#user_box ul li.menu:hover ul li.active a {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}
#user_box ul li ul {
  background-color: #333;
  float: left;
  display: none;
  position: absolute;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  margin:0;
  padding: 0;
  text-align: left;
  border: 0;
  zoom: 1;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  right:0;
}
#user_box ul li ul li {
  float: none;
  clear: both;
  display: block;
  background: none;
  font-size: 12px;
}
#user_box ul li ul li a {
  display: block;
  padding: 6px 15px;
  clear: both;
  font-weight: normal;
  line-height: 19px;
  color: #bbb;
}
#user_box ul li ul li a:hover {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
#menu li.divider,
#user_box ul li ul li.divider {
	height:1px;
	overflow: hidden;
	background: #222;
	background: rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin: 5px 0;
}
#user_box ul li ul li span {
  clear: both;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 15px;
  cursor: default;
  color: #808080;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------------------
  New layout for listing tables.
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.listing-table {
	border:0 none;
	border-collapse:collapse;
	border-bottom: 1px dotted #D9D9D9;
    border-left: 1px solid #FFFFFF;
    color: #424E51;
    font-size: 11px;
    line-height: 140%;
    padding: 8px 5px;
    text-align: left;
    vertical-align: middle;
	width:100%;
}
.listing-table td {
    border-bottom: 1px dotted #D9D9D9;
    color: #424E51;
    font-size: 11px;
    line-height: 140%;
    padding: 8px 5px;
    text-align: left;
    vertical-align: middle;
	border-collapse:collapse
}

.listing-table th,
.listing-table tfoot td {
    background: #343434;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    padding: 9px;
    text-align: left;
}
.listing-table tr:hover { background:#F1F1F1; }
.listing-table th td { text-align:center; }
.listing-table td.empty{ text-align:center; font-size:13px; padding:30px; }
.listing-table td a { color:#0069D6; font-weight: bold; text-decoration:none; text-shadow: 0px 0 5px white;}
.listing-table tfoot td { text-align:center; border: 0 none; min-height:33px;}
.listing-table tbody .family_type { background:#F5F5F5; font-weight: bold; padding: 8px; }

.listing-table th img, .listing-table td img { vertical-align:middle; }

.listing-table th input[type="checkbox"]{ margin-left:0px; }

.listing-table .left { text-align:left !important; }
.listing-table .right { text-align:right !important; }
.listing-table .center { text-align:center !important; }


.listing-table .pagination { color:#aaa !important; }
.listing-table .pagination a { background: #3f3f3f; border: 1px solid #666; color:White; }
.listing-table .pagination a:hover { background:#3c3c3c; }

/* -------------------------------------------------------------
  upper header for filtering... no yet investigated. NEEDS WORK.
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.table-info {
	background:#F1F1F1;
    border:1px solid #D2D2D2;
	border-right:none;
	border-left:none;
    clear: both;
    margin:5px 0;
    position: relative;
    width: 100%;
	font-size: 12px;
}
.table-info > div { padding:5px; }
.table-info div {vertical-align:middle; height:100% }
.table-info .right { float:right; text-align:right; }
.table-info .left { float:left; text-align:left; }
.table-info .center { text-align:center }

/* -------------------------------------------------------------
  pills experiment
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.pills {
    list-style: none outside none;
    margin: 0pt 0pt 10px;
    padding: 0pt;
}

.pills:before, .tabs:after, .pills:after {
    content: "";
    display: table;
}

.pills:after {
    clear: both;
}

.pills > li {
    float: left;
    position:relative;
}

.pills > li > a {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.pills a {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    line-height: 30px;
    margin: 5px 3px 5px 0pt;
    padding: 0pt 10px;
}

.pills > li.with-subcategories:hover > a,
.pills a:hover {
    background: none repeat scroll 0% 0% #0050A3;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.25);
}

.pills  a.active {
    background: none repeat scroll 0% 0% #0069D6;
    color: #FFFFFF;
    text-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.25);
}

.pills > li.active:hover > a,
.pills > li.with-subcategories:hover > a{
    border-radius:10px 10px 0 0;
}

.pills ul {
    margin:0;
    padding:0;
    position:absolute;
    top:35px;
    left:0;
    display:none;
}
.pills ul li {
    list-style:none;
    margin:0;

}
.pills ul li a {
    border:1px solid transparent;
    display:block;
    border-radius:0;
    margin:0;
    background: none repeat scroll 0% 0% #0069D6;
    color: #FFFFFF;
    text-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding:0px 25px;
}
.pills ul li:first-child a {
    border-top-right-radius: 5px;
}
.pills ul li:last-child a{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pills li:hover ul {
    display:block;
}

.pills > li.with-subcategories > a:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #0069D6;
    content: "&darr";
    display: inline-block;
    height: 0;
    margin-left: 4px;
    margin-top: 13px;
    opacity: 0.5;
    text-indent: -99999px;
    vertical-align: top;
    width: 0;
}
.pills > li.with-subcategories > a:hover:after {
    border-top: 4px solid White;
    color:White;
}

/* -------------------------------------------------------------
  ColorPicker
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.colorpicker input[type="text"] {
    width: 28px;
}
.colorpicker_hex input[type="text"] {
    width: 50px;
}
.colopicker_viewer {
    height:28px;
    border: 1px solid #B5B8C8;
    border-right:0 !important;
    width:30px !important;
    display:inline-block;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
    margin-left:-2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.colorpicker_input {
    width:50px !important;
    display:inline-block;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left:0 !important;
}
.colorpicker {
    z-index:9999;
}
/* -------------------------------------------------------------
  DatePicker addon css style
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.tabs > ul { margin: 0; padding: 0; }
.tabs > ul li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.tabs > ul li a { float: left; padding: .5em 1em; text-decoration: none; }
.tabs > ul li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-panel, .tabs > div { display: block; padding: 0 !important; background: none; border:1px solid #ccc;}

.tabs > ul li a {
	outline:none;
	padding: 5px 8px !important;
	margin-left: 0px !important;
	margin-right: 6px !important;
	border: 1px solid #ccc !important;
	border-bottom:none !important;
	color:Black;
	-moz-border-radius: 6px 6px 0 0 !important;
	-webkit-border-radius: 6px 6px 0 0 !important;
	background: #eAeAeA; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eAeAeA', endColorstr='#D2D2D2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eAeAeA), to(#D2D2D2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eAeAeA,  #D2D2D2); /* for firefox 3.6+ */
	text-shadow:0 1px 0 #FFFFFF !important;
	text-decoration:none !important;
	font-size:12px !important;
	color:Black !important;
}

.tabs {
	border-radius:0 !important;
	padding:0 !important;
	margin:0 !important;
	border:0 none;
	margin-top:2px;
}
.tabs > ul:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}

.ui-tabs-panel,
.tabs > div {
	padding:0.6em 0 !important;
	border:1px solid #ccc !important;
	border-radius:0 !important;
}
.tabs, .ui-tabs {
	border:0 none !important;
}

.tabs > ul li.ui-state-active a {
	background:White;
}

.ui-tabs-nav li {
	background:none !important;
	padding:0 !important;
	margin:0 !important;
	border:0 none !important;
	background:none !important;
}

.ui-tabs-nav {
	background:none !important;
	padding:0 !important;
	margin:0 !important;
	border:0 none !important;
	background:none !important;
}

.tabs a.active-tab {
	/*background-color: #CCC;
	border-top: 2px solid #999;
	padding-top: 3px;
	color: #000;*/
}
.tabs > div fieldset { width:99%; }