/* Estilos genéricos */
body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background:none;
}
html{
	background: url('../images/general/admin_background.jpg.png') bottom right no-repeat;
	min-height:100%;
}

h2 {
	color:#464646;
	font-size:1.5em;
	vertical-align:bottom;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style:italic;
	font-weight:normal;
	margin:0;
	padding:14px 15px 3px 0;
	text-shadow:0 1px 0 #FFFFFF;
}

#content{
	margin-top: 50px;
}

td, th {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

select.lista {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	width: 150px;
	overflow: auto;
	border:1px solid #637F63;
}

select.destino {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	width: 90px;
	border:1px solid #637F63;
}

select.ubicacion {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	width: 175px;
	overflow: auto;
	border:1px solid #637F63;
}


a {
	text-decoration:underline;
	font-size:12px;
	color:#333333;
}

a:hover {
	text-decoration:none;
	font-size:12px;
	color:#000000;
}

div a {
	text-decoration:none;
	font-size:11px;
	color:#333333;
}

div a:hover {
	text-decoration:none;
	font-size:11px;
	color:#333333;
}

input[type='text'],
input[type='password'],
textarea {
	background:White;
    border: 1px solid #B5B8C8;
    color:#555;
    margin-top:4px;
    padding:4px;
    vertical-align:middle;
}

fieldset {
	border:1px solid #637F63;
	padding: 2px;
}

legend {
	font-weight:bold;
}

label {
	padding: 1px 3px 1px 0px;
}

/* Evita que los formularios sean bloques ocupando espacio */
form {
	padding: 0px;
	margin: 0px;
	display: inline;
}

.awesome, .awesome:visited {
	background: #222 url(../images/button-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }



/* Estilos personalizados */
/* header block */
table.adminheading {
	margin:0 auto;
	/*margin-top:3px;*/
	background-color: #FFF;
	font-family:Georgia !important;
	width: 100%;
	text-align: left;
	height: 30px;
	width: 100%;
	padding-left: 5px;
	font-size: 28px;
	border: 1px solid #ccc;

	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	background:url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
text-shadow:0 1px 0 #FFFFFF;
}
table.adminheading img{
	vertical-align:middle;
}
table.adminheading th, table.adminheading td{
	font-size:11px !important;
}
table.adminlist {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #ddd;
	border-top:none;
	border-spacing: 0px;
	width: 100%;
    border-spacing: 0;
	border: 1px solid #ccc;

	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

table.adminlist th {
	margin: 0px;
	/*padding: 6px 4px 2px 4px; */
	height: 25px;
	background-repeat: repeat;
	font-size: 11px;
	color: #000;
        padding: 1px;
}
table.adminlist img{
	vertical-align:middle;
	height:16px;
}
table.adminlist tr.row0 {
	background-color: #f5f5f5;
}
table.adminlist tr.row1 {
	background-color: #FFF;
}
table.adminlist tr.row2 {
	background-color: #FFF;
	border-bottom: 1px;
	text-align: right;
}
table.adminlist td {
        padding: 0;
        font-size: 11px;
}
table.adminlist tr.row0:hover {
	background-color: #EEEEEE;
}
table.adminlist tr.row1:hover {
	background-color: #EEEEEE;
}

td.barra_superior {
	color:#EAEAEA;
	width:100%;
	height:50px;
	background-image:url(/admin/images/header_middle.png);
	text-align:left;
	font-size:14px;
	font-weight:bold;
}

td.barra_tareas {
	background-image:url(../images/barra_vrd.gif);
	height:25px;
	max-height:25px;
	border:1px solid #CACACA;
	vertical-align:middle;
}

.ayuda {
	border:1px solid #637F63;
	padding: 2px;
	color:#425542;
	background-color:#EAEAEA;
	text-align:justify;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}


.info {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #425542;
}

.campo {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
}
#frontpages{

}

.boton {
	color: #666;
	background-color: #eee;
	border: 1px solid #ccc;
	font-family: Helvetica, sans-serif;
}

ul.enlace_rel {
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	list-style-type:square;
}

.class_preview_img {

}


#thelist2 li { background: #ddedb6; margin:2px; padding: 4px; list-style-type: none;}
#thelist3 li { background: #d0d2a5; margin:2px; padding: 4px; list-style-type: none;}
#thelist2int li { background: #d6e3b6; margin:2px; padding: 4px; list-style-type: none;}
#thelist3int li { background: #c6c89d; margin:2px; padding: 4px; list-style-type: none;}


.gallery_list {
	list-style:none; margin:0 auto;
}
.gallery_list li {
	float: left; display:inline-block; margin:0 5px 5px 0;  background:#F0F0F0; border:1px solid #CBCBCB;
}
.gallery_list li img { cursor:pointer; border:0px; width:69px; height:69px; }
.gallery_list li{ display: inline !important;}

.gallery_list li div { display: table-cell !important; width:69px; height: 69px; margin:0; vertical-align: middle !important; text-align: center; float: none !important;}
.gallery_list li a.album { display: table-cell !important; width:69px; height:69px; vertical-align: middle !important; text-align: center; float: none !important;}


#main_image{margin:0 auto 6px auto;background:#FFF;}
#main_image img{margin-bottom:10px;}
.gal{position:relative;margin-top:2em;clear:both;}


 div#nifty{ margin: 0 ;background: #f5f5f5}
b.rtop, b.rbottom{display:block;background: #FFF;}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #f5f5f5;}
b.r1{margin: 0 5px;}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px;}


div.wrapper-content {
	min-width:1000px;
	max-width:1200px;
	width:80%;
	margin:0 auto;
}


div.overlay {
	z-index:5;
	opacity:0.7;
	position: fixed;
	top: 20%;
	left: 20%;
	width: 1000px;
	height: 700px;
	margin-left: -140px;
	margin-top: -80px;
	background-color:#000000;
	clear:both;
}

div.black {
	z-index: 7;
	clear:both;
	opacity:1;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 400px;
	margin-left: -240px;
	margin-top: -180px;
	background-color:#a00;
	overflow:visible;
	padding:10px;
	}

div.iframecont {
	opacity:1;
	clear:both;
	background-color:#FFFFFF;
	}


a.go_home {
	background-image: url("../images/home_no.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.go_home:hover {
	text-decoration:none;
	background-image: url("../images/gohome.png");
	width: 16px;
	height: 16px;
}

a.no_home {
	background-image: url("../images/gohome.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.no_home:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}

a.no_suggest {
	background-image: url("../images/gosuggesthome.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.no_suggest:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}


a.favourite_on {
	background-image: url("../images/selected.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.favourite_on:hover {
	text-decoration:none;
	background-image: url("../images/no_selected.png");
	width: 20px;
	height: 20px;
}

a.favourite_off {
	background-image: url("../images/no_selected.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.favourite_off:hover {
	text-decoration:none;
	background-image: url("../images/selected.png");
	width: 20px;
	height: 20px;
}



a.publishing {
	background-image: url("../images/publish_g.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.publishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_r.png");
	width: 16px;
	height: 16px;
}


a.unpublishing {
	background-image: url("../images/publish_r.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.unpublishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_g.png");
	width: 16px;
	height: 16px;
}


#warnings-validation {
	/*text-transform:capitalize;*/
	/*font-size: 12px;*/
	margin:5px 0;
}

#warnings-validation a {
	font-weight: bold;
	font-size: 16px;
	color: #024678;
	text-decoration: underline;
}

/* Status scheduled news */
.scheduled_A td {
	background-color: #FFC !important;
}

.scheduled_V td {
	background-color: #DFD !important;
}

.scheduled_R td {
	background-color: #FDD !important;
}

.rot0 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	rotation: 0deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.rot90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rot180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	rotation: 180deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rot270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	height:40px !important;
	text-align:left !important;
	width:10px !important;
	color:#666 !important;
	font-size:.85em !important;
}
#boton_subir{
	-moz-border-radius:10px 10px 10px 10px;
	background-color:#bbb;
	border:1px solid #b3b3b3;
	color:#333;
	float:left;
	margin-left:0;
	margin-bottom:16px;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0 0 3px white;
	float:right;
}
#boton_subir:hover{
	background-color:#aaa;
}
#boton_subir img{
	vertical-align:middle;
}


    #user_activity {
        background:transparent url(../images/users_activity.png) top right no-repeat;
        cursor: pointer;
        text-align: right;
        padding:2px 20px 2px 2px ;
        float: left;
        margin:0 5px;
        color:#ccc;
    }

    #user_mailbox {
        text-align: right;
		float:right;
        padding:2px;
        margin:0 5px;
        color:#ccc;
    }
	#user_mailbox a {
		color:#CCCCCC;
		text-decoration:none;
	}
	#user_mailbox img {
		vertical-align:middle;
	}

    #user_box {
        color: #0B55C4;
        font-size: 12px;
        font-weight: bold;
        float: right;
        margin-right: 4px;
    }

    #user_live {
        float: left;
        border-right:  1px solid #CCC;
        border-bottom: 1px solid #CCC;
        background-color: inherit;

        width: 20px;
        padding: 2px 2px 2px 2px;
    }

    #user_live:hover {
        background-color: #FFF;
    }


.error, .notice, .success {padding:15px;border:2px solid #ddd; margin:4px auto;}
.error ul, .notice ul, .success ul { margin:0; padding:0; }
.error p, .notice p, .success p { margin:0;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.error a, .notice a, .success a { text-decoration:underline !important; }


/* New css properties to print pending comments counter  */

.spch-bub-inside,
.spch-bub-outside {
    position: relative;
}
a.spch-bub-inside,
a.spch-bub-outside {
    color: #00F;
    text-decoration: none;
}
.spch-bub-inside em,
.spch-bub-outside em {
    font-style: normal;
}
.spch-bub-inside em {
    background: #980101;
    color: #FFF;
    padding: 0 0.4em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    position: relative;
}
.spch-bub-inside .point,
.spch-bub-outside .point {
    width: 0;
    height: 0;
    position: absolute;
    top: 1.1em;
    left: 0.4em;
    display: block;
    border-left: 0.45em solid #980101; 
    border-bottom: 0.45em solid #FFF; /* IE fix */
    border-bottom: 0.45em solid rgba(0,0,0,0); 
    overflow: hidden; /* IE fix */
}
.spch-bub-outside {
    padding-left: 2.0em;
}
.spch-bub-outside .bubble {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    height: 1.1em;
    width: 1.8em;
    background: #00F;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}
a.spch-bub-inside:hover,
a.spch-bub-outside:hover {
    color: #F00;
}
a.spch-bub-inside:hover em,
a.spch-bub-outside:hover .bubble  {
    cursor: pointer;
    background: #F00;
    color: #FF0;
}
a.spch-bub-inside:hover .point,
a.spch-bub-outside:hover .point {
    border-left: 0.5em solid #F00; 
}
div.spch-bub-outside {
    height: 1.5em;
    width: 0;
}

div.ui-blocker {
    width:100%;
    height:100%;
    z-index:9999;
    position:fixed;
    top:0;
    left:0;
    background:#000;
    opacity:0.6;
       
}

div.ui-blocker-message {
    margin:0 auto;
    text-align:center;
    display:block;
    font-size:1.05em;
    z-index:99999;
    position:fixed;
    top: 50%;
    left: 0%;
    width: 100%;
    color:White;
    clear:both;
    font-family:Arial, Verdana;
    text-shadow: 0 0 5px #ccc;
}

div.ui-blocker-message img {
    clear:both;
    margin-bottom:10px;
}