#menu-acciones-admin {
	margin: 0px;
	background-color: #ddd;
    height:65px;
	border:1px solid #ccc;
	border-radius: 3px;
	width:100%;
	padding:4px 0;
}

#menu-acciones-admin ul,
.old-button {
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom:0px;
	margin-top: 0px;
	padding: 0px;
}

#menu-acciones-admin ul li ,
.old-button li {
	padding-left: 0px;
	padding-right: 0px;
	float: right;
	margin: 1px;
	margin-top: 0px;
	font-size: 9px;
	text-align: center;
	white-space: nowrap;
}

#menu-acciones-admin ul li a,
.old-button li a{
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	font-weight: bold;
	color:#464646;
	background: transparent;
	width: auto;
	border:1px solid transparent;
	padding:4px;

}
#menu-acciones-admin ul li a img {
	height:40px !important;
}
.old-button li a img {
	height:35px !important;
}

#menu-acciones-admin ul li button img,
.old-button li button img{
	height:50px !important;

}

#menu-acciones-admin ul li a:hover,
.old-button li a:hover{
    cursor: pointer;
    background: #d0d0d0;
	border-radius:5px;
}

div#menu-acciones-admin li.separator,
.old-button li.separator{
	background-image:url(../images/separator.gif);
	background-position:center bottom;
	background-repeat:no-repeat;
	border:0 none;
    height:50px;
    margin:0 8px;
    width:4px;
}

.old-button {
	position:absolute;
	right:0;
	bottom:3px;
}
.old-button img{
	height:35px !important;
}
