.awesome, .awesome:visited {
    background: #222 url(../images/button-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.awesome:hover                          { background-color: #111; color: #fff; }
.awesome:active                         { top: 1px; }
.small.awesome, .small.awesome:visited          { font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited        { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited          { font-size: 14px; padding: 8px 14px 9px; }
.blue-openhost.awesome, .blue-openhost.awesome:visited      { background-color: #005991; }
.green.awesome, .green.awesome:visited      { background-color: #91bd09; }
.green.awesome:hover                        { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited        { background-color: #2daebf; }
.blue.awesome:hover                         { background-color: #007d9a; }
.red.awesome, .red.awesome:visited          { background-color: #e33100; }
.red.awesome:hover                          { background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited      { background-color: #a9014b; }
.magenta.awesome:hover                          { background-color: #630030; }
.orange.awesome, .orange.awesome:visited        { background-color: #ff5c00; }
.orange.awesome:hover                           { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited        { background-color: #ffb515; }
.yellow.awesome:hover                           { background-color: #fc9200; }


.clearfix:after
{
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
}

.clearfix
{
		display: inline-block;
}

html[xmlns] .clearfix
{
		display: block;
}

* html .clearfix
{
		height: 1%;
}

#logo {
	margin:240px auto;
	margin-bottom:40px;
	text-align:center;
}
#logo h1 {
	background:url(../images/logos/onm-login.png) top left no-repeat;
	width:235px;
	height:32px;
	text-indent: -999%;
	margin:0 auto;
	margin-bottom:3px
}
#logo div {
	font-size:small;
	color:#777;
}

body {
	background:#1a1a1a url('../images/backgrounds/a_auth_body_bg.jpg') top left repeat-x;
	color:White;
	font-family:Ubuntu,Arial;
}

#content-wrapper {
	margin:0 auto;
	float:none !important;
}

label {
	text-transform:uppercase
}

input[type="text"],
input[type="password"]{
	width:100%;
	border:0px;
	padding:10px;
	border-radius:5px;
}

input[type="checkbox"] {
	margin-left:0px;
	vertical-align:middle;
}

.left { text-align:left; }
.right { text-align:right; }

#footer {
	width:100%;
	height:30px;
	vertical-align:middle;
	text-align:right;
	position:absolute;
	bottom:0px;
	left:0px;
}

	#footer .copyright {
		padding-right:10px !important;
	}
	#footer a {
		color:#eee;
	}

div.submit-remember-block {
	padding-top:10px;
}
button {
	border:none;
	margin-right:20px;
}
