.clearfix:after
{
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
}

.clearfix
{
		display: inline-block;
}

html[xmlns] .clearfix
{
		display: block;
}

* html .clearfix
{
		height: 1%;
}

#logo {
	margin:240px auto;
	margin-bottom:40px;
	text-align:center;
}
#logo h1 {
	background:url(../images/logos/onm-login.png) top left no-repeat;
	width:235px;
	height:32px;
	text-indent: -999%;
	margin:0 auto;
	margin-bottom:3px
}
#logo div {
	font-size:small;
	color:#777;
}

body {
	background:#1a1a1a url('../images/backgrounds/a_auth_body_bg.jpg') top left repeat-x;
	color:White;
	font-family:Ubuntu,Arial;
}

#content-wrapper {
	margin:0 auto;
	float:none !important;
}

label {
	text-transform:uppercase
}

input[type="text"],
input[type="password"]{
	width:100%;
	border:0px;
	padding:10px;
	border-radius:3px;
}

input[type="checkbox"] {
	margin-left:0px;
	vertical-align:middle;
}

.left { text-align:left; }
.right { text-align:right; }

#footer {
	width:100%;
	height:30px;
	vertical-align:middle;
	text-align:right;
	position:absolute;
	bottom:0px;
	left:0px;
}

	#footer .copyright {
		padding-right:10px !important;
	}
	#footer a {
		color:#eee;
	}

div.submit-remember-block {
	padding-top:10px;
}
button {
	border:none;
	margin-right:20px;
}
