.message {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
	margin: 10px;

	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.highlight {
	padding: 2px 4px;
	padding-right: 10px;
	margin: 4px 0;
	background: url(../images/mediamanager/arrow_directory.gif) top right no-repeat;
}

div.thumbnail {
	border: 1px solid #ccc;
	width: 140px;
	height: 100px;
	text-align: center;

	margin-right: 3px;
	margin-bottom: 10px;

	float: left;
	position: relative;
	overflow: hidden;

}

.table_div{
    display: table !important;
    padding:0px;
    margin:0px;
      width:140px;
    height:100px;

}


.table_div div {
	display: table-cell !important; margin:0;
	vertical-align: middle !important;
	text-align: center;
	float: none !important;
}



div.thumbnail-info {
	width: 100%;
	background-color: #eee;
	border-top: 1px solid #ccc;
	font-size: 10px;
	text-align: right !important;
	opacity: 0.8;
	position:absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
}

div.thumbnail-file {
	width: 100%;
	background-color: #eee;
	border-top: 1px solid #ccc;
	font-size: 10px;
	text-align: right !important;
	opacity: 0.8;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
}


div.preview-img {
	clear: both;
	border: 1px solid #ccc;
	position:absolute;
	/*top:0;
	left:0;*/
}

div.preview-inf {
	clear: both;
        background-color: #eee;
	font-size: 10px;
	text-align: right !important;
	opacity: 0.7;
	top: 1;
	right:300;
	position:absolute;
}

div.lupa {
	border-top: 1px solid #ccc;
	font-size: 10px;
	float: left;
	opacity: 0.8;
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	text-align:center;
	z-index: 100;
}

div.highlight a {
	color:#000000;
	font-size:12px;
	text-decoration:none;
}

div.highlight a:hover {
	color:#000000;
	font-size:12px;
	text-decoration:underline;
}

.clearer {
	clear: both;
}

div.week {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.photoform {

}

.photoform .image-preview {
	border:10px solid #bfbfbf;
	border-radius:10px;
	background:#bfbfbf;
	text-align:center;
	width:auto;
	max-width:370px;
	max-height:400px;
	margin:0 auto !important;
	vertical-align:top;
}

.photoform .image-preview img {
	width:100%
}

.photoform .photo-static-info {
	background:#dedede;
	border:1px solid #ccc;
	border-radius:3px;
	padding:0 15px;
}

.photoform label {
	text-transform:uppercase;
	color:#333
}
#iptc, #exif {
	padding:10px
}
.photo-geolocation {
	border:1px solid #bfbfbf;
	padding:10px;
	border-radius:5px;
}

.photo-geolocation .photo-geolocation-canvas{
	border:1px solid #bfbfbf;
	margin:5px;
	box-shadow:0 0 3px 3px rgba(0,0,0, 0.1);
}
