/* 
    Document   : onm-mockup article page
    Created on : Feb 18, 2010, 11:13:09 AM
    Author     : Francisco Diéguez fran.dieguez@mabishu.com
    Description:
        CSS to article page for newspaper mockup page
*/


/***********************************************************
    Title of article
************************************************************/

div.in-big-title h1{
	font-family: Georgia;
	font-size:3.1em;
	margin:0;
	padding:0;
}

div.in-big-title{
	padding:40px 0 0;
}

div.in-big-title p.in-subtitle{
	color:#636363;
	font-size:1.4em;
	font-family:Arial;
	margin:0;
	margin-top:5px;
}

div.info-new{
	font-family:Georgia;
	color:#747678;
	margin-top:30px;
}

div.info-new span.author{
	color:#070c0f;
	font-size:1.1em;
	text-transform:uppercase;
}
div.info-new *{	margin:0; padding:0}

/***********************************************************
    Content inner articler
************************************************************/

div.content-article{
	font-size:1.2em;
	color:#747678;
}

div.content-article cite{
	float:left;
	border-left:7px solid #d3d3d3;
	color:Black;
	font-family:Georgia;
	font-size:1.3em;
	margin:5px 10px 5px 0;
	max-width:170px;
	padding:10px 0 10px 10px
}

div.main-photo {
	font-size:.7em;
	color:#747678;
	float:right;
	margin:0 0 10px 10px;
}
div.photo-subtitle{
	max-width: 600px;
            /*310px */
}

div.photo-author {
	color:#adafaf;
}

/***********************************************************
    Bottom toolbar inner article
************************************************************/
div.toolbar-bottom ul li, div.toolbar-bottom ul {
	margin:0;
	padding:0;
}
div.toolbar-bottom ul li{
	margin-bottom:10px;
}
div.toolbar-bottom ul li{
	display:inline;
	cursor:pointer;
}
div.toolbar-bottom ul li img{
	vertical-align:middle;
}

/***********************************************************
    Bottom suggestions of news inner article
************************************************************/

div.more-news-bottom-article p.title{
	font-size:1.3em;
	margin-bottom:0;
	font-family:Arial
}
div.more-news-bottom-article ul{
	font-size:1.2em;
	margin:0;
	margin-top:5px;
	padding:0;
	padding-left:30px;

}
div.more-news-bottom-article ul li{
	margin:0;
	padding:0;
}

div.more-news-bottom-article li a{
    font-family:Verdana;
}
/***********************************************************
   Widget of news highlighter on inner article
************************************************************/
div.news-highliter h2{
	font-family:Georgia;
	font-size:1.7em;
}
div.news-highliter h3{
	font-size:1.3em;
}
