
div.intersticial {
    position: absolute;
    display: inline;  
    top: 0;
    left: 0;
    background-color: #FFF;  
    width: 100%;
    height: 100%;  
    z-index: 33333;
}

body > div.intersticial {  
    position: fixed;
    background-color: #FFF;
    display: block;  
    top: 0;
    left: 0;
}

div.intersticial div.closeButton {	
    float: right;
    margin: 2em 2em 0 0;	
    color: #024687;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

div.intersticial div.content {
    margin: 0 auto;
    background-color: #FFF;	
    padding: 2em;
    height: 100%;	
    cursor: hand;
    cursor: pointer;	
}

div.intersticial wrapper_intersticial {
    padding-top: 1em;
}