imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: app.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enabled: true, enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    trusted_hosts:   ~
    session:
        name:            __onm_sess
        gc_maxlifetime:  %session_memcache_expire%
        handler_id:      %session_handler_id%
        # handler_id:    session.handler.drak.redis
    fragments:       ~
    http_method_override: true

sensio_framework_extra:
    router:   { annotations: false }
    request:  { converters: false }
    view:     { annotations: false }
    cache:    { annotations: false }
    security: { annotations: true }

assetic:
    filters:
        uglifyjs:
            bin:  /usr/local/bin/uglifyjs
            node: /usr/bin/nodejs
        uglifycss:
            bin:  /usr/local/bin/uglifycss
            node: /usr/bin/nodejs

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

services:
    session.memcache:
        class: Memcached
        calls:
             - [ addServer, [ %session_memcache_host%, %session_memcache_port% ]]

    session.handler.memcache:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\MemcachedSessionHandler
        arguments: [ @session.memcache, { prefix: %session_memcache_prefix%, expiretime: %session_memcache_expire% } ]

    session.handler.drak.redis:
        class: Drak\NativeSession\NativeRedisSessionHandler
        arguments: [%session_handler_savepath%]

    session.handler.drak.memcached:
        class: Drak\NativeSession\NativeMemcachedSessionHandler
        arguments: [%session_handler_savepath%, %session_handler_options%]
