parameters:
    database_params:
        database_replication: false
        connections:
            -
                database_driver:   mysqli
                database_host:     localhost
                database_port:     3306
                database_name:     onm-instances
                database_user:     root
                database_password: 1234
                # slave:            true

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    cache_handler:     apc
    dispatcher.exceptionhandler: "Framework:Controllers:ErrorController:default"
    environment:       production
    session_params:
        save_path:     tmp/instances