parameters:
    secret: test
    locale: en
    # environment:       production
    environment:       development
    database:
        dbal:
            default_connection: default
            connections:
                default:
                    driver:               mysqli
                    dbname:               onm-instances
                    host:                 localhost
                    port:                 3306
                    user:                 root
                    password:             root
                    charset:              UTF-8
                    # slaves:
                    #     slave1:
                    #         driver:               mysqli
                    #         dbname:               ~
                    #         host:                 localhost
                    #         port:                 ~
                    #         user:                 root
                    #         password:             root
                    #         charset:              ~

    mailer_transport:  mail
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~
    mailer_protocol:   ~
    mailer_port:       ~
    mailer_no_reply_address: no-reply@postman.opennemas.com

    session_memcache_host:   127.0.0.1
    session_memcache_port:   11211
    session_memcache_prefix: sess
    session_memcache_expire: 84600
    session_handler_id:      session.handler.drak.memcached
    #session_handler_id:     session.handler.drak.redis

    # Memcached options
    session_handler_options: []

    # Savepath for Memcached (ip:port)
    session_handler_savepath: 127.0.0.1:11211

    # Savepath for Redis (tcp://ip:port?<options>)
    # session_handler_savepath: tcp://localhost:6379?timeout=2

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    cache_handler:     Onm\Cache\Apc
    cache_handler_params:
        server: 127.0.0.1
        port: 11211
        connection_string: tcp:\\127.0.0.1
        options:
            server: localhost
            prefix: onm

    session_params:
        name:          __onm_sess
        gc_maxlifetime: 86400

    logger_file_path: tmp/log/application.log
    dev_token: 1234

    manager_webservice:
        api_key:         sheequaiJie5deewijie6oojaiShie5R
        company_mail:    support@openenmas.com
        info_mail:       info@openhost.es
        no_reply_sender: no-reply@postman.opennemas.com
        no_reply_from:   no-reply@opennemas.com

    instance_creator:
        end_point:   https://manager.onm.local/managerws/
        base_domain: opennemas.com
        template:    retrincos

    password_min_level: 1 # Weak(0) | Good(1) | Strong(2)

    varnish:
        header_name: X-Varnish-Ban
        servers:
            server1:
                host: localhost
                port: 80
