parameters:
    database_params:
        database_replication: false
        connections:
            -
                database_driver:   mysqli
                database_host:     localhost
                database_port:     3306
                database_name:     onm-instances
                database_user:     root
                database_password: 1234
                # slave:            true

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    cache_handler:     Onm\Cache\Apc
    cache_handler_params:
        server: localhost
        port: 11211

    session_handler: ~
    session_handler_params:
        save_path:     tmp/instances

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    dispatcher.exceptionhandler: "Framework:Controllers:ErrorController:default"
    environment:       production

    session_params:
        save_path:     tmp/instances
        name: _onm_sess