security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        User:
            id: core.security.encoder.password
        Common\ORM\Entity\User:
            id: core.security.encoder.password

    role_hierarchy:
        ROLE_MASTER:   [ ROLE_MANAGER, ROLE_ALLOWED_TO_SWITCH ]
        ROLE_MANAGER:  [ ROLE_BACKEND ]
        ROLE_BACKEND:  [ ROLE_FRONTEND ]
        ROLE_FRONTEND: []

    providers:
        chain_provider:
            chain:
                providers: [ backend, manager_ws ]
        backend:
            id: backend.security.user.provider
        manager_ws:
            id: manager_ws.security.user.provider

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt|error))/
            security: false

        assets:
            pattern:  ^/(css|images|js|dynamic|asset)/
            security: false

        backend_login:
            pattern:  ^/admin/(login$|connect)
            security: false

        manager:
            pattern:  ^/manager$
            security: false

        manager_ws_fake_login:
            pattern:  ^/managerws/fake-login
            security: false

        manager_ws_login_tpl:
            pattern: ^/managerws/template/login:(fake_form|blank).tpl$
            security: false

        manager_ws_instances:
            pattern: ^/managerws/instances/(checkinstancename|checkmailinuse|create)
            security: false

        frontend_login:
            pattern:  ^/login$
            security: false

        backend_recover:
            pattern:  ^/admin/login/user/*
            security: false

        frontend_recover:
            pattern:  ^/user/(recover*|register|(activate/*))
            security: false

        framework:
            pattern:  ^/framework
            security: false

        backend:
            pattern:    ^/(api/v1/backend|admin)/*
            form_login:
                check_path:                     admin_login_check
                login_path:                     admin_login
                always_use_default_target_path: false
                default_target_path:            admin_welcome
                target_path_parameter:          _referer
                use_referer:                    true
                success_handler:                backend_login_success_handler
            logout:
                path:   admin_logout
                target: admin_login
            oauth:
                resource_owners:
                    facebook: "/admin/login/check-facebook"
                    twitter:  "/admin/login/check-twitter"
                login_path:          admin_login
                default_target_path: admin_login_callback
                check_path:          admin_login_check
                use_forward:         false
                failure_path:        admin_login
                success_handler:     oauth_login_success_handler
                oauth_user_provider:
                    service: backend.security.user.oauth_provider

        manager_ws_login:
            pattern:  ^/managerws/(login|check)
            stateless: true
            anonymous: true
            form_login:
                check_path: /managerws/check
                require_previous_session: false
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
                provider: chain_provider

        manager_ws:
            pattern:   ^/managerws
            stateless: true
            lexik_jwt:
                authorization_header:
                    enabled: true
                    prefix:  Bearer
                query_parameter:      # check token in query string parameter
                    enabled: true
                    name:    token

        frontend:
            pattern:    ^/*
            anonymous:  ~
            form_login:
                check_path:                     frontend_auth_check
                login_path:                     frontend_auth_login
                always_use_default_target_path: false
                default_target_path:            frontend_user_show
                target_path_parameter:          _referer
                use_referer:                    true
                success_handler:                frontend_login_success_handler
            logout:
                path:   frontend_auth_logout
                target: frontend_auth_login

    access_control:
        - { path: ^/admin/(login$|connect), roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/*, roles: [ ROLE_BACKEND ] }
        - { path: ^/api/v1/backend/*, roles: [ ROLE_BACKEND ] }
        - { path: ^/managerws/(login|check), roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/managerws, roles: [ ROLE_MANAGER ] }
        - { path: ^/*, roles: [ IS_AUTHENTICATED_ANONYMOUSLY, IS_AUTHENTICATED_FULLY ] }
