security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        User: plaintext
    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH ]
    providers:
        chain_provider:
            chain:
                providers: [ users ]
        users:
            id: onm_user_provider
    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        backend_login:
            pattern:  ^/admin/login$
            security: false

        backend_recover:
            pattern:    ^/admin/login/user/recover*
            security: false

        backend:
            pattern:    ^/admin/*
            form_login:
                csrf_provider:                  form.csrf_provider
                csrf_parameter:                 _token
                intention:                      authenticate
                check_path:                     admin_login_processform
                login_path:                     admin_login_form
                always_use_default_target_path: false
                default_target_path:            admin_welcome
                target_path_parameter:          _referer
                use_referer:                    true
            logout:
                path:   admin_logout
                target: admin_login_form
    access_control:
        - { path: ^/admin/*, roles: IS_AUTHENTICATED_FULLY }
