security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        User:
            id: onm_password_encoder
    role_hierarchy:
        ROLE_ADMIN:       [ ROLE_FRONTEND, ROLE_BACKEND ]
        ROLE_MASTER:      ROLE_ADMIN
        ROLE_SUPER_ADMIN: [ ROLE_MASTER, ROLE_ALLOWED_TO_SWITCH ]
    providers:
        chain_provider:
            chain:
                providers: [ users, oauth_provider ]
        oauth_provider:
            id: onm_oauth_user_provider
        users:
            id: onm_user_provider
    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        backend_login:
            pattern:  ^/admin/(login$|connect)
            security: false

        manager_login:
            pattern:  ^/manager$
            security: false

        manager_ws_login:
            pattern:  ^/managerws/login$
            security: false

        manager_ws_check_user:
            pattern:  ^/managerws/check-user$
            security: false

        frontend_login:
            pattern:  ^/login$
            security: false

        backend_recover:
            pattern:  ^/admin/login/user/*
            security: false

        frontend_recover:
            pattern:  ^/user/(recover*|register|(activate/*))
            security: false

        backend:
            pattern:    ^/admin/*
            form_login:
                check_path:                     admin_login_check
                login_path:                     admin_login
                always_use_default_target_path: false
                default_target_path:            admin_welcome
                target_path_parameter:          _referer
                use_referer:                    true
                success_handler:                login_success_handler
            logout:
                path:   admin_logout
                target: admin_login
            oauth:
                resource_owners:
                    facebook: "/admin/login/check-facebook"
                    twitter:  "/admin/login/check-twitter"
                login_path:          admin_login
                default_target_path: admin_login_callback
                check_path:          admin_login_check
                use_forward:         false
                failure_path:        admin_login
                success_handler:     oauth_login_success_handler
                oauth_user_provider:
                    service: onm_oauth_user_provider

        # manager:
        #     pattern:    ^/manager/*
        #     form_login:
        #         check_path:                     manager_login_processform
        #         login_path:                     manager_login_form
        #         always_use_default_target_path: false
        #         default_target_path:            manager_welcome
        #         target_path_parameter:          _referer
        #         use_referer:                    true
        #         success_handler:                login_success_handler
        #     logout:
        #         path:   manager_logout
        #         target: manager_login_form

        manager_ws:
            entry_point: authentication_entry_point
            pattern:    ^/(manager|managerws)/*
            form_login:
                check_path:                     manager_ws_auth_check
                login_path:                     manager_ws_auth_login
                always_use_default_target_path: false
                default_target_path:            manager_ws_welcome
                target_path_parameter:          _referer
                use_referer:                    true
                success_handler:                manager_ws_login_success_handler
            logout:
                path:   manager_ws_auth_logout
                target: manager_ws_auth_login

        frontend:
            pattern:    ^/*
            anonymous:  ~
            form_login:
                check_path:                     frontend_auth_check
                login_path:                     frontend_auth_login
                always_use_default_target_path: false
                default_target_path:            frontend_user_show
                target_path_parameter:          _referer
                use_referer:                    true
                success_handler:                login_success_handler
            logout:
                path:   frontend_auth_logout
                target: frontend_auth_login

    access_control:
        - { path: ^/admin/(login$|connect), roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/*, roles: [ ROLE_BACKEND ] }
        - { path: ^/managerws/*, roles: [ ROLE_MASTER ] }
        - { path: ^/*, roles: [ IS_AUTHENTICATED_ANONYMOUSLY, IS_AUTHENTICATED_FULLY ] }
