services:
    context:
        class: Symfony\Component\Routing\RequestContext

    matcher:
        class: Symfony\Component\Routing\Matcher\UrlMatcher
        arguments: [ %routes%, @context ]

    resolver:
        class: Onm\Framework\ControllerResolver

    listener.router:
        class: Symfony\Component\HttpKernel\EventListener\RouterListener
        arguments: [ @matcher ]

    listener.response:
        class: Symfony\Component\HttpKernel\EventListener\ResponseListener
        arguments: [ %charset% ]

    listener.instanceloader:
        class: Framework\EventListeners\InstanceLoaderListener

    listener.admin_auth:
        class: Framework\EventListeners\AdminAuthenticationListener

    listener.controller:
        class: Framework\EventListeners\ControllerListener

    listener.session:
        class: Framework\EventListeners\SessionListener

    listener.instance_exceptions:
        class: Framework\EventListeners\InstanceExceptionsListener
        # arguments: [ @logger ]

    listener.general_error_handler:
        class: Framework\EventListeners\GeneralExceptionsListener

    listener.app_bootup:
        class: Framework\EventListeners\ApplicationBootupListener

    listener.maintenance_mode:
        class: Framework\EventListeners\MaintenanceModeListener

    listener.l10n_system:
        class: Framework\EventListeners\L10nSystemListener

    listener.content_subscriber:
        class: Backend\EventListeners\ContentSubscriberListener

    listener.news_agency:
        class: Framework\EventListeners\NewsAgencyListener

    listener.varnish_cleaner:
        class: Framework\EventListeners\VarnishCleanerListener

    dispatcher:
        class: Symfony\Component\EventDispatcher\EventDispatcher
        calls:
            - ['addSubscriber', [ @listener.router]]
            - ['addSubscriber', [ @listener.admin_auth]]
            - ['addSubscriber', [ @listener.instanceloader]]
            - ['addSubscriber', [ @listener.controller]]
            - ['addSubscriber', [ @listener.response]]
            - ['addSubscriber', [ @listener.session]]
            - ['addSubscriber', [ @listener.instance_exceptions]]
            - ['addSubscriber', [ @listener.general_error_handler]]
            - ['addSubscriber', [ @listener.app_bootup]]
            - ['addSubscriber', [ @listener.maintenance_mode]]
            - ['addSubscriber', [ @listener.l10n_system]]
            - ['addSubscriber', [ @listener.content_subscriber]]
            - ['addSubscriber', [ @listener.news_agency]]
            - ['addSubscriber', [ @listener.varnish_cleaner]]

    framework:
        class: Onm\Framework\Framework
        arguments: [ @dispatcher, @resolver ]

    url_generator:
        class: Symfony\Component\Routing\Generator\UrlGenerator
        arguments: [ %routes%, @context ]

    db_conn:
        class: Onm\DatabaseConnection
        arguments: [ %database% ]

    db_conn_manager:
        class: Onm\DatabaseConnection
        arguments: [  %database% ]

    session_storage:
        class: %session_storage_class%
        arguments: [ %session_params% ]

    session:
        class: %session_handler_class%
        arguments: [ @session_storage ]

    logger:
        class: Onm\Log
        arguments: [ 'normal' ]

    mailer:
        class: Onm\Mailer
        arguments: [ %swiftmailer% ]

    cache:
        class: %cache_handler%
        arguments: [ %cache_handler_params% ]

    instance_manager:
        class: Onm\Instance\InstanceManager
        arguments: [ @db_conn_manager, @cache ]

    category_repository:
        class: Repository\CategoryManager
        arguments: [ @cache, %cache_prefix% ]

    comment_repository:
        class: Repository\CommentManager
        arguments: [ @cache, %cache_prefix% ]

    entity_repository:
        class: Repository\EntityManager
        arguments: [ @cache, %cache_prefix% ]

    user_repository:
        class: Repository\UserManager
        arguments: [ @cache, %cache_prefix% ]

    menu_repository:
        class: Repository\MenuManager
        arguments: [ @cache, %cache_prefix% ]

    usergroup_repository:
        class: Repository\UserGroupManager
        arguments: [ @cache, %cache_prefix% ]

    setting_repository:
        class: Repository\SettingManager
        arguments: [ @cache, %cache_prefix% ]

    newsletter_manager:
        class: Repository\NewsletterManager
        arguments: [ @mailer, @logger ]

    automatic_contents:
        class: Onm\MachineSearcher
        arguments: [ @cache ]

    acl_checker:
        class: Onm\Security\Acl

    varnish_cleaner:
        class: Onm\Varnish\VarnishCleaner
        arguments: [ %varnish% ]
