.login-body {
  background: url(/themes/manager/images/notebook.jpg) no-repeat;
  background-size: cover;

  form {
      position: absolute;
      width: 100%;
      z-index: 100;
  }

  .overlay {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 0;
  }
}
