/***********************************************************
    ADS definition
************************************************************/


#publis{
    text-align:left;
    margin:10px 0 10px 0;
    background:#ccc;
}
.publi { background:#ececec url(/themes/clarity/publi/back-publi.png) 40px 20px no-repeat;}
.publi_1{
    min-height:90px;
    display:block
}
.publi_2{
    min-height:90px;
    display:block;
}

.publi_310{
   background:#ccc;
   display:block;
   margin-bottom:15px;    
   width:100%;
}

.publi_310 img{
    border:5px solid White;
    margin:8px;
   
}

.publi-footer-1, .publi-footer-2{
	background:#ececec;
	height:90px;
	margin-bottom:10px;
}

/*******************************************/

.publi_banner{
   background:#ccc;
   overflow:hidden;
   border:1px solid #ccc;
   width:728px;
   height:90px;
   float:left;
   position:relative;
}

.publi_corta{
   background:#ccc;
   overflow:hidden;
   float:right;
   width:234px;
   height:90px;
   position:relative;
}


div.video .publi_310{
    background:#333;
}

div.video .publi_310 img{
	border-color:#222;
}

.publi_lateral{
   background:#ccc;
   display:block;
   margin-bottom:15px;
   padding:6px;
}

.publi_adsense{
   padding-left: 1px;
}
