.media-thumbnail-wrapper {
  float: left;
  margin-bottom: 20px;
  position: relative;

  .img-thumbnail {
    border: none;
  }

  .media-dimensions-label {
    font-size: 12px;
    height: 20px;
    line-height: 1.8em;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }

  .media-dimensions-overlay {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.media-information {
  clear: both;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
