.media-picker-body {
  height: auto;
  top: 50px;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.media-picker-content {
  height: 100%;
  padding-left: @width;
}

.media-picker-dialog {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  bottom: 20px;
  height: auto;
  left: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: auto;
  z-index: 1200;
}

.media-picker-footer {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 -2px 2px -2px rgba(0,0,0,.5);
  color: #fff;
  height: 50px;
  left: 0;
  opacity: 1;
  padding: 6px 8px;
  position: absolute;
  right: 250px;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;

  &.collapsed {
    bottom: -50px;
    opacity: 0;
  }

  ul {
    list-style: none;
    margin: 6px 0;
    padding: 0;

    li {
      float: left;
      height: 24px;
      padding: 0;
      margin-right: 4px;

      h4 {
        margin: 2px 6px;
      }

      .fa-check {
        color: @text-color;
        cursor: pointer;
        padding: 7px 8px;
      }

      .h-seperate {
        background: rgba(0, 0, 0, .25);
        display: inline-block;
        height: 24px;
        width: 1px;
      }
    }
  }

  .btn {
    background-color: #fff;
    border: none;
  }
}

.media-picker-header {
  border-bottom: 1px solid #eee;
  min-height: @height;
  padding-left: 7px;

  h4 {
    margin: 0;
    padding: 14px 0;
  }

  .media-picker-close {
    color: @text-color;
    cursor: pointer;
    margin: 8px 10px;
    padding: 10px;

    &:hover {
      color: darken(@text-color, 25%)
    }
  }
}

.media-picker-bar {
  border-bottom: 1px solid #eee;
  height: @height;
  padding: 7px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding: 0 14px 0 0;

      select {
        height: 36px !important;
      }

      .input-group {
        width: 200px;
      }
    }
  }
}

.media-picker-open {
  overflow: hidden;
}

.media-picker-panel {
  display: none;
  height: 100%;
  overflow: hidden;
  position: relative;

  &.active {
    display: block;
  }
}

.media-picker-wrapper {
  cursor: pointer;
  padding: 10px;

  .media-item {
    float: left;
    margin: 0 15px 15px 0;
    position: relative;

    .img-thumbnail {
      height: 120px;
      width: 120px;
      transition: none;
    }

    &.selectable {
      &:before {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
        content: "";
        display: block;
        height: 24px;
        left: auto;
        margin: 0;
        opacity: 0;
        position: absolute;
        right: -7px;
        transition: opacity .2s ease-in-out;
        top: -7px;
        width: 24px;
      }

      &:hover:before,
      &.selected:before {
        opacity: 1;
      }

      &.selected {
        &:after {
          color: @selected-color;
          content: "\f00c";
          font-family: 'FontAwesome';
          font-size: 18px;
          left: auto;
          position: absolute;
          right: -4.2px;
          top: -9px;
        }

        &:before {
          border-color: @selected-color;
        }

        .img-thumbnail {
          background-color: @selected-color;
        }
      }
    }
  }
}

.media-information-sidebar {
  background: #fff;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  bottom: 0;
  height: auto;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;

  h4 {
    margin: 14px 0;
  }
}

.media-items {
  position: absolute;
  bottom: 0;
  top: 50px;
  overflow-y: scroll;
  padding: 10px;
  right: 250px;
}
