@media screen and (max-width: 767px) {
  .media-picker-content {
    padding-left: 0;
    padding-top: 50px;
  }

  .media-picker-sidebar {
    float: none;
    height: 50px;
    width: 100%;

    ul {
      margin: 0;

      li {
        float: left;
      }
    }
  }

  .media-picker-panel {
    .media-picker-panel-body {
      border-top: 1px solid #eee;
      top: 0;
    }

    .media-picker-panel-footer {
      right: 0;
    }

    .media-picker-panel-header {
      display: none;
    }

    .media-picker-panel-sidebar {
      display: none;
    }

    .media-picker-panel-topbar {
      .input-group {
        display: none;
      }
    }

    .media-picker-panel-wrapper {
      padding-right: 0;
    }
  }
}
