.related .angular-ui-tree-placeholder {
  margin-bottom: 15px !important;
}

.related-item {
  background: #fff;
  border: 1px solid #d1dade;
  margin-bottom: 15px;
  padding: 14px 30px;
  position: relative;

  .btn-danger {
    position: absolute;
    right: 6px;
    top: 6px;
  }

  .related-item-info {
    overflow: hidden;
    padding-right: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .related-item-status {
    font-size: 0.8em;
    font-style: italic;
  }

  .related-item-type {
    margin: 0 6px;
  }
}
