.comments-listing {
    .table-wrapper {
      white-space: normal !important;
    }
    .table td {
      white-space: normal;
    }

    .comment-author-info, .comment-body-block {
      display:block;
      width:100%;
      clear:both;
    }
    .gravatar.img-thumbnail {
      min-width: 40px;
    }
}

.checkbox-title {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #505458;
  font-size: 1.12em;
}

.comment-system .comment-system-block {
  border:1px solid #ccc;
  border-radius:3px;
  padding:10px ;
  cursor:pointer;
  width:100%;
  display:block;
  text-align:center;
}
.comment-system .comment-system-block:hover {
  background:#eee;
}
.comment-system.active .comment-system-block {
  background-color: #0aa699 !important;
  border: 1px solid #0aa699 !important;
  color: White;
}
.comment-system.active .comment-system-block .help {
  color:White;
}

.comment-system .comment-system-block.btn-success {
  box-shadow: 0 0 0 0.2rem rgba(10,166,153,.4);
}

.comment-system .comment-system-block:hover {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.1);
}
