#modal-comment-change {
  .comment-system-element {
    width:90%;
    padding:20px 10px;
    margin:0 auto;
    margin-bottom: 10px;
    border:1px solid transparent;
    border-radius:5px;

    &:hover {
      border:1px solid #ccc;
    }
  }
}

