  .map {
    background: white;
    border-radius: 2px;

    & > div {
      min-height:400px;
    }
  }

.iptc-exif {
  .info {
    display:none;
  }

  .toggler {
    cursor:pointer;
  }

  .fa-plus {
    font-size: .8em;
    vertical-align:middle;
  }

  .photo-static-info p {
    margin-bottom:0;
  }
}
