@import "../../../assets/src/opennemas-webarch/less/helpers/_variables.less";

.module-grid {
  overflow: hidden;

  .grid-body {
    min-height: 220px;
  }

  .img-responsive {
    margin: 0 auto;
  }
}

.purchased-ribbon {
  background: @success-color;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 7px 40px 7px;
  position: absolute;
  right: -42px;
  text-transform: uppercase;
  top: 15px;
  transform: rotate(45deg);
}
