.input-wrapper {
  position: relative;

  input {
    background: none;
    opacity: .9999;
    padding-left: 30px !important;
    transition: all .25s;

    &:focus {
      padding-left: 8px !important;
    }
  }

  .fa {
    margin: 12px 0 0 12px;
    position: absolute;
    z-index: 0;
  }
}
