.modal-news-agency-preview {
  img {
    max-width: 100%;
  }

  .content-related {
    overflow: auto;
    white-space: nowrap;

    .img-thumbnail {
      display: inline-block;
      height: 120px;
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.related {
  .img-thumbnail-wrapper {
    .badge {
      bottom: 10px;
      position: absolute;
      right: 10px;
    }
  }
}
