.social-orb {
  border: 0;
  border-radius: 100%;
  height: 100px;
  margin: 0 auto 10px;
  overflow: hidden;
  width: 100px;

  &.facebook-orb {
    background: #3b5998;
    color: #fff;
  }

  &.twitter-orb {
    background: #55acee;
    color: #fff;
  }
}

h5 {
  color: #fff;
}

p {
  color: #fff;
}
