@import "../../../assets/src/opennemas-webarch/less/helpers/_variables.less";

.shakeit {
      -webkit-animation-name: thumb;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
}

.itemaddedanimate {
  -webkit-transition: all ease-in-out 0.5s;
}

@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.8); }
	100% { -webkit-transform: scale(1); }
}

@media (min-width: (@desktop-width)) {
  .modal-details-theme .modal-dialog {
    width: 800px;
  }
}
