body {
    background-color: #555 !important;
}

.wizard-title {
  display: inline-block;
  margin: 0 auto 50px;
  padding-top: 50px;

  h1 {
    border: 1px solid #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
}

.wizard-button {
  bottom: 140px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  width: 200px;

  .btn {
    border: 0;
  }
}

.wizard-container {
  background-size: cover;
  height: 100%;
  opacity: 0.00001;
  overflow: hidden;
  position: absolute;
  transition: all .25s linear;
  visibility: hidden;
  width: 100%;
  z-index: 0;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  &.welcome,
  &.ready {
    .wizard-button {
      bottom: 0;
      margin-top: 50px;
      position: relative;
    }
  }

  &.welcome {
    background-image: url(/themes/admin/images/welcome.jpg);
  }

  &.terms-and-conditions {
    background-image: url(/themes/admin/images/terms-and-conditions.jpg);

    .terms-wrapper {
      background: #fff;
      bottom: 220px;
      left: 25%;
      padding: 20px;
      position: absolute;
      right: 25%;
      text-align: left;
      top: 50px;
      -webkit-overflow-scrolling: touch !important;

      iframe {
        height: 100%;
        width: 100%;
      }

      p {
        padding-top: 15px;
      }

      .checkbox {
        margin-top: 10px;
      }
    }

    .arrow {
      background: url(/themes/admin/images/arrow-left.png);
      background-size: cover;
      position: absolute;
      height: 71px;
      width: 100px;
      margin-left: -110px;
      margin-top: -90px;
    }
  }

  &.help {
    background-image: url(/themes/admin/images/help.jpg);

    h3 {
      color: #fff;
      margin: 0;
      padding-top: 50px;
      text-align: center;
    }

    .help-items-wrapper {
      margin: 0 auto;
      width: 850px;

      .help-item {
        color: #fff;
        float: left;
        margin-right: 50px;
        text-align: center;
        width: 250px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          border-bottom: 1px dotted #fff;

          &:hover {

          }
        }

        .orb {
          border: 1px solid #fff;
          border-radius: 100%;
          height: 100px;
          margin: 25px auto 10px;
          padding: 25px;
          width: 100px;

          i {
            padding-top: 6px;
          }
        }
      }
    }
  }

  &.social-networks {
    background-image: url(/themes/admin/images/social-networks.jpg);

    .social-items-wrapper {
      margin: 0 auto;
      padding-top: 25px;
      width: 550px;

      .social-item {
        height: 200px;
        float: left;
        margin-right: 50px;
        width: 250px;

        &:last-child {
          margin-right: 0;
        }

        iframe {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &.ready {
    background-image: url(/themes/admin/images/finish.jpg);
  }
}

.wizard-content {
  height: auto;
  min-height: 100%;
  opacity: 0.9999;
  text-align: center;
  z-index: 10;

  p {
    color: #fff;
    font-size: 16px;
    text-align: center;
  }

  h4 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.wizard-footer {
  background: #fff;
  bottom: 0;
  height: 120px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  z-index: 20;

  .wizard-footer-wrapper {
    margin: 0 auto;
    width: 980px;
  }
}

.wizard-orb {
  background: #fff;
  border: 1px solid lighten(#1b1e24, 10%);
  border-radius: 100%;
  height: 50px;
  margin: 0 auto 15px;
  width: 50px;

  h4 {
    color: lighten(#1b1e24, 10%);;
    font-weight: 400;
    padding-top: 2px;
  }
}

.wizard-overlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.wizard-step {
  background: none;
  border: 0;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  outline: none;
  position: relative;
  text-align: center;
  width: 180px;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    .wizard-orb {
      background: lighten(#1b1e24, 10%);

      h4 {
        color: #fff;
      }
    }

    &:after {
      background: lighten(#1b1e24, 10%);
      border-radius: 4px;
      border: 1px solid lighten(#1b1e24, 10%);
      content: "";
      height: 4px;
      left: 0;
      margin-left: -70px;
      margin-top: -24px;
      position: absolute;
      top: 50%;
      width: 120px;
    }

    &:first-child:after {
      content: none;
    }
  }
}

.wizard-wrapper {
  min-height: 100%;
}

@media (max-width: 991px) {
  .wizard-container {
    &.help {
      &.active {
        height: auto;
        min-height: 100%;
        overflow: initial;
      }

      .help-items-wrapper {
        width: 100%;

        .help-item {
          float: none;
          width: 100%;
        }

      }

      .wizard-button {
        bottom: 0;
        left: 0;
        margin: 25px auto 0;
        position: relative;
      }
    }

    &.terms-and-conditions {
      .arrow {
        margin-left: 7px;
        margin-top: 4px;
        transform: rotate(180deg);
      }

      .terms-wrapper {
        bottom: 90px;
        left: 15px;
        right: 15px;
        left: 10%;
        right: 10%;
        top: 50px;
      }

      .wizard-button {
        bottom: 15px;
      }

      .arrow  {

        margin-left: 9px;
        margin-top: 7px;
        transform: rotate(180deg);
      }
    }
  }

  .wizard-content {
    padding: 15px;
  }

  .wizard-footer {
    display: none;
  }
}

@media (max-width: 767px) {
  .wizard-container {
    &.help {
      .help-items-wrapper {
        max-width: 480px;

        .help-item {
          margin: 20px 0;
          min-height: 100px;

          .orb {
            margin: 0;
            position: absolute;
          }

          .item-text {
            padding-left: 120px;
          }
        }
      }
    }

    &.social-networks {
      &.active {
        height: auto;
        overflow: initial;
      }

      .social-items-wrapper {
        width: 100%;

        .social-item {
          float: none;
          width: 100%;
        }
      }

      .wizard-button {
        bottom: 0;
        left: 0;
        margin: 25px auto 0;
        position: relative;
      }
    }

    &.terms-and-conditions {
      p {
        padding-top: 0;
      }

      .arrow {
        height: 35.5px;
        margin-left: 7px;
        margin-top: 4px;
        transform: rotate(180deg);
        width: 50px;
      }

      .terms-wrapper {
        top: 70px;
      }

      .arrow {
        margin-left: 9px;
        margin-top: 7px;
        transform: rotate(180deg);
    }
  }

  .wizard-title {
    padding: 0;
    margin-bottom: 30px;

    h1 {
      margin: 0;
      font-size: 28px;
    }
  }
}
