<Files ~ "\.tpl$">
Order Deny,Allow
Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #--------------------------------------------------------
    #Redirection from old nuevatribuna.es


    #Inner Article
    RewriteRule ^noticia/([0-9]+)/($|.+/$|.+html$) /controllers/redirect-from-editmaker.php?content_type=article&content_id=$1 [L,NC]

    RewriteCond %{QUERY_STRING} &?ref=([^&]+)&?pos=([^&]+) [OR]
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)
    RewriteRule ^noticia\.asp$ /controllers/redirect-from-editmaker.php?content_type=article&content_id=%1 [L,NC]

    #-------------------------
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)&?pos=([^&]+) [OR]
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)
    RewriteRule ^noticia\.asp$ /controllers/redirect-from-editmaker.php?content_type=article&content_id=%1 [L,NC]
    #-------------------------
    RewriteCond %{QUERY_STRING} &?id=([^&]+)&?pg=([^&]+) [OR]
    RewriteCond %{QUERY_STRING} &?id=([^&]+)
    RewriteRule ^foros/mostrar_foro\.asp$ /controllers/redirect-from-editmaker.php?content_type=article&content_id=%1 [L,NC]
    #-------------------------
    RewriteCond %{QUERY_STRING} &?pg=([^&]+)&?[(pf=)|(s=)]([^&]+)
    RewriteRule ^pda/noticia\.asp$ /mobile/? [R=301,L,NC]

    #Inner Opinion
    RewriteRule ^noticia/([0-9]+)/OPINI.+/($|.+html$) /controllers/redirect-from-editmaker.php?content_type=article&content_id=$1 [L,NC]

    #Section
    RewriteCond %{QUERY_STRING} ref=58
    RewriteRule ^seccion\.asp$ /estaticas/quienes-somos.html? [R=301,L,NC]
    RewriteCond %{QUERY_STRING} ref=54
    RewriteRule ^seccion\.asp$ /estaticas/aviso-legal.html? [R=301,L,NC]
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)
    RewriteRule ^seccion\.asp$ /controllers/redirect-from-editmaker.php?content_type=category&content_id=%1 [L,NC]

    #SECTIONS: seccion/51/SOCIEDAD/
    RewriteCond %{QUERY_STRING} &?s=([^&]+)
    RewriteRule ^pda/seccion\.asp$ /controllers/redirect-from-editmaker.php?content_type=category&content_id=%1 [L,NC]
    #TODO:send former pda URL to new mobile URL section

    #SECTIONS: seccion/51/SOCIEDAD/
    RewriteCond %{REQUEST_URI} [A-Z]
    RewriteRule ^seccion/([0-9]+)/(.+)/ /controllers/redirect-from-editmaker.php?content_type=category&content_id=$1 [L,NC]
    #RewriteRule ^seccion/[0-9]+/([a-zA-Z0-9\-]+)/ /seccion/${lc:$1}/ [R=301,L,NC]

    #Other issues/topics/modules

    RewriteRule ^index.asp$ / [R=301,L,NC]
    RewriteRule ^enviar-noticia.asp$ / [R=301,L,NC]
    RewriteRule ^imprimir-noticia.asp$ / [R=301,L,NC]
    RewriteRule ^seccion.asp$ / [R=301,L,NC]
    RewriteRule ^rss/portada.asp$ /rss/? [R=301,L,NC]
    RewriteRule ^editmaker/i18n/text_idioma.asp$ / [R=301,L,NC]
    #--------------------------------------------------------

    #Old Static pages
    RewriteRule ^contacto($|/$) /estaticas/contacto? [R=301,L,NC]
    #--------------------------------------------------------

    #Articles articulo/2008/09/29/galicia/ourense/titulo-noticia-separada-guiones/1222692016.html
    #Articles articulo/2008/09/29/galicia/titulo-noticia-separada-guiones/1222692016.html
    RewriteRule ^articulo/([a-z0-9\-]+)?/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/([a-z0-9\-]+)/([0-9]+).html$ controllers/article.php?category_name=$1&year=$2&month=$3&day=$4&article_id=$6&action=read [L,NC]
    RewriteRule ^articulo/([a-z0-9\-]+)?/.*/([0-9]+).html$ controllers/article.php?category_name=$1&article_id=$2&action=read [L,NC]

    #RewriteRule ^articulo/([a-z0-9\-]+)/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/([a-z0-9\-]+)/(.*)/([0-9]+).html$ controllers/article.php?year=$1&month=$2&day=$3&category_name=$4&subcategory_name=$5&article_title=$6&article_id=$7&action=read [L,NC]
    RewriteRule ^articulo/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z0-9\-]+)/(.*)/([0-9]+).html$ controllers/article.php?year=$1&month=$2&day=$3&category_name=$4&article_title=$5&article_id=$6&action=read [L,NC]
    RewriteRule ^articulo/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([0-9]+\-[a-z])/(.*)/([0-9]+).html$ controllers/article.php?year=$1&month=$2&day=$3&category_name=$4&article_title=$5&article_id=$6&action=read [L,NC]

    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z]+)/([a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&subcategory_name=$5&article_id=$7&action=captcha [L,NC]
    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([0-9]+\-[a-z]+)/([a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&article_id=$6&action=captcha [L,NC]
    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([0-9]+\-[a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&article_id=$6&action=captcha [L,NC]
    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&article_id=$6&action=captcha [L,NC]

    #Opinion Frontpage
    RewriteRule ^seccion/opinion/([0-9]+)/$ controllers/opinion_index.php?category_name=opinion&action=list_opinions&page=$1 [L,NC]
    RewriteRule ^seccion/opinion/?$ controllers/opinion_index.php?category_name=opinion&action=list_opinions [L,NC]

    #Opinion Autor index
    RewriteRule ^opinion/autor/([0-9]+)/(.*)/([0-9]*)/$ controllers/opinion_index.php?alt=pag&category_name=opinion&action=list_op_author&author_id=$1&page=$3 [L,NC]
    RewriteRule ^opinion/autor/([0-9]+)/(.*)$ controllers/opinion_index.php?alt=nopag&category_name=opinion&action=list_op_author&author_id=$1 [L,NC]

    #Opinion Inner
    RewriteRule ^opinion(|/.+)?/([a-z0-9\-]+)?/(.*)?/([0-9]+).html$ controllers/opinion_inner.php?opinion_id=$4&category_name=opinion&action=read&t=$1 [L,NC]

    #articulos print
    RewriteRule ^imprimir/[^/]+/([a-z0-9\-_]+)/([a-z0-9\-_]+)/([0-9]+).html$ controllers/article.php?action=print&article_id=$3&category_name=$1&subcategory_name=$2 [L,NC]
    RewriteRule ^imprimir/[^/]+/([a-z0-9\-_]+)/([0-9]+).html$ controllers/article.php?action=print&article_id=$2&category_name=$1 [L,NC]
    RewriteRule ^imprimir/[^/]+/([0-9]+).html$ controllers/opinion_inner.php?action=print&opinion_id=$1 [L,NC]

    #Home
    RewriteRule ^/?$ controllers/index.php?category_name=home [L,NC]
    RewriteRule ^home/?$ controllers/index.php?category_name=home [L,NC]

    #Sections
    RewriteRule ^seccion/([a-z0-9\-]+)/?$ controllers/index.php?category_name=$1 [L,NC]
    RewriteRule ^seccion/([a-z0-9\-]+)/([0-9]+)/?$ controllers/index.php?category_name=$1&page=$2 [L,NC]
    RewriteRule ^seccion/([a-z0-9\-]+)/([a-z0-9\-]+)/?$ controllers/index.php?category_name=$1&subcategory_name=$2 [L,NC]
    RewriteRule ^seccion/([a-z0-9\-]+)/([a-z0-9\-]+)/([0-9]+)/?$ controllers/index.php?category_name=$1&subcategory_name=$2&page=$3 [L,NC]

    #RSS
    RewriteRule ^rss/?$ controllers/article.php?action=rss [L,NC]
    RewriteRule ^rss/listado/?$ controllers/article.php?action=index_rss [L,NC]
    RewriteRule ^rss/opinion/([0-9]+)/?$ controllers/article.php?category_name=opinion&author=$1&action=rss [L,NC]
    RewriteRule ^rss/([a-z0-9-]+)/([a-z0-9-]+)/?$ controllers/article.php?category_name=$1&subcategory_name=$2&action=rss [L,NC]
    RewriteRule ^rss/([a-z0-9-]+)/?$ controllers/article.php?category_name=$1&action=rss [L,NC]

    #Sitemap
    RewriteRule ^sitemapnews.xml?$ controllers/sitemap.php?action=news [L,NC]
    RewriteRule ^sitemapweb.xml?$ controllers/sitemap.php?action=web [L,NC]
    RewriteRule ^sitemap.xml?$ controllers/sitemap.php [L,NC]

    #Robots.txt
    RewriteRule ^robots.txt?$ controllers/robots.php [L,NC]

    #Advertisement
    RewriteRule ^publicidade/get/([0-9]+).html$ controllers/advertisement.php?action=get&id=$1 [L,NC]
    RewriteRule ^publicidade/([0-9]+).html$ controllers/advertisement.php?action=show&publi_id=$1 [L,NC]

    #Album
    #/album/2008/12/08/foto/200812081741363340.html
    RewriteRule ^albumes/?$ controllers/album.php?action=frontpage [L,NC]
    RewriteRule ^albumes/([0-9])?$ controllers/album.php?action=frontpage&page=$1 [L,NC]
    #            album/generic/2011-07-09/prueba/2011070918522200812.html
    RewriteRule ^album/([a-z0-9\-]+)/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/(.*)/([0-9]+).html$ controllers/album.php?action=show&album_id=$6&category_name=$1 [L,NC]
    #http://retrincos.es/album/solo-album/
    RewriteRule ^album/([a-z0-9\-]+)/?$ controllers/album.php?action=foto&category_name=$1 [L,NC]
    RewriteRule ^album/([a-z0-9\-]+)/([a-z0-9-]+)/?$ controllers/album.php?action=foto&category_name=$1&subcategory_name=$2 [L,NC]

    #Video
    #/video/0/2008/12/08/200812081741363340.html
    RewriteRule ^video/?$ controllers/videos.php?action=list [L,NC]
    RewriteRule ^video/([a-z0-9\-]+)/?$ controllers/videos.php?action=list&category_name=$1 [L,NC]
    RewriteRule ^video/([a-z0-9\-]+)/([a-z0-9-]+)/?$ controllers/videos.php?action=list&category_name=$1&subcategory_name=$2 [L,NC]
    RewriteRule ^video/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([0-9]+).html$ controllers/videos.php?action=inner&id=$4 [L,NC]


    #Files
    RewriteRule ^ficheiro/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/[a-z0-9_\-]+/([a-z0-9_\-]+)/([a-z0-9_\-]+)\.([a-z0-9]{2,4})$ /media/files/$1/$2/$3/$5.$6 [L,NC]
    RewriteRule ^ficheiro/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z0-9_\-]+)/([a-z0-9_\-]+)\.([a-z0-9]{2,4})$ /media/files/$1/$2/$3/$5.$6 [L,NC]

    #Search
    RewriteRule ^search/google/(.*)$ controllers/search.php?stringSearch=$1&googleSearch=on [L,NC]

    #Static pages
    RewriteRule ^estaticas/([a-z0-9\-]+)(\.html|/)?$ controllers/statics.php?slug=$1 [L,NC]

    #Newsletter links
    RewriteRule ^([a-z0-9\-]+)/([0-9]{4}-[0-1][0-9]-[0-3][0-9])/([0-9]+)/$ /seccion/$1/#$3 [R=301,NE,NC,L]
    RewriteRule ^newsletter/?$  controllers/subscripcionBoletin.php [L,NC]

    #Default Rules
    # RewriteCond %{REQUEST_URI} !^/controllers/index.php
    RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*)$  [NC]


    ErrorDocument 404 /controllers/404.html
</IfModule>
