<Files ~ "\.tpl$">
Order Deny,Allow
Deny from all
</Files>

# Apache configuration file
# httpd.apache.org/docs/2.2/mod/quickreference.html

# Note .htaccess files are an overhead, this logic should be in your Apache config if possible
# httpd.apache.org/docs/2.2/howto/htaccess.html

# Techniques in here adapted from all over, including:
#   Kroc Camen: camendesign.com/.htaccess
#   perishablepress.com/press/2006/01/10/stupid-htaccess-tricks/
#   Sample .htaccess file of CMS MODx: modxcms.com

# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------

# Force the latest IE version, in various cases when it may fall back to IE7 mode
#  github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk

<IfModule mod_headers.c>
    Header set X-UA-Compatible "IE=Edge,chrome=1"
    # mod_headers can't match by content-type, but we don't want to send this header on *everything*...
    <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|xpi|safariextz|vcf)$" >
      Header unset X-UA-Compatible
    </FilesMatch>
</IfModule>


# ----------------------------------------------------------------------
# Cross-domain AJAX requests
# ----------------------------------------------------------------------
#  <IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin "*"
#  </IfModule>



# ----------------------------------------------------------------------
# Webfont access
# ----------------------------------------------------------------------
<FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>



# ----------------------------------------------------------------------
# Proper MIME type for all files
# ----------------------------------------------------------------------


# JavaScript
#   Normalize to standard type (it's sniffed in IE anyways)
#   tools.ietf.org/html/rfc4329#section-7.2
AddType application/javascript         js

# Audio
AddType audio/ogg                      oga ogg
AddType audio/mp4                      m4a

# Video
AddType video/ogg                      ogv
AddType video/mp4                      mp4 m4v
AddType video/webm                     webm

# SVG.
#   Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType     image/svg+xml              svg svgz
AddEncoding gzip                       svgz

# Webfonts
AddType application/vnd.ms-fontobject  eot
AddType application/x-font-ttf    ttf ttc
AddType font/opentype                  otf
AddType application/x-font-woff        woff

# Assorted types
AddType image/x-icon                   ico
AddType image/webp                     webp
AddType text/cache-manifest            appcache manifest
AddType text/x-component               htc
AddType application/x-chrome-extension crx
AddType application/x-xpinstall        xpi
AddType application/octet-stream       safariextz
AddType text/x-vcard                   vcf



# ----------------------------------------------------------------------
# Allow concatenation from within specific js and css files
# ----------------------------------------------------------------------

# e.g. Inside of script.combined.js you could have
#   <!--#include file="libs/jquery-1.5.0.min.js" -->
#   <!--#include file="plugins/jquery.idletimer.js" -->
# and they would be included into this single file.

# This is not in use in the boilerplate as it stands. You may
# choose to name your files in this way for this advantage or
# concatenate and minify them manually.
# Disabled by default.

#<FilesMatch "\.combined\.js$">
#  Options +Includes
#  AddOutputFilterByType INCLUDES application/javascript application/json
#  SetOutputFilter INCLUDES
#</FilesMatch>
#<FilesMatch "\.combined\.css$">
#  Options +Includes
#  AddOutputFilterByType INCLUDES text/css
#  SetOutputFilter INCLUDES
#</FilesMatch>


# ----------------------------------------------------------------------
# Gzip compression
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

# Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
    RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
  </IfModule>
</IfModule>

# HTML, TXT, CSS, JavaScript, JSON, XML, HTC:
<IfModule filter_module>
  FilterDeclare   COMPRESS
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/html
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/css
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/plain
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/x-component
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/javascript
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/json
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xhtml+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/rss+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/atom+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/vnd.ms-fontobject
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $image/svg+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/x-font-ttf
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $font/opentype
  FilterChain     COMPRESS
  FilterProtocol  COMPRESS  DEFLATE change=yes;byteranges=no
</IfModule>

<IfModule !mod_filter.c>
  # Legacy versions of Apache
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
  AddOutputFilterByType DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
  AddOutputFilterByType DEFLATE image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
</IfModule>
</IfModule>



# ----------------------------------------------------------------------
# Expires headers (for better cache control)
# ----------------------------------------------------------------------

# These are pretty far-future expires headers.
# They assume you control versioning with cachebusting query params like
#   <script src="application.js?20100608">
# Additionally, consider that outdated proxies may miscache
#   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/

# If you don't use filenames to version, lower the CSS  and JS to something like
#   "access plus 1 week" or so.

<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest       "access plus 0 seconds"

# Your document html
  ExpiresByType text/html                 "access plus 0 seconds"

# Data
  ExpiresByType text/xml                  "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType application/json          "access plus 0 seconds"

# Feed
  ExpiresByType application/rss+xml       "access plus 1 hour"
  ExpiresByType application/atom+xml      "access plus 1 hour"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 week"

# Media: images, video, audio
  ExpiresByType image/gif                 "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 month"
  ExpiresByType image/jpg                 "access plus 1 month"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType video/ogg                 "access plus 1 month"
  ExpiresByType audio/ogg                 "access plus 1 month"
  ExpiresByType video/mp4                 "access plus 1 month"
  ExpiresByType video/webm                "access plus 1 month"

# HTC files  (css3pie)
  ExpiresByType text/x-component          "access plus 1 month"

# Webfonts
  ExpiresByType font/truetype             "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

# CSS and JavaScript
  ExpiresByType text/css                  "access plus 1 year"
  ExpiresByType application/javascript    "access plus 1 year"

  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>

</IfModule>



# ----------------------------------------------------------------------
# ETag removal
# ----------------------------------------------------------------------

# FileETag None is not enough for every server.
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

# Since we're sending far-future expires, we don't need ETags for
# static content.
#   developer.yahoo.com/performance/rules.html#etags
FileETag None



# ----------------------------------------------------------------------
# Stop screen flicker in IE on CSS rollovers
# ----------------------------------------------------------------------

# The following directives stop screen flicker in IE on CSS rollovers - in
# combination with the "ExpiresByType" rules for images (see above). If
# needed, un-comment the following rules.

# BrowserMatch "MSIE" brokenvary=1
# BrowserMatch "Mozilla/4.[0-9]{2}" brokenvary=1
# BrowserMatch "Opera" !brokenvary
# SetEnvIf brokenvary 1 force-no-vary



# ----------------------------------------------------------------------
# Cookie setting from iframes
# ----------------------------------------------------------------------

# Allow cookies to be set from iframes (for IE only)
# If needed, uncomment and specify a path or regex in the Location directive

# <IfModule mod_headers.c>
#   <Location />
#     Header set P3P "policyref=\"/w3c/p3p.xml\", CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""
#   </Location>
# </IfModule>



# ----------------------------------------------------------------------
# Start rewrite engine
# ----------------------------------------------------------------------

# Turning on the rewrite engine is necessary for the following rules and features.
# FollowSymLinks must be enabled for this to work.

<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
</IfModule>



# ----------------------------------------------------------------------
# Built-in filename-based cache busting
# ----------------------------------------------------------------------

# If you're not using the build script to manage your filename version revving,
# you might want to consider enabling this, which will route requests for
# /css/style.20110203.css to /css/style.css

# To understand why this is important and a better idea than all.css?v1231,
# read: github.com/paulirish/html5-boilerplate/wiki/Version-Control-with-Cachebusting

# Uncomment to enable.
# <IfModule mod_rewrite.c>
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteRule ^(.+)\.(\d+)\.(js|css|png|jpg|gif)$ $1.$3 [L]
# </IfModule>



# ----------------------------------------------------------------------
# Prevent 404 errors for non-existing redirected folders
# ----------------------------------------------------------------------

# without -MultiViews, Apache will give a 404 for a rewrite if a folder of the same name does not exist
#   e.g. /blog/hello : webmasterworld.com/apache/3808792.htm

Options -MultiViews


# ----------------------------------------------------------------------
# UTF-8 encoding
# ----------------------------------------------------------------------

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss .atom



# ----------------------------------------------------------------------
# A little more security
# ----------------------------------------------------------------------


# Do we want to advertise the exact version number of Apache we're running?
# Probably not.
## This can only be enabled if used in httpd.conf - It will not work in .htaccess
# ServerTokens Prod


# "-Indexes" will have Apache block users from browsing folders without a default document
# Usually you should leave this activated, because you shouldn't allow everybody to surf through
# every folder on your server (which includes rather private places like CMS system folders).
Options -Indexes


# Block access to "hidden" directories whose names begin with a period. This
# includes directories used by version control systems such as Subversion or Git.
<IfModule mod_rewrite.c>
  RewriteRule "(^|/)\." - [F]
</IfModule>



# Increase cookie security
<IfModule php5_module>
    php_value session.cookie_httponly true
</IfModule>


# ----------------------------------------------------------------------
# ONM core rules
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
    Header set X-Powered-By "OpenNemas CMS"
    # mod_headers can't match by content-type, but we don't want to send this header on *everything*...
    <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|xpi|safariextz|vcf)$" >
      Header unset X-Powered-By
    </FilesMatch>
</IfModule>


# ----------------------------------------------------------------------
# OpenNeMas Apache rules
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #--------------------------------------------------------
    #Redirection from old elidealgallego.com
    #Inner Article
    RewriteRule ^index\.php/[a-z0-9\-]+/[a-z0-9\-]+/([0-9]+)\-[a-z0-9\-]+/?$ /controllers/redirect-imported-elements.php?content_type=article&content_id=$1 [L,NC]
    RewriteRule ^index\.php/opinion/[a-z0-9\-]+/([0-9]+)\-[a-z]/?$ /controllers/redirect-from-editmaker.php?content_type=opinion&content_id=$1 [L,NC]
    #------------------------
    RewriteRule ^index.php/?$ / [R=301,L,NC]
    RewriteRule ^index.php/inicio/?$ / [R=301,L,NC]
    RewriteRule ^index.php/opinion.*/?$ /opinion/ [R=301,L,NC]
    RewriteRule ^index.php/iberia/?$ /seccion/espana/ [R=301,L,NC]
    RewriteRule ^index.php/opinion/?$ /opinion/ [R=301,L,NC]
    RewriteRule ^index.php/historial-aturuxos/[0-9]+\-[a-z0-9\-]+/?$ /opinion/autor/000005/aturuxos/ [R=301,L,NC]
    RewriteRule ^index.php/mundo.*/?$ /seccion/mundo/ [R=301,L,NC]
    RewriteRule ^index.php/economia.*/?$ /seccion/economia/ [R=301,L,NC]
    RewriteRule ^index.php/sociedad.*/?$ /seccion/sociedad/ [R=301,L,NC]
    RewriteRule ^index.php/deportes.*/?$ /seccion/deportes/ [R=301,L,NC]
    RewriteRule ^index.php/periodico-impreso/a-coruna/?$ /seccion/coruna/ [R=301,L,NC]
    RewriteRule ^index.php/periodico-impreso/area-metropolitana/?$ /seccion/area-metropolitana/ [R=301,L,NC]
    RewriteRule ^index.php/periodico-impreso/provincia/?$ /seccion/coruna/ [R=301,L,NC]
    RewriteRule ^index.php/horoscopo-semanal/?$ /estaticas/horoscopo.html [R=301,L,NC]
    RewriteRule ^index.php/cartelera/?$ /estaticas/cartelera.html [R=301,L,NC]
    RewriteRule ^index.php/aeropuertos/?$ /estaticas/aeropuertos.html [R=301,L,NC]
    RewriteRule ^index.php/farmacias/?$ /estaticas/farmacia.html [R=301,L,NC]
    RewriteRule ^index.php/galerias/?$ /album/ [R=301,L,NC]
    RewriteRule ^index.php/.*/?$ / [R=301,L,NC]
    #--------------------------------------------------------

    #--------------------------------------------------------
    #Redirection from old nuevatribuna.es

    # provisiona cronicas
    RewriteRule ^agenda/?   http://www.cronicasdelaemigracion.com/agenda/


    #Inner Article
    RewriteRule ^noticia/([0-9]+)/($|.+/$|.+html$) /controllers/redirect-from-editmaker.php?content_type=article&content_id=$1 [L,NC]

    RewriteCond %{QUERY_STRING} &?ref=([^&]+)&?pos=([^&]+) [OR]
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)
    RewriteRule ^noticia\.asp$ /controllers/redirect-from-editmaker.php?content_type=article&content_id=%1 [L,NC]

    #-------------------------
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)&?pos=([^&]+) [OR]
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)
    RewriteRule ^noticia\.asp$ /controllers/redirect-from-editmaker.php?content_type=article&content_id=%1 [L,NC]
    #-------------------------
    RewriteCond %{QUERY_STRING} &?id=([^&]+)&?pg=([^&]+) [OR]
    RewriteCond %{QUERY_STRING} &?id=([^&]+)
    RewriteRule ^foros/mostrar_foro\.asp$ /controllers/redirect-from-editmaker.php?content_type=article&content_id=%1 [L,NC]
    #-------------------------
    RewriteCond %{QUERY_STRING} &?pg=([^&]+)&?[(pf=)|(s=)]([^&]+)
    RewriteRule ^pda/noticia\.asp$ /mobile/? [R=301,L,NC]

    #Inner Opinion
    RewriteRule ^noticia/([0-9]+)/OPINI.+/($|.+html$) /controllers/redirect-from-editmaker.php?content_type=article&content_id=$1 [L,NC]

    #Section
    RewriteCond %{QUERY_STRING} ref=58
    RewriteRule ^seccion\.asp$ /estaticas/quienes-somos.html? [R=301,L,NC]
    RewriteCond %{QUERY_STRING} ref=54
    RewriteRule ^seccion\.asp$ /estaticas/aviso-legal.html? [R=301,L,NC]
    RewriteCond %{QUERY_STRING} &?ref=([^&]+)
    RewriteRule ^seccion\.asp$ /controllers/redirect-from-editmaker.php?content_type=category&content_id=%1 [L,NC]

    #SECTIONS: seccion/51/SOCIEDAD/
    RewriteCond %{QUERY_STRING} &?s=([^&]+)
    RewriteRule ^pda/seccion\.asp$ /controllers/redirect-from-editmaker.php?content_type=category&content_id=%1 [L,NC]
    #TODO:send former pda URL to new mobile URL section

    #SECTIONS: seccion/51/SOCIEDAD/
    RewriteCond %{REQUEST_URI} [A-Z]
    RewriteRule ^seccion/([0-9]+)/(.+)/ /controllers/redirect-from-editmaker.php?content_type=category&content_id=$1 [L,NC]
    #RewriteRule ^seccion/[0-9]+/([a-zA-Z0-9\-]+)/ /seccion/${lc:$1}/ [R=301,L,NC]

    #Other issues/topics/modules

    RewriteRule ^index.asp$ / [R=301,L,NC]
    RewriteRule ^enviar-noticia.asp$ / [R=301,L,NC]
    RewriteRule ^imprimir-noticia.asp$ / [R=301,L,NC]
    RewriteRule ^seccion.asp$ / [R=301,L,NC]
    RewriteRule ^rss/portada.asp$ /rss/? [R=301,L,NC]
    RewriteRule ^editmaker/i18n/text_idioma.asp$ / [R=301,L,NC]
    #--------------------------------------------------------

    #Old Static pages
    RewriteRule ^contacto($|/$) /estaticas/contacto? [R=301,L,NC]
    #--------------------------------------------------------

    #Articles articulo/2008/09/29/galicia/ourense/titulo-noticia-separada-guiones/1222692016.html
    #Articles articulo/2008/09/29/galicia/titulo-noticia-separada-guiones/1222692016.html
    RewriteRule ^articulo/([a-z0-9\-]+)?/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/([a-z0-9\-]+)/([0-9]+).html$ controllers/article.php?category_name=$1&year=$2&month=$3&day=$4&article_id=$6&action=read [L,NC]
    RewriteRule ^articulo/([a-z0-9\-]+)?/.*/([0-9]+).html$ controllers/article.php?category_name=$1&article_id=$2&action=read [L,NC]

    #RewriteRule ^articulo/([a-z0-9\-]+)/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/([a-z0-9\-]+)/(.*)/([0-9]+).html$ controllers/article.php?year=$1&month=$2&day=$3&category_name=$4&subcategory_name=$5&article_title=$6&article_id=$7&action=read [L,NC]
    RewriteRule ^articulo/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z0-9\-]+)/(.*)/([0-9]+).html$ controllers/article.php?year=$1&month=$2&day=$3&category_name=$4&article_title=$5&article_id=$6&action=read [L,NC]
    RewriteRule ^articulo/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([0-9]+\-[a-z])/(.*)/([0-9]+).html$ controllers/article.php?year=$1&month=$2&day=$3&category_name=$4&article_title=$5&article_id=$6&action=read [L,NC]

    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z]+)/([a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&subcategory_name=$5&article_id=$7&action=captcha [L,NC]
    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([0-9]+\-[a-z]+)/([a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&article_id=$6&action=captcha [L,NC]
    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([0-9]+\-[a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&article_id=$6&action=captcha [L,NC]
    RewriteRule ^articulo/captcha/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z]+)/(.*)/([0-9]+).jpg$ controllers/article.php?category_name=$4&article_id=$6&action=captcha [L,NC]

    #Opinion Frontpage
    RewriteRule ^opinion/([0-9]+)/$ controllers/opinion_index.php?category_name=opinion&action=list_opinions&page=$1 [L,NC]
    RewriteRule ^opinion/?$ controllers/opinion_index.php?category_name=opinion&action=list_opinions [L,NC]

    #Opinion Autor index
    RewriteRule ^opinion/autor/([0-9]+)/(.*)/([0-9]*)/$ controllers/opinion_index.php?alt=pag&category_name=opinion&action=list_op_author&author_id=$1&page=$3 [L,NC]
    RewriteRule ^opinion/autor/([0-9]+)/(.*)$ controllers/opinion_index.php?alt=nopag&category_name=opinion&action=list_op_author&author_id=$1 [L,NC]

    #Opinion Inner
    RewriteRule ^opinion(|/.+)?/([a-z0-9\-]+)?/(.*)?/([0-9]+).html$ controllers/opinion_inner.php?opinion_id=$4&category_name=opinion&action=read&t=$1 [L,NC]

    #articulos print
    RewriteRule ^imprimir/[^/]+/([a-z0-9\-_]+)/([a-z0-9\-_]+)/([0-9]+).html$ controllers/article.php?action=print&article_id=$3&category_name=$1&subcategory_name=$2 [L,NC]
    RewriteRule ^imprimir/[^/]+/([a-z0-9\-_]+)/([0-9]+).html$ controllers/article.php?action=print&article_id=$2&category_name=$1 [L,NC]
    RewriteRule ^imprimir/[^/]+/([0-9]+).html$ controllers/opinion_inner.php?action=print&opinion_id=$1 [L,NC]

    #Home
    RewriteRule ^/?$ controllers/index.php?category_name=home [L,NC]
    RewriteRule ^home/?$ controllers/index.php?category_name=home [L,NC]

    #Sections
    RewriteRule ^seccion/([a-z0-9\-]+)/?$ controllers/index.php?category_name=$1 [L,NC]
    RewriteRule ^seccion/([a-z0-9\-]+)/([0-9]+)/?$ controllers/index.php?category_name=$1&page=$2 [L,NC]
    RewriteRule ^seccion/([a-z0-9\-]+)/([a-z0-9\-]+)/?$ controllers/index.php?category_name=$1&subcategory_name=$2 [L,NC]
    RewriteRule ^seccion/([a-z0-9\-]+)/([a-z0-9\-]+)/([0-9]+)/?$ controllers/index.php?category_name=$1&subcategory_name=$2&page=$3 [L,NC]

    #RSS
    RewriteRule ^rss/?$ controllers/article.php?action=rss [L,NC]
    RewriteRule ^rss/listado/?$ controllers/article.php?action=index_rss [L,NC]
    RewriteRule ^rss/opinion/([0-9]+)/?$ controllers/article.php?category_name=opinion&author=$1&action=rss [L,NC]
    RewriteRule ^rss/([a-z0-9-]+)/([a-z0-9-]+)/?$ controllers/article.php?category_name=$1&subcategory_name=$2&action=rss [L,NC]
    RewriteRule ^rss/([a-z0-9-]+)/?$ controllers/article.php?category_name=$1&action=rss [L,NC]

    #Sitemap
    RewriteRule ^sitemapnews.xml?$ controllers/sitemap.php?action=news [L,NC]
    RewriteRule ^sitemapweb.xml?$ controllers/sitemap.php?action=web [L,NC]
    RewriteRule ^sitemapnews.xml.gz?$ controllers/sitemap.php?action=news&format=gz [L,NC]
    RewriteRule ^sitemapweb.xml.gz?$ controllers/sitemap.php?action=web&format=gz [L,NC]
    RewriteRule ^sitemap.xml?$ controllers/sitemap.php [L,NC]

    #Robots.txt
    RewriteRule ^robots.txt?$ controllers/robots.php [L,NC]

    #Advertisement
    RewriteRule ^publicidade/get/([0-9]+).html$ controllers/advertisement.php?action=get&id=$1 [L,NC]
    RewriteRule ^publicidade/([0-9]+).html$ controllers/advertisement.php?action=show&publi_id=$1 [L,NC]

    #Album
    #album/generic/2011-07-09/prueba/2011070918522200812.html
    RewriteRule ^album/?$ controllers/album.php?action=frontpage [L,NC]
    RewriteRule ^album/([0-9])?$ controllers/album.php?action=frontpage&c=$1 [L,NC]
    RewriteRule ^album/([a-z0-9\-]+)/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/(.*)/([0-9]+).html$ controllers/album.php?action=show&album_id=$6&category_name=$1 [L,NC]
    RewriteRule ^album/([a-z0-9\-]+)/(.*)/([0-9]+).html$ controllers/album.php?action=show&album_id=$3&category_name=$1 [L,NC]
    RewriteRule ^album/([a-z0-9\-]+)/?$ controllers/album.php?action=frontpage&category_name=$1 [L,NC]

    #Video
    #/video/0/2008/12/08/200812081741363340.html
    RewriteRule ^video/?$ controllers/videos.php?action=list [L,NC]
    RewriteRule ^video/([a-z0-9\-]+)/?$ controllers/videos.php?action=list&category_name=$1 [L,NC]
    RewriteRule ^video/([a-z0-9\-]+)/(.*)/([0-9]+).html$ controllers/videos.php?action=inner&id=$3&category_name=$1 [L,NC]
    RewriteRule ^video/([a-z0-9\-]+)/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/(.*)/([0-9]+).html$ controllers/videos.php?action=inner&id=$6&category_name=$1 [L,NC]

    #Polls
    #encuesta/deportes/2011-08-24/quien-gana-la-liga-2012/2011082410083600163.html
    RewriteRule ^poll/?$ controllers/poll.php?action=frontpage [L,NC]
    RewriteRule ^encuesta/?$ controllers/poll.php?action=frontpage [L,NC]
    RewriteRule ^encuesta/([a-z0-9\-]+)/?$ controllers/poll.php?action=frontpage&category_name=$1 [L,NC]
    RewriteRule ^encuesta/([a-z0-9\-]+)/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/(.*)/([0-9]+).html$ controllers/poll.php?action=show&id=$6&category_name=$1 [L,NC]
    RewriteRule ^encuesta/([a-z0-9\-]+)/(.*)/([0-9]+).html$ controllers/poll.php?action=show&id=$3&category_name=$1 [L,NC]


    #Files
    RewriteRule ^ficheiro/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/[a-z0-9_\-]+/([a-z0-9_\-]+)/([a-z0-9_\-]+)\.([a-z0-9]{2,4})$ /media/files/$1/$2/$3/$5.$6 [L,NC]
    RewriteRule ^ficheiro/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/([a-z0-9_\-]+)/([a-z0-9_\-]+)\.([a-z0-9]{2,4})$ /media/files/$1/$2/$3/$5.$6 [L,NC]

    #Search
    RewriteRule ^search/google/(.*)$ controllers/search.php?stringSearch=$1&googleSearch=on [L,NC]

    #Static pages
    RewriteRule ^estaticas/([a-z0-9\-]+)(\.html|/)?$ controllers/statics.php?slug=$1 [L,NC]

    #Newsletter links
    RewriteRule ^([a-z0-9\-]+)/([0-9]{4}-[0-1][0-9]-[0-3][0-9])/([0-9]+)/$ /seccion/$1/#$3 [R=301,NE,NC,L]
    RewriteRule ^newsletter/?$  controllers/subscriptions.php [L,NC]


    #Books
    #libros/titulo/200812081741363340.html
    RewriteRule ^libro/([0-9]+).html$ controllers/books.php?action=view&id=$1 [L,NC]
    RewriteRule ^libro/([a-z0-9\-]*)/([0-9]+).html$ controllers/books.php?action=view&id=$2 [L,NC]
    RewriteRule ^libros/?$  controllers/books.php [L,NC]

    #Especiales
    #especial/galicia/2008-12-08/200812081741363340.html
    RewriteRule ^especiales/([a-z]+)/[0-9]{4}-[0-1][0-9]-[0-3][0-9]/([0-9]+).html$ controllers/specials.php?action=read&category_name=$1&special_id=$2 [L,NC]
    RewriteRule ^especiales/([a-z]+)/[0-9]{4}-[0-1][0-9]-[0-3][0-9]/[a-z0-9\-]*/([0-9]+).html$ controllers/specials.php?action=read&category_name=$1&special_id=$2 [L,NC]
    RewriteRule ^especiales/([a-z]+)/$ controllers/specials.php?category_name=$1  [L,NC]
    RewriteRule ^especiales/$ specials.php [L,NC]

    # HEMEROTECA
    #hemeroteca/yyyy-mm-dd/category_name.html
    RewriteRule ^hemeroteca/([0-9]{4})-([0-1][0-9])-([0-3][0-9])/([a-z]+).html$ controllers/frontpages.php?date=$1$2$3&category_name=$4 [L,NC]
    RewriteRule ^hemeroteca/([0-9]{4})/([0-1][0-9])/([0-3][0-9])/$ controllers/frontpages.php?date=$1-$2-$3 [L,NC]

    # LETTER TO THE EDITOR
    #cartas-al-director/slug-slug/20120129104027000224.html
    RewriteRule ^cartas-al-director/?$ controllers/letter.php?action=frontpage
    RewriteRule ^cartas-al-director/(.*)/([a-z0-9\-]+)/([0-9]+).html$ controllers/letter.php?action=show&id=$3&slug=$1&author=$2 [L,NC]


    # Newsstand
    RewriteRule ^portadas-papel/?$ controllers/newsstand.php [L,NC]
    RewriteRule ^portadas-papel/([0-9]{4})/([0-9]{1,2})/?$ controllers/newsstand.php?year=$1&month=$2 [L,NC]
    RewriteRule ^portadas-papel/([a-z0-9\-]+)/([0-9]+).html$ controllers/newsstand.php?category_name=$1&id=$2&action=read [L,NC]

    #Default Rules
    # RewriteCond %{REQUEST_URI} !^/controllers/index.php
    RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*)$  [NC]

    RewriteRule ^boletin.html$ newsletter/

    ErrorDocument 400 /controllers/error.php?errordoc=400
    ErrorDocument 403 /controllers/error.php?errordoc=403
    ErrorDocument 404 /controllers/error.php?errordoc=404
    ErrorDocument 500 /controllers/error.php?errordoc=500
</IfModule>
