/* 
    Document   : onm-mockup article page
    Created on : Feb 18, 2010, 11:13:09 AM
    Author     : Francisco Diéguez fran.dieguez@mabishu.com
    Description:
        CSS to article page for newspaper mockup page
*/


/***********************************************************
    Slideshow
************************************************************/

.ad-thumb-list img{
	width:90px;
	height:80px
}

.ad-gallery{
	margin:15px auto;
}
#gallery{
	max-width:900px;
	background:#eee;
	padding:10px 30px 10px 30px;
	margin:0px auto !important;
	margin-bottom:15px;
}

.title-gallery{ padding: 10px 0 !important;}
.title-gallery h1{
	padding-top:0px;
	margin-top:0;
}