.checkbox-list {
  max-height: 240px;
  overflow: auto;
}

.advertisement-positions {
  .grid-title {
    .badge {
      padding:4px 10px;
    }
  }

  .grid-body {

    .badge {
      padding:5px 10px;
    }
  }

  .grid-body {
    padding:0 !important;
  }

  .nav-tabs > .active > a, .nav-tabs > .active {
    border-radius: 0;
  }
}
