.video-type-selector {
  list-style: none;
  margin: 40px auto;
  width: 60%;
  padding: 0;

  li {
    padding: 0;
    margin-bottom: 10px;
  }

  li .btn {
    width: 100%;
    word-wrap: word;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .video-type-selector {
    width: 100%;
    margin: 0 auto;
  }
}
