.video-type-selector {
  margin: 40px auto;
  max-width: 600px;
  padding: 0;
  width: 60%;

  .video-type-selector-button {
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 1em 3em;
    padding:1em;
    text-align: left;
    vertical-align: top;
    width:100%;

    .video-selector-icon {
      display: inline-block;
      padding-left: 1em;
    }

    .video-selector-text {
      display: inline-block;
    }
  }
  .video-type-selector-button.group {
    .video-selector-icon {
      height: 100px;
    }
  }
}
