
div#content-provider {
    width: 100%;
}

div#content-provider div.content-provider-block-wrapper {
    border: 0px !important;
}

.placeholder-element {
    background-color: #EEE;
    border: 1px dashed #666666;
    height: 20px;
    margin-bottom: 5px;
}
div#cates  ul.content-receiver,
div#content-provider.tabs ul#contentList {
    min-height: 40px;
    padding: 4px;
}
div#cates  ul.content-receiver li,
div#content-provider.tabs ul#contentList li {
     list-style: none outside none;
     cursor:pointer;
     padding:4px;
     border:1px dashed #AAA;
     margin: 2px;
}
div.special_with_pdf{
    padding:12px; margin-right:10px;float:left;width:240px;border:1px solid gray;
}

div#cates div.column-receiver {
    width:48%;
    min-height:200px;
    border:1px solid gray;
    float:left;
    margin:4px;
}
div#cates h5{
    padding: 4px;
    margin: 0px;
}