.dynamic-image-wrapper {
  display: block;
  line-height: 0;
  margin: 0 auto !important;
  position: relative;
  width: 100%;

  &.loading {
    padding-bottom: 100%;
  }

  .dynamic-image-dimensions-label {
    font-size: 12px;
    height: 20px;
    line-height: 1.8em;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }

  .dynamic-image-dimensions-overlay {
    background-color: rgba(0,0,0,.75);
    color: #fff;
    height: 100%;
    font-weight: 900;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .dynamic-image-loading-overlay {
    background-color: #fff;
    color: #fff;
    height: 100%;
    font-weight: 900;
    position: absolute;
    top: 0;
    width: 100%;

    i {
      color: @text-color;
      left: 50%;
      margin-left: -13px;
      margin-top: -13px;
      position: absolute;
      top: 50%;
    }
  }

  .dynamic-image-thumbnail {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;

    &.autoscale {
      height: 100%;
      padding-bottom: 0;
    }
  }

  .dynamic-image-thumbnail-wrapper {
    height: 100%;
    width: 100%;
  }

  .swf-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
