/* 
    Document   : poll
    Created on : 22-sep-2010, 21:58:00
    Author     : sandra
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

a.button-votar-form {
    -moz-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #D2D2D2;
    border:1px solid #F9F9F9;
    color:Black;
    font-family:Verdana;
    padding:6px 10px;
    cursor: pointer;
    margin: 10px;
    display: block;
    width: 50px;
}

