/**
 * Short desc
 *
 * Long description first sentence starts here
 * and continues on this line for a while
 * finally concluding here at the end of
 * this paragraph
 *
 * Author  : Antonio Jozzolino <info@sgd.com.br>
 * Site    : http://www.sgd.com.br
 * Since   : Mon Sep 13 2010 16:36:45 GMT+0200 (CEST)
 * Version : v 0.00 Mon Sep 13 2010 16:36:45 GMT+0200 (CEST)
 */
/***********************************************************
	ADS definition
************************************************************/


div.ads_top{
	margin-top:7px !important;
    margin-bottom:7px !important;
    padding-top:3px;
    padding-bottom:3px;
    width:101%;
}

.ad_horiz { background:#ececec url(../../images/publi/back-publi.png) 2px center no-repeat; padding-left:10px;}
.ad_horiz a
{
    display: block
}
.ad_horiz a img,
.ad_vertical a img,
.ad_column a img{
    background:white;
    border:1px solid #CCCCCC;
    padding:3px;
    vertical-align:middle;
}

.ad_vertical{
    background:#ececec url(../../images/publi/back-publi-horiz.png) center 2px no-repeat; padding-top:13px;
}
.ad_vertical a
{
    display: block
}
.ad_vertical a img{
    background:white;
    border:1px solid #CCCCCC;
    padding:3px;
    vertical-align:middle;
}

.ad_column{ width:310px; }
.ad_728
{
	display:block;
	float:left;
}
.ad_234
{
	display:block;
	float:left;
}

div.video .ad_column,
div.video .ad_horiz,
div.video .ad_vertical
{
	background:#111;
}
.ad_lateral,
.ad_column
{
   display:block;
   margin-bottom:15px;
   padding:6px;
   padding-top:8px; /*Cause the background image*/

}
.publi_310 div{
	text-align:center;
}


.publi_310 img
{
	border:1px solid White;
}
div.video .publi_310 img
{
	border-color:#222;
}
