.grid.simple .grid-body,
.grid.simple .grid-title,
.grid.solid .grid-body,
.grid.solid .grid-title {
  padding: 15px;
}

.grid.simple .grid-body {
  border-color: #e5e5e5;
}

.grid-body.blue {
  background-color: #0090d9 !important;
}

.grid.vertical .grid-body {
  padding-left: 12px;
  border-left: none;
}

.grid.simple .grid-title h4 {
  overflow: initial;
  margin: 0;
}

.grid-body-wrapper {
  opacity: 1;
  overflow: hidden;
  max-height: 800px;
  transition: all .5s;
  width: 100%;

  &.ng-hide {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
  }
}

.grid-hover:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .125);
}

.grid-overlay {
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.grid-body .tab-content {
  margin: 0;
  overflow: visible;
}

.grid-body .tab-content .tab-pane {
  padding: 0;
}

.grid-body .tab-content .tab-pane .tab-wrapper {
  padding: 15px;
}

.grid-body .nav-tabs {
  background-color: #e5e9ec;
}

/*Disable border-radius from nav-tabs*/
.grid-body .nav-tabs > li > a,
.grid-body .nav-tabs > li.active > a,
.grid-body .nav-tabs > li.active > a:hover,
.grid-body .nav-tabs > li.active > a:focus {
  /*border-radius: 0;*/
}
