.table th,
.table td {
  white-space: nowrap;
}
.table thead tr .tooltip {
  margin-top: 15px;
}
.table tr.row_selected td {
  background-color: #ffffcc !important;
}
.table tbody tr.row_selected:hover>td {
  background-color: #fef8ae !important;
}

tr:hover .listing-inline-actions {
  opacity: 1;
}

.checkbox-cell {
  position: relative;
  width: 45px;

  .checkbox {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    label {
      display: block;
      height: 100%;
      width: 100%;

      &:after {
        margin: 10px;
      }

      &:before {
        margin: 10px;
      }
    }
  }
}

.listing-inline-actions {
  margin-top: 5px;
  opacity: 0.7;
  clear: both;
}

.listing-inline-actions .link:first-child {
  margin-left:-5px;
}

.listing-inline-actions .link {
  color:#576475;
  padding: 3px;
  margin: 0 5px;
}

.listing-inline-actions .link:hover {
  text-decoration: underline;
}

.listing-inline-actions .link-danger {
  color: #d9534f;
  border: 0;
  background: none;
}

.listing-inline-actions .link i {
  margin-right: 4px;
}

.listing-inline-actions button.link-danger {
  margin-left: 0px;
  padding-left: 0px;
}

.listing-inline-actions > *{
  display: inline-block;
}

.pagination-info {
  margin-right: 10px;
}

.pagination-info {
  padding: 7px;
}

@media (max-width: 992px) {
  .form-filter .form-group {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .table > thead > tr > th,
  .table > tbody > tr > td {
    padding-left: 0 !important;
  }

  .table > thead > tr > th:first-child,
  .table > tbody > tr > td:first-child {
    padding-left: 25px !important;
  }

  .grid-footer .pagination-info {
    margin: 0 auto;
    text-align: center;
    display: block;
    text-align: center;
    width: 100%;
  }
  .grid-footer .pagination-wrapper {
    text-align:center;
    width:100%;
    display:block;
    float:none !important;
  }
}
