/* Header and sidebar in phone ============================================== */
.sidebar-toggler-phone {
  display:none;
}

@media (max-width: 767px) {
  /* When in phone mode hide some elements and put some colors in navbars */
  .page-navbar.actions-navbar, .page-navbar.selected-navbar {
    top: 0px;
  }
  .page-navbar.selected-navbar.collapsed {
    top:-50px;
  }
  .page-navbar {
    background:#22252d;
    color:white;
  }
  .page-navbar h1,
  .page-navbar h2,
  .page-navbar h3,
  .page-navbar h4,
  .page-navbar h5,
  .sidebar-toggler-phone,
  .btn-link {
    color:White;
  }
  .page-navbar .quick-section .h-seperate {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .sidebar-toggler-phone {
    display: block;
    position: fixed;
    left: 189px;
    top: 0px;
    height:50px;
    padding: 8px 20px;
    z-index: 500;
    color:White;
    font-size: 1.7em;
    transition: all .25s;
  }

  .server-sidebar .sidebar-toggler-phone {
    left: -21px;
  }

  .collapsed .sidebar-toggler-phone {
    left: -21px;
  }
  .sidebar-toggler-phone .symbol {
    line-height: 1.6em;
    width:8px;
    overflow:hidden;
  }
}
