
/***********************************************************
    Frontpage content disposition
************************************************************/
.image-top-wide div.article-media,
.image-middle-wide div.article-media{
    width: 100%;
}

.image-top-right div.article-media{
    width: 49%;
    float: right;
    padding-left: 10px;
}

.image-top-left div.article-media{
    width: 49%;
    float: left;
    padding-right: 10px;
}

.image-middle-right div.article-media{
    width: 49%;
    float: right;
    padding-left: 10px;
}

.image-middle-left div.article-media{
    width: 49%;
    float: left;
    padding-right: 10px;
}

/***********************************************************
  Definitions for ads
************************************************************/

/***********************************************************
  Definitions for ads inside HEADER
************************************************************/
div.ads_footer, div.ads_header { width: 100%; }
.ad_728 { width:728px; display:inline; float:left; }
.ad_728 a, .ad_244 a, .ad_in_column a{  min-height:90px; }
.ad_in_column div { margin:0 auto; }
div.ads_footer div.ad_728, div.ads_header div.ad_728 {  margin-right:0px; }
.ad_244{ width:244px; display:inline; float:right; max-height:90px; text-align: right; }
div.ads_footer div.ad_244, div.ads_header div.ad_244 { float:right; }
div.ad_in_column > div { text-align:center; border:1px solid #E9E9E9; padding:5px; }

.ads_break_frontpage { clear:both; margin:10px 0; }
.ads_break_frontpage > div { background-color:White; }

div.ads-skyscraper-container{
    position: fixed;
    top: 0;
    width: 100%;
}
div.ads-skyscraper-container >div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 998px;
}

div.ad-skyscraper-left {
    height: 600px;
    left: -165px;
    overflow: hidden;
    position: absolute;
    text-align: right;
    width: 160px;
}

div.ad-skyscraper-right {
    height: 600px;
    right: -165px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 160px;
}

div.ad-skyscraper-left .ad, div.ad-skyscraper-right .ad {
    height: 600px;
}

div.ad-skyscraper-body {
    max-height: 600px;
    overflow: hidden;
    text-align: center;
    width: 120px;
    border: 0 none !important;
}

/* -------------------------------------------------------------
  Widget rss
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.widget-rss .external-feeds {
    border-bottom: 1px dotted #D0D0D0;
    padding: 0 5px;
    min-height: 300px;
}

.widget-rss div.gfc-result {
    margin: 10px 0;
    padding-bottom:10px;
    border-bottom:1px dotted #D0D0D0;
}

.widget-rss div.gfc-result div.gf-title{
    height:auto;
}
.widget-rss div.gfc-result div.gf-title a{
    font-family: sans-serif;
    font-weight: bold;
    color: #111;
    line-height: 16px;
}

.widget-rss div.gfc-result div.gf-author{
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.widget-rss div.gfc-result div.gf-snippet{
    font-size: 12px;
    margin-top: 5px;
}
