/***********************************************************
    Cookies overlay
************************************************************/
#cookies_overlay{background:rgba(0,0,0,0.85);position:fixed;left:0;top:0;color:#fff;width:100%;z-index:9999;font-size:12px;text-align:left;padding:10px 0}.cookies-overlay{margin:0 auto;max-width:960px}.cookies-overlay p{margin:0;padding-left:10px;float:left;width:90%}.cookies-overlay button{background:rgba(255,255,255,0.75);border:0;border-radius:10%;margin:0 10px;padding:3px 5px;color:#000;font-size:12px;font-weight:bold}.cookies-overlay button:hover{background:#fff}.cookies-overlay a{color:#fff;text-decoration:underline}
/***********************************************************
    Frontpage content disposition
************************************************************/
.image-top-wide .article-media,
.image-middle-wide .article-media {width: 100%;}
.image-top-right .article-media{max-width: 60%;float: right !important;margin-left: 10px;}
.image-top-left .article-media{max-width: 60%;float: left !important;margin-right: 10px;}
.image-middle-right .article-media{max-width: 60%;float: right !important;margin-left: 10px;}
.image-middle-left .article-media{max-width: 60%;float: left !important;margin-right: 10px;}
/***********************************************************
  Definitions for ads inside HEADER
************************************************************/
.ads_footer, .ads_header { width: 100%; }
.ad_728 { width:728px; display:inline; float:left; }
.ad_728 a, .ad_244 a, .ad_in_column a{  min-height:90px; }
.ad_in_column  { margin:0 auto; }
.ads_footer .ad_728, .ads_header .ad_728 {  margin-right:0px; }
.ad_244{ width:244px; display:inline; float:right; max-height:90px; text-align: right; }
.ads_footer .ad_244, .ads_header .ad_244 { float:right; }
.ad_in_column > div { text-align:center; border:1px solid #E9E9E9; padding:5px; }

.ads_break_frontpage { clear:both; margin:10px 0; }
.ads_break_frontpage > div { background-color:White; }

.ads-skyscraper-container {position: fixed;top: 0;width: 100%;}
.ads-skyscraper-container > div {position: relative;margin-left: auto;margin-right: auto;width: 998px;}

.ad-skyscraper-left {height: 600px;left: -165px;overflow: hidden;position: absolute;text-align: right;width: 160px;}
.ad-skyscraper-right {height: 600px;right: -165px;overflow: hidden;position: absolute;text-align: left;width: 160px;}

.ad-skyscraper-left .ad, .ad-skyscraper-right .ad {height: 600px;}

.ad-skyscraper-body {max-height: 600px;overflow: hidden;text-align: center;width: 120px;border: 0 none !important;}

#intesticial-ad {position: fixed;display: inline;top: 0;left: 0;background-color: #FFF;width: 100%;height: 100%;z-index: 33333;padding-top:1em}

body > #intesticial-ad {position: fixed;display: block;top: 0;left: 0;}

#intesticial-ad .wrapper {position:relative;display:block;max-width: 800px;width: 100%;height:auto;margin:0 auto;margin-top:20px;}
#intesticial-ad .header {position:relative;font-size:.9em;color:#999;height:30px;border-bottom:1px solid #ccc;}
#intesticial-ad .logo-and-phrase {text-align:left;width:400px;padding-top:10px;}
#intesticial-ad .closeButton {position:absolute;top:1px;right:0;}
#intesticial-ad .closeButton a {font-size: 1em;color:White;background:url(../../images/close.png) top right no-repeat;width:128px;height:28px;font-weight:bold;display:block;text-align:left;padding:6px 0 0 6px;}
#intesticial-ad .wrapper_intersticial {padding-top: 1em;}
#intesticial-ad .content {margin: 0 auto;padding: 1em;height: 100%;cursor: pointer;}
#intesticial-ad .content img {height: auto;}

@media (max-width: 479px) {
  #intesticial-ad .wrapper {margin-top:0;}
  #intesticial-ad .header {height:30px;border-bottom:none;}
  #intesticial-ad .logo-and-phrase {text-align:left;width:400px;padding-top:10px;}
  #intesticial-ad .closeButton a {width:40px;height:35px;}
  #intesticial-ad .wrapper_intersticial {padding-top: 0;}
  #intesticial-ad .content {padding: .5em;}
}
.ads iframe,
#intesticial-ad iframe {overflow: hidden;}

.ads iframe::-webkit-scrollbar {display: none;}

.ads.logo-sponsor { font-size: 10px; padding: 4px; }
/***********************************************************
  Widget rss
***********************************************************/
.widget-rss .external-feeds {border-bottom: 1px dotted #D0D0D0;padding: 0 5px;min-height: 300px;}
.widget-rss .gfc-result {margin: 10px 0;padding-bottom:10px;border-bottom:1px dotted #D0D0D0;}
.widget-rss .gfc-result .gf-title{height:auto;}
.widget-rss .gfc-result .gf-title a{font-family: sans-serif;font-weight: bold;color: #111;line-height: 16px;}
.widget-rss .gfc-result .gf-author{font-size: 10px;font-style: italic;font-weight: bold;}
.widget-rss .gfc-result .gf-snippet{font-size: 12px;margin-top: 5px;}
/***********************************************************
  Polls in Frontpage
***********************************************************/
.poll form {display: inline-block;width: 100%;}
.poll .submit-button {text-align: center;font-size: 11px;margin-right: 20px;float: right;}
.poll ul {list-style: none;}
.hidden {display:none;}
/***********************************************************
  Pager in blog format - copied fron bootstrap
***********************************************************/
.pager {margin: 20px 0;list-style: none;text-align: center;*zoom: 1;}
.pager:before,
.pager:after {display: table;content: "";line-height: 0;}
.pager:after {clear: both;}
.pager li {display: inline;}
.pager li > a,
.pager li > span {display: inline-block;padding: 5px 14px;background-color: #fff;border: 1px solid #ddd;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.pager li > a:hover,
.pager li > a:focus {text-decoration: none;background-color: #f5f5f5;}
.pager .next > a,
.pager .next > span {float: right;}
.pager .previous > a,
.pager .previous > span {float: left;}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {color: #999999;background-color: #fff;cursor: default;}
/***********************************************************
  Opinion frontpage author style
***********************************************************/
article.onm-new.opinion a.opinion-author-name {text-transform: uppercase;}
/***********************************************************
  Comments wrapper definition
***********************************************************/
#comentarios.article-comments { margin: 10px 0;}
/***********************************************************
  Video container
***********************************************************/
.video-container {position: relative;padding-bottom: 56.25%;padding-top: 30px; height: 0; overflow: hidden;}
.video-container iframe,
.video-container object,
.video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
