
/***********************************************************
  Definitions for ads
************************************************************/
div.ads-skyscraper-container{
    position: fixed;
    top: 0;
    width: 100%;
}
div.ads-skyscraper-container >div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 998px;

}

div.ad-skyscraper-left {
    height: 600px;
    left: -165px;
    overflow: hidden;
    position: absolute;
    text-align: right;
    width: 160px;
}

div.ad-skyscraper-right {
    height: 600px;
    right: -165px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 160px;
}

div.ad-skyscraper-left .ad, div.ad-skyscraper-right .ad {
    height: 600px;
}


div.ad-skyscraper-body {
    max-height: 600px;
    overflow: hidden;
    text-align: center;
    width: 120px;
    border: 0 none !important;
}

/* -------------------------------------------------------------
  Widget rss
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.widget-rss .external-feeds {
    border-bottom: 1px dotted #D0D0D0;
    padding: 0 5px;
    min-height: 300px;
}

.widget-rss div.gfc-result {
    margin: 10px 0;
    padding-bottom:10px;
    border-bottom:1px dotted #D0D0D0;
}

.widget-rss div.gfc-result div.gf-title{
    height:auto;
}
.widget-rss div.gfc-result div.gf-title a{
    font-family: sans-serif;
    font-weight: bold;
    color: #111;
    line-height: 16px;
}

.widget-rss div.gfc-result div.gf-author{
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.widget-rss div.gfc-result div.gf-snippet{
    font-size: 12px;
    margin-top: 5px;
}


/***********************************************************
    PAYWALL
************************************************************/

.showcase {
    padding: 50px 60px 120px 60px;
    text-align: center;
}
.showcase .inner-article-content {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}
    .showcase .inner-article-content table {
        border: 1px solid #ccc;
    }
    .showcase .inner-article-content table tbody{
        padding: 10px;
    }

section.form {
    margin-top: 20px;
}

.subscription-require {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    display: inline-block;
    margin: 30px 0;
}
    .subscription-require h3 {
        margin-bottom: 0;
    }
    .subscription-require ul {
        padding-left: 20px;
    }
