html,
body {
    height: 100%;
    padding:0;
    margin:0
}

body {
    background:#1a1a1a ;
    color:White;
}

#logo {
    margin:0 auto;
    background:White;
    margin-top:0;
    padding:60px 0;
    margin-bottom:20px;
    text-align:center;
}
#logo h1 {
    background:url(../images/logos/onm-login.png) top left no-repeat;
    width:235px;
    height:32px;
    text-indent: -999%;
    margin:0 auto;
    margin-bottom:3px;
    padding:0;
    font-size: 3em;
    line-height: 1;
}
#logo div {
    font-size:small;
    color:#777;
}

footer {
    width:100%;
    vertical-align:middle;
    position:absolute;
    bottom:0px;
    left:0px;
    text-align:left;
    font-size:11px;
    padding-bottom:10px;
}
footer nav {
    display:inline-block;
    width:auto;
}
footer nav ul { margin:0; padding:0; }
footer nav ul li {
    display:inline-block;
    color: #555;
}
footer nav a, footer nav a:focus {
    color: #666 !important;
    text-decoration:none;
    outline:none;
    padding:0px 3px !important;
    -moz-transition: color 0.3s ease 0s;
}
footer nav a:hover, footer nav a.active { color:White !important; }
footer select {
    background:none;
    border:none;
    color: #555;
    border-radius:2px;
    text-align:center
}

.form-wrapper {
    max-width:450px;
    margin:0 auto
}

.form-wrapper input {
    margin-bottom:10px;
    margin:10 -20px;
    padding:6px 10px;
    display:inline-block
}
.form-wrapper button[type=submit] {
    float:right;
    max-width:100px;
}

.recover_pass {
    color: #777 !important;
}

.recover_pass.toomuchfails {
    display:block;
    float:none;
}
/* Media Queries for iPhone Portrait and Landscape */
@media only screen and (max-width: 767px)  {
    #loginpage {
        margin-top:0;
    }
    footer {
        text-align:center !important;
    }
    .alert .close {
        display: none;
    }
    .form-wrapper {
        padding:10px;
        padding-top:0;
    }

    .form-wrapper input, .form-wrapper button {
        width:91%;
    }

    .form-wrapper button[type=submit] {
        width:99%;
        float:none;
        max-width:100%;
    }
}
/* Media Queries for iPad Portrait and Laptop */
@media only screen and (min-width: 768px) {
    .form-wrapper input, .form-wrapper button[type=submit] {
        width:200px;
    }
}
