/***********************************************************
  Promotional Bar
************************************************************/
#promotional-bar {position: fixed;top: 0;right: 0;left: 0;z-index: 1;}
#promotional-bar .bar-left,
#promotional-bar .bar-right {z-index: 99;position: fixed;top: 5px;}
#promotional-bar .bar-left {left: 5px;}
#promotional-bar .bar-right {right: 5px;}
#promotional-bar .bar-left a {background-color: #262626; padding: 3px 7px;}
#promotional-bar .bar-right a {background-color: #4D90FE; }
#promotional-bar a {
    color: #fff;
    padding: 7px;
    display: inline-block;
    border: 1px solid #cecece;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.2);
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
#sidr .sidr-title {padding: 10px 5px 10px 15px;color:#797979;font-weight: bold;font-size: 1.2em;}
#sidr .sidr-title i {cursor: pointer;}
#sidr .menu-name {display: inline;margin-left: 10px;}
#sidr .fa {width: 15px;}

#onm-bar {cursor: pointer;height: 45px;background: rgba(245, 245, 245, 0.75);display:inline-block;left: 0;top: 0;color: #888;width: 100%;font-size: 15px;border-bottom: 1px solid #eaeaea;}
#onm-bar .logo {float:left; display: inline-block;padding: 5px 10px;font-size: 20px;font-family: 'Open Sans';}
#onm-bar .text {float: left;padding: 8px 0;font-family: 'Open Sans', sans-serif;text-align: left;font-size: 12px;}
#onm-bar .content {text-align: center;padding-top: 5px;}
#onm-bar .sign-up {float: right;padding: 0 10px;}
#onm-bar .sign-up a {
    color: #fff;
    padding: 8px 10px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #47a447;
}

@media (max-width: 767px) {
    #onm-bar .text {display: none;}
}