main{padding-bottom:60px}
.wrapper{min-height:100%;position:relative}
.login-body{background:url(/assets/images/moleskine.jpg) no-repeat;background-size:cover}.login-body iframe{display:none}
.login-body .language-selector{background-color:transparent;border-radius:4px;font-size:90%;height:30px !important;width:70px;min-height:20px;text-indent:2px;z-index:20}
.login-body .login-container{margin-top:8%}
.login-body .overlay{background:rgba(0,0,0,0.5);height:100%;position:absolute;width:100%}
.login-body footer{bottom:0;position:absolute;text-align:center;width:100%;z-index:20}.login-body footer ul{list-style:none;padding:0;margin:0 auto;width:535px;left:50%}.login-body footer ul li{float:left;margin:0;padding:0;line-height:2.4em}.login-body footer ul li:first-child{color:#fff}
.login-body footer ul li:last-child:after{content:""}
.login-body footer ul li:after{content:"\2022";margin:0 10px}
.login-body footer ul li a{display:inline-block;color:#fff;height:30px;line-height:2.4em}.login-body footer ul li a:hover{color:#bfbfbf}
@media (max-width:768px){.login-body{background-size:initial}.login-body .overlay{display:none} .login-body .login-container{margin-top:10px}}
