/**
 * Short desc
 *
 * Long description first sentence starts here
 * and continues on this line for a while
 * finally concluding here at the end of
 * this paragraph
 *
 * Author  : Antonio Jozzolino <info@sgd.com.br>
 * Site    : http://www.sgd.com.br
 * Since   : Mon Sep 06 2010 00:48:18 GMT+0200 (CEST)
 * Version : v 0.19 Mon Sep 06 2010 00:59:50 GMT+0200 (CEST)
 */
/*
    Document   : nuevatribuna
    Created on : Mar Xan 25 20:30:20 CET 2011
    Author     : Francisco Diéguez <fran en openhost punto es>
    Description: Main CSS file for Nueva Tribuna online newspaper
*/


/*
Color definitions

Gray for borders: #cccccc
Normal red (links,menu): #980101
Deeper red (highlighted menu): #5b0101
*/


/***********************************************************
    General definitions
************************************************************/

body {
		text-align: center; /* align for bad browsers */
		background:White; font-family:Arial; font-size:11px;
}
.container {
		margin: 0 auto;   /* align for good browsers */
		text-align: left; /* counter the body center */
		float:none !important;
		width:992px; /* max width for the layout */
}

.container_with_border { border:1px solid #cccccc; }
.wrapper_content_inside_container {
		margin-left:10px;
}
a, a:hover, a:link, a:visited {color:#980101; text-decoration: none; outline:none}
a:hover {text-decoration: underline;}

.clearfix:after
{
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
}

.clearfix
{
		display: inline-block;
}

html[xmlns] .clearfix
{
		display: block;
}

* html .clearfix
{
		height: 1%;
}

/***********************************************************
    Header definition
************************************************************/

#header {
		position:relative;
}

#header div.logos-and-info {
		margin:10px 10px 0 10px;
}
/*
    Weather and time information definition
*/
div.current-hour { font-family:Verdana; font-size:1.03em}
div.current-hour span.hour{ color:#980101; }
div.current-hour span.day{ color:#2d2c2b; }

div.current-hour, #widget_weather_top
{
		width:49%;
		float:left;
		display:block
}
#widget_weather_top
{
		float:right; height:23px; overflow:hidden;
		position:absolute; top:0px; right:10px;
}
		#widget_weather_top .widget-litte-temperatures
		{
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius:5px;
				behavior: url(border-radius.htc);
				display:block;
				padding:2px 4px;
				width:35px;
				text-align: center;
				color:White;
				font-weight: bold;
				float:left;
				margin-bottom:3px;
		}
		#widget_weather_top ul { margin:0; padding:0; float:right; display:block; clear:both }
				#widget_weather_top ul li { float:left; list-style:none; padding:0 2px; }
		#widget_weather_top a { color:#005689; text-decoration: none; font-family: Georgia }
		#widget_weather_top .widget-litte-city
		{
				color:#005689;
				text-decoration: none;
				max-width:100px;
				text-align:right;
				padding: 0.2em 0;
				vertical-align: text-bottom
		}

		#widget_weather_top  .max_temperature { background-color: #ffa91f; font-weight:bold; }
		#widget_weather_top  .min_temperature { background-color: #bdbdbd; font-weight:bold; }

#logo-and-pages {
		margin:5px 0 1px 0;
		vertical-align:middle;
		width:100%;
		position:relative;
		font-family:Verdana;
}
		#logo-and-pages h1{
				margin:0;
				padding:0;
				display:inline;
		}
		#logo-and-pages a.big-text-logo{
				font-family:Arial;
				color: Black;
				font-size:43px;
				font-weight:bold;
				margin:0 auto;
				line-height:.9em;
				text-decoration:none;
		}

		#logo-and-pages div.info-pages{
				float:right;
		}
		#logo-and-pages div.logo-image{
				float:left;
		}
				#logo-and-pages .colofon { margin-left:3px;}
				#logo-and-pages div.info-pages {
						position:absolute;
						bottom:3px;
						right:0px;
				}
						#logo-and-pages div.info-pages > * {
								float:left
						}
						#logo-and-pages ul.pages {
								margin:0;
								vertical-align:middle;
								margin:7px 5px 0 0;
						}

								#logo-and-pages div.info-pages ul.pages li{
										float:left;
										list-style:none;
										color:#2D2C2B;
								}
										#logo-and-pages div.info-pages ul.pages li a{
												color:#2D2C2B;
												margin:0 3px;
										}

/***********************************************************
    Footer content definition
************************************************************/
#wrapper-footer
{
    margin:10px 0 !important;
}


#footer
{
    color:#9b9da0;

}
.container_footer { margin-bottom:10px; }
		div#footer a
		{
			color:#9b9da0 !important;
		}

		div#footer ul
		{
			margin:0;
			padding:0;
			margin-bottom:3px;
		}
				div#footer ul li
				{
					display:inline;
					margin:0;
					padding:0;
					padding-right:5px;
				}
				div#footer ul li.last{ border:none;}
						div#footer ul li img{vertical-align:middle}

		div#footer div.footer-categories{
				background:#980101;
				width:100%
		}

		div#footer div.footer-categories ul{
				width:100%
		}

				div#footer div.footer-categories li {
					float:left;
					width: auto;
					margin: 0;
					list-style:none;
				}
				div#footer div.footer-categories li:first-child {
						padding-left:10px;
				}
						div#footer div.footer-categories li a {
							display:block;
							padding: 4px 6px;
							text-align: center;
							font-size:1.05em;
							font-weight:bold;
							text-decoration:none;
							color:White !important;
							font-family:Arial;
							text-transform:capitalize;
						}

						div#footer div.footer-categories li a:hover{
								background:#fff
						}

				div#footer div.footer-categories li.last {
						float:right;
				}

						div#footer div.footer-categories li.last a {
								background:url(../images/bullets/arrow_up.png) center left no-repeat;
								padding-left:15px;
						}

		div#footer div.main-static-pages {
				border-bottom:1px solid #ccc;
				width:100%
		}


		div#footer div.contact-data *{
				display:inline-block;
				vertical-align:text-top;
		}

		div#footer .developed-by
		{
			text-align:right;
			font-size:.85em;
			color:#666666;
		}
				div#footer .developed-by img {
						margin-top:5px;
				}



/***********************************************************
    Main content definition
************************************************************/

div#main_content {
		border-top:1px solid #ccc;
		padding:10px 0;
}

		div#main_content div.first-column {
				border-right:1px solid #ccc;
				margin-right:0;
				width:360px;
		}
				div#main_content div.first-column > div {
						padding-right:10px;
				}

		div#main_content div.second-column {
				width:290px;
				border-right:1px solid #ccc;
				background:White url(../images/backgrounds/gradient-second-column.png) top right repeat-x;
		}

				div#main_content div.second-column > div {
						padding-left:10px;
						margin-right:10px;
						padding-top:10px;
						overflow:hidden;
				}

		div#main_content div.third-column {
				width:310px
		}



/***********************************************************
   Frontpage article definition
************************************************************/

div.onm-new { margin-bottom: 10px; border-bottom: 1px solid #ccc; padding-bottom:5px; }
		div.onm-new .onm-new-image { max-width:100%; width:100%; margin-bottom:10px;}
		div.onm-new .onm-new-category-name { margin:0 0 4px 0; text-transform: uppercase; display:block; width:auto; position:relative; line-height:1.3em; }
		div.onm-new .onm-new-title { font-size:2em; margin:0; margin:0; margin-bottom:8px; font-family:Georgia;}
				div.onm-new .onm-new-title a { color: Black }
		div.onm-new .onm-new-subtitle { font-size:13px; font-family: Arial; color:#2d2c2b; margin-bottom:10px; line-height:1.28em}
		div.onm-new div.related-content { margin:0 0 8px 0;; }
				div.onm-new div.related-content ul { list-style:square; margin:0; margin-left:15px; }
						div.onm-new div.related-content ul li { color:#980101;  }
								div.onm-new div.related-content ul li span { display:none; }
								div.onm-new div.related-content ul li a { font-size:1.07em }
		div.onm-new div.onm-new-comments  { width:100%; text-align:right; }
				div.onm-new div.onm-new-comments a { color:Black; text-transform:uppercase; padding-left:23px; background:url(../images/bullets/comment_icon.gif) center left no-repeat; }

/*Exceptions*/
div.first-column div.onm-new:last-child,
div.second-column div.onm-new:last-child,
div.third-column div.onm-new:last-child,
div.onm-new.last { border-bottom:none; } /* Drop border for latest articles in column */
div.onm-new div.related-content span.res-article { display:none;}
div.onm-new.top-firstcol .onm-new-title  { font-size:2.55em; }
div.onm-new.top-secondcol .onm-new-title  { font-family: Arial; font-size:16px; font-weight:bold; }
div.onm-new.top-thirdcol .onm-new-title  { font-size:2.15em; }
div.onm-new.opinion div.nw-author strong{
    color:#980101;
}
div.onm-new.opinion h3.nw-title a {
    font-family:Arial;
    font-size:.9em;
    color:Black;
    font-weight:bold;
}
div.onm-new.opinion h3.nw-title {
    margin-bottom:.5em !important;
}

div#quick-news h4.onm-title {
    font-weight:bold;
    margin-bottom:.3em;
}
div#quick-news p.subtitle {
    font-weight:bold;
}

/***********************************************************
   More resources sprite definition
************************************************************/

div.more-resources ul
{
    margin:0;
    padding:0;
}
		div.more-resources ul li
		{
			color:#bbb;
			list-style-position: outside;
			background-repeat:no-repeat;
			padding-left: 10px;
			background-color:#FFF;
			display:block;

		}
				div.more-resources ul li span
				{
					/*background-image:url(../images/bullets/res-sprite.png);
					display:inline-block;
					width:13px;
					height:13px;*/

				}

/*						div.more-resources ul li span.res-file
						{
							background-position: -81px -33px !important;
						}

						div.more-resources ul li span.res-link
						{
							background-image:url(../images/bullets/comment_icon.gif);
						}
						div.more-resources ul li span.res-image
						{
							background-position: -130px -49px !important;
						}

						div.more-resources ul li span.res-video
						{
							background-image:url(../images/bullets/video_icon.gif);
						}
						div.more-resources ul li span.res-opinion
						{
							background-position: -111px -32px !important;
						}

						div.more-resources ul li span.res-article
						{
							background-image:url(../images/bullets/comment_icon.gif);
						}*/

				div.more-resources ul li a{
					font-size:1em !important;
					font-family:Arial, Verdana;
				}

/*span.res-file,
span.res-link,
span.res-image,
span.res-video,
span.res-opinion,
span.res-article
{
    background-image:url(../images/bullets/res-sprite.png);
    background-repeat:no-repeat;
    display:inline-block;
    width:13px;
    height:13px;
    margin-right:3px
}*/


/*
    Widget more news definition
*/

div.more-news h4, div.more-promotions-from-diary h4
{
    font-family:Times, Georgia;
    color:#638F38;
    font-size:1.6em;
    font-variant: small-caps;
    margin:0;
}

ul.more-news-section-sectionlist
{
    margin:0; padding:0;
}
.more-news-section-sectionlist li
{
    list-style:none;
    float:left;
    clear:none;
    border-right:1px solid #ccc;
    padding:0 10px;
}
.more-news-section-sectionlist li.last, .more-news-section-sectionlist li.first
{
    border:none;
}

.more-news-section-sectionlist li a
{
    text-decoration: none;
    font-family:Verdana, Arial;
    color:#222222;
    font-size:1.1em;
}

.more-news-section-sectionlist li a:hover
{
    text-decoration: underline;
    cursor: pointer
}
.more-news-section-links
{
    /*list-style-image:url(../images/bullets/arrow.png);*/
}
ul.more-news-section-links li
{
    margin:0; padding:0;
    padding:3px 0;

}
ul.more-news-section-links a
{
    font-size:1em;
    font-family:Verdana !important;
}
ul.more-news-section-links .first a
{
    font-size: 1.1em;
    font-family:Verdana !important;
}

div#sendform_content h4
{
    width:100%;
    background:#ccc;
}


/*
    widget related news embebed into article
*/

div.related-news-embebed
{
    border-width: 3px 0 1px 0;
    margin:5px 10px 5px 0;
    border-style:solid;
    border-color:#ddd;
}
div.related-news-embebed .title
{
    font-family:Verdana, Arial;
    font-size:.9em;
    background:#F2F1EF;
    padding:5px;
    border-bottom:1px solid #ddd
}
div.related-news-embebed ul
{
    padding:0;
    margin:0 auto;
    margin-bottom:20px;
    width:90%;
    line-height:.95em !important;
}
div.related-news-embebed ul li
{
    list-style:none;
    display:block;
    padding:3px 0;
}
div.related-news-embebed ul li.last
{
    border:none;
}

div.related-news-embebed a
{
    font-family:Verdana, Arial ;
    font-size:.8em;
}

/*
    Widget more little news definition
*/


div.more-little-news-section ul
{
    margin:0;
    padding:0;
    margin-bottom:10px
}

div.more-little-news-section h4
{
    font-size:1em;
    font-family:Verdana;
    font-weight: bold;
    margin:0;
}
div.more-little-news-section li
{
    list-style:none;
    margin:0;
    padding:1px 7px;
    border-bottom:1px dotted #ccc;
}
div.more-little-news-section li.last
{
    border:none;
}
div.more-little-news-section li a
{
    color:Black;
    font-size: 1.1em;
}


/*
    Widget photos definition
*/

div.photos-highlighter
{
    background:#ececec;
}

div.photos-highlighter div.photos-header
{
    margin-top:-10px;
    margin-left:-10px;
}
div.photos-highlighter-header img
{
}

div.photos-highlighter ul
{
    margin:0;
    padding:0;
}
div.photos-highlighter-big
{
    margin:10px 0 5px 40px; /* chanchullada padre HOYGA*/
    cursor: pointer;
    width:310px;
    float:left;
    text-align:left;
    color:#808080;
    font-size:1.3em;
}
div.photos-highlighter-big div.video-big {
    position:relative;
}
div.photos-highlighter-big div.video-big div.video-player-marker{
    position:absolute;
    bottom:10px;
    right:20px;
}
div.photos-highligher-little-section-links
{
    float:right;
    padding-left:10px !important;
    display:block;
    border:1px solid Red !important;
}
div.photos-highlighter li
{
    float:left;
    list-style:none;
    margin:0;
    color:White;
    cursor:pointer;
}

div.photos-highlighter li img
{
    height:77px;
}
div.photos-highlighter li.first
{
    padding-left:0;
    padding-top:10px;
}
div.photos-highlighter li.selected
{
    color:#d45500;
}
div.photos-highlighter li.selected
{
    color:#d45500;
}
div.photos-highlighter a
{
    color:#808080;
    text-decoration: none;
    font-family: Arial;
}





/***********************************************************
    Actions
************************************************************/

.share-actions { display:inline; position:relative;  padding:5px 0; }
.share-actions a { color:#333; text-decoration:none; margin:0; padding:0;}
.share-actions img { vertical-align:middle; }
.share-actions ul
{
    background:#fff; /*display:none;*/ position:absolute;  top:20px; right:0px; width:138px; margin:0px; padding:5px !important;
    border-color:#fafafa #eae8e9 #eae8e9 #fafafa; border-style:solid; border-width:1px 3px 3px 1px; list-style:none !important;
    }
.share-actions ul > li { text-align:left; border-bottom:1px solid #eae8e9; list-style:none; display:block !important; float:none; width:100%; background:none !important; }
.share-actions ul > li > a{ background:none !important; color:Black !important; margin:0; padding:0; text-indent:1em !important; width:auto;}
.share-actions ul > li > a:hover{ text-decoration:underline}

div.static-page a,
div.static-page a:hover,
div.static-page a:link,
div.static-page a:visited{
    font-family:Verdana !important;
}
div.news-highliter .nw-title a,
div.news-highliter h3
{
    font-size:1.2em;
    font-family:Georgia
}
