// Header
@header-height: 35px;
@header-width: 210px;
@header-background: #1b1e24;
@header-color: #8b91a0;

// Sidebar
@sidebar-background: #1b1e24;
@sidebar-text-color: #8b91a0;
@sidebar-width: @header-width;
@sidebar-width-collapsed: @header-height;

// Theme Colors
@background-color: #e5e9ec;
@border-color: #ddd;
@default-color: #d1dade;
@error-color: #f35958;
@info-color: #0090d9;
@primary-color: #376092;
@success-color: #0aa699;
@warning-color: #fdd01c;

// Brand Colors
@youtube-color: #b31217;
