.dropdown-menu li .a,
.dropdown-menu > li > .a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu li .a,
.dropdown-menu > li > .a {
  line-height: 25px;
  color: #2a2e36;
  margin: 4px;
  border-radius: 3px;
  text-align: left;
}

.dropdown-menu li .a:hover,
.dropdown-menu li .a:focus,
.dropdown-menu > li > .a:hover,
.dropdown-menu > li > .a:focus,
.dropdown-submenu:hover > .a,
.dropdown-submenu:focus > .a {
  color: #1b1e24;
  text-decoration: none;
  background-color: #eff2f3;
  background-image: none;
}

.navbar .nav > li > .dropdown-menu:after {
  left: 10px;
  right: auto;
}

.navbar .nav > li > .dropdown-menu:before {
  left: 9px;
  right: auto;
}
