a:hover {
    cursor:pointer;
}
.logoonm {
    display: block !important;
    width:121px;
    height: 21px;
    background-image: url(../../images/logo-opennemas-small.png);
    background-position: -9px center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.page-sidebar ul > li > a > .arrow:before {
    content: "\f105";
}

.wrapper-table-block {
    background:White;
    padding:1% 2%;
}
.content {
    position:relative;
}

.content .title {
    padding-bottom:10px;
}


/* -------------------------------------------------------------
  Botonera old definitions: This should be deleted
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

  .top-buttons {
    display:inline-block;
    float:right;
    margin: 0 0 0 5px;
    padding: 0px;
    list-style: none;
    vertical-align: middle;
  }

    .top-buttons > li {
        position:relative;
        display:inline-block;
        float: right;
        padding-right: 0px;
        padding-left: 0px;
        vertical-align:bottom;
        text-align: center;
        white-space: nowrap;
    }

      .top-buttons > li a ,
      .top-buttons > li button {
        display: block;
        padding: 2px 4px;
        padding:5px;
        width: auto;
        border:1px solid transparent;
        background: transparent;
        color:#464646;
        text-decoration: none;
        font-weight: bold;
        font-size:11px;
        font-family:Arial;
      }

        .top-buttons > li a img,
        .top-buttons > li a button {
          height:35px !important;
        }
        .top-buttons ul {
          position:absolute;
          top:99%;
          right:0%;
          display:none;
        }

        .top-buttons > li:hover ul {
          display:block;
        }

        .top-buttons > li a:hover,
        .top-buttons > button:hover,
        .top-buttons > li:hover > a {
            position: relative;
            outline: medium none;
            border: 1px solid #D9D9D9;
            border-radius:0px;
            background:#e4e4e4;
            color:Black;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        .top-buttons > li.separator{
            margin:0 2px;
            width:4px;
            height:57px;
            border:0 none;
            background:url(../images/separator.png) center center no-repeat;
            vertical-align:middle;
        }
        .top-buttons img{
            height:35px !important;
        }
        .top-buttons li ul {
            z-index:88;
        }
        .top-buttons li ul li {
            list-style:none;
        }

        .top-buttons .batch-actions {
            display:none;
        }
        .top-buttons .batch-actions:hover > a {
            z-index:89;
            border-color: rgba(0, 0, 0, 0.2);
            border-bottom:0 none;
            border-radius:5px 5px 0 0;
            background:White;
        }
        .top-buttons .dropdown-menu {
            right:0px !important;
            left:auto;
        }
        .top-buttons .dropdown-menu li > a {
            padding: 5px 20px;
            text-align: left !important;
            font-weight: normal !important;
            font-size: 13px !important;
        }



/* =============================================================================
  upper header for filtering... no yet finished.
   ========================================================================== */
.table-info {
    position: relative;
    margin:0 auto;
    padding: 0;
    width: 100%;
    width: 100%; width: 100%;
    border-top:1px solid #d9d9d9;
    background:#ecf0f2; color:#666;
    text-align: left;
    text-shadow:0 1px 0 #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#d9d9d9'); /* for IE */
}
.table-info > .form-inline {padding-left:10px;}
.table-info > div { padding: 4px 0 2px 10px;}
.table-info div { height:100%;vertical-align:middle; }
.table-info label {margin-bottom:0;}
.table-info .right { float:right; text-align:right; }
.table-info .left { float:left; text-align:left; }
.table-info .center { text-align:center; }
.table-info form {margin:0;}

.table-info .dropdown-menu.container {
  height: auto;
  padding: 5px;
  width: 390px;
}

.table-info .dropdown-menu.container .span2 div {
  cursor: pointer;
  padding: 4px 10px;
  width: 100%;
}

.table-info .dropdown-menu.container .span2 div:hover {
  background: #eee;
}


/* =============================================================================
   Manager opcache rules
   ========================================================================== */
.opcache-stats tbody tr:nth-child(even) {
    background-color: #eee
}
.opcache-stats table {
    text-align:left;
    border-collapse:separate;
    width: 100%
}
.opcache-stats #files table {
    border-spacing:3px 10px;
}

.opcache-stats #status table {
    float:left;
    width:50%;
}

.opcache-stats .tabs > div {
  dis
}
.opcache-stats #graph {
    float: right;
    width: 40%;
    z-index:99;
    position:relative;
    text-align: center;
}

.opcache-stats #graph form {
    text-align:left;
}

.opcache-stats #graphcontainer {
    position:absolute;
    right: 35%;
    top: 25%;
    z-index:99;
    text-align:center;
    min-width:150px;
}
.opcache-stats #graph > svg {

}

#graphcontainer #stats-opcode {
    color:White;
}

.opcache-stats #stats-opcode th, .opcode-stats #stats-opcode td {
    padding: 6px 10px;
    font-size: 0.8em;
    white-space: nowrap;
    padding: 0 13px;
}
#stats-opcode td {
  color:#333 !important;
  padding: 0 13px;
}



/* =============================================================================
  Spinner for Angular listings
   ========================================================================== */
.spinner-wrapper {
  margin: 50px 0;
}

.spinner-wrapper .spinner {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.spinner-wrapper .spinner-text {
  color: #29d;
  font-weight: bold;
  text-align: center;
  margin-top:.2em;
  font-size:1.2em;
}


/* =============================================================================
    Listing tables
   ========================================================================== */
.listing tbody, .listing thead {
    background:White;
}

.listing thead th,
.listing thead td {
    background: #ecf0f2;
    padding: 9px;
    text-align: left;
}

.grid.simple .grid-title {
    padding: 15px;
}

.pagination-info {
    padding: 7px;
}

.grid-title .input-group-addon .fa-user {
  padding-left: 2px;
  padding-right: 2px;
}

.page-title .fa {
  top: 0;
}

.page-title h3 {
    width: auto;
}

.page-title .breadcumb {
    margin-top: 7px;
}
