a:hover {
    cursor:pointer;
}
.logoonm {
    display: block !important;
    width:121px;
    height: 21px;
    background-image: url(../../images/logo-opennemas-small.png);
    background-position: -9px center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.page-sidebar ul > li > a > .arrow:before {
    content: "\f105";
}

.top-buttons {
    float:right;
}

.wrapper-table-block {
    background:White;
    padding:1% 2%;
}


/* -------------------------------------------------------------
  Botonera old definitions: This should be deleted
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

  .top-buttons {
    display:inline-block;
    float:right;
    margin: 0 0 0 5px;
    padding: 0px;
    list-style: none;
    vertical-align: middle;
  }

    .top-buttons > li {
        position:relative;
        display:inline-block;
        float: right;
        padding-right: 0px;
        padding-left: 0px;
        vertical-align:bottom;
        text-align: center;
        white-space: nowrap;
    }

      .top-buttons > li a ,
      .top-buttons > li button {
        display: block;
        padding: 2px 4px;
        padding:5px;
        width: auto;
        border:1px solid transparent;
        background: transparent;
        color:#464646;
        text-decoration: none;
        font-weight: bold;
        font-size:11px;
        font-family:Arial;
      }

        .top-buttons > li a img,
        .top-buttons > li a button {
          height:35px !important;
        }
        .top-buttons ul {
          position:absolute;
          top:99%;
          right:0%;
          display:none;
        }

        .top-buttons > li:hover ul {
          display:block;
        }

        .top-buttons > li a:hover,
        .top-buttons > button:hover,
        .top-buttons > li:hover > a {
            position: relative;
            outline: medium none;
            border: 1px solid #D9D9D9;
            border-radius:0px;
            background:#e4e4e4;
            color:Black;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        .top-buttons > li.separator{
            margin:0 2px;
            width:4px;
            height:57px;
            border:0 none;
            background:url(../images/separator.png) center center no-repeat;
            vertical-align:middle;
        }
        .top-buttons img{
            height:35px !important;
        }
        .top-buttons li ul {
            z-index:88;
        }
        .top-buttons li ul li {
            list-style:none;
        }

        .top-buttons .batch-actions {
            display:none;
        }
        .top-buttons .batch-actions:hover > a {
            z-index:89;
            border-color: rgba(0, 0, 0, 0.2);
            border-bottom:0 none;
            border-radius:5px 5px 0 0;
            background:White;
        }
        .top-buttons .dropdown-menu {
            right:0px !important;
            left:auto;
        }
        .top-buttons .dropdown-menu li > a {
            padding: 5px 20px;
            text-align: left !important;
            font-weight: normal !important;
            font-size: 13px !important;
        }
