.photoEditor {
  height: 600px;
  width: 800px;
}

.photoEditor ul {
  float:left;
  list-style: none;
  margin: auto;
  padding: 0;
  position: relative;
  text-align:center;
  width: 100%;
}

.photoEditor li {
  color: black;
  display: inline-block;
  padding: 16px;
  vertical-align: middle;
}

.photoEditor li a {
  color: black;
  cursor: pointer;
  display: block;
}

.photoEditor li i {
  width: 100%;
}

.photoEditor .menu {
  bottom: 0;
  float: left;
  margin-top: 10px;
  position: absolute;
  width: 100%;
}

.photoEditor .menu ul {
  float: right;
  right: 50%;
}

.photoEditor .menu ul li {
  left:50%;
  position:relative;
}

.photoEditor .menu ul ul {
  background-color:white;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  bottom: 100%;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  display:none;
  left:0;
  margin-bottom: -2px;
  padding:0;
  position:absolute;
  top: auto;
}

.photoEditor .menu ul ul li {
  left: 0;
}

.photoEditor .menu ul li:hover ul, .photoEditor .menu ul .subSelected ul {
  display: block;
}

.photoEditor .divCanvasCenter {
  clear: both;
}

.photoEditor .divCanvas {
  margin: 0 auto;
  text-align: center;
}

.photoEditor .divCanvas canvas, .photoEditor .divCanvas div {
  position: absolute;
}

.photoEditor .topMenuBack {
  float: left;
}

.photoEditor .topMenu h4 {
  display: inline;
}

.photoEditor .topMenuSave {
  float: right;
}

.photoEditor .photoEditorCrop {
  border-style: dashed;
}

.photoEditor .photoEditorCircle {
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.photoEditor .topCircle {
  left:-7px;
  top:-7px;
}

.photoEditor .bottomCircle {
  bottom:-7px;
  right:-7px;
}

.photoEditor .divCanvas .buttonApply {
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  margin: auto;
  padding: 5px;
  position: relative;
  top: 50%;
  width: 65px;
}

.photoEditor .divCanvas .canvasForm .formContainer {
    bottom: 10px;
    margin: auto;
    position: absolute;
    width: 100%;
}

.photoEditor .divCanvas .canvasForm .formContainer input {
    border: 0;
}
