*{
	margin:0px;
	padding:0px;
}

a {
	color: #000;
	text-decoration:none;
}

a:hover {
	color: #000;
	text-decoration:underline;
}

a img {
	border:0px;
}

body {
	font-family:Arial;
	font-size:14px;
	color:#333;
	background-color: #FFF;
}

html > body {
	margin: 0;
}

h2 {
	margin-bottom: 5px;	
	font-size:28px;
	font-weight:700;
	clear:left;
}

.clear {
	clear: both;
}


.logoXornalYBanner {
	height:70px;
    background-color:#024687;
}

p {
	margin: 6px;
}

.antetitulo_nota{
	font-size: 12px;
	color: #004b8e;
	text-transform: uppercase;
}

.firma_nota{
	margin-top:1px;
	font-size:11px;	
	color:#004b8e;
}

.subtitulo_nota{
	font-size:17px;
}

.cuerpo_article {
	font-size: 16px;

	/*-moz-column-gap: 1em;*/
	/*-moz-column-count: 2;*/
}

.resumo {
	font-size: 18px;
	margin: 8px 0;
}

.CNoticiaContenedorFoto{
	margin:10px 20px 10px 0;
	float: left;
}

.CNoticia_foto{	
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;	
	background-color:#eee;
}


/********************* BREADCRUB ***********************/
ul.breadcrub {
	list-style: none;
	margin: 0;
	border: 0;
}

ul.breadcrub li {
	float: left;
	padding: 4px;
	color: #024687;
}

ul.breadcrub li a {
	color: #024687;
	font-weight: bold;
	text-decoration: underline;
}

ul.breadcrub li a:hover {
	text-decoration: none;
}
/********************* END: BREADCRUB ***********************/


.creditos_nota {
	font-size:10px;
	text-align:left;
}

.imprimir-link {	
	font-size: 16px;
	font-weight: bold;
	
	display: block;
	float: right;
	
	color: #024687;
}

.imprimir-link:hover {
	font-size: 16px;
	color: #999;
}

div.url {
	padding: 20px 0;
}

.clearer {
	clear: both;
}

/** FORM SEND **/
table.tabular-form th {
	text-align: right;
	vertical-align: top;
	font-weight: bold;
	color: #024687;
	padding: 4px 0;
}

table.tabular-form td {
	padding: 4px 0;
}

table.tabular-form input, table.tabular-form textarea {
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	
	background-color: #EEE;
}

table.tabular-form input:hover, table.tabular-form textarea:hover {
	background-color: #FFF;
}

table.tabular-form .button {
	font-weight: bold;
	background-color: #EEE !important;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	padding: 6px 0;
}

div.message {
	padding: 20px 10px;
	text-align: center;
}