/************* BANNER XPRESS ************/
.contBannerYTextoPublicidad
{
	margin-top:-10px;
	width:300px;
	float:left;
}

.textoBannerPublicidad
{	
	font-family:Arial;
	font-size:9px;
    float:left;
}

.contBannerPublicidad
{
	margin-top:12px;
	width:300px;
	text-align:left;
	overflow:hidden;
}
/************ FIN BANNER XPRESS *********/



/************ BANNERS COLUMNA 3 **********/
.contBannerYTextoPublicidadCol3
{
	margin-top:-8px;
	width:181px;
	
	display:inline;	
	float:left;
	position:relative;
}

.contBannerPublicidadCol3
{
	margin-top:8px;
	width:181px;	
	text-align:center;
	overflow:hidden;
	
	display:inline;	
	float:left;
	position:relative;
}

/************ FIN BANNERS COLUMNA 3*******/


.CContainerPublicidadCol1
{
	width:572px;
	
	display:inline;
	float:left;
	position:relative;
	
	overflow:hidden;
}