*{
margin:0px;
padding:0px;
}

a {color: #000; text-decoration:none;}
a:hover {color: #000; text-decoration:underline;}
a img {border:0px;}

body {
	font-family:Arial;
	font-size:14px;
	color:#000;
	background-color: #e3e4e5;
}

html > body {
	margin: 0;
}

h2 {
	margin-bottom: 5px;	
	font-size:28px;
	font-weight:700;
	clear:left;
}

.clear {
	clear: both;
}

/* structure */
.global_metacontainer {
	margin-left:auto;
	margin-right:auto;
	width:996px;
	position:relative;
	text-align:left;
}
.marco_metacontainer{
	width:976px;
	display:inline;
	float:left;
	position:relative;	
	background-color:#FFF;	
}
.metacontainer{
	width:976px;	
	display:inline;
	float:left;
	position:relative;	
	background-color:#FFF;	
}

/* HEADER */
.header {
	width: 976px;
	float:left;	
	background-color: #fff;
	line-height: 20px;		
}

.logoXornalYBanner
{
	width: 976px;
	height:70px;
	overflow:hidden;
	float:left;
    background-color:#024687;
}

.logoXornal
{
	width:360px;
	height:70px;
	float:left;	
}

.zonaBannerYMenuInferior
{
	height:70px;
	float:right;
	background-color: #024687;
}

.bannerInt
{
	width:634px;
	height:94px;	
	float:left;	
	background-color: #999;		
}

.menuInferiorInt
{
	margin-top:0px;
	width:634px;
	height:18px;	
	float:left;	
}

.separadorHorizontalInt
{
	margin-top:6px; /*2-10*/
	margin-bottom:0px;/*2-10*/
	width:634px;
	height:1px;
	float:left;	
	overflow:hidden;	
	background-color:#b3b3b3;		
}

.zonaSecciones
{
	width: 976px;
    height:23px;
	float:left;
}

.zonaHoraBusqueda
{
	width: 976px;
	height:25px;
	float:left;
	background-color:#e4ddc9;		
	color:#666666;
	font-size:12px;		
    margin-top:-2px;
    padding-top:5px;
    width: 976px;
}

#rss {
	vertical-align:bottom; 
	margin-bottom:2px;
}


.zonaHoraFecha
{
	padding-left:12px;
	float:left;
	display:inline;
	position:relative;	
}


.zonaBusqueda
{
	margin-top:8px;
	width: 976px;
	height:21px;
	float:left;
	background-color:#999;
}


.zonaBusquedaBarraHora
{
	width: 450px;
	height:21px;	
	float:right;
	display:inline;
	position:relative;	
	font-weight:700;
}

.elemMenuBarraFecha
{
	float:left;
	display:inline;
	position:relative;
}

.elemMenuBarraFecha a
{
	color:#666666;	
}

.separadorElemMenuBarraFecha
{
	margin-top:3px;
	margin-left:8px;
	margin-right:8px;
	width:1px;
	height:15px;	
	float:left;
	display:inline;
	position:relative;	
	background-color:#666666;	
}

.containerBusqueda
{
	float:left;
	display:inline;
	position:relative;	
}

.cajaBusqueda
{
	margin-left:10px;
	width:170px;
	height:16px;
	float:left;
	display:inline;
	position:relative;	
}


.destinoBusqueda
{
	margin:0px;
	padding:0px;
	margin-left:20px;
	margin-top:4px;
	height:15px;
	float:left;
	display:inline;
	position:relative;
	vertical-align:top;	
	line-height:15px;
}
.radioBusqueda
{
	float:left;
	display:inline;
	position:relative;
}

.radioBusqueda input
{
	height:13px;
	padding:0px;
	margin:0px;	
	float:left;
	display:inline;
	position:relative;
}

.dondeBuscar
{
	margin-left:3px;
	padding:0px;
	float:left;
	display:inline;
	position:relative;
}

.textoABuscar
{
	width:170px;
	height:15px;
	border:0px;
	overflow:hidden;/*2-10*/
}

.container{	
	width:976px;	
	display:inline;
	float:left;
	position:relative;
	background-color:#fff;
}

.containerNoticias
{
	margin-top:12px;
	width:976px;	
	display:inline;
	float:left;
	position:relative;
	background-color:#fff;	
	background-image:url('../images/fileteFondoActualidad.gif');
}
.containerNoticiasFrontpages
{
/*	margin-top:12px;
	width:976px;
	display:inline;
	float:left;
	position:relative;
	background-color:#fff; */
        margin-top:12px;
        width:976px;
        display:inline;
        float:left;
        position:relative;
        background-color:#fff;
        background-image:url('fileteFo.gif');
	 
}
.ultimaHora
{
	margin-top:10px;
	width:976px;
	height:30px;
	float:left;
}


/* footer */
.footer {
	width:976px;
	float:left;	
	background-color: #fff; 
	border-bottom:10px solid white;
	line-height: 20px;
}

.zonaSeccionesFooter
{
	width: 976px;
	height:26px;
	background-color:#999;
}

.footer a{
	text-decoration:none;
}
.footer a:hover {text-decoration:underline;}

/*************************************************************/
.column12
{
	width:762px;
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}

.column12big
{
    width:962px;
    display:inline;
    float:left;
    position:relative;
    overflow:hidden;
}

.containerCol12
{
	width:762px;
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
	background-image:url('../images/filetesFondoNoticias.gif');
}

.containerCol123
{
/*	width:762px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden; */
        width:962px;
        display:inline;
        float:left;
        position:relative;
        overflow:hidden;
        background-image:url('filetesF.gif');

	 
}


.column1big
{
    margin-left:7px;
    width:635px;
    display:inline;
    float:left;
    position:relative;
    overflow:hidden;
    padding-right: 7px;
    border-right: 1px solid #c0c0c0;
    padding-top:14px;
}

.column2big {
    margin-left:5px;
    width:300px;
    display:inline;
    float:left;
    position:relative;
    overflow:hidden;
}


.column1 
{
	margin-left:7px;	
	width:435px;
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}

.column2 {
	margin-left:20px;
	width:300px;
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}

.column3 {
	margin-left:25px;	
	width:182px;
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}

.noticiaEspecialHome
{
	margin-left:7px;
	margin-bottom:10px;	
	width:755px;	
	display:inline;
	float:left;
	position:relative;
}

.zonaPestanyas
{
	margin-top:8px;
	width:976px;
	height:21px;	
	float:left;
	background-color: #999;
	line-height: 20px;	
}


.separadorBannersTOP
{	
	width:976px;
	height:90px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
	background-color:#fff;
}

.bannerTOP728x90
{
	width:728px;
	height:90px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	background-color: #999;
}


.bannerTOP234x90
{
	margin-left:7px;
	width:234px;
	height:90px;
	display:inline;
	float:right;
	position:relative;
	overflow:hidden;
}

.separadorBanners
{
	width:976px;
	height:90px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
	background-color:#fff;
}

.separadorBanners70pxwidth
{
	width:976px;
	height:70px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
	background-color:#fff;
}

.banner610x70
{
	width:610px;
	height:70px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	background-color: #999;
}

.banner728x90
{
	width:728px;
	height:90px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	background-color: #999;
}

.banner295x295 {
	width: 295px;
	height: 295px;
	margin-top: 8px;
	overflow:hidden;
	text-align:center;
	display: inline;
	float: left;	
}

.banner486x60 { 
	width: 486px;
	height: 60px;
	margin-top: 16px;
	overflow:hidden;
	text-align:center;
	display: inline;
	float: left;
}

.banner234x90
{
	margin-left:7px;
	width:234px;
	height:90px;
	display:inline;
	float:right;
	position:relative;
	overflow:hidden;
}

.banner340x70
{
	margin-left:7px;
	width:340px;
	height:70px;
	display:inline;
	float:right;
	position:relative;
	overflow:hidden;
}
/* CONTAINERA ACTUALIDAD VIDEOS Y DEPORTES */
.containerActualVideosYDeportes
{
	width:976px;
	float:left;
	background-color:#fff;
	background-image:url('../images/fileteFondoActualidad.gif');
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;	
}

/* CONTAINERA ACTUALIDAD VIDEOS Y DEPORTES */
.containerActualidad
{
	margin-left:7px;
	width:755px;
	height:389px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	background-color:#fff;	
}

.actualidadVideos
{
	width:448px;
	height:389px;
	display:inline;
	float:left;
	position:relative;		
	overflow:hidden;
        margin-right:12px;
}

.actualidadFotos
{
	width:295px;
	height:389px;
	display:inline;
	float:left;
	position:relative;		
	overflow:hidden;
}
/*Nueva versión 21-07-2009*/
.containerActualVideosYDeportesNew {
	background-color:#FFFFFF;
	background-image:url(../images/fileteFondoActualidadNew.gif);
	display:inline;
	float:left;
	overflow:hidden;
	position:relative;
	width:976px;
}

.containerActualidadNew
{
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        display: inline;
        float: left;
        margin-left: 7px;
        position: relative;
        width: 620px;
}

.actualidadVideosNew
{
    overflow: hidden;
    display: inline;
    float: left;
    position: relative;
    width: 295px;
}

.actualidadFotosNew
{
        overflow: hidden;
        display: inline;
        float: left;
        position: relative;
        width: 295px;
}
/* --- Fin Nuevo 21-07-2009 */


/* DEPORTES EXPRESS */
.deportesExpress
{
	margin-left:25px;
	width:181px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
}

/* TITULARES DIA */
.titularesDia
{
	width:976px;
	float:left;
}

.cabeceraTitulares
{
	margin-left:7px;
	width:962px;
	height:61px;
	float:left;	
}

.contenedorColTitulares
{
	margin-top:12px;
	width:976px;
	float:left;
	background-image:url('../images/filetesFondoTitulares.gif');
}

.col1Titulares
{
	margin-left:7px;	
	width:304px;	
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}


.col2Titulares
{
	margin-left:25px;
	width:304px;	
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}

.col3Titulares
{
	margin-left:25px;
	width:304px;	
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}


/* SEPARADOR HORIZONTAL */
.separadorHorizontal
{
	margin-top:12px;
	margin-bottom:12px;
	width:976px;
	height:1px;		
	float:left;
	overflow:hidden;	
	background-color:#b3b3b3;		
}



/* ******** NOTICIA *********** */

.containerColumnas12Noticia
{
	margin-top:12px;
	width:976px;	
	display:inline;
	float:left;
	position:relative;
	background-color:#fff;
	background-image:url('../images/fileteFondoNota.gif');	
}

.column1Noticia 
{
	margin-left:7px;	
	width:642px;
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;	
}

.column2Noticia
{
	margin-left:25px;	
	width:295px;
	display:inline;
	float:left;
	position:relative;	
	overflow:hidden;
}


/********************** ROLL OVERS **********************/
.CNoticiaRelacionada a, .CNoticiaRelacionada a:hover, .CSigue a, .CSigue a:hover{
	color:#004b8e;
}
.CContenedorParticipacion a, .CContenedorParticipacion a:hover{
	color:#666666;
}
/*******************************************************************************/

/********************* BREADCRUB ***********************/
ul.breadcrub {
	list-style: none;
	margin: 0;
	border: 0;
}

ul.breadcrub li {
	float: left;
	padding: 4px;
	color: #024687;
}

ul.breadcrub li a {
	color: #024687;
	text-decoration: none;
    font-weight: normal;
}

ul.breadcrub li a:hover {
    text-decoration: underline;
}

a.no_underline {color: #004B8E;  text-decoration:none;}
a.no_underline:hover {color: #004B8E; text-decoration:none;}
/********************* END: BREADCRUB ***********************/

.txt_desc_extras {
color:#707070;
font-family:arial;
font-size:11px;
margin-left:4px;
}

/***** ICONOS RELACIONADAS ************/


item_related{

    margin-bottom:15px;
}
.item_icon{
    background:url(../images/noticia/nnrr.gif) no-repeat 0px 0px;
    padding-left:20px;
    margin-top:2px;
}

.article_icon{
    background:url(../images/noticia/nnrr.gif) no-repeat 0px 0px;
    padding-left:20px;
    margin-top:2px;
}

.opinion_icon{
    background:url(../images/noticia/opinion.gif) no-repeat 0px 0px;
    padding-left:20px;
    margin-top:2px;
}

.image_icon{
    background:url(../images/noticia/galery.gif) no-repeat 0px 0px;
    padding-left:20px;
    margin-top:2px;
}

.file_icon{
    background:url(../images/noticia/doc.gif) no-repeat 0px 0px;
    padding-left:20px;
    margin-top:2px;
}


.video_icon{
    background:url(../images/noticia/video.gif) no-repeat 0px 0px;
    padding-left:20px;
    margin-top:2px;
}

a.related_link{
    color:#004B8E;
}

.related_link a:hover {
    color:#004B8E;
}

.loading_container {
    width: 100%;
    height: 100%;
    background: url(../images/carousel/loading.gif) no-repeat 50% 50%;
    display: block;
    min-height: 55px;
}

/* for Internet Explorer */
* html .loading_container {
    height: 55px;
}


/* PORTADAS */
.portada {
    text-align: center;
    float: left;
    margin: 5px;
}

.portada a {
    padding: 5px;
    display: block;
    font-size: 12px;
    border: 1px dashed #e5e5e5;
    text-decoration: none;
}

.portada a:hover {
    background-color: #e5e5e5;
    font-size: 12px;
    border: 1px solid #e5e5e5;
}

#kiosko_menu div a {
    padding: 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-bottom:1px dashed #e5e5e5;
    vertical-align:middle;
    text-decoration:none;
    font-size: 12px;
}

#kiosko_menu div a:hover {
    background-color: #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    font-size: 12px;
}

/* Ajax form authentication conecta */
div#formAuthConecta {
	background-color: #EEE;
	line-height: normal;
	width: 300px;
	height: 190px;
	padding: 1em;
}

div#formAuthConecta h1 {
	margin: 1em 0;
	font-size: 1.2em;
	font-weight: bold;
	color: #004C8E;
}

div#formAuthConecta dt {
	width:  150px;
	color: #004C8E;
	font-weight: bold;
}

div#formAuthConecta dd {
	width:  270px;
	float: left;
	margin-bottom: 0.5em;
}

div#formAuthConecta div#auth_message {
	color: #933;
	font-weight: bold;
}

div.profile {
	margin-top: 25px;
	
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0.4em;
}

div.profile div.profile-pic {
	float: left;
	padding: 2px;
	
	background-color: #EEE;
	border-right:  1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

div.profile div.profile-info {
	color: #666;
	font-size: 0.9em;
	
	margin-left: 0.5em;
	float: left;	
}

div.profile div.profile-info a {	
	font-size: 1.1em;
	font-weight: bold;
	color: #004B8E;
}

.rightSide {
	text-align: right;
}

div.profile .rightSide a {
	font-weight: bold;
	color: #004B8E;	
}

div.profile .rightSide a:hover {
	text-decoration: none;
}

.clearer {
	clear: both;
}
