/*FOTO-VIDEO DEL DIA*/

.containerFotoVideoDiaMasListado
{
	width:181px;
	display:inline;
	float:left;
	position:relative;	
	/*background-color: #999;*/
}


.containerFotoVideoDia
{
	width:181px;
	display:inline;
	float:left;
	position:relative;
}

.logoFotoVideoDia
{
	width:181px;
	height:46px;
	display:inline;
	float:left;
	position:relative;
	/*background-image:url('../images/fotoVideoDia/logoPlanConecta.gif');
	background-repeat:no-repeat;*/
}

.zonaVisualizacionFotoVideoDia
{
	width:181px;
	height:116px;
	display:inline;
	float:left;
	position:relative;	
	background-color:#eee;
}

.franjaAzulFotoVideoDia
{
	width:181px;
	/*height:18px;*/
	display:inline;
	float:left;
	position:relative;	
	background-image:url('../images/fotoVideoDia/bandaAzulInferior.gif');
}

.flechitaBlancaFotoVideoDia
{
	margin-left:5px;
	margin-top:5px;
	width:5px;
	height:8px;	
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;	
	background-image:url('../images/fotoVideoDia/flechitaBlanca.gif');
	background-repeat:no-repeat;
}
.textoFranjaAzulFotoVideoDia
{
	margin-top:1px;
	margin-left:5px;
	width:154px;	
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	color:#fff;	
}
.zonaPestanyasFotoVideoDia
{
	display:inline;
	float:left;
	position:relative;	
	font-family:Arial;
	font-size:12px;
}
.pestanyaFotoDia
{
	width:88px;
	height:30px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	background-image:url('../images/fotoVideoDia/fondoPestanyaFoto.gif');
	background-repeat:no-repeat;
	background-color:#dee8f0;	
}
.pestanyaVideoDia
{
	width:93px;
	height:30px;
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	background-image:url('../images/fotoVideoDia/fondoPestanyaVideo.gif');
	background-repeat:no-repeat;
	background-color:#dee8f0;
}

.textoPestanyaMediaDia
{
	margin-top:8px;
	margin-left:8px;
	display:inline;
	float:left;
	position:relative;	
}

.pestanyaFotoDia a, .pestanyaVideoDia a
{
	text-decoration:none;
	color:#fff;	
}

.pestanyaFotoDia a:hover, .pestanyaVideoDia a:hover
{
	text-decoration:underline;
	color:#fff;		
}

.listaEnlacesFotoVideoDia
{
	width:171px;
	margin-top:10px;
	margin-left:10px;	
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
}

.enlaceFotoVideoDia
{
	width:171px;
	display:inline;
	float:left;
	position:relative;	
	font-family:Arial;
	font-size:14px;
	color:#004B8E;
    margin-top: 2px
}

.enlaceFotoVideoDia a
{
	color:#004B8E;
}

.enlaceFotoVideoDia img
{
	margin-right:5px;
}

.fileteFotoVideoDia
{
	margin-top:5px;
	width:161px;
	height:1px;
	overflow:hidden;
	display:inline;
	float:left;
	position:relative;
	background-image:url('../images/fotoVideoDia/fileteDashedDeportesXPress.gif');
}

.menuInferiorFotoVideoDia
{
	margin-top:10px;
	/*margin-left:10px;*/
	width:161px;	
	display:inline;
	float:left;
	position:relative;	
	font-family:Arial;
	font-size:10px;
	color:#004B8E;		
}

.menuInferiorFotoVideoDia a,.menuInferiorFotoVideoDia a:hover
{
	color:#004B8E;	
}

.posPaginador 
{
display:inline;
float:left;
margin-left:162px;
margin-top:15px;
position:relative;
width:572px;
}