.CContenedorPiezaGenteXornal
{
	float:left;
	display:inline;
	position:relative;
        width:295px;
}

.CPiezaGenteXornalMasLinks
{
	margin-top:10px;
	margin-left:20px;
	float:left;
	display:inline;
	position:relative;	
	font-size:10px;
	color:#004B8E;	
}

.CPiezaGenteXornalMasLinks a,.CPiezaGenteXornalMasLinks a:hover
{
	color:#004B8E;	
}

.CCabeceraPiezaGenteXornal
{
	margin-left:15px;
	width:200px;
	height:46px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
}

.CCuerpoPiezaGenteXornal
{
	margin-left:22px;
	width:252px;	
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;	
}

.CCuerpoPiezaFotoXornal
{
	margin-left:22px;
	width:270px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
}

.CContainerFotoPiezaGenteXornal
{
        background-color:#E4DDC9;
	width:260px;
        height:250px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
        margin-top:10px;
}

.CBandaAzulPiezaGenteXornal
{
	width:252px;
	height:14px;	
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
	background-image:url('../images/genteXornal/fondoBandaBajoFoto.gif');
	background-repeat:no-repeat;	
}

.CPieFotoPiezaFotoXornal
{
	margin-top:20px;
	/*margin-bottom:15px;*/
	width:270px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;	
	font-family:Arial;
	font-size:12px;
	color:#333;	
}

.CPieFotoPiezaVideoXornal
{
	margin-top:15px;
	/*margin-bottom:15px;*/
	width:434px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
	font-family:Arial;
	font-size:12px;
	color:#333;
}
.CPieFotoPiezaGenteXornal
{
	margin-top:10px;
	/*margin-bottom:15px;*/
	width:252px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
	font-family:Arial;
	font-size:12px;
	color:#333;
}

.CFlechaGrisPieGenteXornal
{
	margin-top:2px;
	width:10px;
	height:9px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;	
	background-image:url('../images/genteXornal/flechaPieGenteXornal.gif');
	background-repeat:no-repeat;
}

.CFlechaBlancaFondoAzul
{
	margin-left:10px;
	margin-top:2px;
	width:10px;
	height:8px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;	
	background-image:url('../images/genteXornal/flechaBlancaFondoAzul.gif');
	background-repeat:no-repeat;
}


.CTextoBandaAzulGenteXornal
{
	width:232px;	
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
}

.CTextoBandaAzulGenteXornal a, .CTextoBandaAzulGenteXornal a:hover
{
	font-family:Arial;
	font-size:10px;
	color:#fff;		
}


/* -- Nueva versión 21-07-2009*/
.CPieFotoPiezaVideoXornalNew {
	color:#333333;
	display:inline;
	float:left;
	font-family:Arial;
	font-size:12px;
	margin-top:15px;
	overflow:hidden;
	position:relative;
	width:270px;
        height: 30px;
}

.CPieFotoPiezaFotoXornalNew {
	color:#333333;
	display:inline;
	float:left;
	font-family:Arial;
	font-size:12px;
	margin-top:15px;
	overflow:hidden;
	position:relative;
	width:270px;
        height: 30px;
}

.CContainerFotoPiezaGenteXornalNew
{
        background-color:#E4DDC9;
        display:inline;
        float:left;
        height:310px;
        margin-top:10px;
        overflow:hidden;
        position:relative;
        width:260px;
}
/* -- Fin nueva versión 21-07-2009*/