.containerVerano
{
	width:295px;
	float:left;
	display:inline;
	position:relative;
	background-color:#fff;
}

.containerNoticiasXPress
{
	margin-left:8px;
	width:280px;
	float:left;
	display:inline;
	position:relative;
	background-color:#fff;
}

.cabeceraNoticiasXPress
{
	width:280px;
	height:42px;	
	float:left;	
	background-image:url('../images/noticiasXPress/logoNoticiasXPress.gif');
	background-repeat:no-repeat;
}

.cabeceraHumorGrafico
{
	width:280px;
	height:42px;
	float:left;
	background-image:url('../images/noticiasXPress/logoHumorGrafico.jpg');
	background-repeat:no-repeat;
}

.listaNoticiasXPress
{
	width:280px;
	float:left;
	display:inline;
	position:relative;
}

.noticiaXPress
{
	margin-top:8px;
	width:280px;
	float:left;
	display:inline;
	position:relative;
}

.contHoraNoticiaXPress
{
	width:35px;
	height:35px;	
	float:left;
	display:inline;
	position:relative;
}

.horaNoticiaXPress
{
	width:35px;
	height:18px;	
	float:left;
	display:inline;
	position:relative;	
	font-family:Arial;
	font-size:12px;
	color:#004B8E;
}

.iconoRayoXPress
{
	margin-left:8px;
	width:17px;
	height:17px;	
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasXPress/iconoRayoPeque.gif');	
}


.contTextoFilete
{
	width:236px;	
	float:left;
	display:inline;
	position:relative;
}

.textoNoticiaXPress
{
	width:230px;
	margin-left:5px;
	margin-right:7px;	
	float:left;
	display:inline;
	position:relative;	
	font-family:Arial;
	font-size:12px;
	color:#333;
}

.textoNoticiaXPress a
{
	color:#333;	
}

.fileteNoticiaXPress
{
	margin-top:10px;
	width:240px;
	height:1px;	
	float:left;
	display:inline;
	position:relative;
}

.linkMasNoticiasXPress
{
	width:151px;
	margin-top:4px;
	margin-left:32px;	
	float:left;
	display:inline;
	position:relative;	
	font-size:10px;
}
.linkMasNoticiasXPress a
{
	color:#004B8E;
}