.containerOpinion
{
	
	width:300px;
	float:left;
	background-color:#fff;
}

#cabeceraOpinion
{
	width:266px;
	height:43px;
	float:left;
	background-image:url('../images/opinion/logoOpinion.gif');
}

#cabeceraOpinion2
{
	width:180px;
	height:30px;	
	float:left;	
	background-image:url('../images/opinion/logoOpinion180.png');
}

.listaPiezasOpinion
{
	width:300px;
	margin-top:0px;
	float:left;	
}

.parPiezasOpinion
{
	float:left;	
}

.piezaOpinion
{
	width:140px;
	/*height:100px;*/
	height: 115px;
	float:left;
	/*overflow:hidden;*/
}

.piezaOpinionPrimeraFila
{
	width:140px;
	/*height:140px;*/
	height: 150px;
	float:left;
	overflow:hidden;
}

.cabeceraPiezaOpinion
{
	width:135px;
	float:left;
	font-family:Arial;
	font-size:14px;
	color:#004B8E;	
}

.cuerpoPiezaOpinion
{
	width:127px;
	height:70px;
	float:left;	
	background-image:url('../images/opinion/fondoFraseOpinion.gif');
	background-repeat:no-repeat;	
}

.cuerpoPiezaOpinionPrimera
{
	width:127px;
	height:100px;
	float:left;
	background-image:url('../images/opinion/fondoFraseOpinionGrande.gif');
	background-repeat:no-repeat;
}

.cuerpoPiezaOpinionEspecial
{
	width:130px;
	height:102px;
	float:left;	
	background-image:url('../images/opinion/imagenPrimeraPiezaOpinion.gif');	
	background-repeat:no-repeat;
}

.fotoPiezaOpinion
{
	width:135px;
	height:70px;
	float:left;	
}

.textoPiezaOpinionPrimera
{
	margin-left:5px;
	margin-right:5px;
	margin-top:20px;
	width:130px;
	height:102px;
	float:left;	
	font-family:Arial;
	font-size:12px;
	color:#000;	
}

.textoPiezaOpinionPrimera img
{
	margin-right:4px;
}

.textoPiezaOpinion
{
	margin-top:3px;
	margin-right:5px;
	width:130px;
	height:38px;
	float:left;	
	font-family:Arial;
	font-size:12px;
	color:#000;		
}

.textoPiezaOpinion img
{
	margin-right:3px;
}

.parPiezasOpinion
{
	margin-top:10px;
	float:left;		
}
.separadorVerticalOpinion
{
	margin-right:5px;	
	width:1px;
	/*height:100px;*/
	height: 115px;
	float:left;	
	overflow:hidden;
	background-image:url('../images/opinion/separadorVerticalOpinion.gif');
}

.separadorVerticalDirectorOpinion
{
	margin-right:5px;
	width:1px;
	/*height:130px;*/
	height: 150px;
	float:left;
	overflow:hidden;
	background-image:url('../images/opinion/separadorVerticalOpinion.gif');
}

.separadorHorizontalOpinion
{
	margin-top:5px;
	margin-bottom:5px;	
	width:280px;
	height:2px;	
	overflow:hidden;
	float:left;
	display:inline;
	position:relative;
	background-image:url('../images/opinion/separadorHorizontalOpinion.gif');
}


.cuerpoPiezaOpinionEconomia
{
    margin-top: 10px;
    margin-left: 5px;
	width:170px;
	/*height:190px;*/
	float:left;	
	background-color:#FFF;	
}

.fotoPiezaEconomia
{
	width:170px;
	height:150px;
	float:left;	
}


.textoPiezaOpinionEconomia
{
	margin-top:3px;
	/*margin-left:5px;*/
	margin-right:10px;
	width:170px;
	height:38px;
	float:left;	
	font-family:Arial;
	font-size:12px;
	color:#000;		
}
