.zonaEncuestasXornal
{
	width:760px;
	display:inline;
	float:left;
	position:relative;
	
	background-color:white;
}

.containerZonaLogoEncuesta
{	
	margin-left:30px;
	margin-top:10px;
	
	width:710px;
	
	display:inline;
	float:left;
	position:relative;

}

.CContenedorResultEncuesta
{
	margin-top:8px;
	width:160px;		
	float:left;
	display:inline;
	position:relative;	
}

.containerLogoEncuestas
{
	width:273px;
	height:70px;	
	display:inline;
	float:left;
	position:relative;	
	background-image:url('../images/encuestas/logoEncuestasXornal.gif');
	background-repeat:no-repeat;
}

.containerEncuestaXornal
{
	margin-left:60px;
	width:340px;	
	display:inline;
	float:left;
	position:relative;
}

.zonaPreguntaEncuesta
{
	width:340px;
	display:inline;
	float:left;
	position:relative;	
	color:#004B8D;
	font-family:Arial;
	font-size:14px;
	font-weight:700;
}

.CContainerGraficoBarrasPeque 
{
	margin-top:10px;
    margin-bottom:20px;
	width:165px;
	height:176px;
	display:inline;
	float:left;
	position:relative;
	background-image:url('../images/encuestas/backgroundEncuestaDegradado.gif');
	background-repeat:no-repeat;
}

.CSeparadorCeroPeque 
{
	left:10px;
	bottom:30px;
	width:150px;
	height:1px;	
	background-color:#FFF;
	overflow:hidden;
	position:absolute;
}

.CSeparadorCincuentaPeque
{
	left:10px;
	bottom:90px;

	width:150px;
	height:1px;
		
	background-color:#FFF;

	overflow:hidden;
	position:absolute;

}

.CSeparadorCienPeque 
{
	left:10px;
	bottom:150px;
	width:150px;
	height:1px;

	background-color:#FFF;

	overflow:hidden;
	position:absolute;
}

.CPercentCeroPeque 
{
	left:6px;
	bottom:33px;
	
	color:#666;
	font-size:9px;
	position:absolute;
	font-weight:700;

}

.CPercentCincuentaPeque
{
	left:6px;
	bottom:92px;
	
	color:#666666;
	font-size:9px;
	position:absolute;
	font-weight:700;
}

.CPercentCienPeque 
{
	left:6px;
	bottom:152px;
	
	color:#666666;
	font-size:9px;
	position:absolute;
	font-weight:700;	
}


.CContenedorBarra1Peque 
{
	bottom:0px;
	left:35px;
	width:20px;
	position:absolute;
}


.CContenedorBarra2Peque 
{
	bottom:0px;
	left:60px;
	width:20px;
	position:absolute;
}

.CContenedorBarra3Peque
{
	bottom:0px;
	left:85px;
	width:30px;
	position:absolute;
	background-color:green;
}

.CContenedorBarra4Peque
{
	bottom:0px;
	left:110px;
	width:30px;
	position:absolute;
	background-color:green;
}

.CContenedorBarra5Peque
{
	bottom:0px;
	left:135px;
	width:30px;
	position:absolute;
	background-color:green;
}


.CBarra1Peque
{
	left:0px;
	bottom:30px;
	width:30px;
	height:96px;/*este valor se ha de tocar junto con a) 120 =100 %*/
	
	position:absolute;
}
.CFondoBarra1Peque
{
	left:0px;
	top:-1px;
	width:15px;
	height:96px; /* a) */	
	background-color:#0095dd;
	border:1px solid #D1CCBD;
	position:absolute;
	overflow:hidden;
}

.CBarra2Peque
{
	left:0px;
	bottom:30px;
	width:30px;
	height:60px; /*este valor se ha de tocar junto con b)*/	
	position:absolute;
}

.CFondoBarra2Peque
{
	left:0px;
	top:-1px;
	width:15px;
	height:60px; /* b) */	
	background-color:#004b8d;
	border:1px solid #D1CCBD;
	position:absolute;
	overflow:hidden;
}

.CBarra3Peque
{
	left:0px;
	bottom:30px;
	width:30px;
	height:120px; /*este valor se ha de tocar junto con c)*/	
	position:absolute;
}

.CFondoBarra3Peque
{
	left:0px;
	top:-1px;
	width:15px;
	height:120px; /* c) */	
	border:1px solid #D1CCBD;
	background-color:#000;
	position:absolute;
	overflow:hidden;
}

.CBarra4Peque
{
	left:0px;
	bottom:30px;
	width:30px;
	height:20px; /*este valor se ha de tocar junto con c)*/
	position:absolute;
}

.CFondoBarra4Peque
{
	left:0px;
	top:-1px;
	width:15px;
	height:20px; /* c) */
	border:1px solid #D1CCBD;
	background-color:#000;
	position:absolute;
	overflow:hidden;
}

.CBarra5Peque
{
	left:0px;
	bottom:30px;
	width:30px;
	height:80px; /*este valor se ha de tocar junto con c)*/
	position:absolute;
}

.CFondoBarra5Peque
{
	left:0px;
	top:-1px;
	width:15px;
	height:80px; /* c) */
	border:1px solid #D1CCBD;
	background-color:#000;
	position:absolute;
	overflow:hidden;
}

.CPercentPeque 
{
	margin-top:-18px;
	margin-left:-5px;
	width:25px;

	display:inline;
	float:left;
		
	color:#666;

	font-family:Arial;
	font-size:12px;
	font-weight:700;

	position:relative;
	text-align:center;

}

.CRespuestaEncPeque 
{
	left:-5px;
	bottom:-3px;
	width:30px;
	height:30px;		
		
	position:absolute;	
		
	color:#666;
	font-family:Arial;
	font-size:14px;
	font-weight:700;

	text-align:center;
	
}


.COtrosInfoMediaEncuestaPequeSB
{
	color:#004B8D;
	display:inline;
	float:left;
	font-family:Arial;
	font-size:14px;
	margin-left:10px;
	overflow:hidden;
	padding-left:10px;
	position:relative;
}

.COtrosInfoMediaEncuestaPeque
{
	margin-left:10px;
	padding-left:10px;
		
	border-left:1px solid #004B8D;
	color:#004B8D;
	display:inline;
	float:left;
	font-family:Arial;
	font-size:14px;

	overflow:hidden;

	position:relative;
}

.COtrosInfoMediaEncuestaPeque a,.COtrosInfoMediaEncuestaPeque a:hover
{
	color:#004B8D;
}

.fileteHorizontalPC 
{
	width:734px;
	height:1px;
	margin-top:10px;

	display:inline;
	float:left;

	overflow:hidden;
	position:relative;
	
	background-image:url('../images/planConecta/portada/fileteHorizontalPC.gif');
	background-repeat:no-repeat;
}