.CContainerLogoConectaYPestanyas
{
	width:760px;
	height:52px;
	float:left;
}

.CContainerLogoConecta
{
	width:270px;
	height:52px;
	
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;
    
    vertical-align:top;
    background-image:url('../images/planConecta/logoPlanConecta.gif');	
    background-repeat:no-repeat;
}

.CContainerPestanyasConecta
{   
	margin-left:6px;
	width:484px;
	
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;
    
    vertical-align:top;
    background-image:url('../images/pestanyas/pestanyasListados/contPestanyasList.gif');
}


.CZonaVisionadoMedia
{
    background-color:#E4DDC9;
    display:inline;
    float:left;
 /*   height:340px; */
    margin-left:2px;
    margin-top:10px;
    overflow:none;
    position:relative;
    width:755px;
    height:100%;
    vertical-align:middle;
}


.CVisorMedia
{
    background-color:#333333;
    display:inline;
    float:left;
 /*   height:320px; */
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;    
    overflow:none;
    position:relative;
    text-align:center;
    width:434px;  
     height:100%;
    vertical-align:middle;
}


.CMarcoVisorInfoMedia
{
    background-color:#666666;
    display:inline;
    float:left;
  
    margin-left:23px;
    margin-top:11px;
     margin-bottom:10px;    
    overflow:none;
    position:relative;
    width:272px;

}

.CVisorInfoMedia
{
    background-color:#E4DDC9;
    display:inline;
    float:left;
  /*  height:316px; */
 	 height:expression( $$('.CVisorInfoMedia')[0].getHeight() < 316 ? "316px" :  "auto");
 	  min-height:316px; 
    margin-left:1px;
    margin-top:1px;
     margin-bottom:1px;
    overflow:none;
    position:relative;
    width:270px;
}

.CContainerInfoMedia
{
	margin:18px;
	margin-top:10px;	
	width:240px;
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;
}

.CContainerSeccionFechaInfoMedia
{
	width:330px;
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;	
}
.CSeccionInfoMedia
{
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;
    
    font-family:Arial;
    font-size:14px;
    color:#0095dd;
    font-weight:700;
    
    text-transform:uppercase;
    
}
.CFechaInfoMedia
{
	margin-left:10px;
	padding-left:10px;
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;
    
    font-family:Arial;
    font-size:14px;
    color:#0095dd;
    border-left:1px solid #39709c;
    
}

.CTitularInfoMedia
{
	margin-top:10px;
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;
    
    font-family:Arial;
    font-size:24px;
    color:#333;
    font-weight:700;

}

.CFirmaInfoMedia
{
    float:left;
    display:inline;
    position:relative;
    overflow:hidden;    
    font-family:Arial;
    font-size:14px;
    color:#333;
    font-weight:700;
}

.CTextoEnviadaPor
{	
	float:left;
	display:inline;
	position:relative;
        overflow:hidden;
        font-weight:500;
}

.CNombreInfoMedia
{	
	margin-left:10px;
	float:left;
	display:inline;
	position:relative;
        overflow:hidden;
        font-weight:500;
}


.CTextoInfoMedia
{
	margin-top:10px;
	width:240px;
	float:left;
	display:inline;
	position:relative;
    overflow:none;
    font-family:Arial;
    font-size:13px;
    color:#000;
    font-weight:500;
	clear:both;
}

.CFlechitaTexto
{
	margin-top:3px;
	margin-right:3px;
	width:5px;
	height:8px;
	float:left;
	display:inline;
	position:relative;
    overflow:hidden;
    background-image:url('../images/planConecta/flechitaTexto.gif');	
}
	
.CfotoElemMediaListado
{
	margin-left:6px;
	width:78px;
	height:88px;
	float:left;
	position:relative;
	display:inline;
	overflow:hidden;
	background-color:#E9DECE;
        margin-bottom:6px;
    font-size:0px;
}