.menuZonaRegistro
{	
	width:680px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:60px;
	
	color:#004B8D;
	display:inline;
	float:left;
	font-family:Arial;
	font-size:11px;
	margin-top:10px;
	position:relative;
}
.menuZonaRegistro a
{
	margin-right:4px;
	margin-left:4px;
}

.menuZonaRegistro a,.CBotonRegistro a, .menuZonaRegistro a:hover ,.CBotonRegistro a:hover,.CEntradaForm a,.CEntradaForm a:hover
{
	color:#004B8E;
}
.menuZonaRegistro a,.CBotonRegistro a
{
	text-decoration:none;
}
.menuZonaRegistro a:hover,.CBotonRegistro a:hover
{
	text-decoration:underline;
}

.CFileteVerticalReg
{
	width:1px;
	height:183px;
	
	position:relative;
	float:left;
	display:inline;
	
	background-image:url('../images/registro/fileteDashedVertical.gif');
	background-repeat:no-repeat;	
}

.CLinksConectaRegistro
{
	position:relative;
	float:left;
	display:inline;
}


.CZonaRegistrarse
{
	position:relative;
	float:left;
	display:inline;
}
.contenedorZonaRegistro
{
	margin-left:60px;
	width:660px;
	
	position:relative;
	float:left;
	display:inline;
	
	/*font-size:12px;
	color:#000;*/
}

/*.contenedorZonaRegistro p
{
	margin-bottom:20px;
}*/

.CListaEntradasSoyUsuario
{
	margin-left:10px;
	margin-top:20px;
	position:relative;
	float:left;
	display:inline;
}


.CEntradaForm
{
	width:290px;
	height:25px;
	position:relative;
	float:left;
	display:inline;
}

.CEntrada2Form
{
	width:290px;
	/*height:25px;*/
	position:relative;
	float:left;
	display:inline;
}

.CTextoEntradaEMail
{
	left:0px;
	top:5px;
	position:absolute;
}
.CInputEntradaEMail
{
	left:80px;
	top:0px;
	position:absolute;
	float:left;
	display:inline;
}

.CInputEntradaEMail input
{
	width:200px;
	height:22px;
	border:1px solid #7f7f7f;
	overflow:hidden;
}

.CInterlineadoForm
{
	width:300px;
	height:20px;
	position:relative;
	float:left;
	display:inline;	
}


.CZonaSerONoSerRegistro
{
	margin-top:20px;
	margin-left:10px;
	position:relative;
	float:left;
	display:inline;
	width:700px;
	overflow:hidden;
}
.CZonaSer
{
	margin-top:15px;
	width:326px;
	
	position:relative;
	float:left;
	display:inline;	
	overflow:hidden;
}
.CZonaNoSer
{
	margin-left:34px;
	margin-top:15px;
	width:286px;
	
	position:relative;
	float:left;
	display:inline;	
}
.CListadoPuntosNoSoy
{
	margin-left:10px;
	position:relative;
	float:left;
	display:inline;	
}

.CDestacadoRegistro 
{
	color:#004B8E;
	display:block;
	font-weight:700;
	font-size:14px;
}

.CBotonRegistro
{
	margin-top:20px;
	margin-left:230px;
	position:relative;
	float:left;
	display:inline;		
}
.CBotonRegistro2
{
	margin-top:20px;
	margin-left:230px;
	position:relative;
	float:left;
	display:inline;		
}


.fileteHorizontalRegistro
{
	width:690px;
	height:1px;	
	display:inline;
	float:left;
	position:relative;
	overflow:hidden;
	background-image:url('../images/planConecta/portada/fileteHorizontalPC.gif');
	background-repeat:no-repeat;
}


/* ZONA DARSE DE ALTA */
.CZonaDarseDeAlta
{
	margin-left:60px;
	margin-top:15px;
	width:700px;
	height:570px;	
	display:inline;
	float:left;
	position:relative;
	color:#000;
}

.CCabeceraFormulario
{
	position:relative;
	float:left;
	display:inline;
}

.CEntradasDAlta
{
	margin-left:10px;
	margin-top:20px;
	
	width:670px;
	height:400px;
	position:relative;
	float:left;
	display:inline;
}

/* NICK */
.CNickDAlta
{
	top:10px;
	height:25px;
	width:700px;
	
	position:absolute;
}
.CNickLabelDAlta
{	
	top:4px;	
	position:absolute;
}
.CNickInputDAlta
{
	left:50px;
	top:0px;
	position:absolute;
}
.CNickInputDAlta input
{
	width:605px;
	height:22px;
	border:1px solid #7f7f7f;	
}


/* E-MAIL */
.CEMailDAlta
{
	top:45px;
	position:absolute;
}
.CEmailLabelDAlta
{
	top:4px;
	width:150px;
	position:absolute;
}
.CEmailInputDAlta
{
	left:160px;
	position:absolute;
}
.CEmailInputDAlta input
{
	width:495px;
	height:22px;	
	border:1px solid #7f7f7f;	
}


/* CONTRASE�A */
.CPasswordDAlta
{
	top:80px;	
	position:absolute;
}
.CPasswordLabelDAlta
{
	top:4px;
	width:100px;
	position:absolute;
}
.CPasswordInputDAlta
{
	left:110px;
	position:absolute;	
}
.CPasswordInputDAlta input
{
	width:185px;
	height:22px;	
	border:1px solid #7f7f7f;	
}


/* REPETIR PASSWORD */
.CRepPasswordDAlta
{
	left:320px;
	top:80px;	
	
	position:absolute;	
}
.CRepPasswordLabelDAlta
{
	top:4px;	
	width:140px;
	position:absolute;	
}
.CRepPasswordInputDAlta
{
	left:150px;
	position:absolute;
}
.CRepPasswordInputDAlta input
{
	width:185px;
	height:22px;	
	border:1px solid #7f7f7f;	
}


/* NOMBRE */
.CNombreDAlta
{
	top:115px;
	position:absolute;
}
.CNombreLabelDAlta
{
	top:4px;	
	width:70px;
	position:absolute;		
}
.CNombreInputDAlta
{
	left:82px;
	position:absolute;		
}
.CNombreInputDAlta input
{
	width:573px;
	height:22px;	
	border:1px solid #7f7f7f;	
}


/* PRIMER APELLIDO */
.CApellidoDAlta
{
	top:150px;
	position:absolute;
}
.CApellidoLabelDAlta
{
	top:4px;	
	width:120px;
	position:absolute;	
}
.CApellidoInputDAlta
{
	left:130px;
	position:absolute;
}
.CApellidoInputDAlta input
{
	width:526px;
	height:22px;	
	border:1px solid #7f7f7f;		
}


/* SEGUNDO APELLIDO */
.CSegApellidoDAlta
{
	left:8px;
	top:185px;	
	position:absolute;
}
.CSegApellidoLabelDAlta
{
	top:4px;	
	width:120px;
	position:absolute;
		
}
.CSegApellidoInputDAlta
{
	left:130px;
	position:absolute;	
}
.CSegApellidoInputDAlta input
{
	width:518px;
	height:22px;	
	border:1px solid #7f7f7f;	
}


/* DNI */
.CDNIDAlta
{
	top:220px;	
	position:absolute;	
}
.CDNILabelDAlta
{
	top:2px;	
	width:210px;
	position:absolute;		
}
.CDNIInputDAlta
{
	left:210px;
	position:absolute;		
}
.CDNIInputDAlta input
{
	width:130px;
	height:22px;	
	border:1px solid #7f7f7f;	
}

/* FECHA NACIMIENTO */
.CFechaNacimientoDAlta
{
	left:366px;
	top:220px;
	
	position:absolute;
}
.CFechaNacimientoLabelDAlta
{
	top:4px;	
	width:160px;
	position:absolute;	
}
.CFechaNacimientoInputDAlta
{
	left:160px;
	position:absolute;		
}
.CFechaNacimientoInputDAlta input
{
	width:130px;
	height:22px;	
	border:1px solid #7f7f7f;	
}


/* MOVIL */
.CMovilDAlta
{
	top:255px;
	position:absolute;
}
.CMovilLabelDAlta
{
	top:4px;	
	width:100px;
	position:absolute;	
}
.CMovilInputDAlta
{
	left:110px;
	position:absolute;	
}
.CMovilInputDAlta input
{
	width:183px;
	height:22px;	
	border:1px solid #7f7f7f;	
}

/* TELEF FIJO */
.CTelefDAlta
{
	left:377px;
	top:255px;
	position:absolute;	
}
.CTelefLabelDAlta
{
	top:4px;	
	width:100px;
	position:absolute;
}
.CTelefInputDAlta
{
	left:96px;	
	position:absolute;		
}
.CTelefInputDAlta input
{
	width:183px;
	height:22px;	
	border:1px solid #7f7f7f;	
}



/* PAIS RESIDENCIA */
.CPaisDAlta
{
	top:290px;
	position:absolute;	
}
.CPaisLabelDAlta
{
	top:4px;	
	width:140px;
	position:absolute;	
}
.CPaisInputDAlta
{
	left:140px;
	position:absolute;	
}
.CPaisInputDAlta input
{
	width:160px;
	height:22px;	
	border:1px solid #7f7f7f;	
}


/* POBLACION */
.CPoblacionDAlta
{
	left:323px;
	top:290px;
	position:absolute;		
}
.CPoblacionLabelDAlta
{
	top:4px;	
	width:130px;
	position:absolute;	
}
.CPoblacionInputDAlta
{
	left:123px;
	position:absolute;		
}
.CPoblacionInputDAlta input
{
	width:210px;
	height:22px;	
	border:1px solid #7f7f7f;	
}




.CBotonEnviarDAlta
{
	left:600px;
	top:340px;	
	position:absolute;	
}


.CBasesLegales
{
	width:700px;
	position:relative;
	float:left;
	display:inline;
}

.CCamposObligatorios
{
	margin-top:20px;
	width:700px;
	position:relative;
	float:left;
	display:inline;	
}

.menuZonaRegistro2
{	
	width:680px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:30px;
	
	color:#004B8D;
	display:inline;
	float:left;
	font-family:Arial;
	font-size:11px;
	margin-top:10px;
	position:relative;
}

.menuZonaRegistro2 a,.menuZonaRegistro2 a:hover
{
	color:#004B8D;	
}

table.registro {
	width: 100%;
	
}

table.registro th {
	text-align: right;
	vertical-align: top;
	padding-right: 2px;
	padding-bottom: 10px;
	font-weight: bold;
}

table.registro td {
	text-align: left;
	vertical-align: top;
	padding-bottom: 10px;
}
