body {
  background-color: rgb(229, 233, 236) !important;
  overflow-y: scroll; /*hidden*/
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  color:#376092;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s, padding .25s !important;
}

a:hover,
a:focus {
  color:#376092;
}

.a {
  cursor: pointer;
}

i.ng-hide-add-active, .ng-hide-remove {
  display: inline-block !important;
}

.actions-navbar ul.nav li.dropdown > ul.dropdown-menu {
  margin-top: 10px;
}

@media (min-width: 900px) {
  .actions-navbar ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: none !important;
  }

  .actions-navbar ul.nav li.dropdown.open:hover > ul.dropdown-menu {
    display: block !important;
  }
}
