<?xml version="1.0" encoding="UTF-8"?>
<routes>
    
    <production>
        
        <ads-index-index type="Zend_Controller_Router_Route">
            <route>ads/</route>
            <defaults>
                <module>ads</module>
                <controller>index</controller>
                <action>index</action>
            </defaults>
        </ads-index-index>
        
    </production>
    
    <development extends="production"></development>
    
    <testing extends="production"></testing>
    
</routes>