imports:
    - { resource: services/service.yml }
    - { resource: services/subscriber.yml }

parameters:
#    onm_test.example.class: Onm\TestBundle\Example

services:
    kernel.listener.maintenance_mode:
        class: Framework\EventListener\MaintenanceModeListener
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 100 }

    kernel.listener.instanceloader:
        class: Framework\EventListener\InstanceLoaderListener
        arguments: [ @instance_manager, @cache, @cache_manager ]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 99 }

    kernel.listener.user_listener:
        class: Framework\EventListener\UserListener
        arguments: [ @security.token_storage, @onm_user_provider, @router, @session ]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 0 }

    kernel.listener.l10n_system:
        class: Framework\EventListener\L10nSystemListener
        arguments: [ @service_container, @setting_repository ]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 0 }

    kernel.listener.application_listener:
        class: Framework\EventListener\ApplicationListener
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 0 }

    kernel.listener.controller:
        class: Framework\EventListener\ControllerListener
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    kernel.listener.varnish_cleaner:
        class: Framework\EventListener\VarnishCleanerListener
        arguments: [ %varnish%, @varnish_cleaner, @varnish_ban_message_exchanger, @application.log ]
        tags:
            - {name: kernel.event_listener, event: kernel.response, method: onKernelTerminate, priority: 100}

    kernel.listener.instance_exceptions:
        class: Framework\EventListener\InstanceExceptionsListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 100 }

    kernel.listener.webservice_exceptions:
        class: Framework\EventListener\WebServiceExceptionsListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 100 }

    kernel.listener.access_denied_exceptions:
        class: Framework\EventListener\AccessDeniedExceptionsListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 100 }

    kernel.listener.general_exceptions:
        class: Framework\EventListener\GeneralExceptionsListener
        arguments: [ %kernel.environment% ]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 98 }

    kernel.listener.hooks_subscriber:
        class: Framework\EventListener\HooksSubscriber
        arguments: [ @service_container, @cache, @logger ]
        tags:
            - { name: kernel.event_subscriber }

    kernel.listener.news_agency:
        class: Framework\EventListener\NewsAgencyCronActionSubscriber
        tags:
            - {name: kernel.event_subscriber}

    cache:
        class: %cache_handler%
        arguments: [ %cache_handler_params% ]

    cache_manager:
        class: %cache_handler%
        arguments: [ %cache_handler_params% ]

    collector.database:
        class: Framework\DataCollector\DatabaseCollector
        public: false
        arguments: [ @dbal_connection ]
        tags:
            -
                name:     data_collector
                id:       'database_collector'
                template: '@OnmFramework/collector/database.html.twig'
                priority: 100

    collector.cache:
        class: Framework\DataCollector\CacheCollector
        public: false
        arguments: [ @cache ]
        tags:
            -
                name:     data_collector
                id:       'cache_collector'
                template: '@OnmFramework/collector/cache.html.twig'
                priority: 100

    db_conn:
        class: Onm\DatabaseConnection
        arguments: [ %database% ]

    dbal_connection:
        class: Onm\Database\DbalWrapper
        arguments: [ %database%, %kernel.environment% ]

    dbal_connection_manager:
        class: Onm\Database\DbalWrapper
        arguments: [ %database%, %kernel.environment% ]

    db_conn_manager:
        class: Onm\DatabaseConnection
        arguments: [  %database% ]

    category_repository:
        class: Repository\CategoryManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    comment_repository:
        class: Repository\CommentManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    content_views_repository:
        class: Repository\ContentViewsManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    entity_repository:
        class: Repository\EntityManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    frontpage_repository:
        class: Repository\FrontpageManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    user_repository:
        class: Repository\UserManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    menu_repository:
        class: Repository\MenuManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    advertisement_repository:
        class: Repository\AdvertisementManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    opinion_repository:
        class: Repository\OpinionManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    widget_repository:
        class: Repository\WidgetManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    usergroup_repository:
        class: Repository\UserGroupManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    setting_repository:
        class: Repository\SettingManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    newsletter_manager:
        class: Repository\NewsletterManager
        arguments: [ @db_conn, @cache, %cache_prefix% ]

    automatic_contents:
        class: Onm\MachineSearcher
        arguments: [ @dbal_connection, @entity_repository, @cache, %cache_prefix% ]

    acl_checker:
        class: Onm\Security\Acl

    google_recaptcha:
        class: Onm\Recaptcha
        arguments: [ @setting_repository, %recaptcha_private_key% ]

    recaptcha:
        class: Captcha\Captcha
        calls:
            - [setPrivateKey, [ %recaptcha_private_key% ]]

    varnish_cleaner:
        class: Onm\Varnish\BanMessagePusher
        arguments: [ %varnish% ]

    varnish_ban_message_exchanger:
        class: Onm\Varnish\MessageExchanger

    instance_manager:
        class: Onm\Instance\InstanceManager
        arguments: [ @dbal_connection, @cache_manager, @setting_repository ]

    instance:
        class: Onm\Instance\Instance
        factory: [@kernel.listener.instanceloader, getInstance]

    onm_templating:
        class: Onm\Templating\Templating
        arguments: [ @service_container ]

    template_cache_manager:
        class: Onm\Templating\Cache\Manager

    template_cache_config_manager:
        class: Onm\Templating\Cache\Config

    content_url_matcher:
        class: Framework\Component\Routing\ContentUrlMatcher
        arguments: [ @entity_repository ]

    view:
        alias: onm_templating

    onm.event.authentication_success_listener:
        class: Framework\EventListener\AuthenticationSuccessListener
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_success, method: onAuthenticationSuccessResponse }

    onm.validator:
        class: Onm\Validator\Validator

    onm.validator.instance:
        class: Onm\Validator\InstanceValidator
        arguments: [ @instance_manager ]

    paginator:
        class: Framework\Component\Paginator\Paginator
        arguments: [ @router ]

    onm.framework_status:
        class: Onm\Framework\Status
        arguments: [ @service_container ]

    related_contents:
        class: RelatedContent
        arguments: [ @dbal_connection, @entity_repository, @cache, %cache_prefix% ]

    core.event_dispatcher:
        class: Framework\Component\EventDispatcher\EventDispatcher
        arguments: [ @event_dispatcher ]

    vat:
        class: Framework\VAT\VATService
