parameters:
#    onm_test.example.class: Onm\TestBundle\Example

services:
    kernel.listener.maintenance_mode:
        class: Framework\EventListener\MaintenanceModeListener
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 100 }

    kernel.listener.instanceloader:
        class: Framework\EventListener\InstanceLoaderListener
        arguments: [ @instance_manager, @cache ]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 99 }

    # kernel.listener.admin_auth:
    #     class: Framework\EventListener\AdminAuthenticationListener
    #     arguments: [ @security.context ]
    #     tags:
    #         - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    kernel.listener.l10n_system:
        class: Framework\EventListener\L10nSystemListener
        arguments: [ @setting_repository ]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 0 }

    kernel.listener.controller:
        class: Framework\EventListener\ControllerListener
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    kernel.listener.instance_exceptions:
        class: Framework\EventListener\InstanceExceptionsListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 100 }

    kernel.listener.access_denied_exceptions:
        class: Framework\EventListener\AccessDeniedExceptionsListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 100 }

    kernel.listener.general_error_handler:
        class: Framework\EventListener\GeneralExceptionsListener
        arguments: [ %kernel.environment%, @logger ]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 0 }

    kernel.listener.content_subscriber:
        class: Framework\EventListener\ContentActionsSubscriber
        arguments: [ @cache, @logger ]
        tags:
            - {name: kernel.event_subscriber}

    kernel.listener.news_agency:
        class: Framework\EventListener\NewsAgencyCronActionSubscriber
        tags:
            - {name: kernel.event_subscriber}

    cache:
        class: %cache_handler%
        arguments: [ %cache_handler_params% ]

    db_conn:
        class: Onm\DatabaseConnection
        arguments: [ %database% ]

    dbal_connection:
        class: Onm\Database\DbalWrapper
        arguments: [ %database% ]

    db_conn_manager:
        class: Onm\DatabaseConnection
        arguments: [  %database% ]

    category_repository:
        class: Repository\CategoryManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    comment_repository:
        class: Repository\CommentManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    content_views_repository:
        class: Repository\ContentViewsManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    entity_repository:
        class: Repository\EntityManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    frontpage_repository:
        class: Repository\FrontpageManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    user_repository:
        class: Repository\UserManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    menu_repository:
        class: Repository\MenuManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    advertisement_repository:
        class: Repository\AdvertisementManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    opinion_repository:
        class: Repository\OpinionManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    widget_repository:
        class: Repository\WidgetManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    usergroup_repository:
        class: Repository\UserGroupManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    setting_repository:
        class: Repository\SettingManager
        arguments: [ @dbal_connection, @cache, %cache_prefix% ]

    newsletter_manager:
        class: Repository\NewsletterManager
        arguments: [ @db_conn, @cache, %cache_prefix% ]

    automatic_contents:
        class: Onm\MachineSearcher
        arguments: [ @dbal_connection, @entity_repository, @cache, %cache_prefix% ]

    acl_checker:
        class: Onm\Security\Acl

    kernel.listener.varnish_cleaner:
        class: Framework\EventListener\VarnishCleanerListener
        arguments: [ %varnish%, @varnish_cleaner, @varnish_ban_message_exchanger, @application.log ]
        tags:
            - {name: kernel.event_listener, event: kernel.response, method: onKernelTerminate, priority: 100}

    varnish_cleaner:
        class: Onm\Varnish\BanMessagePusher
        arguments: [ %varnish% ]

    varnish_ban_message_exchanger:
        class: Onm\Varnish\MessageExchanger

    instance_manager:
        class: Onm\Instance\InstanceManager
        arguments: [ @dbal_connection, @cache, @setting_repository ]

    onm_templating:
        class: Onm\Templating\Templating
        arguments: [ @service_container ]
    view:
        alias: onm_templating
