.reload-tags {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  margin-top: -30px;
  padding: 1px 5px;

}

.onmTag {
  .onmTagList {
    padding: 0;
    list-style: none;
    margin-bottom:0;

    li {
      background: #0090d9;
      border-radius: 3px;
      color: #fff;
      display: inline-block;
      margin: 5px 0 0 5px;
      padding: 5px;
      padding-right: 0px;

      span {
        font-size: 15px;
      }

      a {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 600;
        padding:6px 8px;

        height:100%
      }

      .tagIcon {
        font-size:.8em;
        line-height:.8em;
      }

      &.toDeleteTag {
        background: #f35958;
      }
    }

    li.newTag {
      background: #6bcac2;
      cursor: pointer;
    }
  }

  ul.dropdown-menu {
    padding: 0;

    li.active > a {
      background: #f1f1f1;
    }

    a {
      border-radius: 0;
      margin: 5px 0;
    }
  }

  .tag-input {
    padding: 5px;
    position: relative;
  }

  .tag-input-icon {
    position: absolute;
    right: 15px;
    top: 16px;
  }

  // Customizations for the currentTags
  .currentTags {
    border: 1px solid #d1dade;

    input {
      border: 1px transparent;
      margin-top: 0;
      width: 100%;
    }

    input.has-error {
      border: 1px solid #f35958;
    }
  }

  // Customizations for the autosuggestor
  .autoSuggested {
    padding: 5px;

    .title {
      display:inline-block;
      font-size:.96em;
    }

    .onmTagList {
      padding:0;
      margin:0;
    }

    .onmTagList li {
      margin: 5px 8px 0px 0px;
    }
  }
}
