.onmTag div {
    border: 1px solid #d1dade;

    input {
      border: 0;
      margin: 3px;
    }

    input.has-error {
      border: 1px solid;
    }

    ul.onmTagList {
      list-style: none;
      padding: 0;

      li {
        background: #0090d9;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        margin: 3px 5px;
        padding: 4px 5px;

        span {
          font-size: 15px;
        }

        a {
          color: #fff;
          margin-left: 10px;
          font-weight: 600;
        }
      }

      li.newTag {
        background: #6bcac2;
      }
    }

    .btn {
      float: right;
    }

    .btn-xs {
      border-radius: 3px;
      font-size: 12px;
      line-height: 1.5;
      margin: 5px;
      padding: 1px 5px;
    }

    ul.dropdown-menu {
      padding: 0;

      li.active > a {
        background: #f1f1f1;
        color: #9a9b9f;
      }

      a {
        border-radius: 0;
        margin: 5px 0;
      }
    }
}

.onmTag div.autoSuggested {
  border-top: 0;
}
