/* RESET CSS */
body,html,div,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote,form,input { margin: 0; padding: 0; }
body {
	font: 85%/1.5 Arial, Helvetica, sans-serif;
	color: #333;	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .5em;
	font-size: 1em;
}
h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 {
	margin: 1.5em .3em .2em;
	font-size: 1.2em;
}
h4 { font-size: 1.1em; }

img, a {
	border: none;
	outline: none;
}
	a:link { color:#980101; }
	a:visited { color:#EF2700; }
	a:hover { color:#5b0101; }

li, ul, ol { list-style: none; }

#content{
    padding:3px
}

.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

html[xmlns] .clearfix
{
	display: block;
}

* html .clearfix
{
	height: 1%;
}



/* LAYOUT */
#headerwrap { color:#fff;	background-color:Black;}
    #header h1{
        padding:15px
    }
	#header h1 img{
        vertical-align:middle
    }
    #header h1{
		overflow: hidden;
		margin: 0;
		font-size: 1.1em;
	}
    #header a{
        text-decoration:none;
        color:White !important;
        font-family:Verdana;
        font-variant:small-caps;
        font-weight:normal
    }
	#header img {vertical-align:middle}
	#header h1 span {
		vertical-align:middle
	}
		#header p {
			padding: .3em .8em;
			font-size: .8em;
			font-weight: bold;
		}

        #header .standard-version-link {
            float: right;
            padding: 0.4em;
        }
#navtabs {
	display:block;
    padding: 0;	margin: 1em 0 0;
	font: bold .8em Arial, sans-serif;
	border-bottom: 1px solid #E0EBEF;
    margin-bottom:15px;
    margin:0 auto;
    text-align:center;
}
	#navtabs li {
		list-style: none;
		margin: 0;
		display: inline;
	}
		#navtabs li a {
			float:left;
			height:26px;
			line-height:26px;
			padding: 0 .5em; margin-left: 2px;
			border: 1px solid #E0EBEF;
			text-decoration: none;
			color: #53A0BF;	background-color: #E0EBEF;
		}
	#navtabs li a:hover { color: #fff;	background-color: #dc5b00; }
	#navtabs li a#current {
		color: #333;	background-color: #FFF;
		border-bottom-color: #FFF;
	}


#contentwrap { width: auto; }
	#infoblock { padding: .8em 1em; }
		#infoblock h2 {
			margin: 0;
			font-size: 1.6em;
		}
		#infoblock .subtitle { font-size: .9em; }
			#infoblock .subtitle strong { font-weight: normal; }

#pageblock {
	padding: .8em 1em;
	background:#fff;
}

.centered{
    display:block;
    text-align:center;
    margin:0 auto;
}

.page {
	padding: .8em 1em;
	background: #fff;
	border-bottom: 1px solid #DFDFDF;
}

.post {
	margin: 0; padding: .8em 1em;
	clear: both;
}
	.post p { margin: 0 0 .7em 0; }
	.post ul {
		list-style:square;
		margin: 0 0 .7em 1.5em;
	}
	.post ol {
		list-style: decimal;
		margin:0 0 .7em 1.5em;
	}
	.post blockquote {
		margin: 0 1em .7em 1em;	padding: .5em;
		border: 1px solid #ccc;
		background: #eee;
	}

li.post {
	padding: 0;
	border-bottom: 1px solid #DFDFDF;
}
li.post a {
	width: auto;
	overflow: hidden;
	display: block;
	padding: .5em;
	text-decoration: none;
	background-color: inherit;
	color:#555;
}
	li.post a:hover { color: inherit; background-color: #EFEFEF; }
li.post img {
	width: 60px;	height: 60px;
	float: right;
	margin: .3em 0 .3em .4em;
}
li.post span { display: block; }
li.post .title {
	margin: 0;	padding: .3em 0;
	font-size: 1.1em;	font-weight: 700;
	color: #980101; background-color: inherit;
}
	li.post a:hover .title { color: #5b0101; background-color: inherit;  }
li.post .content {
	width: auto;
	overflow: hidden;
	margin-left: .4em;
}
li.post .category {
	margin-right: .8em;
	font-weight: bold;
	font-size: .82em;
	text-transform: uppercase;
	color: #666;
}
li.post .metadata { font-size: .8em; }

.rss li.post a {
	padding:0px 0px 0px 40px;
}

.nav-pages {
	text-align: center;
	color: inherit;	background-color: #EFEFEF;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 1em;
}
	.nav-pages li {
		display: inline;
		margin: 0 10px;
	}
	.nav-pages a {
		padding: .8em;
		font-size: .85em;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;	background-color: #dc5b00;
	}
		.nav-pages a:hover { color: #fff;	background-color: #dc5b00; text-decoration:underline; }

#related-posts { padding: .8em 1em .5em; }
	#related-posts li {
		width: 95%;
		overflow: hidden;
		margin: 0 0 .8em;
	}
		#related-posts li a {	text-decoration: none; }
		#related-posts li a img {
			float: left;
			margin: 4px 7px 0 0;
			width:32px;
			height:32px;
			overflow:hidden;
			display:inline;
			background:#eee;
		}
		#related-posts li span.date {
			display: block;
			font-size: .8em;
		}


#blog-comments h2 { margin: 0;	padding: .8em 1em; }
.comments { border-top: 2px solid #ccc; }
.comment {
	border-bottom: 2px solid #ccc;
	padding: .8em 1em;
}
.comment .number { font-size: 24px; }
.comment .avatar {
	margin: 0 5px;
	vertical-align: middle;
	border: 1px solid #ccc;
	width:32px;
	height:32px;
	overflow:hidden;
	display:inline-block;
	background:#eee;
}
.comment .comment-info, .comment .author { display:inline; }
.comment .comment-body { margin: .4em 0;	padding: .4em 0 0; }
#comments p { margin: 0; }

#searchwrap { width: 100%; }
#search {
	background: #eee;
	border-bottom: 1px solid #ccc;
	padding: .8em 1em;
}


#footerwrap {
	padding: .8em 1em;
	color: White;	background-color:Black;
}
	#footerwrap a {
		color: #fff;
		background-color: inherit;
	}
		#footerwrap a:hover { text-decoration: underline; }

	#footer h2#wsl a{
		margin: 0;
		width:100%;
		text-align:center;
		font-size:1.3em;
		color: #fff;
		font-size:0.85em;
	}

#postfoot {
	padding: .8em 1em;
	font-size: .9em;
	border-bottom: 1px solid #ccc;
}
#indexpostfoot { padding: .8em 1em; }


/* CLASS */
.oneline p { margin: 0; }

.izquierda, .izquierda_sinmarco, .derecha, .derecha_sinmarco, .centro, .centro_sinmarco {
	clear: both;
	display: block;
	margin: 3px auto 9px;	padding: 5px;
	background-color: #eee;
	border: 1px solid #ddd;
}
.izquierda_sinmarco, .derecha_sinmarco, .centro_sinmarco { border: none; background: none; }

.list-horizontal { margin: .3em 0 2em; }
.list-horizontal li {
	display: inline;
	border-left: 1px solid #ccc;
	padding-left: .6em; margin: 0 .4em 0 0;
}
	.list-horizontal li:first-child { border: none; }

li.post img.favicon { width: 40px; height: 40px; }

.post-image {
	float:left;
	margin:0 10px 10px 0;
}

#see-complete {
	margin: 30px 10px;
}

/* Ads */
#ad {
padding:5px 0;
text-align:center;
}

#blogad {
padding:5px;
}
li #blogad a, #blogad .post {
background:#FFFFBF;
padding:5px;
border:1px solid #ccc;
text-align:left;
}
.ads {
font-weight:normal;
text-transform:none;
color:#999;
font-size:0.8em;
display:block;
margin:0 5px;
}
#blogad .metadata {
font-weight:bold;
text-transform:uppercase;
color:#00f;
}
#blogad .title, #blogad a:hover .metadata {
color:#6b6518;
}
#blogad:hover .title, #blogad .post a {
color:#00f;
}

/* comment navigation */
#comment-nav {
color:#999;
padding:5px;
text-align:center;
}

#comment-nav ul {
padding:5px 0;
}
#comment-nav li {
display:inline;
}
#comment-nav a, #comment-nav li strong {
margin:0 3px;
}
#comment-nav a:link,#comment-nav a:visited {
color:#FF7800;
text-decoration:none;
}
#comment-nav a:hover {
color:#009AEF;
text-decoration:underline;
}
#comment-nav li strong {
border:1px solid #999;
padding:0.2em 0.4em;
}
#comment-nav .prev,#comment-nav .first,#comment-nav .next,#comment-nav .last {
border:none;
padding:0;
}
#comment-nav .prev,#comment-nav .first {
margin-right:10px;
}
#comment-nav .first {
margin-left:10px;
}
#comment-nav .next {
margin-left:10px;
}
