/***********************************************************
    Widget slideshow of lastest news definition
************************************************************/

div.lastest-news
{
    display:block;
    overflow:hidden;
    height:20px;
}
div.lastest-news strong
{
    color:#638F38;
}
div.lastest-news ul
{
    display:inline;

}

    div.lastest-news ul li
    {
        list-style:none;
        float:left;
        margin-right:5px;
        width:800px;
    }
    
        div.lastest-news a
        {
            font-family:verdana;
        }


/***********************************************************
   Widget more ocio definition
************************************************************/

div.more-ocio { background:url(../images/rect6195.png) top left no-repeat; height:260px }
    div.more-ocio h4 { color:#d45500; font-family:Arial; font-size:30px; font-weight: bold; margin:10px; }
    
ul.more-ocio-little-section-links
{
    background:url(../images/scroll-ocio.png) top right no-repeat;
    min-height:200px;
    margin:0px;
    padding:0;
    width:80%;
    margin-left:20px;
    padding-right:20px
}
ul.more-ocio-little-section-links li { border-bottom: 1px solid #4e4e4e; padding:6px 0; list-style:none }
ul.more-ocio-little-section-links li.last { border:none; }
ul.more-ocio-sections { margin:0; padding:0; margin-left:20px; }
    ul.more-ocio-sections li
    {
        float:left;
        list-style:none;
        margin:0;
        padding:1px 7px;
        color:White;
        cursor:pointer;
    }
    ul.more-ocio-sections li.first { padding-left:0; }
    ul.more-ocio-sections li.selected { color:#d45500; }
        ul.more-ocio-little-section-links li a{ color:#d45500; }
        ul.more-ocio-little-section-links li.level-1 a { color:#ccc; font-size:18px; font-family:Arial; line-height:.9em}
        ul.more-ocio-little-section-links li.level-2 a { color:#b3b3b3; font-size:16px; font-family:Arial; line-height:.9em }
        ul.more-ocio-little-section-links li.level-3 a { color:#999; font-size:14px; font-family:Arial; line-height:.9em}
        ul.more-ocio-little-section-links li.level-4 a { color:#666; font-size:13px; font-family:Arial; line-height:.9em}
        ul.more-ocio-little-section-links li.level-5 a { color:#333; font-size:12px; font-family:Arial; line-height:.9em }



/***********************************************************
   Widget youtube definition
************************************************************/

div.youtube-highlighter
{
    background:#333;
}

div.youtube-highlighter-header
{
    background:#444;
}
div.youtube-highlighter-header img
{
    margin:4px 0 0 4px;
}

div.youtube-highlighter ul
{
    margin:0;
    padding:0;
    margin-left:20px;
}
div.youtube-highlighter-big
{
    margin:10px 0 5px 40px; /* chanchullada padre HOYGA*/
    cursor: pointer;
}
div.youtube-highlighter li
{
    float:left;
    list-style:none;
    margin:0;
    padding:5px 7px;
    color:White;
    cursor:pointer;
    background:#222;
}

div.youtube-highlighter li img
{
    width:60px;
}
div.youtube-highlighter li.first
{
    padding-left:0;
}
div.youtube-highlighter li.selected
{
    color:#d45500;
}

/***********************************************************
    Widget flickr definition
************************************************************/

div.flickr-highlighter
{
    border-top:1px solid #e6e6e6;
    background:#333333;
    min-height:355px;

}

div.flickr-highlighter-header
{
    border-bottom:1px solid #818181;
    color:#AAAAAA;
    padding:10px 5px 0;
}
div.flickr-highlighter-header img
{
    margin:4px 0 0 4px;
}

div.flickr-highlighter-big
{
    margin:10px 5px 5px 5px;/* chanchullada padre HOYGA*/
    cursor: pointer;
}

div.flickr-highlighter-footer
{
    background:#333333;
    border-bottom:1px solid #818181;
    text-align:center;
    padding:1px 0 5px;
}

div.flickr-highlighter-footer img
{
    max-height:200px;

}

div.flickr-highlighter li
{
    float:left;
    list-style:none;
    margin:0;
    padding:3px;
    cursor:pointer;

}

div.flickr-highlighter li img
{
    width:70px;
}
div.flickr-highlighter li.first
{
    padding-left:0;
}
div.flickr-highlighter li.selected
{
    color:#d45500;
}

/***********************************************************
   Widget TV Highlighter definition
************************************************************/

div.tv-highlighter
{
    background:Black;
    z-index:-9999;
    /*min-height:355px;*/
}


div.tv-highlighter-header
{
   /* background:#222; */
    width:310px;
    color:#AAAAAA;
    padding:10px 5px 0;

}
div.tv-highlighter form
{
    float:right;
    margin-right:10px
}
div.tv-highlighter-header img
{
    margin:4px 0 0 4px;
}
div.tv-highlighter-minis
{
    float:right;width:100px;padding:10px;
}
div.tv-highlighter-minis div
{
    background-color:#333;padding:2px;text-align:center;
}
div.tv-highlighter ul
{
    margin:0;
    padding:0;
    margin-left:20px;
}
div.tv-highlighter-big
{
    margin:10px 0 15px 10px; /* chanchullada padre HOYGA*/
    cursor: pointer;
    color:White;
    background:#333
}
div.tv-highlighter-big p
{
    padding:5px;
    margin:0;
}

div.tv-highlighter-big a
{
    color: White;
    font-family:Verdana;
}
div.tv-highlighter li
{
    float:left;
    list-style:none;
    margin:0;
    padding:5px 7px;
    color:White;
    cursor:pointer;
    background:#333;
}

div.tv-highlighter li img
{
    width:60px;
}
div.tv-highlighter li.first
{
    padding-left:0;
}
div.tv-highlighter li.selected
{
    color:#d45500;
}