div.opinion-listing-editorial  h3,
div.opinion-listing-colaborators  h3,
div.opinion-listing-director h3{
    background:#f1f1f1;
    border-bottom:3px solid #aeadae;
    color:Black;
    font-family:Georgia;
    padding:3px;
    text-align:center;
    margin-bottom:0;
}

div.opinion-listing-editorial a.post-title,
div.opinion-listing-colaborators a.post-title,
div.opinion-listing-director a.post-title{
    font-size:1.6em;
    font-family:Georgia;
    font-style:italic;
    margin:5px 0 5px 0;
    padding:0;
    display:block;
}

div.opinion-listing-editorial > div,
div.opinion-listing-colaborators > div,
div.opinion-listing-director > div{
    padding:20px;
    text-align:center;
    font-family:Arial;
    font-size:13px;
    border:1px solid #aeadae;
    border-top:none;
}
div.opinion-listing-colaborators > div{
    padding:0;
    padding-top:10px;
}

div.opinion-listing-colaborators div.avatar-author{
    padding:10px;
}

div.in-big-title {
    padding:20px 0 40px 0;
    background:url(../../images/sections/opinion-header.png) top right no-repeat;
}

div.in-big-title.no-background {
    background:none;
}

a.opinion-see-more{
    display:block;
    width:100%;
    margin-top:5px;
    text-align:right;
}

div.opinion-listing-colaborators-post{
    text-align:left !important;
    font-family:Arial, Verdana;
}

div.opinion-listing-colaborators-post a{
    font-family:Arial, Verdana;
}

div.opinion-listing-colaborators-post h4.author-name{
    margin-bottom:5px;
    margin-top:5px;
}

div.opinion-listing-colaborators-post h4.author-name a{
    font-variant:small-caps;
    color:#8c7d3f !important;
    font-family:Georgia;
}

div.opinion-listing-colaborators-post span.post-date{
    color:#666;
    font-size:small;
}
div.in-big-title div.info-author a.opinion-author-name {
    font-size:1.3em;
    font-style:italic;
    display:inline;
}
div.in-big-title div.info-author{
    margin-top:0px;
    font-size:1.3em;
    font-family:Georgia;
    font-style:italic;
    color:#aaa
}
div.in-big-title div.info-author a{
    color:#aaa;
}

div.in-big-title div.info-new{
    display:inline;
    font-size:.9em
}
div.in-big-title{
    background-position:right bottom;
    padding:10px 0;
    min-height:120px;
}

div.in-big-title h1{
    margin-top:10px;
    font-family:Georgia;
}

p.in-subtitle {
    font-size:1.3em;
    color:#666;
}

div.widget-all-authors,
div.widget-last-opinions-with-face {
    background-color:#F3F3F3 !important;
    border-top:10px solid #DEDEDE !important;
}

div.widget-all-authors div{
    margin:5px;
}

div.widget-all-authors div.content,
div.widget-last-opinions-with-face div.content{
    #background:#fff;
    margin:10px;
}

div.widget-all-authors div.title,
div.widget-last-opinions-with-face div.title
{
    font-size:1.2em;
    color:Black;
    font-family:Georgia;
    font-style:italic;
    font-size:1.5em;
    margin:10px;
}

div.widget-all-authors a,
div.widget-last-opinions-with-face a
{
}

div.widget-all-authors select{
    width:100%;
    border:auto !important;
}

div.info-author h2{
    margin-bottom:0
}

div.header-author{
    border-bottom:1px dotted #999
}

div.image-author{
    margin-bottom:5px;
    border:1px solid #999;
    border-width:1px 0 1px 0;
    min-height:90px
}

p.moretoread{
    width:100%;
    text-align:right;
}

p.moretoread a{
    font-family:Arial;
    font-size:1em;
}

h3.title-opinion-on-list a{
    font-family:Georgia;
    font-size:1.2em;

}
h3.title-opinion-on-list{
    margin-bottom:0.3em;
}
div.date-opinion-on-list{
    font-size:.95em;
    color:#666;
}

div.opinion-listing-for-author{
    margin-top:20px
}

div.widget-last-opinions-with-face {

}
