/* 
    Document   : onm-mockup article page
    Created on : Feb 18, 2010, 11:13:09 AM
    Author     : Francisco Diéguez fran.dieguez@mabishu.com
    Description:
        CSS to article page for newspaper mockup page
*/


/***********************************************************
    Toolbar, Voting and Utilities
************************************************************/

div.toolbar{
    background:url(../../images/horiz-separator.png) top right repeat-x;
    margin:0;
    padding-top:5px;
    margin-bottom:5px
}

ul.voting{
	margin-top:5px;
}

div.utilities{

}

div.utilities ul,
div.utilities ul li{
	margin:0;
	padding:0;
}

div.utilities ul li{
	display:inline;
	list-style:none;
}
div.utilities{
	text-align:right;
}

ul.voting, ul.voting li{
	display:inline;
	margin:0;
	padding:0;
}

/* Here is where the magic come true*/

div.utilities a, div.toolbar-bottom a{
	height:18px;
	width:18px;
	text-indent:-9999px;
	background-image:url(../../images/utilities/mask-buttons.png);
	background-repeat:no-repeat;
	background-color:#009677; 
	display:inline-block;
}
div.video div.utilities-bottom a, div.video div.share-actions a, div.video div.toolbar-bottom a{
	background-image:url(../../images/utilities/mask-buttons-black.png);
	background-color:#343534; 
}
div.utilities a span{ display:none; }

a.utilities-send-by-email{ background-position: -1px -1px; }
a.utilities-print{ background-position: -19px -1px; }
a.utilities-increase-text{ background-position: -37px -1px; }
a.utilities-decrease-text{ background-position: -55px 0px; }
a.utilities-share{ background-position: -73px 0px; }

