manager_welcome:
    pattern:  /manager
    defaults: { _controller: ManagerBundle:Welcome:default }

manager_playground:
    pattern:  /manager/playground/{action}
    defaults: { _controller: ManagerBundle:Playground:default }

manager_auth:
    prefix:   /manager
    resource: @ManagerBundle/Resources/config/routing/auth.yml

manager_instance:
    prefix:   /manager
    resource: @ManagerBundle/Resources/config/routing/instance.yml

manager_framework:
    prefix:   /manager/framework
    resource: @ManagerBundle/Resources/config/routing/framework.yml

manager_user:
    prefix:   /manager
    resource: @ManagerBundle/Resources/config/routing/user.yml

manager_usergroup:
    prefix:   /manager
    resource: @ManagerBundle/Resources/config/routing/usergroup.yml

manager_command:
    prefix:   /manager
    resource: @ManagerBundle/Resources/config/routing/command.yml
