.page-navbar {
  background: #fff;
  min-height: 50px;
  padding-left: 210px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  box-shadow: 0px 1px 3px #e5e9ec;

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}

.page-navbar.show-qr {
  box-shadow: 0px 1px 3px #e5e9ec;
  padding-left: 225px;
  padding-right: 15px;
  position: fixed;
  margin-top: 50px;
  z-index: 350;

  -webkit-transition: all .25s;
   -o-transition: all .25s;
   transition: all .25s;

  -webkit-animation: slide-down .25s;
  -o-animation: slide-down .25s;
  animation: slide-down .25s;
}

.page-navbar.hide-qr {
  margin-top: 0;
  opacity: 0;

  -webkit-animation: slide-up .25s;
  -o-animation: slide-up .25s;
  animation: slide-up .25s;
}

@-webkit-keyframes slide-down {
  0%   { opacity: 0; margin-top: 0; }
  100% { opacity: 1;}
}
@-moz-keyframes slide-down {
  0%   { opacity: 0; margin-top: 0; }
  100% { opacity: 1; }
}
@-o-keyframes slide-down {
  0%   { opacity: 0; margin-top: 0; }
  100% { opacity: 1; }
}
@keyframes slide-down {
  0%   { opacity: 0; margin-top: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes slide-up {
  0%   { opacity: 1; margin-top: 50; }
  100% { opacity: 0; margin-top: 0; }
}
@-moz-keyframes slide-up {
  0%   { opacity: 1; margin-top: 50; }
  100% { opacity: 0; margin-top: 0; }
}
@-o-keyframes slide-up {
  0% { opacity: 1; }
  100% { opacity: 0; margin-top: 0; }
}
@keyframes slide-up {
  0%   { opacity: 1; margin-top: 50; }
  100% { opacity: 0; margin-top: 0; }
}

.page-navbar.qr .toggle-columns {
  height: 36px;
  min-width: 36px;
}

.page-navbar.qr .toggle-columns .btn {
  display: none;
}

.page-navbar .btn-link:active,
.page-navbar .btn-link:focus,
.page-navbar .btn-link:hover {
  color: #22262e;
}

.page-navbar .btn-primary,
.page-navbar .btn-primary:hover {
  color: #fff;
}

.page-navbar .navbar {
  margin: 0;
}

.actions-navbar .navbar-inner {
  padding: 0 10px;
}

.actions-navbar .quicklinks h4 .fa {
  margin-right: 5px;
}

.page-navbar .quick-section {
  margin: 6px;
  display: inline-block;
  float: left;
}

.page-navbar .quick-section > li{
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  float: left;
}

.page-navbar .quick-section > li a {
  padding: 8px 12px;
}

.page-navbar .quick-section > li > .a,
.page-navbar .quick-section > li > .info {
  display: block;
  font-size: 14px;
  padding: 8px 10px;
  position: relative;
}

.page-navbar .quick-section > li > .info {
  font-weight: bold;
}

.page-navbar .quick-section > li > h4 {
  line-height: 14px;
}

.page-navbar .quick-section > li > h4 a {
  padding: 8px 0;
  color: #505458;
}

.page-navbar .quick-section > li > h4 a:hover {
  color: #000;
}

.page-navbar .quick-section > li > h5 {
  margin: 0;
  padding: 11px 0 8px;
}

.page-navbar .quick-section select {
  border: 0;
  height: 36px;
  padding: 4px 10px;
  width: 100%;

  -webkit-transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.page-navbar .quick-section .h-seperate {
  height: 24px;
  width: 2px;
  margin: 6px 10px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.175);
  display: inline-block;
  position: relative;
  top: 0px;
}

.page-navbar .quick-section .dropdown .btn {
  background: none;
  border: none;
  padding: 7px;
}

.page-navbar .quick-section .dropdown .caret {
  margin-top: -12px;
}

.page-navbar .quick-section .dropdown-current {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.page-navbar .search-input input {
  width: 65px !important;

  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

.page-navbar .search-input input:focus {
  width: 200px !important;
}

.page-navbar.filters-navbar .quick-section .h-seperate {
  width: 0;
  border: 0 none;
}

.page-navbar.selected-navbar .quick-section .h-seperate {
  border-left: 1px solid rgba(255, 255, 255, 0.175);
}

.page-navbar.selected-navbar {
  background: #0090d9;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 0px;
  z-index: 450;
}

div[ng-view].ng-leave-active .selected-navbar,
.page-navbar.selected-navbar.collapsed {
  opacity: 0;
  top: -50px;
}

.page-navbar.selected-navbar h4 {
  color: #fff;
  padding-left:10px;
}

.page-navbar.selected-navbar .quicklinks .btn {
  color: #fff;
}

.filters-navbar {
  background-color: #e5e9ec;
  box-shadow: none;
  margin-top: 50px;
  padding-left: 225px;
  padding-right: 15px;
  position: absolute;
  z-index: 350;
}

.filters-navbar .pagination-links .form-control {
  border-color: #d1dade;
  text-align: center;
}

.filters-navbar .quick-section {
  margin: 6px;
}

.filters-navbar .quick-section:first-child {
  margin-left: 0;
}

.filters-navbar .quick-section:last-child {
  margin-right: 0;
}

.filters-navbar .quick-section .add-on {
  left: 0;
  border-radius: 2px 0 2px 0;
  padding: 4px 8px;
  height: 36px;
}

.filters-navbar .quick-section .add-on + input {
  border-radius: 0 2px 2px 0;
  line-height: 14px;
  min-height: 36px !important;
}

.page-navbar.filters-navbar .input-prepend.inside .add-on:first-child, .input-prepend .btn:first-child {
  left:0;
}

.column-filters {
  height: 205px;
  padding: 0 15px;
  margin: 0;
  overflow: hidden;

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}

.column-filters.collapsed {
  height: 0;
}

.column-filters .column {
  padding: 7px 31px;
}

.column-filters .title {
  padding: 0px 30px;
}

@media (max-width: 992px) and (min-width: 768px){
  .column-filters {
    height: 375px;
  }
}

@media (max-width: 767px) {
  .column-filters {
    height: 715px;
  }

  .page-navbar.actions-navbar,
  .page-navbar.selected-navbar {
    top: 50px;
  }

  div[ng-view].ng-leave-active .selected-navbar,
  .page-navbar.selected-navbar.collapsed {
    opacity: 0;
    top: 0px;
  }

  .filters-navbar {
    padding-left: 15px;
    margin-top: 100px;
  }

  .page-navbar.show-qr {
    padding-right: 15px;
    position: fixed;
    margin-top: 100px;
    box-shadow: 0px 1px 3px #e5e9ec;
  }
}
