orm:
    metadata:
        -
            name: Content
            enum:
                content_type_name: [ static_page, event ]
            properties:
                available:           boolean
                body:                string
                category_name:       string
                changed:             datetime
                content_status:      integer
                content_type_name:   enum
                created:             datetime
                description:         string
                endtime:             datetime
                favorite:            boolean
                fk_author:           integer
                fk_content_type:     integer
                fk_publisher:        integer
                fk_user_last_editor: integer
                frontpage:           integer
                in_home:             boolean
                in_litter:           boolean
                params:              string
                pk_content:          integer
                position:            integer
                slug:                string
                starttime:           datetime
                title:               string
                urn_source:          string
                with_comment:        boolean
                categories:          array
                tag_ids:             array
                relations:           array
            converters:
                default:
                    class:     Common\ORM\Database\Data\Converter\BaseConverter
                    arguments: [ '@orm.metadata.content' ]
            repositories:
                instance:
                    class:     Common\ORM\Database\Repository\BaseRepository
                    arguments: [ '@orm.connection.instance', '@orm.metadata.content', '@cache.connection.instance' ]
            persisters:
                instance:
                    class:     Common\ORM\Database\Persister\ContentPersister
                    arguments: [ '@orm.connection.instance', '@orm.metadata.content', '@cache.connection.instance' ]
            mapping:
                database:
                    table: contents
                    metas:
                        table: contentmeta
                        ids:
                            pk_content: fk_content
                        key: meta_name
                    relations:
                        categories:
                            table: contents_categories
                            target_key: pk_fk_content_category
                            return_fields: pk_fk_content_category
                            columns:
                                pk_fk_content:
                                    type: integer
                                pk_fk_content_category:
                                    type: integer

                        relations:
                            table: related_contents
                            target_key: pk_content1
                            columns:
                                pk_content1:
                                    type: integer
                                pk_content2:
                                    type: integer
                                relationship:
                                    type: integer

                        tag_ids:
                            table: contents_tags
                            target_key: content_id
                            return_fields: tag_id
                            columns:
                                content_id:
                                    type: integer
                                tag_id:
                                    type: integer
                    columns:
                        pk_content:
                            type: bigint
                            options: { default: null, unsigned: true, autoincrement: true }
                        fk_content_type:
                            type: integer
                            options: { default: null, unsigned: true }
                        content_type_name:
                            type: string
                            options: { default: null, length: 20 }
                        title:
                            type: string
                            options: { default: null, notnull: false, length: 255 }
                        description:
                            type: text
                            options: { default: null, length: 65532, notnull: false }
                        body:
                            type: text
                            options: { default: '', length: 65532, notnull: false }
                        starttime:
                            type: datetimetz
                            options: { default: null, notnull: false }
                        endtime:
                            type: datetimetz
                            options: { default: null, notnull: false }
                        created:
                            type: datetimetz
                            options: { default: null, notnull: false }
                        changed:
                            type: datetimetz
                            options: { default: null, notnull: false }
                        content_status:
                            type: integer
                            options: { default: '0', notnull: false, unsigned: true }
                        fk_author:
                            type: integer
                            options: { default: null, notnull: false, unsigned: true, comment: 'Clave foranea de user' }
                        fk_publisher:
                            type: integer
                            options: { default: null, notnull: false, unsigned: true, comment: 'Clave foranea de user' }
                        fk_user_last_editor:
                            type: integer
                            options: { default: null, notnull: false, unsigned: true, comment: 'Clave foranea de user' }
                        position:
                            type: integer
                            options: { default: '100', notnull: false, unsigned: true }
                        frontpage:
                            type: boolean
                            options: { default: '1', notnull: false }
                        in_litter:
                            type: boolean
                            options: { default: '0', notnull: false, comment: '0publicado 1papelera' }
                        in_home:
                            type: boolean
                            options: { default: '0', notnull: false }
                        slug:
                            type: string
                            options: { default: null, notnull: false, length: 255 }
                        available:
                            type: boolean
                            options: { default: '1', notnull: false }
                        with_comment:
                            type: boolean
                            options: { default: '1', notnull: false }
                        params:
                            type: text
                            options: { default: null, length: 65532, notnull: false }
                        category_name:
                            type: string
                            options: { default: '', length: 255, notnull: false }
                        favorite:
                            type: boolean
                            options: { default: null, notnull: false }
                        urn_source:
                            type: string
                            options: { default: null, notnull: false, length: 255 }
                    index:
                        -
                            name: PRIMARY
                            columns: [ pk_content ]
                            primary: true
                            unique: true
                            flags: {  }
                        -
                            name: fk_content_type
                            columns: [fk_content_type]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: in_litter
                            columns: [in_litter]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: content_status
                            columns: [content_status]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: in_home
                            columns: [in_home]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: frontpage
                            columns: [frontpage]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: available
                            columns: [available]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: starttime
                            columns: [starttime, endtime]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: created
                            columns: [created]
                            primary: false
                            unique: false
                            flags: {  }
                        -
                            name: urn_source
                            columns: [urn_source]
