orm:
    metadata:
        -
            name: Instance
            properties:
                activated:          boolean
                activated_modules:  array
                advertisements:     integer
                albums:             integer
                alexa:              integer
                articles:           integer
                attachments:        integer
                changes_in_modules: array
                client:             integer
                contact_mail:       string
                contents:           integer
                country:            string
                created:            datetime
                domain_expire:      datetime
                domains:            array
                emails:             integer
                id:                 integer
                internal_name:      string
                last_login:         datetime
                letters:            integer
                blocked:            boolean
                main_domain:        integer
                media_size:         float
                name:               string
                opinions:           integer
                owner_id:           integer
                page_views:         integer
                photos:             integer
                polls:              integer
                purchased:          array
                settings:           array
                static_pages:       integer
                users:              integer
                videos:             integer
                widgets:            integer
            converters:
                default:
                    class:     Common\ORM\Database\Data\Converter\BaseConverter
                    arguments: [ '@orm.metadata.instance' ]
            repositories:
                database:
                    class:     Common\ORM\Database\Repository\InstanceRepository
                    arguments: [ '@orm.connection.manager', '@orm.metadata.instance', '@cache.connection.manager' ]
            persisters:
                database:
                    class:     Common\ORM\Database\Persister\InstancePersister
                    arguments: [ '@orm.connection.manager', '@orm.metadata.instance', '@cache.connection.manager' ]
            mapping:
                database:
                    table: instances
                    metas:
                        table: instance_meta
                        ids:
                            id: instance_id
                    columns:
                        id:
                            type:    bigint
                            options: { default: null, autoincrement: true }
                        internal_name:
                            type:    string
                            options: { default: null, length: 100, notnull: true }
                        name:
                            type:    string
                            options: { default: null, length: 255, notnull: true }
                        domains:
                            type:    simple_array
                            options: { default: null, length: 500, notnull: true }
                        domain_expire:
                            type:    datetime
                            options: { default: null, notnull: false }
                        main_domain:
                            type:    integer
                            options: { default: 0, length: 1, notnull: true }
                        created:
                            type:    datetimetz
                            options: { default: null, notnull: true }
                        last_login:
                            type:    datetimetz
                            options: { default: null, notnull: false }
                        settings:
                            type:    text
                            options: { default: null, length: 65532, notnull: false }
                        activated_modules:
                            type:    text
                            options: { default: null, length: 65532, notnull: false }
                        activated:
                            type:    integer
                            options: { default: 0, notnull: true }
                        contact_mail:
                            type:    string
                            options: { default: null, length: 255, notnull: true }
                        country:
                            type: string
                            options: { default: null, length: 2 }
                        owner_id:
                            type: integer
                            options: { default: null, unsigned: true, notnull: false }
                        contents:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        attachments:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        articles:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        opinions:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        advertisements:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        albums:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        letters:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        polls:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        photos:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        videos:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        widgets:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        static_pages:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        media_size:
                            type:    float
                            options: { default: 0, notnull: false }
                        alexa:
                            type:    integer
                            options: { default: 1000000, unsigned: true, notnull: false }
                        page_views:
                            type:    bigint
                            options: { default: 0, unsigned: true, notnull: false }
                        emails:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                        users:
                            type:    integer
                            options: { default: 0, unsigned: true, notnull: false }
                    index:
                        -
                            name:    PRIMARY
                            columns: [ id ]
                            primary: true
                            unique:  true
                            flags:   {}
                        -
                            name:    internal_name
                            columns: [ internal_name ]
                            primary: false
                            unique:  true
                            flags:   {}
