/* 
    Document   : onm-mockup
    Created on : Feb 18, 2010, 11:13:09 AM
    Author     : Francisco Diéguez fran.dieguez@mabishu.com
    Description:
        CSS to newspaper mockup page
*/


/***********************************************************
    General definitions
************************************************************/

html, body{
	background:#1c1e1c;
	color:#636363;
}

.publi{
	background:#2d2d2d;
}

.container{
	background:#1c1e1c;
	border:1px solid #878787;
}

div.article-comments h3{
	color:#565656;
	background: url(/themes/lucidity/images/sections/back-comments-black.png) bottom right no-repeat;
}

div.opacity-reduced{
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;

}

div.opacity-reduced:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}


/***********************************************************
    Header re-definitions
************************************************************/
div#current-day, div#widget_weather_top *{
	color:#4a4a4a;
}
.max_temperature, .min_temperature{
	color:White;
	border:0;
}
.max_temperature{
	background:#353535;
}

.min_temperature{
	background:#292929;
}
/***********************************************************
    Main menues re-definitions
************************************************************/
div#main_menu{
	background:none;
	color:#a3a3a3;
}
div#main_menu{
	color:#a3a3a3;
	margin:0;
}
#sub_main_menu{
	background:#434343;
}
#sub_main_menu  ul li:hover, #sub_main_menu  ul li.active{
	background:none;
	text-decoration:underline;
}
#main_menu ul li{
	border:1px solid #1c1e1c;
}
#main_menu ul li:hover, #main_menu ul li.active{
	border:1px solid #444444;
	border-bottom-size:0;
	background:none;
}
#main_search_form{
	margin-top:10px;
}


/***********************************************************
    Video re-definitions
************************************************************/
#video-content{
	background:#292929 url(/themes/lucidity/images/back-video.png) center center no-repeat;
	text-align:center;
	padding:10px 0;
	margin-bottom:10px;
	min-height:150px;
}
#video-content * 
#video-content *{
	margin: 0 auto;
	text-align:center;
}

div.video-explanation h1{
	font-family:Georgia;
	font-size:2em;
	color:White;
	margin-top:10px
}

/***********************************************************
    Lastests widget re-definitions
************************************************************/



/***********************************************************
    Utilities re-definitions
************************************************************/
.vert-separator{
	background:url(/themes/lucidity/images/vert-separator.png) bottom right repeat-y;
	margin-bottom:10px;
	height:100%;
}


div.toolbar{
	margin:5px 0;
	background:none;
}
div.vote-block{ font-family:Georgia; font-size:.95em}
div.vote-block img{ vertical-align:center; }

/***********************************************************
    Comments re-definitions
************************************************************/
div.commment_wrapper{
	background:#2a2a2a;
	margin:20px 0;
	display:block;
	position:relative;
}
div.comment-content{
	background:#2a2a2a;
	color:#cccccc;
	padding-top:15px;
	display:block;
}
div.comment-content:hover{
	color:White;
}
span.comment-author{
	color:#747678;
}
span.commment-author, span.commment-time{
	color:#747678;
}
div.comment-number{
	color:#d3d3d3;
	position:absolute;
	top:0px;
	left:10px;
	font-family:Georgia;
	font-size:2.7em;
	font-style:italic;
	margin:0;
	padding:0;
	z-index:9999;
}

/***********************************************************
    Sidebar re-definitions
************************************************************/

div.other-interested-videos h3{
	font-family:Georgia;
	color:White;
	text-align:left;
}
div.other-interested-videos{
	text-aling:right;
    position:relative
}

div.interested-video { background:#2a2a2a; text-align:center; margin:10px 0; padding:10px 0; width:210px; margin:0 aut0; 	float:right;}
div.interested-video .capture{ 
	margin-left:10px;
	width:190px;
	display:block;
	position:relative;
}
div.interested-video .info-interested-video { 
	font-family:Georgia; 
	font-size:1.3em; 
	text-align:left; 
	margin:0; 
	padding:0 10px;
	width:190px;
	margin:0 auto;
}
div.interested-video img{
	border:none;
}
div.interested-video .category{ color:#aaaaaa; text-transform:uppercase; margin:0; padding:0; font-size:.9em}
div.interested-video .caption{ color:#cccccc; margin:0; padding:0}
div.interested-video div.bar-video-tiny-info{
	background:Black;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align:left;
	height:23px;
}

div.interested-video div.bar-video-tiny-info img{
	vertical-align:center;
	margin:2px 0 0 5px;
	filter:alpha(opacity=170);
	-moz-opacity:1.7;
	-khtml-opacity: 1.2;
	opacity: 1.2;
}
div.bar-video-tiny-info-image-video{
	position:absolute;
	bottom:3px;
	left:5px;
}

div.featured-videos h3{
    	font-family:Georgia;
	color:White;
	text-align:left;
}

div#main_content{
    margin-top:10px;
}

div.other-interested-videos div.clean-paginator{
    position:absolute;
    right:10px;
    top: 10px;
}

div.other-interested-videos div.clean-paginator *{
    font-family:Verdana;
    font-size:1em;
}
div.other-interested-videos div.clean-paginator a{
    color:White;
}
div.portada-videos div.featured-videos h1{
    font-size:1.5em;

}
div.portada-videos div.featured-videos h1 img{
    vertical-align:middle;
}
div.ui-tabs-nav, div.ui-helper-reset, .ui-helper-clearfix, .ui-widget-header .ui-corner-all{
    background:#1c1e1c !important;
}
.ui-tabs-panel, .ui-widget-content, .ui-corner-bottom{
    background:#1c1e1c !important;
    padding:0;
    margin:0;
}
.ui-tabs, .ui-widget, .ui-widget-content, .ui-corner-all{
    padding:0;
    margin:0;
    border:0px !important;
}

.inner-video-tabs{
    margin-top:35px;
}
div#tabs div{
    margin:0;
    padding:0;
}
div#tabs .tab-thumb-video{
    width:99%;
    border-bottom:1px solid #373737;
}

div#tabs div.ui-tabs-panel{
    overflow: scroll;
    overflow-x: hidden;
    height:320px;
    border:1px solid #373737 !important;
}
.ui-tabs-nav a{color:White !important; font-family:Verdana !important; font-size:.8em !important; text-transform: uppercase}
.ui-tabs-nav{ border:none !important;}
.ui-tabs-default{background-color:#292929 !important; }
.ui-tabs-selected, .ui-tabs-active{
    background:#1c1e1c !important;
    border-color:#373737 !important;
}
div.ui-tabs-selected a, div.ui-tabs-active a{color: #ccc !important;}
div#tabs div.ui-tabs-panel img{ float:left; margin:0 5px 10px;}
div#tabs .tab-thumb-video-shortitle{ text-transform:uppercase; color:#747678; font-size:.9em; margin:0; padding:0}
div#tabs .tab-thumb-video-title{ font-family:Georgia; color:White; font-size:1.2em; margin:0; padding:0}

div.form-comments .auth-selector{ color:#747678;}
div.form-comments{
    background:#2A2A2A url(/themes/lucidity/images/utilities/back-form-comments.png) bottom right no-repeat;
}
div.form-comments .submit-button, div.form-comments a.show-commment-form{
    background:#1C1E1C;
    border-color:#1C1E1C;
    color:#6a6a6a;
}
