/********************************* MENU ***********************************/
.menuCabeceraTexto
{
	width:976px;
	height:22px;
	position:relative;
	display:inline;
	float:left;
	overflow:hidden;
}

.opcion
{
      position:relative;
      display:inline;
      float:left;
      font-family:Arial;
      font-size:11px;
      color:#004b8e;
      font-weight:700;
}

.opcion a
{
    color:#004b8e;
    text-decoration:none;
}



.menuCabeceraTexto ul li.menuselec a
{
	font-family:Arial;
	font-size:12px;
	font-weight:700;
	text-decoration:none;
	color:#FFFFFF;
}
/***************** FIN CABECERA *********************/
.CSeparadorMenu
{
	margin-top:3px;
	width:1px;
	height:14px;
	position:relative;
	display:inline;
	float:left;
	overflow:hidden;
}

.menuCabeceraTexto ul
{
	list-style-type: none;
	height:24px;
	position:relative;
	float:left;
}

.menuCabeceraTexto ul li
{
	margin-left:0px;
	height:23px;
	position:relative;
	float:left;
	display:inline;
	overflow:hidden;
}

.menuCabeceraTexto ul li a
{
	padding-top:1px;
	padding-left:13px;
	padding-right:13px;
	position:relative;
	display:inline;
	float:left;
}

.menuCabeceraTexto ul li.menuselec
{
	position:relative;
	display:inline;
	float:left;
	color:#fff;
	background-color:#405D75;
}

p
{
	margin-top:6px;
	margin-bottom:6px;
}

/*MENU CABECERA TEXTO*/

.menuCabeceraTexto
{
	font-family:Arial;
	color:#004b8e;
	background:url('../images/menu/bgr_long_hornav.gif') repeat-x scroll left top transparent;
}

.menuCabeceraTexto ul li
{
}

.menuCabeceraTexto ul li a{
	color:#fff;
}

/********************************* FIN MENU *******************************/

/* MENU BAJO BANNER */
.menuCabeceraSecundario
{
	width:370px;
	height:16px;
	position:relative;
	display:inline;
	float:right;
}


.menuCabeceraSecundario ul
{
	list-style-type: none;
	height:25px;
	position:relative;
	float:left;
}

.menuCabeceraSecundario ul li
{
	height:18px;
	margin-left:10px;
	position:relative;
	float:left;
	display:inline;
	font-size:12px;
	overflow:hidden;
}

.CSeparadorMenuFlecha
{
	margin-top:5px;
	margin-right:3px;
	width:4px;
	height:10px;
	position:relative;
	float:left;
	display:inline;
	background-image:url('../images/fotoVideoDia/flechitaAzul.gif');
	background-repeat:no-repeat;
}

.menuCabeceraSecundario ul li a
{
	font-weight:700;
 	text-decoration:none;
 	color:#004B8E;
}


.menuCabeceraSecundario ul li a:hover
{
 	text-decoration:underline;
    color:#808080;
}

/* 2-10 ESTO ES SOLO PARA SECCION */
.zonaBusquedaBarraHoraSec
{
	width: 412px;
}
.zonaHoraBusquedaSec
{
	background-color:#405D75;
	color:#fff;
	font-weight:700;
}

.elemMenuBarraFechaSec a,.elemMenuBarraFechaSec a:hover
{
	color:#fff;
}

.separadorElemMenuBarraFechaSec
{
	background-color:#bfd2e3;
}