.CContainerRelacionadas
{	
	margin-top:15px;	
	margin-left:15px;	
	float:left;
	display:inline;
	position:relative;	
	border: 1px solid black;
	padding:4px;
}

.CCabeceraRelacionadas
{	
	width:500px;
	/*height:42px;*/	
	float:left;
	display:inline;
	position:relative;	
	font-family:Arial;
	font-size:18px;
	color:#000;
	font-weight:700;	
}

.CListaRelacionadas
{	
	margin-top:5px;
	/*width:280px;*/
	/*height:42px;*/	
	float:left;
	display:inline;
	position:relative;
}

.CRelacionadas
{
	margin-top:5px;
	/*width:269px;*/	
	float:left;
	display:inline;
	position:relative;	
	overflow:hidden;
}


.CContainerIconoTextoRelacionadas
{	
	/*padding-bottom:10px;*/
	float:left;
	display:inline;
	position:relative;	
	/* background-image:url('../images/noticiasRecomendadas/backgroundRecomendacion.gif');*/	
}

.textoRelacionadas
{
	margin-top:10px;
	margin-left:5px;
	margin-right:7px;
	/*width:230px;*/	
	float:left;
	display:inline;
	position:relative;	
	font-family:Arial;
	font-size:12px;
	color:#333;	
}


.textoRelacionadas a
{
	color:#333;
    font-weight:normal;
}

.textoRelacionadas a:hover
{
	color:#333;
    font-weight:normal;
}
.fileteRelacionadas
{
	background-color:#B3B3B3;
	width:600px;
	height:1px;	
	float:left;
	display:inline;
	position:relative;	
	overflow:hidden;
}

/***************************/
.CContainerRecomendaciones
{	
	margin-left:15px;	
	float:left;
	display:inline;
	position:relative;	
}

.CCabeceraRecomendaciones
{	
	width:280px;
	/*height:42px;*/	
	float:left;
	display:inline;
	position:relative;	
	font-family:Arial;
	font-size:18px;
	color:#000;
	font-weight:700;	
}

.CListaRecomendaciones
{	
	margin-top:5px;
	width:280px;
	/*height:42px;*/	
	float:left;
	display:inline;
	position:relative;
}

.CRecomendacion
{
	margin-top:5px;
	width:269px;	
	float:left;
	display:inline;
	position:relative;	
	overflow:hidden;
}

.CContainerIconoTextoRecomendacion
{	
	padding-bottom:10px;
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasRecomendadas/backgroundRecomendacion.gif');	
}

.iconoRecomendacion
{
	margin-top:13px;
	margin-left:8px;
	width:5px;
	height:18px;	
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasRecomendadas/iconoRecomendacion.gif');
	background-repeat:no-repeat;
}
/*
.iconoRecomendacionNoticia
{
	//margin-top:13px;
	margin-left:8px;
	width:17px;
	height:17px;	
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasRecomendadas/imagenoticia17.gif');
	background-repeat:no-repeat;
}

.iconoRecomendacionNoticia
{
	//margin-top:13px;
	margin-left:8px;
	width:17px;
	height:17px;	
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasRecomendadas/imagenoticia17.gif');
	background-repeat:no-repeat;
}

.iconoRecomendacionVideo
{
//	margin-top:13px;
	margin-left:8px;
	width:14px;
	height:14px;	
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasRecomendadas/imageplay14.png');
	background-repeat:no-repeat;
}
.iconoRecomendacionPhoto
{
	//margin-top:13px;
	margin-left:8px;
	width:12px;
	height:12px;	
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasRecomendadas/imagephoto12.png');
	background-repeat:no-repeat;
}
.iconoRecomendacionArchivo
{
//	margin-top:13px;
	margin-left:8px;
	width:10px;
	height:10px;	
	float:left;
	display:inline;
	position:relative;	
	background-image:url('../images/noticiasRecomendadas/imageclip10.png');
	background-repeat:no-repeat;
}
*/
.textoRecomendacion
{
	margin-top:10px;
	margin-left:5px;
	margin-right:7px;
	width:230px;	
	float:left;
	display:inline;
	position:relative;	
	font-family:Arial;
	font-size:12px;
	color:#333;	
}

.textoRecomendacion a
{
	color:#333;
    font-weight:normal;
}

.textoRecomendacion a:hover
{
	color:#333;
    font-weight:normal;
}
.fileteRecomendacion
{
	margin-top:5px;
	margin-left:18px;
	width:240px;
	height:1px;	
	float:left;
	display:inline;
	position:relative;	
}
