.zonaPestanyas
{   
    background-image:url('../images/pestanyas/contPestanyas.gif');

}

.pestanya
{
	height:20px;
	    

	float:left;

    overflow:hidden;
    vertical-align:top;
    
    font-family:Arial;
    font-size:12px;
    
}

.flechaPestanyaOn
{
	margin-top:6px;
	margin-right:5px;
	width:5px;
    height:8px;
    
    display:inline;
    float:left;
    position:relative;
    
    overflow:hidden;
    vertical-align:top;
    
    background-image:url('../images/pestanyas/flechaPestanyaOn.gif');
}

.flechaPestanyaOff
{
	margin-top:6px;
	margin-right:5px;
	width:5px;
    height:8px;
    
   
    display:inline;
    float:left;
    position:relative;

    overflow:hidden;
    vertical-align:top;
    
    background-image:url('../images/pestanyas/flechaPestanyaOff.gif');           
}      
.pestanyaSelect
{
	padding-left:5px;
    padding-right:5px;
    
    height:20px;

    float:left;
	display:inline;
    position:relative;

    overflow:hidden;
    vertical-align:top;
    color:#333;
    
    background-image:url('../images/pestanyas/pestanyaSelec.gif');
}

.pestanyaNoSelect
{
	padding-left:5px;
    padding-right:5px;
    
	height:20px;

    
    float:left;
    position:relative;
	display:inline;
	
    overflow:hidden;
    vertical-align:top;
    color:#666;	
    background-image:url('../images/pestanyas/pestanyaNoSelec.gif');
}

.cierrePestanyaSelect
{
    width:3px;
    height:20px;

    float:left;
    display:inline;
    position:relative;
    
    overflow:hidden;
    vertical-align:top;

    background-image:url('../images/pestanyas/cierrePestanyaSelec.gif');               
}
.cierrePestanyaNoSelect
{
	width:3px;
    height:20px;
     
    float:left;
    display:inline;
    position:relative;

    overflow:hidden;
    vertical-align:top;
    
    background-image:url('../images/pestanyas/cierrePestanyaNoSelec.gif');           
}

.textoPestanyaSelec,.textoPestanyaNoSelec
{
	display:inline;
    float:left;
    position:relative;
}

.textoPestanyaNoSelec
{
	cursor:pointer;
}


.espacioInterPestanyas
{
    float:left;
    display:inline;
    height:20px;
    width:10px;     
}
        
        
        
        
/******************** PESTANYAS GRANDES ALTO 32 ************************/
.pestanyaSelecList
{
    height:32px;

	display:inline;
    float:left;
    position:relative;
    
    overflow:hidden;
    vertical-align:top;
                
    background-image:url('../images/pestanyas/pestanyasListados/pestanyaSelecList.gif');
    background-repeat:repeat-x;

    font-family:Arial;
    font-size:12px;
    text-transform:uppercase;
    font-weight:700;
    color:#004B8E;
    
    /*background-color:red;*/          
}

.pestanyaNoSelecList
{

	display:inline;
    float:left;
    position:relative;
    
    height:32px;
    overflow:hidden;
    vertical-align:top;
                
    background-image:url('../images/pestanyas/pestanyasListados/pestanyaNoSelecList.gif');

    font-family:Arial;
    font-size:12px;
    text-transform:uppercase;
    font-weight:700;
    color:#666;          
}

.contInfoPestanyaGrande
{    
	
	margin-left:5px;
    margin-top:10px;

	display:inline;
    float:left;
    position:relative;
}
.flechaPestanyaSelecList
{
	margin-top:4px;
	margin-right:5px;
	width:5px;
    height:8px;
    
    background-image:url('../images/pestanyas/pestanyasListados/flechaPestanyaOnList.gif');
    display:inline;
    float:left;

    overflow:hidden;
}
.flechaPestanyaNoSelecList
{
	margin-top:4px;
	margin-right:5px;
	width:5px;
    height:8px;
    
    background-image:url('../images/pestanyas/pestanyasListados/flechaPestanyaOffList.gif');
    display:inline;
    float:left;

    overflow:hidden;
}


.textoPestanyaSelecList,.textoPestanyaNoSelecList
{
	padding-right:10px;
	display:inline;
    float:left;
    position:relative;
}

.textoPestanyaNoSelecList
{
	cursor:pointer;
}





.flechaPestanyaNoSelecList
{
	margin-top:4px;
	margin-right:5px;
	width:5px;
    height:8px;
    
    
    position:relative;
    display:inline;
    float:left;
    
    background-image:url('../images/pestanyas/pestanyasListados/flechaPestanyaOffList.gif');
    


    overflow:hidden;
    vertical-align:top;
}


.cierrePestanyaSelecList
{
	width:3px;
	height:32px;
	
    float:left;
    display:inline;
	position:relative;
    overflow:hidden;
    
    vertical-align:top;       
    background-image:url('../images/pestanyas/pestanyasListados/cierrePestanyaSelecList.gif');  
    /*background-color:red;*/     
}

.cierrePestanyaNoSelecList
{
    background-image:url('../images/pestanyas/pestanyasListados/cierrePestanyaNoSelecList.gif');
    float:left;
    display:inline;
    height:32px;
    width:3px;
    overflow:hidden;
    vertical-align:top;         
}

.espacioInterPestanyasGrande
{
	float:left;
	display:inline;
	height:20px;
	width:26px;     
}

/******************* FIN PESTANYAS GRANDES ALTO 32PX ***************************/


/* -- Nueva versión 21-07-2009 pestanyas rehechas*/
/*
<div class="pestanya" id="articles">
    <div class="pestanyaSelect">
        <div class="flechaPestanyaOn"></div>
        <div class="textoPestanyaSelec" onclick="get_plus_content('articles');">Noticias + vistas</div>
    </div>
    <div class="cierrePestanyaSelect"></div>
</div>

<div class="pestanya" id="comments">
    <div class="pestanyaNoSelect">
        <div class="flechaPestanyaOff"></div>
        <div class="textoPestanyaNoSelec" onclick="get_plus_content('comments');">Noticias + comentadas</div>
    </div>
    <div class="cierrePestanyaNoSelect"></div>
</div>
*/


.pestanyaON
{
    height:20px;
    float:left;
    overflow:hidden;
    vertical-align:top;
    font-family:Arial;
    font-size:12px;
}

.pestanyaON .flechaPestanya
{
	margin-top:6px;
	margin-right:5px;
	width:5px;
    height:8px;

    display:inline;
    float:left;
    position:relative;

    overflow:hidden;
    vertical-align:top;

    background-image:url('../images/pestanyas/flechaPestanyaOn.gif');
}

.pestanyaON .pestanya
{
	padding-left:5px;
    padding-right:5px;

    height:20px;

    float:left;
	display:inline;
    position:relative;

    overflow:hidden;
    vertical-align:top;
    color:#333;

    background-image:url('../images/pestanyas/pestanyaSelec.gif');
}

.pestanyaON .cierrePestanya
{
    width:3px;
    height:20px;

    float:left;
    display:inline;
    position:relative;

    overflow:hidden;
    vertical-align:top;

    background-image:url('../images/pestanyas/cierrePestanyaSelec.gif');
}

.pestanyaON .textoPestanya
{
    display:inline;
    float:left;
    position:relative;
}

.pestanyaOFF
{
    height:20px;
    float:left;
    overflow:hidden;
    vertical-align:top;
    font-family:Arial;
    font-size:12px;
}

.pestanyaOFF .flechaPestanya
{
	margin-top:6px;
	margin-right:5px;
	width:5px;
    height:8px;


    display:inline;
    float:left;
    position:relative;

    overflow:hidden;
    vertical-align:top;

    background-image:url('../images/pestanyas/flechaPestanyaOff.gif');
}

.pestanyaOFF .pestanya
{
	padding-left:5px;
    padding-right:5px;

	height:20px;


    float:left;
    position:relative;
	display:inline;

    overflow:hidden;
    vertical-align:top;
    color:#666;
    background-image:url('../images/pestanyas/pestanyaNoSelec.gif');
}

.pestanyaOFF .cierrePestanya
{
	width:3px;
    height:20px;

    float:left;
    display:inline;
    position:relative;

    overflow:hidden;
    vertical-align:top;

    background-image:url('../images/pestanyas/cierrePestanyaNoSelec.gif');
}

.pestanyaOFF .textoPestanya
{
    display:inline;
    float:left;
    position:relative;
    cursor:pointer;
}
/* -- Fin Nueva versión 21-07-2009*/

