/********************** ROLL OVERS **********************/
.CNoticiaRelacionada a, .CNoticiaRelacionada a:hover, .CSigue a, .CSigue a:hover, .menu_nota a, .menu_nota a:hover, .menu_nota_enviar a, .menu_nota_enviar a:hover, .menu_nota_imprimir a, .menu_nota_imprimir a:hover, .menu_nota_correccion a, .menu_nota_correccion a:hover, .numpagina_nota a, .numpagina_nota a:hover{
    color:#696057;
    font-weight:700;
}
.CContenedorParticipacion a, .CContenedorParticipacion a:hover, .CVotos_nota a, .CVotos_nota a:hover, .link_mas_nota a, .link_mas_nota a:hover,.CContenedorParticipacionPiezaEsp a,.CContenedorParticipacionPiezaEsp a:hover{
    color:#666666;
}
/*******************************************************************************/

div.intersticial {
    position: absolute;
    display: inline;  
    top: 0;
    left: 0;
    background-color: #FFF;  
    width: 100%;
    height: 100%;  
    z-index: 3333;
}

body > div.intersticial {  
    position: fixed;
    background-color: #FFF;
    display: block;  
    top: 0;
    left: 0;
}

div.intersticial div.closeButton {	
    float: right;
    margin: 2em 2em 0 0;	
    color: #024687;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

div.intersticial div.content {
    margin: 0 auto;
    background-color: #FFF;	
    padding: 2em;
    height: 100%;	
    cursor: hand;
    cursor: pointer;	
}

div.intersticial wrapper_intersticial {
    padding-top: 1em;
}