.select2-container .select2-choice {
    border:1px solid White;
    padding-top:3px
}

.select2-search {
    padding:1px 3px !important;
}

.select2-drop-active {
    border-radius:5px !important;
}

.select2-input {
    padding:6px !important;
}

.select2-results {
  margin: 0 3px 3px 0;
}
.select2-with-searchbox {
  // float: left;
  list-style: none;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.4);
  border: none;
  border-radius: 3px;
  padding: 0px;
  font-size: 13px;
  margin-top:4px
}

.select2-with-searchbox:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  left: 9px;
  right: auto;
}

.select2-with-searchbox:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
  left: 10px;
  right: auto;
}

.select2-search input {
  border-radius: 0px;
  padding: 3px 10px !important;
  margin: 3px 0px 4px 0;
  font-size: inherit;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  font-size:inherit;
}
.select2-no-results {
  margin-top:10px
}

.select2-results .select2-highlighted {
  border-radius:0;
  background: #376092 !important;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right:20px
}
.select2-arrow b[role="presentation"] {
  display:none !important;
}

.select2-container .select2-choice, .select2-container-multi .select2-choices {
  line-height: 20px !important;
  border:0 none !important;
  padding:9px 20px !important;
  border-radius:0 !important;
}

.select2-container .select2-choice .select2-arrow {
    font-size: 1.3em;
    padding: 4px 12px;
}
.select2-arrow-down {
  margin: 6px 0px 6px -4px !important;
}

.select2-container {
  vertical-align:middle;
}
.select2-container .select2-choice:hover,
.select2-container-active .select2-choice {
  background-color: #f5f5f5 !important;
}
