.select2-container .select2-choice {
    border:1px solid White;
    padding-top:3px
}

.select2-search {
    padding:1px 3px !important;
}

.select2-drop-active {
    border:1px solid Red;
    border-radius:5px !important;
}

.select2-input {
    padding:6px !important;
}
